[2021-06-01 01:37] tc-wleite commented on #575
I managed to configure Python/JEP and ran "Find Similar Faces" here.
Very cool feature!!!
I got impressive results in a smaller test case.

I just had to make a small adjustment in the ImageViewer, as after the changes described here sometimes the ratio between the original image and the one loaded/displayed in the viewer is not an integer as before (old "sampling" variable).

[2021-06-01 02:08] lfcnassif commented on #575
Great @tc-wleite! Please, if you have to configure something to make Python/JEP work different than the steps documented in the manual, please let me know! Or feel free to complement them, I think the wiki is public editable.

[2021-06-01 02:13] lfcnassif commented on #575
The "Find Similar Faces" feature actually could be changed to work without JEP, as the hard work are being done in external python processes, this is a possible improvement to easy its usage. But maybe we could make JEP easier to be installed/configured by users, thinking about other future deeplearning modules, not sure if it is possible...

[2021-06-01 02:22] tc-wleite commented on #575
Most of the information was already clear in the manual.
There were a couple of steps that I had some trouble, but it can be something that depend on my environment.
Anyway, I will try to add one or two remarks that can be useful to other people.

[2021-06-01 08:06] gaffinet commented on #576
@lfcnassif thank you for the quick fix.
It seams to work now, but I have to wait till the ingestion is finished (will take some days)
Also, I didn't notice any problems with the memory consumption for now, but I will continue to monitor this.

[2021-06-01 08:42] gaffinet opened #581 "No meaningful error message with the --continue flag if the output folder is empty"
Hi

If you start iped.exe with the --continue flag, but the output folder is empty or doesn't exists, you get an error which isn't really meaningful:

![image](https://user-images.githubusercontent.com/9380336/120293383-7dcf1000-c2c5-11eb-8d97-c48a06997026.png)

Would it be possible to show a better error message or, in such a case, to simply ignore the --continue flag.

[2021-06-01 12:01] tc-wleite commented on #575
@lfcnassif, I just added a paragraph to Python/JEP section in the Wiki with a couple of observations. Not sure if I picked the best place, formatting and wording, so feel free to make any adjustments.

[2021-06-01 12:17] lfcnassif commented on #575
Thanks @tc-wleite, maybe I will just omit your python version 3.9 because I think it is not compatible with tensorflow 2.x, needed by YahooNSFWNudityTask,  so users will not be encouraged to use it.

[2021-06-01 12:22] lfcnassif commented on #581
Yes, we can show a better message. What other devs think about simply ignoring --continue when the case doesn't exist

[2021-06-01 12:24] tc-wleite opened #582 "Files with 0 bytes not included in "Empty Files" category"
A user questioned me why some files with 0 bytes were not included in the "Empty Files" category.
Investigating it here, I noticed that it happens both with the latest release (3.18.6) and the master.

In `RefineCategoryTask.js` items are added to "Empty Files" category right in the beginning , but later there are other conditions that overwrite the category (using `setCategory()`) .

I believe th

[2021-06-01 12:28] tc-wleite commented on #575
Oh, that is important!
I did install tensorflow, but don't remember which version.
But I didn't test YahooNSFWNudityTask.
I will run a quick test to confirm it is not working with Python 3.9.5, and will update my comment in the Wiki (removing the reference to Python 3.9.5).

[2021-06-01 12:49] tc-wleite commented on #575
Using Python 3.9.5, Pillow 8.2.0, Keras 2.4.3 and TensorFlow 2.5.0 (latest versions of these modules), YahooNSFWNudityTask did work in a small test (~200 images) here (produced a meaning scores and no errors generated).
But it was kind of slow, which may be related to using these newer versions.
So for now I removed the reference to Python 3.9.5 from the Wiki.

[2021-06-01 13:47] lfcnassif commented on #575
Thanks Wladimir. It is somewhat slow indeed. Now that I'm a bit more experienced with python, I plan to try improving #357

[2021-06-01 13:52] lfcnassif commented on #582
It wasn't, thanks! Not sure about other categories using "set" added by @fsicoli

[2021-06-01 15:30] lfcnassif commented on #576
As soon as the processing of this evidence is finished ok (or not), please let me know, so I will apply the fix to master branch.

[2021-06-01 15:32] #582 closed

[2021-06-01 16:24] lfcnassif commented on #558
Thanks @hauck-jvsh, your regex worked fine! Heap usage is good, seems the + instead of * or ? made a huge difference. I tried to add more separators, but than the heap usage and compilation time exploded. Will just add \r to your regex.

[2021-06-01 17:07] hauck-jvsh commented on #558
I think that the obrigation of a small subset between the series of words leads to a huge optimization in the final automaton and * and the ? prevents it.

[2021-06-01 17:45] lfcnassif commented on #558
You're right. I did some more tests including seed phrases for PT language too:
- without the new regexes, RegexTask takes 2s to initialize and uses ~24MB of heap
- with just EN regex, RegexTask takes 21s to initialize and uses ~80MB of heap
- with both EN & PT regexes, RegexTask takes 47s to initialize and uses ~143MB of heap

I will add both regexes to most profiles, just EN version to triage an

[2021-06-01 17:56] #558 closed

[2021-06-01 18:51] hauck-jvsh commented on #576
I don't see an easy solution, as the second queue must wait the first one ends to start. Maybe a review to reduce the number of files sent to the second queue, but even this cannot guarantee that the process will finish. One solution is to save the queue in a temp folder if it grows further than a threshold, but this may add an extra complexity and may have a performance impact.

[2021-06-01 19:34] lfcnassif commented on #576
Thanks @hauck-jvsh. Currently sqlite files are processed later to be processed together with wal logs found. I also thought about using some kind of in disk queue, but items are not serializable today and this is a sensible change.

After #24 is implemented, in the future I plan to add all items to index in fastmode and simultaneously read them from index to run the normal pipeline. So, after the

[2021-06-01 19:47] #577 closed

[2021-06-01 19:47] #578 closed

[2021-06-01 19:52] lfcnassif commented on #575
Closed by #583, thanks @tc-wleite!

[2021-06-01 19:52] #575 closed

[2021-06-01 19:56] tc-wleite commented on #581
Although both options seem fine to me, I slightly prefer showing an explicit error message and abort.
It is possible that the `--continue` was intended, but the destination folder was wrong.
In such a case, ignoring would silently create a new case, instead of trying to continue the existing one.

[2021-06-01 20:13] lfcnassif opened #586 "Python modules loading error: jep.JepException: <class 'ModuleNotFoundError'>: No module named 'org.apache'"
See the description on https://github.com/ninia/jep/issues/323. Although it does not work with `java -jar iped.jar`, it strangely works with `iped.exe`. A different JEP ClassEnquirer implementation should fix this, debugging...

[2021-06-01 20:46] lfcnassif commented on #586
Just posted the fix to upstream project issue. Will push the fix and rollback when we upgraded to fixed JEP.

[2021-06-01 20:54] #586 closed

[2021-06-01 20:58] lfcnassif commented on #581
Thanks @tc-wleite I agree, will just improve the error message.

[2021-06-01 21:23] #581 closed

[2021-06-01 23:02] lfcnassif commented on #198
When we upgrade to Tika-2.0 in the future (still beta), this new OCR mode would be a great improvement: https://issues.apache.org/jira/browse/TIKA-3270

Currently we are OCRing full (or almost full) page images by default. Today it is also possible to configure IPED to OCR individual page images, but this has several issues (images broken in several pieces, rotated, with filters/masks applied, vec

[2021-06-02 08:03] MariasStory opened #587 "lvm/lvm2 volumes"
Hi,
Congratulations on the progress with the cool tool. I just Love it.
Can you please improve the **lvm/lvm2** volumes parsing?
FTKimager is able to read it, but IPED does not recognize the separate volumes.

[2021-06-02 11:16] gaffinet commented on #576
Hi.
I have 2 images, the first one I restarted completely and the second one I used --continue. Both ingestions finished without further problems.

I didn't notice any problems with the memory consumption, but I also have a VM with 64GB RAM and 16 cores. I ran two iped instances in parallel (one for each image). The first image has about 105k sqlite files and the second image about 230k sqlite fil

[2021-06-02 12:25] lfcnassif commented on #576
Thanks @gaffinet. Good to know my diagnostic was correct. Each item uses about 1-2KB of heap, so even very exceptional cases like this with hundreds of thousands of sqlites would use some hundreds of MB for the processing queues.

Thanks for reporting and for the thread dump again.

[2021-06-02 12:25] #576 closed

[2021-06-02 12:26] lfcnassif commented on #576
fixed by dd2a95863ed64d36e120c5aacef02fc30ddfbc34

[2021-06-02 12:33] lfcnassif commented on #587
Hi. Unfortunately this needs to be implemented at the sleuthit level. See:
https://github.com/sleuthkit/sleuthkit/issues/1148
https://github.com/sleuthkit/sleuthkit/issues/1191

As a workaround, you can create an AD1 volume per partition (may include unallocated) using FTKImager and IPED will process the AD1 directly withou sleuthkit.

[2021-06-02 15:08] lfcnassif commented on #384
Removing the current assignee as this seems iddle...

[2021-06-02 22:00] tc-wleite commented on #515
Back to OCR itself, I checked which formats are supported by Tesseract 4.0.0 (will check later for 5.x) and currently send by IPED to OCR (in OCRParser source code).

[code]

[2021-06-02 23:23] lfcnassif commented on #515
Thanks Wladimir, about JPX and JP2, I just copied them from Tika OCR code (originally based on our OCR code but being improved since them...)

[2021-06-02 23:42] tc-wleite commented on #515
I see. Well, these file formats are not common, and I tested with a very small set (~10 of each). Maybe it would open other files.

Anyway, whenever there is a "partial" support, probably is better to convert to a standard format, before sending to Tesseract.

Another detail, for some files there was a message that leptonica needs to be compiled with some specific option.
I will investigate furthe

[2021-06-03 07:44] MariasStory commented on #587
Hi @lfcnassif, you've done a good job in paying attention to this problem.
It seems that relying on sleuthkit is somewhat problematic. The Sleuthkit development is not so agile, and the issues are not being addressed.
I suggest automating some kind of workaround, not only for this case, but also for similar issues.

[2021-06-03 15:12] tc-wleite commented on #515
Confirmed here that currently used tesseract wasn't compiled with all possible libraries that handle image formats:

[code]

There a few other formats that could be directly supported by Tesseract.
I will try to compile it with all supported formats.
After that, not sure which is the best approach:

1. Assume that used Tesseract supports certain formats (for Windows this could be controlled becaus

[2021-06-03 15:41] lfcnassif commented on #515
Thanks @tc-wleite, probably my fault when compiling without OpenMP support, see: https://github.com/tesseract-ocr/tesseract/issues/1662#issuecomment-456991138

I think option 3 is good. If you are going to replace current tesseract, I think we could upgrade to version 5, seems faster and more accurate (#206), and maybe compiling it from source is not needed: https://github.com/UB-Mannheim/tesserac

[2021-06-03 15:47] lfcnassif commented on #515
I didn't upgrade yet just because I would like to try to reduce the binary package size (much larger than tesseract 4) and I had some trouble to make it work in a portable way, but I didn't investigate it properly to try to fix the portability

[2021-06-03 15:48] tc-wleite commented on #515
Ok, I will try to take a look on this too.

[2021-06-03 15:59] lfcnassif commented on #515
I just checked the UB-Mannheim build --version output:
[code]

[2021-06-03 19:42] lfcnassif commented on #575
hey @tc-wleite just to confirm you saw this relates to width x heigh, right? If 4 bytes are used per pixel, this could result in 128MB per image in memory, just thinking about many images being processed at the same time... did you get good performance improvements with this in your tests?

[2021-06-03 22:15] tc-wleite commented on #575
Yes, pixels. It is an upper limit, so not all conversions would necessarily require this amount of memory, right?
And the input image needs to be large, as now we are using ">" (smaller images won't be enlarged).
But in the worst case (many large images, that require external conversion, being processed in the same time) I guess it would be (numThreads x 128 MB), right?
That still doesn't seem tha

[2021-06-03 23:46] tc-wleite commented on #575
Another detail that I forgot to mention, as external conversion for thumbnail generation is not affected by this parameter, I noticed this behavior visualizing some images.
In tests with #515, this parameter should make more difference. So it will be possible to measure the performance with different values. I will update here when I have actual numbers (it will take a few days though).

[2021-06-04 00:00] tc-wleite commented on #515
I managed to build tesseract 5.0.0 from the source (for Windows), excluding things we don't need (or want) to use (like OpenMP and training related stuff), with the latest version of leptonica libraries, using a static build and minimal binary size (only ~4 MB).

I will run a larger set of tests to compare performance, stability and the text recognition results, with the current version we use (4.

[2021-06-04 00:49] tc-wleite commented on #206
As working with #515 I am already dealing with version tesseract 5.0, I will try to evaluate if upgrading is beneficial.

[2021-06-04 13:37] lfcnassif commented on #515
Great @tc-wleite! This is a really small static binary size!

[2021-06-04 14:02] lfcnassif commented on #575
I think so.

Right.

Do you know if -sample parameter works for thumbnail generation of large vectorial images?

Wow, that's a huge difference!

So the image for OCR initially would use at most 9MP in memory right? And bigger images would be cached to disk temporarily as I understood with old value.

I just thought about externalizing this parameter to ImageThumbConfig.txt file, so users with very

[2021-06-04 15:16] tc-wleite commented on #575
It does work, but I am not sure what happens internally.
An example of time measurements using `-bench 10` (average of 10 executions) on a large EMF file:
[code]
It is clear that without `-sample` it is slower, but `-density` is also very important.

There is another detail with using `-sample` directly to the desired dimensions.
It produces poor quality images in some cases.
In internal conversio

[2021-06-04 15:31] tc-wleite commented on #206
I ran a large test with 20K images/PDFs (collected from several cases, including only item with ocrCharCount >= 100), using the build I mentioned in #515 (latest release of version 5.0.0 with all image libraries included).
OCR time decreased from 1655s to 1256s.
I also used 'por' language, 48 threads and IPED 3.18.6.
About the recognition results, inspecting recognized text from each version side-

[2021-06-04 15:45] lfcnassif commented on #575
Great, perfect! Thank you @tc-wleite, now I understood.

I think externalizing memory limit and densities is great! This makes sense because density for PDF->IMAGE before OCR is already externalized.

[2021-06-04 15:52] tc-wleite commented on #515
Running with the newer build,  **image/jp2** and **image/jpx** images were processed by tesseract.
Anyway, I will implement the third option described above, to check what libraries were included in the tesseract being used.
Only unsupported formats will be converted before sending to tesseract.
BMP will need a special handling, as tesseract only support uncompressed BMPs (so mimetype won't be eno

[2021-06-04 15:54] lfcnassif commented on #206
It's not ideal, but what I have done is to do some searches for common words with and without diacritics (para com de em até você nós não you they are to of), and compare the number of docs returned for each tesseract version

[2021-06-04 18:17] tc-wleite commented on #575
Tried lower density values (48 and 72), the performance gain for vector images (in a large set) was small (~5% for 48, ~2% for 72), and the thumbnail quality was much worse, so I will keep it as it was (96).

[2021-06-04 21:02] tc-wleite commented on #515
@lfcnassif, to implement this feature I will need to use ImageUtil and GraphicsMagicConverter classes inside OCRParser (**iped-parsers**), right?

The problem is that both these utilities classes are in the **iped-viewer** subproject.
They are already used in **iped-engine** subproject (by tasks like ImageThumbTask).

Wouldn't it make more sense to move these classes to somewhere else? Maybe **ipe

[2021-06-04 23:08] tc-wleite commented on #515
[code]

[2021-06-05 02:55] tc-wleite opened #590 "Inconsistent ocrCharCount"
I noticed that many images show a different number of OCR recognized characters (`ocrCharCount`) in metadata and text viewer.
The value shown in metadata is always greater (or equal) to the one show in the text viewer.

It is just a minor detail, that seems to be related to leading/trailing white space.
Trim recognized text does make sense, specially when only white space is returned by the OCR.
I

[2021-06-05 13:50] lfcnassif commented on #515
I would like to keep iped-util with as few dependencies as possible. Does ImageUtil need metadataextractor? If no, ok. If yes, maybe moving to iped-parsers is an option. GMConverter could go to iped-util I think it doesn't need external libs, right? And as it is being moved, it could be renamed to ImageMagickConverter, we switched to IM years ago.

[2021-06-05 13:55] lfcnassif commented on #515
Great! Does default ImageIO handle PCX and DCX or you are adding a new plugin?

[2021-06-05 14:08] lfcnassif commented on #590
Good catch!

[2021-06-05 14:38] tc-wleite commented on #515
Ok, I got the idea now!

About ImageUtil, some methods does depend on MetadataExtractor, but I think they could be separated from the rest, keeping only parts with no dependencies in iped-utils.

About GMConverter, I need to check in more detail, but its initialization may be tricky.
It uses static methods to set important parameters, called by ImageThumbTask.
For using inside a parser, wouldn't b

[2021-06-05 14:57] tc-wleite commented on #515
I will need to double check this next week (my working machine seems to be offline), but I **think** it is supported because of JAI (jai-imageio-core), which may be present in optional_jars folder, right?

Although I listed as "ImageIO" conversion, in practice it will use the "standard procedure", first try the "internal" (ImageIO) conversion, then try "external" if necessary.
There won't be anyth

[2021-06-05 15:20] lfcnassif commented on #515
Yes! Properties are used because of external parsing (enabledExternalParsing = true), the main process copies its properties to child parsing processes.

Good!

[2021-06-05 15:33] lfcnassif commented on #515
It comes from Tika

[2021-06-07 16:08] #590 closed

[2021-06-07 19:10] lfcnassif commented on #538
About "ignoreHardLinks" option currently in AdvancedConfig.txt. I moved it to IPEDConfig.txt, because it is implemented as a Task today. But I think maybe it makes more sense to put it in a more generic FileSystemConfig.txt together with addUnallocated, addFileSlacks, minOrphanSizeToIgnore, unallocatedFragSize... Any thoughts?

[2021-06-08 22:38] lfcnassif commented on #575
Great @tc-wleite! As you have already collected a good dataset and run those tests, is it possible to run a last test using 300dpi to image/pdf conversion before OCR? Did results above use 250dpi?

[2021-06-09 00:34] tc-wleite commented on #575
I used 3000 pixels as the maximum dimension for converted image, which is approximately an A4 page with 250 dpi.
This is a parameter in OCR configuration.
It only reduces images while converting, so it won't enlarge smaller images.
For vectorial images, I used 250 as the density parameter.
I didn't use explicit DPI calculation because many images have incomplete or unreliable information.

I will

[2021-06-09 03:01] lfcnassif commented on #575
Thanks, Wladimir! It would be very interesting the running time and common words hits numbers.

[2021-06-09 12:57] fladmy opened #591 "AudioTranscript with .iped file"
Issue?. When it process (AudioTranscript enabled) providing a .iped file with my bookmarks it doesn't shows transcript text, working when processed whole case from UFDR file. Is there a way to filter chats or audios to transcript?

[2021-06-09 14:38] tc-wleite commented on #575
With 300, OCR total time went from 2560 s to 2814 s.
A comparison of the number of hits for the words you mentioned in #206.
[code]

[2021-06-09 14:50] lfcnassif commented on #575
Thanks @tc-wleite! Interesting, so let's keep 250dpi/3000pixels.

[2021-06-09 15:03] lfcnassif commented on #591
When creating reports, artifacts contents are not changed or updated currently, just copied. The transcription should have been saved into audio:transcription metadata of audios, but the chats are not updated today, this should need #24 to be implemented before.

You can at least filter audios by extension/mimetype in conf/AudioTranscriptConfig.txt. It is also possible to create a new mimetype in

[2021-06-09 18:34] lfcnassif opened #592 "Invalid video thumbs in reports when creating report from Linux or cmd line on Windows"
Seems this was introduced in 3.18.6 (commit 5496da78526d6dd244b36dca72a95d5755f48b73). It works when creating the report from GUI on Windows.

Video thumbs are being generated again, although they could be reused from source case, and later truncated to zero.

[2021-06-09 18:51] #592 closed, assigned to lfcnassif

[2021-06-09 18:52] lfcnassif commented on #592
This was already fixed in master.

[2021-06-09 20:00] lfcnassif commented on #538
@tc-wleite what do you think about this? init() could be also left no-arg and Configurables can be accessed statically from ConfigurationManager.

[2021-06-09 20:16] tc-wleite commented on #538
I slightly prefer receiving "something" (also not sure if the manager or a task specific list) in init(), instead of statically access the ConfigurationManager. It seems a bit clearer for new developers.
But I guess this first option would require more work to change all existing code, right?

[2021-06-09 20:31] lfcnassif commented on #538
I agree with this.

Yes, but not that work. I will finish the implementation in remaining tasks and see what fits better, thanks!

[2021-06-10 15:23] tc-wleite commented on #206
Tesseract 5.0.0 compiled for Windows.
[tesseract.zip](https://github.com/sepinf-inc/IPED/files/6632626/tesseract.zip)

[2021-06-10 18:17] lfcnassif commented on #206
Thank you @tc-wleite! What models did you use in your tests, tessdata_fast?

[2021-06-10 20:05] tc-wleite commented on #206
Yes, I used the same models were are already using, which are tessdata_fast, right?
As these models were released a few years ago, I did check if there were new models available, but the ones we are using are still the latest.
Regarding the "fast", I saw that there are regular models ("tessdata") and larger ones ("tessdata_best").
I will repeat the last test I ran (with ~50K images/PDFs) with thes

[2021-06-10 21:48] lfcnassif commented on #206
If I remember correctly, they are tessdata_fast.

[2021-06-10 22:25] tc-wleite commented on #206
I downloaded the other models to run the test, and checked that we are indeed using the latest version from tessdata_fast.

[2021-06-11 23:58] tc-wleite commented on #206
Time spent on OCR for each kind of Tesseract model:

[code]
And a comparison of the number of hits for common words:

[code]

The "best" model (from tessdata_best) is way too slow, it doesn't seem an option to be considered.
The "regular" (from tessdata) increased the OCR time by ~20% (comparing to "fast"), but it is not clear is the results are better.
I would keep the current models ("fast") for

[2021-06-12 14:39] lfcnassif opened #598 "Upgrade libvhdi to support vhdx evidences"
Seems https://github.com/libyal/libvhdi project added support months ago.

[2021-06-14 13:44] lfcnassif commented on #206
Thanks @tc-wleite! Maybe 2 letter words are not good choices for this comparison, sorry for suggesting them... If you have time, could you remove them and add some few more words to this last comparison? I thought about:

este, esse, seu, uma, que, são, tem, mas
the, that, this, from, and, with, was, not

[2021-06-14 14:44] tc-wleite commented on #206
[code]

[2021-06-14 15:02] lfcnassif commented on #206
Thanks @tc-wleite! Let's keep fast models then.

[2021-06-14 18:10] lfcnassif commented on #598
I was able to compile and test successfully libvhdi-20210425 after working around some Visual Studio issues. I will upgrade together with #232 as it belongs to the same package.

[2021-06-14 19:06] lfcnassif commented on #598
For those interested, x64 dll is below, needs commit above to work.

[libvhdi-20210425.zip](https://github.com/sepinf-inc/IPED/files/6650663/libvhdi-20210425.zip)

[2021-06-15 14:02] lfcnassif opened #601 "NoSuchFieldError: annotation in RTFParser2 can cause parsing error with OST file"
A long ago RTFParser and some related classes were copied from a newer Tika version than that used by IPED to fix a RTF parsing bug. But the original package name remained the same, resulting in class conflicts because of different versions of those classes in Tika and IPED. The error can be thrown or not depending on class loading order.

[2021-06-15 14:03] lfcnassif commented on #601
Affects versions 3.16 to 3.18.6.

[2021-06-15 14:06] lfcnassif commented on #601
Master is not affected because we deleted the patched RTFParser after upgrading Tika.

[2021-06-15 16:34] lfcnassif opened #602 "WhatsAppParser just works if a TikaInputStream is given"
Similar to #557. Just affects tests, no released versions are affected.

[2021-06-15 18:17] lfcnassif opened #603 "NullPointerException when creating device info from UFDR with empty extraction name"
Affects version 3.18.6, was introduced by #336. Stacktrace sent by user below:
[code]

[2021-06-15 19:07] lfcnassif opened #604 "Removes duplicate device information from UFDR reports with no source extraction id"
I got a xml report where some device info fields are duplicated but have no source extraction id filled. Let's keep just those with source extraction id if all other data is duplicated.

[2021-06-15 19:34] #603 closed

[2021-06-15 19:34] #604 closed

[2021-06-15 19:39] lfcnassif commented on #602
@streeg we should close issues just when they are fixed in master, I'll do that soon.

[2021-06-15 19:39] #602 closed

[2021-06-15 19:43] lfcnassif commented on #601
Waiting feedback from @gabrieldmf before closing this.

[2021-06-15 19:45] streeg commented on #602
Oh @lfcnassif sorry, my mistake, thought you had forgotten to close this one.

[2021-06-15 20:08] lfcnassif commented on #602
No problem. I usually put fix(es) or close(s) #issue_number in front of commit message, so the issue is automatically closed when the commit goes to master branch, I suggest following that pattern.

[2021-06-15 21:31] lfcnassif commented on #601
fixed in 3.18.x branch.

[2021-06-15 21:31] #601 closed

[2021-06-16 14:36] tc-wleite commented on #206
@lfcnassif, I found a critical issue with the version I compiled.
It depends on a Visual Studio runtime DLL, which is not always present on machines, neither can be statically linked.
I will try to figure out a solution.

[2021-06-16 14:50] lfcnassif commented on #206
Thanks for warning. Does it belong to MS Visual C++ Redistributable Package? We include **2015** version dlls in tools/tsk/x64, maybe a similar approach could be done...

[2021-06-16 15:00] tc-wleite commented on #206
Yes, it is a DLL from MS Visual C++ Redistributable Package, but **2019** version.
I guess the same approach should work.
I will try to isolate which files are necessary.

When I built this new version, I noticed that issue could happen, but I ended up forgetting to check this.
Today I tried to run in another machine, for other reasons, and got the error.

[2021-06-16 15:51] lfcnassif opened #605 "Support rendering JBIG2 images without preamble (extracted from PDFs)"
If pedo profile is used, there is a configuration to extract embedded images from PDFs, but if those images are jbig2, they are not rendered because they have no jbig2 preamble, although jbig2 plugin is correctly on classpath. This also have effect on #515.

[2021-06-16 19:00] lfcnassif opened #607 "Some apps in tools folder depend on MS DLLs not always present in processing machine"
Similar to https://github.com/sepinf-inc/IPED/issues/206#issuecomment-862435690

This was reported months ago by an user and I forgot to create this issue. MS redistributable DLLs should be distributed.

[2021-06-16 22:23] lfcnassif commented on #538
So, I think I finished the configs loading refactoring. I was going to implement configs saving, but I think it is better to merge this as it is now to avoid future conflicts with other PRs like #593. Relevant changes to IPEDConfig.txt:
1. indexUnallocated was moved to conf/IndexTaskConfig.txt
2. indexUnknown and indexCorrupted were moved to conf/ParsingTaskConfig.txt (and renamed to parseUnknown

[2021-06-16 22:25] lfcnassif commented on #538
@tc-wleite @fmpfeifer @hauck-jvsh @streeg

[2021-06-17 15:17] hauck-jvsh commented on #538
This is a huge refactor, the indexUnknow and indexCorrupted only parses raw strings? If so, as you are already changing the name, I think that it should be more suggestive. As for the others I think they are good changes. As you suggest user's will need a good documentation to follow, there are several breaking changes, not only in this part (Ex. unification of all languages profiles). Another que

[2021-06-17 17:09] lfcnassif commented on #538
Thanks @hauck-jvsh.

Yes. Actually new names are parseUnknownFiles and parseCorruptedFiles. Some possible names: parse(Raw|Plain|Printable)StringsFrom(Unknown|Corrupted)Files?

No it will be optional, but it will easy a lot the usage of #24

[2021-06-17 19:05] hauck-jvsh commented on #538
Raw|Plain|Printable are different parsers used in those files? If so I think parse(Unknown|Corrupted)Files may be a list of which parsers should be executed for each one, for example: parseUnknownFiles= Raw, Printable. If those were just name suggestions for the same parser I would prefer parseRawStringsFrom(Unknown|Corrupted)Files. But it is just my opinion, it would be better to have more ideas.

[2021-06-17 20:00] lfcnassif commented on #538
just different name suggestions for the same parser.

[2021-06-17 22:00] tc-wleite commented on #538
I like the new organization.
So far I don't have anything to add.

[2021-06-18 14:44] tc-wleite opened #609 "Typing some keys cause an undesired advance to the next item in the main table"
This is caused by the type-to-find feature in the items table, and happens when keys like ESC, BACKSPACE, TAB and ESCAPE are typed, while sorting by a text column that contains empty values.

To reproduce, just sort by bookmark (or other column with empty values), and type one of these keys.
It will advance to the next item.

This can be an issue when one of these keys are used as a bookmark short

[2021-06-18 15:35] tc-wleite commented on #206
Using a tool that recursively inspects Windows executables to find dependencies, I found out that at least these DLL's (part of MS Visual C++ Redistributable Package 2019) are used by the tesseract.exe I am using:

-    msvcp140.dll
-    vcruntime140.dll
-    vcruntime140_1.dll

[vs2019-tesseract-dlls.zip](https://github.com/sepinf-inc/IPED/files/6678015/vs2019-tesseract-dlls.zip)

Testing in the

[2021-06-18 18:20] leosol opened #611 "Makes processing robust against imported NSRL databases with product code inconsistencies"
While trying to import the latest NSRL database, IPED 3.18.6 returned a NullPointer Exception error.

Debugging the KFFTask.java class I've noticed that there is no check for Null values, which caused the error.

Check the image! Just tell me if there is anything I can do to help you guys:

![Bug-iped-3 18 6-KFFTask](https://user-images.githubusercontent.com/4167122/122601990-7d19d600-d048-11eb-93

[2021-06-18 18:56] leosol commented on #611
attr was under zero and prodcuts.get(Math.abs(attr) returned null.
Unfortunately I'm not so sure if the solution would be to change or (||) for and (&&) or just assert that product should not be null...

[2021-06-18 19:07] lfcnassif opened #612 "Decrease minFileSize2OCR and increase maxFileSize2OCR default values"
Current values are:
[code]
As discussed in #593, those values could cause missing files with important info. Comments
https://github.com/sepinf-inc/IPED/pull/593#issuecomment-864194037
https://github.com/sepinf-inc/IPED/pull/593#issuecomment-864221724 and
https://github.com/sepinf-inc/IPED/pull/593#issuecomment-864190473
suggested these new values:
[code]
What other devs/users think about it?

[2021-06-18 19:09] tc-wleite commented on #611
Hi @leosol!
Are you getting this error while importing or while processing after importing?
Which file are you trying to import?
I will try to run here and see if I can figure it out...

About the source code, as far as I know, NSRL product codes are always filled with valid values, so it should not be null at that point of the code.
Probably there is something else going on...

[2021-06-18 19:12] lfcnassif commented on #611
@leosol please post the full error stacktrace.

[2021-06-18 19:24] lfcnassif commented on #611
This was already reported before https://github.com/sepinf-inc/IPED/discussions/368#discussioncomment-380462

But the user used a non stardard NSRL database that time, possibly non compliant. If this happens with default NSRL, we should fix.

[2021-06-18 19:34] lfcnassif commented on #611
@leosol a snapshot with a possible fix will be built in 5min in https://github.com/sepinf-inc/IPED/actions/runs/950889514

Please check if it solves your issue.

[2021-06-18 19:56] leosol commented on #611
On monday I will send the full stacktrace, sorry for forgetting it. We did some tests with a custom database and with the NSRL one. , I guess it happened with the latter, but I'm not sure. On monday we check everything and test the snapshot build. Thank you guys for being so fast!

[2021-06-18 20:00] lfcnassif commented on #611
So please check which hash database contains negative product code values, thanks.

[2021-06-18 20:06] #609 closed

[2021-06-18 20:09] lfcnassif commented on #609
Thanks @tc-wleite!

[2021-06-18 20:12] leosol commented on #611
Sure

[2021-06-18 22:37] DHoelz commented on #611
Just to complete @leosol answer as he is helping me out with this problem.

The problem happens while **processing** with the latest NSRL database with **no** modifications (RDS Version 2.73 - June 2021). I also verified the sha-1 hash of the NSRL files with the _signatures.txt_ before importing.

What I've tried so far:
1. Tried to process 2 different disk images (Encase format) and the problem h

[2021-06-18 23:09] tc-wleite commented on #611
@DHoelz, thanks for the information!
I am downloading this new versions of NSRL and will test here to see if I can reproduced it.

As we changed how IPED deals with hashes databases for the next major release, I also would like to check if these new files are handled properly.

Which set did you imported: full, compact or minimal?
Were iOS and Android RDS also imported?

[2021-06-18 23:14] DHoelz commented on #611
@tc-wleite I'm using the **Modern RDS  (minimal)**. I tried using only the Android RDS and got the same problem. Don't remember trying the iOS database by itself.

BTW, I just tried using the _snapshot_ and got the same error.

Thanks for the help!

[2021-06-18 23:31] tc-wleite commented on #611
@lfcnassif, I **think** your fix should solve the reported error, but a few lines after the place you changed, there is another line that should cause a similar error:

[code]

[2021-06-19 03:40] lfcnassif commented on #611
Thanks @DHoelz. Just confirmed latest Android NSRLFile.txt references several times at least 1 product code (456485) not present in NSRLProd.txt file. So, this is an inconsistency in latest NSRL 2.73.

uh... that's the result of not trying to reproduce the bug and check the fix...

I will make 3.18.x code robust against NSRL inconsistencies. @tc-wleite if you could check if master branch is robust

[2021-06-19 03:42] tc-wleite commented on #611
NSRL files are broken.

The first lines of **NSRLFile.txt** (RDS Version 2.73 - June 2021 - full set):
[code]

This second line has **ProductCode = 448056**.
But there is no such ProductCode in *NSRLProd.txt*.
It happens with a lot of records (at least 3 million).

[2021-06-19 03:45] lfcnassif commented on #611
hohoho I was faster :-)

[2021-06-19 03:47] tc-wleite commented on #611
Just tested and it isn't.
I reported the issue to NIST.
And will make the changes to the master to handle this type of inconsistency tomorrow.
Anyway, I guess (hope) they will fix it, as it is a serious flaw, and never happen (even with a single record) in previous versions.

[2021-06-19 03:55] tc-wleite commented on #611
Just to be more clear, with the master there is an error while importing these new NSRL files.
I will first fix this issue, then check if processing is affected.

[2021-06-19 04:04] tc-wleite commented on #611
Just updating the actual numbers, this issue affects ~6.32 million records out of 166 million (in the full set), which is a lot.

[2021-06-19 13:22] tc-wleite commented on #611
Found another problem in the files, when I tried to import Android set with the master branch...
It has one malformed line (unescaped quotes in the middle of field) in **NSRLProd.txt**:
`216417,"Nexus 6P ("angler") binaries for Android (NMF26F)","unspecified","1160","1618","English","Drivers"`

This causes an error in the CSV parsing library we are using.
I don't think we should handle this kind o

[2021-06-19 16:14] lfcnassif commented on #611
This NSRL is really broken, I also think they Will fix after your report @tc-wleite, thank you

[2021-06-19 23:23] tc-wleite opened #614 "Add a metadata with the number of pages for TIFFs"
As discussed in #593, it would be useful to have the number of pages information available for TIFFs.

A new metadata named **image:tiff:NumPages** will be created, removing **image:exif:PageCount**, which is not present in most TIFFs, and sometimes contains an inconsistent value.

This will be implemented as a very simple parser, to be added to TIFF existing parsers (Tika's and OCR), using multip

[2021-06-21 13:56] lfcnassif commented on #611
@leosol @DHoelz please test this snapshot https://github.com/sepinf-inc/IPED/actions/runs/957295451

[2021-06-21 13:57] lfcnassif commented on #611
I also added warnings when importing NSRL format with product code inconsistencies.

[2021-06-21 14:38] DHoelz commented on #611
@lfcnassif, I made a quick test and it seems to be working fine.

Thanks!

[2021-06-21 14:43] lfcnassif commented on #611
Thanks @DHoelz, so I am closing this.

[2021-06-21 14:43] #611 closed

[2021-06-21 15:27] hauck-jvsh opened #615 "Parse more eMule artifacts"
Currently, IPED parses only the kown.met files, but eMule has other files which includes useful information. For this reason, the preferences.dat, preferences.ini and AC_SearchStrings.dat should also be parsed. This will recover the user hash, user name and the last 30 search strings typed by the user.

[2021-06-21 18:39] tc-wleite commented on #611
Just a quick update, got a reply from NIST saying that they will release a new version (2.73.1) fixing this issue as soon as possible:

_I've also got about 6.3 million rows (6,319,360 to be exact) that have incorrect product codes. This number happens to be the exact number of new lines we've added to NSRLFile since the previous RDS release and is in fact only an issue with all new rows added in

[2021-06-21 19:03] lfcnassif commented on #611
good to know

[2021-06-21 19:04] gisms opened #616 "Support decoding WhatsApp Status changes"
I'm indexing some .ufdr files, so far only iphones, and I've noticed less conversations coming up on iped. I didn't get to analyze it in depth, but in general it seems to me that the missing conversations are those that only have media attached, or a link sent, without any text input, without even that standard system text input. Did you experience something similar?

[2021-06-21 19:21] lfcnassif commented on #616
Be aware the internal parser needs sha-256 to be enabled and it does not recover deleted messages for now, please check this https://github.com/sepinf-inc/IPED/issues/309#issuecomment-721463990

and please report back if that's not the case.

[2021-06-21 20:24] gis-msouza commented on #616
Wow, I looked it up on the forum before, but I think the name of the comment you linked wasn't as directed to my case, although it helped me.

I generated the ufdr report including 256 and md5 and also used ipedconfig with both.

- External parser: actually brought all chats.

- internal parser still missing some chats as explained

[2021-06-21 20:46] #605 closed

[2021-06-21 20:49] lfcnassif commented on #616
@fmpfeifer any idea?
@gis-msouza could you share privately the WA database to reproduce this?

[2021-06-21 20:56] lfcnassif commented on #614
closed by #593

[2021-06-21 20:56] #614 closed

[2021-06-21 20:59] lfcnassif commented on #515
Closed by #593. Thanks @tc-wleite great work.

[2021-06-21 20:59] #515 closed

[2021-06-21 23:39] fmpfeifer commented on #616
I never came across something like that. A Chatstorage.sqlite that triggers the bug would be really useful to undestand what is going on.

[2021-06-22 11:58] lfcnassif commented on #616
@gis-msouza just to confirm, are those missing messages or chats flagged as deleted in external parser output?

[2021-06-22 13:24] #206 closed

[2021-06-22 13:25] lfcnassif commented on #206
Thanks @tc-wleite. If you find any issue, please let me know.

[2021-06-22 13:45] tc-wleite commented on #206
Sure!
You included the DLLs, right?

By the way, I found an option in the makefile to use static link of MSVC runtime libraries.
But it is has an if condition that enables it only for older versions. When I tried to overwrite this option, it seemed that it would work, but eventually failed when linking to image libraries (that were built without this option, and mixing is not allowed).
I had to gi

[2021-06-22 13:58] lfcnassif commented on #607
I've found at least vcruntime140.dll missing in these tools:
- evtexport
- evtxexport
- libagdb
- sccainfo

@tc-wleite, not sure if you used "Dependencies" tool in #206, but could you confirm below api-ms-win* dlls or ucrtbase.dll are not needed? They are also found in tesseract.exe tree (I think you noticed this):
![image](https://user-images.githubusercontent.com/7276994/122936397-81dfd200-d347-

[2021-06-22 14:01] lfcnassif commented on #206
yes.

[2021-06-22 14:22] lfcnassif commented on #607
Just a little update, although api-ms-win-crt* and ucrtbase dlls are in the same folder as tsk_loaddb.exe, below tree points to system dlls:
![image](https://user-images.githubusercontent.com/7276994/122941691-016fa000-d34c-11eb-8768-d17fdec4f726.png)
so maybe them do not need to be distributed...

[2021-06-22 14:27] tc-wleite commented on #607
Yes, tried a couple of other tools and this one you mentioned .

These indeed show as tesseract dependencies, but in the DLL properties details, they are listed as part of Windows, while the other 3 DLLs I mentioned are identified as part of MSVC redistributable runtime.

I will try to run these tools and update here.

[2021-06-22 16:20] gis-msouza commented on #616
apologies for the delay.

cellebrite did not bring deletion information. The chat is not marked as deleted. But, I managed to confront in reality and is without the messages.

For greater visualization of the scenario, just out of curiosity, I took a look at ChatStorage, there is an entry in ZWACHATSESSION with reference to the contact who sent the conversations.
There are the messages entries in

[2021-06-22 17:49] lfcnassif commented on #607
@tc-wleite don't waste your time here, I found a machine where I'm able to reproduce this. I will also test new tesseract.

[2021-06-22 18:22] lfcnassif commented on #607
tesseract-5.0.0 with dlls is ok. Including vcruntime140.dll fixes this for the tools listed above.

[2021-06-22 18:27] #607 closed

[2021-06-22 18:41] lfcnassif commented on #616
This is a good tip. Please keep this Chatstorage.sqlite so you could help us to test a possible future solution to this if you cannot share the database privately.

@fmpfeifer if you have time (or not) to take a look at this in the near future, please let me know.

[2021-06-22 19:14] gis-msouza commented on #616
Yes it is possible for me to test again any time. Let me know.

Ps: sorry i closed by mistake.

[2021-06-22 20:12] lfcnassif opened #619 "Run OCR on partially corrupted images"
As discussed in #593, sometimes IPED is able to render images partially overwritten, but tesseract is not able to OCR them.

[2021-06-22 20:20] lfcnassif commented on #619
closed by 329b82c841eda815b9bcc53b7b2ec366ae00e3f0

[2021-06-22 20:20] #619 closed

[2021-06-22 21:21] lfcnassif commented on #538
Reopening, still need to implement config saving.

[2021-06-22 21:59] fmpfeifer commented on #616
I think I can take a look at it in a few days.
I think that this status@broadcast is used for the whatsapp status messages, and as far as I can remember, we are not decoding those messages yet.

[2021-06-22 22:43] lfcnassif opened #620 "Image thumbnail creation for non standard formats fails for about 1% of them"
This is described here: https://github.com/sepinf-inc/IPED/issues/575#issuecomment-851086005

I will apply the @tc-wleite's fix to 3.18.x branch.

[2021-06-22 23:00] lfcnassif commented on #620
fixed in 3.18.7

[2021-06-22 23:00] #620 closed

[2021-06-22 23:23] lfcnassif commented on #616
@gis-msouza could you confirm the missing messages refer just to status changes? What thumbs are available in the UFDR? Contact thumbs or some thumb referenced by the missing messages?

[2021-06-23 12:15] lfcnassif opened #621 "Warning on GUI if user doesn't have JavaFX installed"
Current java versions does not embed JavaFx by default and iped prioritize user java instead of embedded JRE to make GUI loading faster, not sure if this last point should be changed.

[2021-06-23 14:48] #621 closed

[2021-06-23 15:00] lfcnassif opened #622 "Always use embedded JRE on Windows"
On Windows, instead of just exiting if JavaFx is not found or warning if installed java version is not tested, we could restart the application using the windows embedded JRE.

[2021-06-23 15:26] gisms commented on #616
yes, they are chats with id filled in with phone@status. so that's the reason. the images are not contact thumbs, random images posted.

[2021-06-23 15:44] lfcnassif opened #623 "Change TelegramParser to handle just Android databases by default when processing UFDR"
Seems iPhone telegram database parsing is still experimental, so using PhysicalAnalyzer output seems better for now, as suggested by @hauck-jvsh, right?

[2021-06-23 15:56] hauck-jvsh commented on #623
You are right, the android version is using a plugin to decode the database, for the IOS I was not able to get find equivalent, so it was entirely developed by me and it still needs more tests.

[2021-06-23 15:58] lfcnassif commented on #616
I still didn't understand how the images are related with missing status changes, could you describe with more detail as we don't have your database?

If there is some issue here beyond status messages not supported, maybe it won't be possible to fix it without a sample database to reproduce the issue.

[2021-06-23 15:59] hauck-jvsh commented on #623
If you have databases for IOS would be great for testing and improvements.

[2021-06-23 16:19] gisms commented on #616
I will send you an email.

[2021-06-23 17:10] lfcnassif commented on #623
If I remember, we have already collected a few samples in our case database months ago and they were used for the development. We can try to crawl again.

[2021-06-23 19:45] lfcnassif opened #624 "Processing UFDR + HDD together can cause WhatsApp & Telegram DBs from HDD to be ignored depending on configs"
This happens if phoneParsersToUse = external or TelegramParser option enabledForUfdr = false. Those options are global and apply to all items if some UFDR is processed, not just items from UFDR.

[2021-06-23 21:05] hauck-jvsh opened #625 "IPED is not starting without JEP (only in master)"
I try to run IPED and it doesn't start with an error related to JEP. The log file is attached.
[IPED-2021-06-23-18-00-38.log](https://github.com/sepinf-inc/IPED/files/6704851/IPED-2021-06-23-18-00-38.log)

[2021-06-23 22:40] lfcnassif commented on #625
Thanks @hauck-jvsh, I will look tomorrow.

[2021-06-24 01:05] hauck-jvsh commented on #625
I think that I manage to solve the problem with commit bd61dc1caee860484a1e77e06e24d592862064d0, please take a look on it.

[2021-06-24 15:45] gisms commented on #616
Final need identified:

Today the items explained below are included in Cellebrite as whatsapp chats and are not being decoded by the IPED internal parser:

a) chats created from images posted by contacts in the "Status" functionality of whatsapp (similar to instagram stories). The previewed images can be seen in a larger way, the ones that were not previewed exist only in thumbnails. In the ZWACH

[2021-06-24 17:11] lfcnassif commented on #625
Thanks @hauck-jvsh, I just cherry picked to master.

[2021-06-24 17:11] #625 closed

[2021-06-24 19:55] lfcnassif commented on #616
Thanks @gisms for your detailed investigation. I also don't think status and profile changes should be shown as chats (like done by Cellebrite software). But we could decode that info and show in another way...

[2021-06-24 20:21] lfcnassif commented on #623
I created an option enabledForIOSUfdr, disabled by default, that can be overriden in ParserConfig.xml files

[2021-06-24 20:23] #623 closed

[2021-06-24 20:23] #624 closed

[2021-06-24 20:42] lfcnassif commented on #49
I will try to implement the new tab ideia...

Hopefully in the next days the v3.18.7 will be released, some important fixes were done. I was thinking about being very conservative and including just fixes or simple/very small enhancements. This feature is kind independent, except for some changes needed in chat parsers to allow the scroll to media position automatically. What other devs think, thi

[2021-06-24 23:19] lfcnassif commented on #49
Chat parsers didn't need to be changed as there was already an element name=hash used to select/unselect medias.
This is also working to find P2P histories where a media was shared, except the scrolling. I will change P2P parser to put a name=hash in each table div, so scroll should work too.

[2021-06-25 21:33] #49 closed

[2021-06-28 14:18] lfcnassif commented on #547
According to this https://github.com/libyal/libnsfdb/blob/main/documentation/Notes%20Storage%20Facility%20(NSF)%20database%20file%20format.asciidoc#4-the-file-header file signature is just 2 bytes: 0x1A 0x00

Maybe we could check format version at offset 6 (4 bytes length) to try avoiding false positives (https://github.com/libyal/libnsfdb/blob/main/documentation/Notes%20Storage%20Facility%20(NSF)

[2021-06-28 14:34] lfcnassif commented on #547
Actually I found one sample here and format version seems big-endian.

[2021-06-28 15:48] #547 closed

[2021-06-28 15:54] lfcnassif commented on #547
I added a check for this format versions, valid for Lotus Notes 1.x to 8.5 according to libnsfdb docs. If anyone could confirm the numbers for versions 9, 10 & 11, we can add later. Anyway, currently extension is used as fallback if signature doesn't match.

[2021-06-28 16:52] lfcnassif opened #633 "Optimize TelegramParser html report output"
Currently the generated html report uses HTML5 \<audio\> and \<video\> tags. Unfortunately the embedded Iped HtmlViewer does not support those tags and is very slow when parsing them. This affects #49 scroll performance with Telegram chats.

The html report could simply get rid of those tags (like done by UFEDChatParser), or embed them dynamically if the detected viewer is not the iped embedded ht

[2021-06-28 18:53] lfcnassif commented on #601
Just tried to reproduce this before the fix and with enableExternalParsing = true on 667 PST files (43GB), I didn't manage to reproduce, so this seems a rare issue. Fixed in 3.18.7 anyway...

[2021-06-28 19:59] hauck-jvsh commented on #633
@lfcnassif  will you take a look on this, or can I start working on this?

[2021-06-28 20:11] lfcnassif commented on #633
No, I just created the issue to register it. Feel free to work on this if you would like, thanks!

[2021-06-29 16:25] lfcnassif opened #635 "Scroll to media position instead of keyword search hits when using the References tab"
If a keyword search is active and if the user click on a chat/p2p history in the new references tab included by #49, the viewer is scrolling to the first search hit found. I think it makes sense to go to the media position, given that if the user clicked on the references tab, he/she should be interested in the referenced media, not in keyword hits.

[2021-06-29 16:29] lfcnassif commented on #635
Actually I tested this poorly before the release and I though it wasn't happening, will label as bug.

[2021-06-29 21:59] lfcnassif commented on #635
Closed in 2586992 (wrong commit message...).

There is also the chance of more than one reference to the same media in the same chat, currently the viewers scrolls to first occurrence. Should the next/prev hits buttons be used to navigate through referenced medias? And if there is an active search, should the search hits navigation take priority even if the chat was opened using the References tab

[2021-06-29 21:59] #635 closed

[2021-06-30 03:31] lfcnassif commented on #546
Maybe master is now being affected by this https://issues.apache.org/jira/browse/TIKA-3459...

[2021-06-30 13:53] lfcnassif opened #636 "New field/column to show representative document terms"
This could make analysis of large document collections easier. Representative terms could be simply those X with higher term frequency (TF) or higher TF/IDF score (much better). On #608 there are some implementation ideas and drawbacks.

If we reuse Lucene index statistics, maybe we could base the implementation on https://lucene.apache.org/core/7_0_0/core/org/apache/lucene/search/similarities/TFI

[2021-06-30 14:33] lfcnassif opened #637 "Rename 'recordDate' file system date to 'metaChanged'"
This refers to last metadata change date on FS (like MFT record entry updates), or the C in MACB times (https://www.andreafortuna.org/2017/10/06/macb-times-in-windows-forensic-analysis/) altough MAC terminology is different on Windows systems (https://en.wikipedia.org/wiki/MAC_times)

Not sure how this could be translated properly to portuguese, any ideas?

[2021-06-30 18:01] lfcnassif commented on #538
I was going to implement config saving to original/alternative txt/xml/json files, but, could the UI just serialize all configs to a single file? This would save me a lot of work... Of course the single serialized config could be opened by UI for review or used by cmd line processing later.

[2021-06-30 20:43] lfcnassif commented on #120
hey @tc-wleite I will take a look at this from now

[2021-06-30 23:41] hauck-jvsh commented on #637
Why can't be "modificado"?

[2021-06-30 23:54] lfcnassif commented on #637
'modified' is already translated to 'modificacao'. Maybe current pt-BR translation is good enough (alteracao do registro). The reverse translation to english (recordDate) wasn't good actually.

And we can detail the difference between the dates in user manual.

[2021-06-30 23:56] lfcnassif commented on #637
or maybe we could use metaChanged for english?

[2021-07-01 00:00] tc-wleite commented on #538
@lfcnassif, I know you are still working on this, but I found a minor issue in RegexTask (NPE during processing).
It seems that the class variable `enabled` (used in `process()`) and `regexConfig.isEnabled()` (used in `init()`) don't have the same value.

[2021-07-01 01:08] lfcnassif commented on #538
Thanks @tc-wleite, will take a look. Tests are always welcome!

[2021-07-01 01:21] lfcnassif commented on #538
just fixed in master, thanks!

[2021-07-01 01:25] lfcnassif commented on #538
Have you disabled it because of slow init time after #558? I'm considering to comment out the pattern for pt-BR seeds and maybe leave just english pattern on. What do you think? But possibly it is more annoying for devs...

[2021-07-01 02:21] tc-wleite commented on #538
No, I was testing a new feature and disabled most of the tasks.
I did notice that after #558 RegexTask requires a bit longer initialization, but I found it perfectly acceptable.

[2021-07-01 03:21] lfcnassif commented on #120
Just pushed an initial version for this, will test more tomorrow. But I realized that if user changes default profile, all others would be affected, maybe unintentionally, even fastmode or triage. So, at least in fastmode, I kept all configs disabled to protect againt this. Not sure if something should be done for other profiles...

[2021-07-01 03:35] lfcnassif commented on #120
PS: Analysis app is not working yet...

[2021-07-01 04:05] tc-wleite commented on #120
That is a good question!
It seems reasonable to "protect" fastmode and triage profiles, so tasks that should be disabled in these profiles remain disabled.
In this new way of handling profiles, the user must be aware that changing the default profile will likely affect other profiles. So it would make more sense creating a new profile and overwrite just a few options (instead of directly changing

[2021-07-01 18:17] lfcnassif commented on #615
closed by #626

[2021-07-01 18:17] #615 closed

[2021-07-01 18:31] lfcnassif opened #638 "Processing rarely aborts with MalformedInputException because of invalid unicode strings being created"
Trace:
[code]

[2021-07-01 21:15] lfcnassif opened #639 "CSV exporting should use separator and hyperlink formula depending on locale"
Currently ';' is hard coded. But it should be used just for portuguese, using "," instead.

[2021-07-01 21:43] lfcnassif commented on #638
This is taking from me more time than I expected... I thought this line https://github.com/sepinf-inc/IPED/blob/master/iped-engine/src/main/java/dpf/sp/gpinf/indexer/process/task/ExportCSVTask.java#L187 was causing problems, possibly removing 1 char of a java unicode pair and resulting in an invalid unicode string, but removing that line did't fix this...

How could error above be thrown when writ

[2021-07-01 21:49] lfcnassif commented on #638
or @hauck-jvsh?

[2021-07-01 22:02] lfcnassif commented on #638
I'm still trying to clean control chars properly, not sure if they are the problem...

[2021-07-01 22:10] tc-wleite commented on #638
I am trying to figure out here, but not idea so far...

[2021-07-01 22:27] hauck-jvsh commented on #638
What is the input string that throws this exception? It can be printed?

[2021-07-01 22:33] tc-wleite commented on #638
I think it possible that there are characters between **55297** and **57343** (decimal).
These would cause an exception when trying to write to a UTF-8 file.
Maybe filtering this range in the `escape()` function would help...

[2021-07-01 23:06] hauck-jvsh commented on #638
Maybe you can use this on the escape function, as the getBytes always replaces malformed-input and unmappable-character sequences with this charset's default replacement string.
`value=new String(value.getBytes(StandardCharsets.UTF_8),StandardCharsets.UTF_8);`

[2021-07-01 23:07] lfcnassif commented on #638
Changing to this didn't work:
`if (c >= '\u0020' && !(c >= '\u007F' && c <= '\u009F') && !(c >= 0xD800 && c <= 0xDFFF))`

Is the idea to filter out high/low surrogates that could be without its pair?

I got this printed for now:
`"•??????????????????? ????????™"`
will try to print hex values...

[2021-07-01 23:17] lfcnassif commented on #638
still didn't worked :-( this is driving me crazy, will continue tomorrow. This is being thrown while processing a 1,5GB cache4.db.sqlite Telegram database, maybe TelegramParser is creating invalid strings, concatenating invalid char sequences, not sure...

[2021-07-01 23:19] tc-wleite commented on #638
@lfcnassif, can you share this file (in our WebDAV)?

[2021-07-01 23:20] hauck-jvsh commented on #638
That would be great.

[2021-07-01 23:42] tc-wleite commented on #638
This file (it need to be unzipped to a folder, then process the folder, not the ZIP directly) caused a similar exception here:
[a.zip](https://github.com/sepinf-inc/IPED/files/6751267/a.zip)

@lfcnassif , but the fix in `escape()` you tried was enough in this case.
So there is something else in your file...

[2021-07-02 01:14] lfcnassif commented on #638
Sorry @tc-wleite and @hauck-jvsh, both your solutions worked in ExportCSVTask, but then it throws a very similar exception/stacktrace from TextCache class (that confused me), TextCache also tries to flush text to disk using UTF-8. I **think** this is some issue with TelegramParser, this error has never happened before. I will share the 1,5GB DB. If @hauck-jvsh could take a look when some time is a

[2021-07-02 01:15] lfcnassif commented on #638
Seems to be a problem with subitem names produced by TelegramParser

[2021-07-02 01:17] hauck-jvsh commented on #638
Maybe I can place a escape function there. I don't know exactly what charset is used in telegram database, as I use the name o the user as the file name. that may be the cause.

[2021-07-02 01:23] tc-wleite commented on #638
Although it would be better to avoid these problematic names in the Telegram parser, it could happen anyway. For example, when processing a folder containing a file like the one I created.
It is definitely not common.
When processing disk images, I believe these characters are discarded/replaced by TSK. The same happens when such names are inside a ZIP (or other archives).

[2021-07-02 01:31] lfcnassif commented on #638
@tc-wleite not sure, but maybe some cleaning should be made in FolderDataSourceReader then. Current error is thrown in ExportCSVTask and TextCache classes, but could be thrown from a future class to be implemented... but I agree current triggering classes could be protected against it. TextCache throws this because the DB is huge, so extracted text is cached to disk, I think that doesn't happen wi

[2021-07-02 01:38] lfcnassif commented on #638
and this just includes subitem names

[2021-07-02 01:53] lfcnassif commented on #638
char sequence triggering this:
x0022xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80x0020xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC80xD83DxDC8

[2021-07-02 01:58] lfcnassif commented on #638
some xD83Dx0022 invalid pairs

[2021-07-02 02:39] lfcnassif commented on #638
Interestingly
`writer = Files.newBufferedWriter(output.toPath(), StandardOpenOption.APPEND);`
throws the exception, but
`writer = new BufferedWriter(new OutputStreamWriter(new FileOutputStream(output, true), "UTF-8"));`
doesn't when writing the invalid string

[2021-07-02 03:46] tc-wleite commented on #638
Yeah, I noticed this same thing in my tests.
Following the source code, it seems that the second method contains a treatment for these invalid characters.

[2021-07-02 14:45] lfcnassif opened #640 "TelegramParser building invalid unicode strings in subitem names"
See #638 . Current classes triggering MalformedInputException were fixed, but it would be good to fix the issue in the source to avoid problems in future classes.

[2021-07-02 16:42] lfcnassif commented on #639
Hyperlink function is also hardcoded, and Excel changes formulas depending on locale...

[2021-07-02 17:20] lfcnassif commented on #639
And also found the EN localization for CSV delimiter used by the UI is ';'

[2021-07-02 17:21] #639 closed

[2021-07-02 17:41] lfcnassif commented on #120
@tc-wleite because changes in default profile will affect others, I'm not sure if default profile should be moved to root folder again, possibly encouraging users to change it, what do you think?

[2021-07-02 17:57] tc-wleite commented on #120
I think both ways are fine.
For many parameters, changing all profiles makes more sense. But it is not the case for others (which is the whole idea of profiles). So making it more accessible can be positive or negative...
Maybe moving to the root folder would make more clear that it is something "global".
I would still move it, but as I said, both options seem good.
It would be more a matter of us

[2021-07-02 19:02] lfcnassif commented on #120
For sure

This makes sense. I'll move it back to root.

[2021-07-02 21:32] hauck-jvsh commented on #640
After 8bd18e0833c1bb2608542a772b6c9686091fa14f it is not throwing the MalformedInputException, but it is strange, If I sanitize it against UTF-8 char-set it won't work, but if use ISO_8859_1 to escape it works. Do you have any thoughts why @lfcnassif @tc-wleite ?

[2021-07-02 21:35] hauck-jvsh commented on #637
I think metaChanged is closer to the what really happened.

[2021-07-02 21:40] lfcnassif opened #642 "Optimization if parseUnknown = false and robustImageReading = true"
Making regression tests on #120, I noticed a large amount of time spent in Tika EmptyParser, that should just skip files with no parser configured, when robustImageReading = true. Simply opening an item inputStream causes a ping() to be sent to image reading servers, I think that is the possible cause of a lot of time being spent in EmptyParser.

[2021-07-02 21:47] lfcnassif commented on #642
Actually I think this can affect other profiles if parseUnknown (old indexUnknown) = false and robustImageReading = true

[2021-07-02 22:00] lfcnassif commented on #642
Just detected an index performance regression

[2021-07-02 23:43] lfcnassif commented on #640
Really strange, I Will think more about it tomorrow. What do you mean by "don't work"?

[2021-07-02 23:45] hauck-jvsh commented on #640
I mean that the MalformedInputException continues. This branch still has the issue reported in #638.

[2021-07-03 15:54] lfcnassif commented on #640
I don't know why first commit didn't work, but last commit shouldn't be the final solution, that charset is too restrictive...

[2021-07-03 16:19] hauck-jvsh commented on #640
Ok, I will try to manually remove the problematic chars.

[2021-07-03 16:45] lfcnassif commented on #640
Not sure what you are thinking about, but if you are going to remove the char range pointed by @tc-wleite in https://github.com/sepinf-inc/IPED/issues/638#issuecomment-872590382 I think next char should be checked to not remove valid char pairs (high and low surrogate pairs). I think your first commit here would be a good solution, but again I don't know why it didn't work...

This is low priority

[2021-07-03 16:56] #642 closed

[2021-07-03 18:56] hauck-jvsh commented on #640
Looks like that removing Unicode surrogates solves the problem. Commit fefd44ebc6da4378c269d84fe9e3645651dae135 implements this.

[2021-07-04 14:08] lfcnassif opened #643 "Optimize RegexTask initialization"
After #558, RegexTask is taking ~45s to initialize. I just saw Automaton and RunAutomaton classes are serializable, so let's cache the automaton between runs. This will also allow to enable both seed phrases regexes in triage profile.

[2021-07-05 16:35] #120 closed

[2021-07-05 17:01] lfcnassif commented on #120
@tc-wleite I merged this. Just a few options needed to be overriden by profiles, I think the general result was good. If you find any problems, please let me know!

[2021-07-05 17:39] lfcnassif opened #644 "Change MACB date format in index"
Actually this was already done on #35 but I think this is important to be documented separately, because it causes backward incompatibilities with 3.x and the MACB dates search syntax changed.

The indexed date format changed from yyyy.MM.dd.HH.mm.ss to yyyy-MM-dd'T'HH:mm:ss'Z'

Need just to update the search help examples.

[2021-07-05 18:25] lfcnassif commented on #644
Just found range searches on dates is not working on master...

[2021-07-05 19:02] tc-wleite commented on #120
Great! I will take a look and run some tests this week.

[2021-07-05 20:21] lfcnassif commented on #644
strangely the T char is causing problems, not the : in values. Still not sure exactly what is going on...

[2021-07-05 20:36] lfcnassif opened #645 "Exact searches on recordDate field are not working"
Just found this, we should configure recordDate field to be not tokenized.

[2021-07-05 23:35] lfcnassif commented on #645
This also occurs with extended date fields

[2021-07-05 23:38] lfcnassif commented on #644
The problem here is that range searches are converting the text query to lowercase (T -> t), but the dates are indexed with original capitalization in index

[2021-07-05 23:49] #645 closed

[2021-07-06 00:09] lfcnassif commented on #644
There is an inconvenient with new date format yyyy-MM-dd'T'HH:mm:ss'Z' Users now have to escape the two colons in last part like \: to search for dates. I wanted to use some widely used date pattern. Maybe with #306 this won't be a big problem, not sure if we should change to another pattern that doesn't need to be escaped...

[2021-07-06 03:42] tc-wleite opened #646 "Localized Number Formatting"
@lfcnassif, first of all, I am not sure if this should be contained in #18, so I created a new issue to avoid mixing things up, but feel free to close as duplicated, or discard if it goes against what you are working in #18.

Since the initial internationalization (not #18, but the older one), the behavior of number formatting changed in some places.
For example, in some parsers, although the date

[2021-07-06 03:50] tc-wleite commented on #646
While implementing this, I fixed two possible minor regressions related to #18 (only happen if Locale=pt-BR):

- Total length not showing in result table header.
- Length not right-aligned.

I know you are still working on #18, but as I needed the first one to test changes from this issue, I added the changes (in separated commits).
If you already fixed this or see a better/easier way of fixing, p

[2021-07-06 03:57] tc-wleite commented on #646
A minor comment, not directly related, in MetadataPanel, numeric ranges always show as "X **TO** Y", which is the syntax for queries (and I guess your intention was to use the same syntax), but wouldn't be clearer using a localized word (and possibly lowercase, to keep the emphasis on the numbers), as the rest of this panel is localized?

![image](https://user-images.githubusercontent.com/7217001/

[2021-07-06 12:50] lfcnassif commented on #646
Thank you, @tc-wleite! This weren't on my todo list on #18, I think we can keep this separately.

[2021-07-06 13:10] lfcnassif commented on #646
yes, but, actually, I don't remember the purpose of this, maybe I will have to track the reason of the change in the commit history of the old internal repo, if it is still on line...

[2021-07-06 13:18] lfcnassif commented on #646
Of course, I will change to this, I think the rendered string is not used for filtering.

[2021-07-06 13:25] tc-wleite commented on #646
Changing that would be a solution, but I am afraid this would cause side effects (not sure where though).
That is why a went for the explicit localized format, in the places it is really desired.

[2021-07-06 13:27] lfcnassif commented on #646
Ok I'll try to find or figure out the reason why this was added in the past, maybe that is not necessary.

[2021-07-06 13:27] tc-wleite commented on #646
It is obviously trivial, but I plan to submit other very minor enhancements in MetadataPanel, so I can include this.

[2021-07-06 14:57] lfcnassif commented on #646
I found the commit that introduced this: f1ebe243d7cfc8849355b24ef24440daea163bea

I don't remember exactly, but I _think_ there was some issue when setting locale = en when the OS was pt-BR, or the opposite. I remember the ResourceBundle.getLocale() returning "und" (undefined), maybe the "iped-locale" sys prop was null at the first call. Maybe it was a good idea to set the java default locale to

[2021-07-06 15:53] lfcnassif commented on #646
I'm not sure about this. If you think this isn't a problem, we can try to remove that static locale setting from LocaleConfig

[2021-07-06 15:53] tc-wleite commented on #646
Ok, it makes sense.

Mine is pt-BR.
Sure, we can give a try.
Is it possible that number formatting affect Lucene queries?

[2021-07-06 15:56] lfcnassif commented on #646
Not sure, for integers no, maybe floating point values...

[2021-07-06 16:45] tc-wleite commented on #646
Anyway, I will run some tests here to identify potential issues, so we can decide the way to go.

[2021-07-06 17:04] lfcnassif commented on #646
ok let me know if you want me to test something here or when you think #647 is ready

[2021-07-06 20:57] tc-wleite opened #649 "Minor Visual Enhancements in Metadata Panel"
- Change range separator from "TO" to a localized string.
- Also disable scale label when scale slider is disabled.
- When using linear scale for a field with integer/long (not decimal) values:
    - Use integer range bounds.
    - Use actual extremes contained in the range as bounds.
- Show single value ranges as "X (N)", instead of "X to X (N)".

[2021-07-07 00:42] tc-wleite commented on #646
I run a test setting the default Locale to pt-BR.
Everything seems to work fine (during processing and later using the analysis tool).

I found minor changes (some of them were expected), related to floating point values (as you predicted).

For queries you need to use localized decimal separators, which would change the current behavior, but I think it is acceptable.

One issue that I found was a

[2021-07-07 03:16] lfcnassif commented on #646
Thanks @tc-wleite!

Is this happening on master? If yes, I can take a look.

[2021-07-07 03:26] tc-wleite commented on #646
Just in the test in which I set (hard coded) the default locale to "pt-BR" (using a local branch created from master).
As I said, it should be possible to fix this, but I would keep the current setup.
A potential gain would be having the numbers formatted according the used locale, but many libraries don't use a number formatter.
And there can be other issues that I didn't notice...

[2021-07-07 03:43] tc-wleite commented on #646
Just to be clear, a deeper revision of float pointing metadata (and possibly other parts) can be done if you think it is relevant.
My previous comments were thinking about the effort vs the benefits (and other priorities).

[2021-07-07 17:34] MariasStory opened #650 "yara scannin"
Hi,

Really cool tool.

It would be nice to include build-in thread hunting capabilities.

I propose to scan all results with yara rules.
For example: https://github.com/Neo23x0/signature-base/tree/master/yara

Thank you.

[2021-07-07 17:53] lfcnassif opened #651 "Detect and parse EMLs from Outlook for iMac"
Not sure if this applies to all EMLs from Outlook for MAC or if this is a specific situation. An user reported those EMLs contain a binary 40 bytes header before email headers. If that binary header is removed, EMLs are detected, but parsing still fails because just CR (\\r) is used as line terminators. Converting them to CRLF solves the issue, also for detection. I took a look at mime4j configura

[2021-07-08 02:24] tc-wleite opened #655 "TaggedIOException: unsupported feature (data descriptor + stored flags) could cause internal ZIP structure to be lost"
Another person here is working in a case with a single important file, which is a **ZIP** containing many files.
Analysing the processed content, the user noticed that the ZIP internal structure was partially lost.
Some files were processed correctly, but many others were placed as they were all in the ZIP root level, although they weren't.
No files seem to be missing, just part of them were mixed

[2021-07-08 13:08] lfcnassif commented on #655
Thanks @tc-wleite for reporting this and for digging into it! Let me know if you need any help.

[2021-07-08 14:48] lfcnassif commented on #651
As those EMLs contain a binary header not allowed by RFC822, I will label this as enhancement

[2021-07-08 14:56] lfcnassif commented on #569
closed by #634

[2021-07-08 14:56] #569 closed

[2021-07-08 16:06] rafael844 opened #656 "error generating report from .iped"
Im trying to load an .iped and generate a report. The .iped was created from a shared folder, so the user uses ipedsearch from the link  \\server.... (even beeing localy, he must acces iped from the shared folder\\server\op\2021\  and not E:\op\2021\). Im trying to use this .iped in same PC, and same ipe
[IPED-SearchApp2.log](https://github.com/sepinf-inc/IPED/files/6785869/IPED-SearchApp2.log)
ds

[2021-07-08 16:51] lfcnassif commented on #656
Iped 3.15.6 version is more than 2 years old and it is not maintained anymore...

But, I see the following error:
Index not found: \\server02\OP$\2021\XXXXX\midias\03-06\indexador\index

Try to map the shared folder to a drive letter, open the case from the drive letter with write permissions, check and uncheck a random item to force re-saving the .iped file in the new location and try to create t

[2021-07-08 16:51] lfcnassif commented on #656
As 3.15.6 version is not maintained anymore, I'm moving this to discussions...

[2021-07-08 16:52] #656 closed

[2021-07-08 21:20] tc-wleite commented on #649
I will try to add a last feature in the Metadata panel, which people requested here a few times...

When dealing with **numeric values**, the current options is to group them using linear or logarithmic ranges.
In some situations, it may be interesting to not group values in ranges at all (like is done for strings).

There are numeric properties that don't make much sense when combined in a range

[2021-07-08 22:51] #651 closed

[2021-07-08 23:56] lfcnassif commented on #651
User sent the whole dataset folder structure to me. Actually there are mostly *.olk15Message *.olk15MsgSource and *.olk15MsgAttachment files. All of them are some kind of container format with email data. There is an Outlook.sqlite file with a lot of info about the emails. It contains a Mail table pointing to all olk15Message files, which format I didn't try to understand. Joining some tables, it

[2021-07-09 00:52] tc-wleite commented on #611
NIST released a new version (2.73.1):
https://www.nist.gov/itl/ssd/software-quality-group/national-software-reference-library-nsrl/nsrl-download/current-rds
I am downloading and will try to import here (with the master version).

And not about the issue:
https://www.nist.gov/itl/ssd/software-quality-group/june-2021-nist-nsrl-rds-273-publication-error

[2021-07-09 01:07] tc-wleite commented on #522
I found a small problem related to this issue.
In `MetadataUtil` class, the case normalization may not worked as expected with the renamed keys (introduced in this issue).

These keys are added for some images (e.g. most PNGs):
`width` (lowercase)

As case normalization happens before renaming, it results duplicated keys that only differ from the first letter case:
`image:width` (doesn't change wh

[2021-07-09 01:13] lfcnassif commented on #522
Thanks @tc-wleite!

[2021-07-09 01:14] lfcnassif commented on #522
Will take a look tomorrow

[2021-07-09 01:18] tc-wleite commented on #522
No hurry!
I am just submitting this (and other stuff) now because we have a local holiday tomorrow, and I will take a vacation break starting next week :-)

[2021-07-09 02:10] tc-wleite commented on #611
As expected, the version 2.73.1 is correct, without any product code inconsistency or malformed CSV.

[2021-07-09 13:32] lfcnassif commented on #522
Have a great vacation, you deserve it!

[2021-07-09 17:11] #522 closed

[2021-07-09 21:46] lfcnassif opened #661 "Merge and fix dynamic metadata types divergences in multicases"
It is possible that unknown metadata have different detected types in different cases. They should be checked and String could be used if they differ. This can affect sorting and range searching

[2021-07-10 14:32] #646 closed

[2021-07-12 18:21] lfcnassif commented on #638
Another user reported this with 3.18.6/3.18.7, processing an iphone ufdr and with phoneParsersToUse = all/external. So, seems invalid strings are also being created in other place(s) different than TelegramParser.

[2021-07-12 21:24] lfcnassif commented on #640
@hauck-jvsh the real source of the problem is not TelegramParser, I'm really sorry about that. I will close this and post details on #638

[2021-07-12 21:24] #640 closed

[2021-07-12 21:33] lfcnassif commented on #638
I managed to track the source of the original problem to this line: https://github.com/sepinf-inc/IPED/blob/master/iped-parsers/iped-parsers-impl/src/main/java/org/apache/tika/fork/EmbeddedDocumentParser.java#L102

It is responsible to limit subitem names larger than 256 chars and it can break a valid surrogate pair. I really apologize @hauck-jvsh for making him wating his time.

Will push the fix

[2021-07-12 21:46] lfcnassif commented on #638
I think it is crazy java 8 allows you to break a valid unicode string with a simple String.subString(start, end). I think it should handle this scenario or at least throw an exception if user pass invalid offsets... I don't know if later java versions changed this...

[2021-07-12 22:06] #638 closed

[2021-07-13 00:12] lfcnassif commented on #416
It is not the ideal solution, but to close this I'm planning to run Tika msg decoding before rtf-to-html library. If Tika's output contains just Latin1 chars, switch to rtf-to-html library. What do you think @gfd2020 ?

[2021-07-13 01:32] gfd2020 commented on #416
I agree.

[2021-07-13 18:24] lfcnassif opened #664 "WhatsApp media links to folder datasource not working when opening the chat externally"
When a folder datasource is processed, if user double clicks on whatsapp chat reports to view them externally using the browser, the audio and video links don't work, but they should. The links work when clicked inside IPED viewer or in case html reports.

[2021-07-13 18:46] #664 closed

[2021-07-13 20:23] lfcnassif commented on #633
closed by #660

[2021-07-13 20:23] #633 closed

[2021-07-13 23:52] #612 closed

[2021-07-14 15:28] #637 closed

[2021-07-14 18:06] paulobreim opened #665 "missing extention"
I selected some emails to export.
When using the export selected items option, the messages are exported one by one with the .eml extension correctly.
If I use the option to export to ZIP and ZIP tree, the messages are exported to ZIP without the .eml extension.

[2021-07-14 20:52] lfcnassif commented on #665
What is the original extension of the files? Export to ZIP feature was designed to preserve original information, like extension, to be used at crime scenes.

[2021-07-14 22:07] paulobreim commented on #665
The test that I did is a .thundebird folder with a lot of e-mails.

After this, I selected all e-mails from one person to another person to analise in details.
Than I use the option to export all using zip in order to import to another thunderbird and analise.

i thought the zip option was just to generate a single file, but i agree with you keeping the original is more convenient.

[2021-07-14 22:07] #665 closed

[2021-07-14 22:22] tc-wleite commented on #665
Adding my two cents...
Indeed preserving original extensions makes more sense when exporting to a ZIP.
However, it is possible that in particular situations other behavior is desired (e.g. adding extensions).
The main idea behind #104 is to show a dialog with the default options, allowing the user to select different ones.
It would be useful in cases like the one described in this issue.

[2021-07-14 23:56] lfcnassif commented on #416
Will improve rendering of inline images here...

[2021-07-15 00:10] #415 closed

[2021-07-15 00:10] #416 closed

[2021-07-15 00:23] lfcnassif opened #666 "Improve PST/OST email preview: render inline images and put links to attachments"
Rendering inline images is desired, similar to #415. And different from EmlViewer/MsgViewer, there are no links to attachments, just their names are printed in the email preview and attachments can be accessed just in the subitems tab.

[2021-07-15 00:29] lfcnassif commented on #666
The implementation here would be a bit more complex, because attachments are not embedded in the email html preview. And when the email preview is built by the parser, we still don't have attachments ids or hashes, they will be computed later... Maybe some UUID could be set in attachments as an extra property and could be referenced in the email preview.

[2021-07-15 17:49] lfcnassif opened #667 "Recover deleted records from SQLite databases"
This is an old desired feature. I will push an old "study" branch (not even a draft or prototype) about sqlite structures.

[2021-07-15 17:52] lfcnassif commented on #667
just pushed the sqlite_record_undelete study branch

[2021-07-15 18:24] lfcnassif commented on #667
Some references I used:
- https://www.sqlite.org/fileformat.html
- https://www.sciencedirect.com/science/article/pii/S1742287619301677
Other references:
- https://github.com/inflex/undark
- https://github.com/aramosf/recoversqlite (with more references)

[2021-07-15 18:44] lfcnassif commented on #667
this article has an important and easy picture about what goes on with a deleted row:
![image](https://user-images.githubusercontent.com/7276994/125840341-0ac8856e-775b-439d-b3a8-9a97887dc4d7.png)

I think the record type header (with unknown size...) could be checked against the existing tables schemas possibly to guess to which table a recovered record belongs.

[2021-07-15 19:23] lfcnassif commented on #667
And just to document here too, my old idea was to insert the recovered records into the same database, after some ALTER TABLE table_name ADD 'deleted_col', so parsers would need small changes to know if a record was deleted or not.

[2021-07-16 08:01] MariasStory opened #668 "EventTranscriptDB parser."
In some cases MS activates the EventTranscriptDB. It should be easy to parse this SQLite database:
https://github.com/rathbuna/EventTranscript.db-Research

[2021-07-16 15:14] MariasStory commented on #668
--- additional information so far.
Kape file:
https://github.com/EricZimmerman/KapeFiles/blob/9982efa29950c1b427cf746b9f61eb77929f1e61/Targets/Windows/EventTranscriptDB.tkape
Parser map:
https://github.com/EricZimmerman/SQLECmd/blob/master/SQLMap/Maps/Windows_EventTranscriptDB.smap

[2021-07-16 20:51] lfcnassif commented on #668
Thanks @MariasStory for pointing out this artifact, I was not aware of it.

[2021-07-17 00:04] lfcnassif opened #669 "NTFS USN Journal parsing fails when processing image files"
Stacktrace:
[code]
SleuthkitInputStream just pass some calls to Sleuthkit ReadContentInputStream and it doesn't support mark/reset, but this parser is not checking that with markSupported()

[2021-07-17 00:36] lfcnassif opened #670 "Makes all SeekableInputStreams support mark/reset"
This should be easy using position() and seek(position) methods.

[2021-07-17 01:22] #670 closed

[2021-07-17 01:23] lfcnassif commented on #669
fixed by d1c1451

[2021-07-17 01:23] #669 closed

[2021-07-20 14:41] lfcnassif commented on #667
Good article: https://conceptechint.net/index.php/CFATI/article/view/17/6
And its GNU GPLv3 tool: https://www.staff.hs-mittweida.de/~pawlaszc/fqlite/

[2021-07-20 15:09] lfcnassif commented on #667
This could make integration of third party parsers (like aLeap/iLeap) harder, because they won't know the changed schema...

[2021-07-20 20:58] lfcnassif commented on #667
I've contacted the author of FQlite tool asking for a possible integration. The paper states it is dual licensed under GNU GPL v2 and Mozilla Public license v2, which seems compatible to this project.

[2021-07-20 23:02] lfcnassif commented on #232
After I return from vacation, possibly I will work on this. I plan to keep our patch as small as possible, luckily removing it completely, to easy future upgrades.

I think Autopsy months ago added some kind of "early processing before file system transversal ends", **sometimes** it takes dozens of minutes. We workaround that using partial commits to DB in our patch. I just tested tsk_loaddb-4.10.

[2021-07-21 12:48] lfcnassif commented on #667
The author answered my email and sent the link to https://github.com/pawlaszczyk/fqlite
The source is in master branch. I've just replied to double check MPL v2 is also used.

[2021-07-21 18:44] lfcnassif commented on #232
Just checked what Autopsy is doing, they do partial commits, but using callback functions from C to Java code, and DB INSERTs and commits are done from Java side now. So standalone C tsk_loaddb still applies a single commit at the end. Changing to new approach is a very sensible change and would need some work, but I'm still not sure if it is the best path, our patch for partial commits from C sid

[2021-07-22 14:02] lfcnassif commented on #667
Professor Pawlaszczyk kindly said he will update the license terms to make MPL v2 license more clear.

[2021-07-22 22:58] tc-wleite commented on #18
Hi @lfcnassif!
Testing other stuff with master branch here, I noticed a possible problem related to this issue.
Using pt-BR locale, **Folders** and **Scanned Documents** categories count (in category tree panel) is always shown as 0.

Looking at the code, I \*think\* it may be related to the fact that `SetCategoryTask `class uses the **localized** name of these categories, while other categories u

[2021-07-22 23:32] lfcnassif commented on #18
Thanks for warning @tc-wleite. I will fix when I return from vacation, thank you!

[2021-07-29 21:40] lfcnassif commented on #667
I forgot to say it was updated.

[2021-07-30 08:02] mobab-th commented on #48
"CTRL+" doesn't work,  "CTRL-" work
so far as i know can java greater version 8 solve the DPI-problem, but iped-search.jar doesn't work for me with java 9 or higher.
A way to increase the font-size would be nice ...

[2021-08-02 15:47] lfcnassif opened #675 "German translation"
We received an email from Dennis Schreiber and he would like to help us with a German translation and maintenance of it. Let's track the progress here.

[2021-08-02 19:56] lfcnassif opened #678 "Wildcard queries with uppercase chars and case sensitive indexing doesn't work"
If user disables **convertCharsToLowerCase** and tries to search for **TES?**, files containing **teste** are returned and files containing **TESTE** are not. This is because Lucene StandardQueryParser converts wildcard queries to lowercase by default. Searching for **TESTE** works as expected.

[2021-08-02 20:08] #678 closed

[2021-08-02 20:58] #18 closed

[2021-08-03 20:36] lfcnassif commented on #48
This worked here on Windows, although it was slow, but not for all UI texts, I will open another issue to track fixing it.

Currently this project just support java version 8

[2021-08-03 22:31] lfcnassif opened #679 ""CTRL+" and "CTRL-" should work for all UI texts"
This is not working for the options menu and dialog windows (bookmarks, column and filter managers, file/folder selection windows, tooltips, gallery col count and other dialogs).

[2021-08-03 22:39] lfcnassif commented on #48
what is your keyboard layout?

[2021-08-03 22:42] lfcnassif commented on #679
I'm not sure if this is worth to fix, given it will apply just for texts, not for all components, or if this feature could be removed after #48 is implemented.

[2021-08-04 01:17] tc-wleite commented on #679
@lfcnassif, the current implementation (CRTL+/-) is very simple, and I am also not sure if it is worth fixing.
I need to check in practice, but I believe #48 (at least a simple version of it) can be implemented in a similar way dark mode feature #569 was.
As you are probably dealing with other stuff, I can take a closer look and see if there is a straightforward solution to #48.

[2021-08-04 01:51] lfcnassif commented on #679
Thanks, @tc-wleite. But don't worry, this is low priority.

[2021-08-04 14:38] lfcnassif commented on #655
Hey @tc-wleite if you would like I can take care of this if you send me the triggering file(s) and the proposed fix, thanks.

[2021-08-04 15:27] mobab-th commented on #48
System Locale: LANG=de_DE.UTF-8
VC Keymap: n/a
X11 Layout: de
X11 Model: pc105

[2021-08-04 15:31] tc-wleite commented on #655
I worked a bit on this last week...
The fix I tried worked on the file that I had, but when I tested with a larger set, there were other files negatively affected by the change, so it is not a possible solution.
Maybe you can figure it out, as it involves parts of the code that you are more familiar with.
I will try to find example files that can be shared here, otherwise I will sent you privately

[2021-08-04 17:50] lfcnassif commented on #48
Thanks, @mobab-th. Could you test the snapshot below with a possible fix to Ctrl+ using your keyboard? It should be ready in 5min.
https://github.com/sepinf-inc/IPED/actions/runs/1098657533

[2021-08-05 11:43] MariasStory opened #681 "Shannon entropy plot"
Hi, and thanks for the great solution.
Please consider adding possibility to plot Shannon entropy (2d and color plot) for the evidence and the artifacts.

For reference:
https://github.com/katjahahn/PortEx

[2021-08-05 13:16] lfcnassif opened #682 "Sometimes HitsTab shows too short fragments and TextViewer has undesired breaklines"
The problem is with Lucene default SimpleFragmenter when the text has lots of contiguous spaces or non indexed chars, that causes a large fragment to be built until the next token and the following fragments become too small.

[2021-08-05 14:02] lfcnassif commented on #682
To illustrate what is happening:
![image](https://user-images.githubusercontent.com/7276994/128363151-a74af63a-7de6-439a-ab3a-b15421d10245.png)

[2021-08-05 15:52] mobab-th commented on #48
get only a 64kB corrupt ZIP file

Am 04.08.21 um 19:50 schrieb Luis Nassif:

[2021-08-06 05:16] mobab-th commented on #48
Today i could download the file.
Zoom in/out worked now for me.

THX

[2021-08-06 12:51] tc-wleite commented on #655
In my tests, out of ~30,000 ZIP files from many cases, about 100 of them triggered the reported issue.
All these ~100 files are expanded by Windows and 7-ZIP without any problem.

I found that this small file should cause the exception:
[qr.zip](https://github.com/sepinf-inc/IPED/files/6945529/qr.zip)
Not sure if it is the best example, but the others I found have sensitive content.

The possible

[2021-08-06 16:21] lfcnassif opened #685 "Korean chars rendered as squares in TextViewer"
Triggering files attached:
[LIVE-Seoul-ntfs-utf-16-be.txt](https://github.com/sepinf-inc/IPED/files/6946763/LIVE-Seoul-ntfs-utf-16-be.txt)
[LIVE-Seoul-ntfs-utf-16-le.txt](https://github.com/sepinf-inc/IPED/files/6946764/LIVE-Seoul-ntfs-utf-16-le.txt)
[LIVE-Seoul-ntfs-utf-8.txt](https://github.com/sepinf-inc/IPED/files/6946765/LIVE-Seoul-ntfs-utf-8.txt)
[Korean lessons_ Lesson 2 – Learnkorean.com.p

[2021-08-06 16:42] lfcnassif commented on #685
Upstream issue: https://issues.apache.org/jira/browse/TIKA-3515

[2021-08-06 17:17] lfcnassif commented on #685
But just pasting 서울 into the search bar doesn't work.

[2021-08-06 20:33] lfcnassif opened #686 ""CTRL+" text zoom doesn't work for some keyboard layouts"
Reported at https://github.com/sepinf-inc/IPED/issues/48#issuecomment-889714599

[2021-08-06 21:23] lfcnassif commented on #686
closed by 635704f

[2021-08-06 21:23] #686 closed

[2021-08-06 21:39] lfcnassif commented on #682
another illustration of this:
![image](https://user-images.githubusercontent.com/7276994/128573712-eca92d02-81ae-44cc-b956-3711d5f6c46d.png)

[2021-08-06 21:42] #682 closed

[2021-08-09 22:28] lfcnassif commented on #655
Thanks for the sample.

Yes, I was aware about some of those limitations, but parsing ZIPs as streams allows to extract entries from corrupted/carved ZIP files where the central directory was overwritten (a lot of corrupted ZIPs aren't expanded by Windows Explorer and rarely by 7zip, but IPED does). Not sure if switching to ZipFile is the better approach...

But, if an exception is always thrown (

[2021-08-09 23:04] tc-wleite commented on #655
I also think switching to ZipFile is not a solution, but maybe there is a way to use alternative approaches when an exception is thrown as you pointed out.
Right, an exception is thrown. A TaggedIOException for the initial file that motivated this issue (and the other ~100 files that I mentioned).

I saw other exceptions in the log when processing other ZIP files I collected here, some of them may

[2021-08-09 23:19] lfcnassif commented on #655
@tc-wleite I pushed a non ideal first attempt to fix this (it is duplicating the directory entry, but maybe better than other errors...)

If you could test with other triggering files, let me know the result, or please send them privately to me.

Tika recently fixed a very similar issue, and they used some code to count the number of items extracted and skip them later in a second parse using the

[2021-08-10 02:16] lfcnassif commented on #655
Just tried the new Tika approach in a new branch (commit 97954ee), but now the sample throws:

org.apache.tika.io.TaggedIOException: compressed and uncompressed size don't match while reading a stored entry using data descriptor. Either the archive is broken or it can not be read using ZipArchiveInputStream and you must use ZipFile. A common cause for this is a ZIP archive containing a ZIP archive

[2021-08-10 13:06] thalespr opened #688 "Link messages thumbnails to chats"
This is related to issue #49. Some instant messages apps have the ability to send messages referencing to other messages, which can be text, audios, imagens or videos, in the same conversation/chat. Those apps then keep thumbnails from the original media file in order to provide 'reply messages' more friendly. So, the idea is to link those thumbnails to the chat they were in as the original media

[2021-08-10 17:01] lfcnassif opened #689 "Google Maps item selection by rectangle or radius is not working"
Seems this stopped working after version 3.16, not sure.

[2021-08-10 18:09] lfcnassif commented on #517
@mpolastro provided some screenshot about the database to be processed:
![image](https://user-images.githubusercontent.com/7276994/128912188-bc7b43e6-0356-4986-a97b-7442ceb2d7c0.png)

And warned about a change in the cryptographic algorithm used in iOS 10.2

[2021-08-10 19:52] lfcnassif commented on #685
This is not a Tika issue.

Seems to be some font rendering problem, at least on Windows. Searches work (it finds the right files and highlights the "right squares"). Copying the squares from TextViewer and pasting to notepad or other Windows text input works (glyphs are rendered fine), this makes me think it is not a Windows Font package missing.

I tried all java logical fonts (Dialog, Serif, San

[2021-08-10 20:12] lfcnassif commented on #655
Another idea is iterating over N first zip entries and checking if STORED + DATA_DESCRIPTOR flags are used, without extracting the files. If not, reset/get a new stream and parse normally. If yes, use the SevenZip alternative parsing. Not sure if this would cause performance regression issues if the first entries are big files.

[2021-08-10 20:14] lfcnassif commented on #655
And I think it is possible to have mixed entries in the same zip file, with and without those flags, but maybe that is not common out there.

[2021-08-10 20:24] aberenguel opened #690 "Rare aborting ConcurrentModificationException while processing"
I was generating a report based on a case with UFDR and the following exception occurred (some strings omitted).

[code]

I tried again and it worked.

[2021-08-10 20:39] tc-wleite commented on #685
I think I found something here...
I will test and update later.

[2021-08-10 20:47] lfcnassif commented on #685
This seems to be not distributed anymore by Windows 10. This seems related: https://bugs.openjdk.java.net/browse/JDK-8190907

[2021-08-10 20:48] lfcnassif commented on #690
What iped version did you use?

[2021-08-10 21:13] lfcnassif commented on #690
This is hard to reproduce, but I think commit e16a908 will fix it.

[2021-08-10 22:58] #689 closed

[2021-08-10 23:43] tc-wleite commented on #685
I also think it is related to this issue.

In Windows 10, I found a simple "workaround" (or solution?), that is installing the Korean language pack.
This solved the problem, except in the text viewer.
Some characters were still missing there.
I found that is necessary to change the font from "Courier New" to Font.MONOSPACED in ATextViewer :

[code]

[2021-08-10 23:49] tc-wleite commented on #685
Additional test files: [Korean.zip](https://github.com/sepinf-inc/IPED/files/6964996/Korean.zip)

[2021-08-11 00:10] lfcnassif commented on #685
Thanks @tc-wleite!

I tried this, but without the language pack...

Do you know if there is an easy way to check if the language pack is installed? So we could display some warning to user about that.

[2021-08-11 00:11] aberenguel commented on #690
3.18.7

I was wondering if the e16a908 fixes it, because TreeMap is not thread-safe. But I think it fixes, since the ConcurrentModificationException might be happening due to some writing in ParsingTask.times in another thread. The fix is wrapping it. You're the guy, @lfcnassif !

[2021-08-11 01:04] lfcnassif commented on #690
Actually I don't think this is fixed. The idea was to make a Map copy before iterating over it (notice original map is already a thread-safe one), but, at least in my JDK implementation, TreeMap(Map map) constructor uses map.entrySet().iterator() internally, so the exception could be thrown inside the constructor.

[2021-08-11 01:22] #690 closed

[2021-08-11 01:35] lfcnassif commented on #685
So I will just fix ATextViewer and let the language pack installation to the user, thank you @tc-wleite!

[2021-08-11 01:47] #685 closed

[2021-08-11 16:45] lfcnassif commented on #655
I just had an idea to filter out duplicated entries, maybe we can inject an EmbeddedDocumentExtractor proxy in ParseContext from PackageParser to filter out already extracted files when redirecting to SevenZipParser in this line https://github.com/sepinf-inc/IPED/blob/master/iped-parsers/iped-parsers-impl/src/main/java/dpf/sp/gpinf/indexer/parsers/SevenZipParser.java#L278

[2021-08-11 17:54] lfcnassif commented on #655
Just pushed the last approach. If you could send me privately the other triggering files, that would be great.

[2021-08-11 18:39] tc-wleite commented on #655
Just started uploading a set of ~20 ZIP files (in total ~4.5 GB) that should cause the TaggedIOException (to /Temp/Wladimir).
It will take another 40 minutes or so to finish the upload.

[2021-08-11 18:59] lfcnassif commented on #470
I'm thinking about backporting this to 3.18.x. This will change indexing behavior, but currently TXT files with non Latin1 scripts are wrongly indexed. Multicases mixing new and past versions could show TXT file content different than what was (wrongly) indexed, leading to some inconsistencies between highlights and (wrong) searches results. But as they result from a wrong indexing, I think it is

[2021-08-11 19:38] lfcnassif commented on #470
backported to 3.18.x by e7f1771593232a0446c58c5c4cd195079f50750d

[2021-08-11 19:38] #470 closed

[2021-08-11 21:43] lfcnassif commented on #655
Just downloaded the files, you can delete them.

[2021-08-12 10:17] MariasStory opened #691 "Export carved files"
Hi team,
It would be nice to have an option to export the carved files to a separate location.
Is it possible from command line?
Can I do it on linux from command line?

[2021-08-12 10:20] MariasStory opened #692 "Web interface"
Hi team,
It would be nice to have a usable web interface.
I know that there is a web API: https://github.com/sepinf-inc/IPED/wiki/Web-API
Is someone developing the interface?

[2021-08-12 15:47] lfcnassif commented on #691
Hi. What do you mean by "curved files"?

[2021-08-12 15:49] lfcnassif commented on #692
Yes, @hauck-jvsh is developing, but it is an internal project and I don't know if it will be open source some day. Maybe @mpolastro could have some opinion about this?

[2021-08-12 15:58] lfcnassif commented on #692
For now we have in this open source project modules to index to an ElasticSearch cluster and export files/artifacts to a MinIO cluster, and the internal Web interface would access them. Eventually the current Java interface could be adapted to access those clusters, but this would be an overlap between projects and our human resources are very limited unfortunately.

[2021-08-12 16:47] thalespr opened #693 "[WhatsAppParser] Show and jump to quoted messages of reply messages in preview tab"
Actually, WhatsApp parser, at least for WhatsApp installed in Android devices, doesn't show in the **preview TAB** the original message when you have a reply message. For example, let's say user_A replies to a message that user_B sent, the user_B's message isn't shown 'linked' (in a cascade format) to user_A' message, so you don't see, at least graphically, that user_A is replying a message that u

[2021-08-12 17:47] lfcnassif commented on #693
AFAIK, this isn't supported for iOS too, this would be an useful enhancement.

[2021-08-12 18:02] lfcnassif commented on #688
I understood this would be about listing in the new "References" tab referencing chats to a selected thumbnail in table/gallery tab, extending #49 to work also for thumbnails and not just for original attachments. So I think the implementation wouldn't be related to reply messages. Or did I misunderstand?

[2021-08-12 19:53] MariasStory commented on #691
HI @lfcnassif, sorry for the typo. (fixed)
I mean carved/recovered files.
I can export the files from the viewer. Just want to know if it is possible, or would be possible, to do it from command line.

[2021-08-12 20:16] lfcnassif commented on #667
Not sure if you have already done, but I think it is a good idea to test with real world databases. The published results with synthetic data are awesome, but I wonder if it performs well with real world data, maybe it can help us decide the path...

If it goes well, forking is an option, although it will make fqlite updates difficult... But possibly it will need less effort than writing this feat

[2021-08-12 20:18] hauck-jvsh commented on #667
As @lfcnassif has already contact Professor Pawlaszczyk and he Changes the license of the project, the author may accept a pull request with the changes needed to write it as a lib.

[2021-08-12 20:51] fmpfeifer commented on #667
I did a few tests with some msgstore.sqlite I have, and it seems to do the job. But more test are needed, indeed

Indeed, it would be much easier to have something working to start with

Good, I will skim through the options and, if it is the case, make the fork.
Thanks

[2021-08-12 20:52] fmpfeifer commented on #667
Yes, that is what I had in mind

[2021-08-12 21:16] lfcnassif commented on #655
I have some news:
- Subitem path issue actually is a bug in SevenZipJBinding used by SevenZipParser. I tested the old version used before #282 update and the issue was already there. Fortunatelly we don't use SevenZipParser for most ZIP files, just when this exception is thrown.
- So I changed the alternative parsing method, called after UnsupportedZipFeatureException is thrown because of data_des

[2021-08-12 21:44] tc-wleite commented on #655
Excellent @lfcnassif!

Sure! I can run with a larger test set.
Should I get the modified version from [655_fix branch](https://github.com/sepinf-inc/IPED/tree/%23655_fix)?

[2021-08-12 21:51] lfcnassif commented on #655
Yes, when you have time, thanks.

[2021-08-12 22:05] lfcnassif commented on #655
Just to complement, I just found a minor regression with DIRAC 8 RF.zip (22262300 bytes) sample. Previous code used to extract a zero sized pdf file, new code throws a corrupted zip error. Windows is not able to open that zip. SevenZip does, but results in an error when trying to extract the PDF. So we are just loosing the PDF file name from a corrupted zip. Other samples I tested seems good to me

[2021-08-12 22:38] lfcnassif commented on #691
We don't have a sugar command line for that, but I think it is possible using the Web-API you noticed or a python script like this (just an example):

[code]

[2021-08-13 02:54] lfcnassif commented on #655
Just checked a small test with 7k zips (25GB) from a single case, no regressions detected.

[2021-08-13 09:25] CupOfCoke opened #695 "Indexador\Index Access denied :bug:"
Hi,
I am running IPED in a Windows 10 VM (12 virtual cores & 32 GB RAM) with an additional SSD Temp Disk. Both the VM Disk and the Temp Disk are virtual SSDs running on actual SSDs. The data source and destination are on a Samba Share which is mounted in Windows for Users and Admins. During the Analysis Process I get an Error saying "Access denied". The Error occurs since Version 3.18.7. Here is t

[2021-08-13 12:21] thalespr commented on #688
You didn't miss anything. But, after some investigation, I found out, for instance, that you can also exctract thumbnails from the WA table that keeps the reply messages. So, with that, you are able to link those thumbnails to chats. Let's say an user deletes the message with the original media file, then, in some cases, you can, at least, extract the thumbnails of that media from other tables tha

[2021-08-13 13:32] tc-wleite commented on #655
A quick update here:
The larger test is still running. As it is processing ~700 GB of ZIP files, it will take a while.
When it is done (later today), I will make a comparison with the same folder processed with the current version.
I will probably be able to update results on the beginning of the next week.

[2021-08-13 13:54] lfcnassif commented on #688
It's clear now, thanks.

[2021-08-13 13:57] lfcnassif commented on #655
Thanks @tc-wleite for all your time.

[2021-08-13 14:19] lfcnassif commented on #695
Hi,
So this error doesn't happen with version 3.18.6 with the exact same environment, configuration and case? This is strange, because the last commit on Manager class (that creates and copies the index) was before 3.18.6 version. If you could share the processing log privately, it should help.

If you go to conf/AdvancedConfig.txt, there is an option called useNIOFSDirectory, enabling it can help

[2021-08-13 16:24] rafael844 opened #696 "Edit transcription"
It would be nice if we could add notes in transcripted audios, something like in the picture below.

![image](https://user-images.githubusercontent.com/31928478/129389898-19caf9c8-d190-4c6d-9a73-ffc482064deb.png)

[2021-08-13 16:46] lfcnassif commented on #696
Good idea. This depends on #24

[2021-08-13 19:50] lfcnassif commented on #238
Closed by #680.

[2021-08-13 19:50] #238 closed

[2021-08-13 19:56] lfcnassif opened #697 "Map previous/next buttons first click after sorting change are considering previous sorting order"
This is a minor issue discovered in #680, happens just after changing table sorting column and just on first button click, subsequent clicks work as expected.

[2021-08-13 20:32] hauck-jvsh opened #698 "Shareaza parser missing some files"
Files, that are present in Shareaza albums but are not in the filesystem, aren't showed in the HTML output. This was found by  Hugo Kling a college from São Paulo.

[2021-08-13 21:19] fmpfeifer commented on #698
It turns out that shareaza stores two sets of files in Library{1,2}.dat:
- Library Folders and Files: Files stored in the same layout as in the user's filesystem
- Album Folders and Files: Files sorted in classes (albums).

The parser reads and decodes all of those, but is not exporting the album files to the output table.

[2021-08-13 22:06] vtgdias opened #700 "GUI in reports asks for new UFDR path when clicking on bookmark files exported with thumbsOnly/nocontent"
I was not able to export "only thumbs" or `-nocontent` from bookmarks created from .ufdr source. From my tests, if i export all bookmarked files to report (without "only thumbs" checked), i end up with all files exported correctly, but if i check "thumbs only" for any bookmark i get no exported files at all (even for other bookmarks), just indexed as usual. I get a report with evidences linked to

[2021-08-16 16:06] lfcnassif commented on #691
I will move this to discussions to help others.

[2021-08-16 16:06] #691 closed

[2021-08-16 18:15] lfcnassif commented on #700
I'm not able to reproduce this 100% with 3.18.7 nor with master. Files with "thumbs only" have just thumbs and properties exported as expected in my tests and files from other bookmarks are exported fine. Tested with enableHTMLReport = true and enableHTMLReport = false. But, when clicking on "thumbs only" bookmarks in the report App, a dialog is shown asking for the new UFDR path if is was not fou

[2021-08-16 19:22] #698 closed

[2021-08-16 21:07] tc-wleite commented on #655
@lfcnassif, compared the results of the tests (branch with your fix vs 3.18.7).
I checked the overall number of expanded itens and went into more detail for ~100 known problematic ZIPs I had identified before and a few other randomly selected  ZIPs.
The fix solved the reported issue for all the files I have here that triggered it, and I didn't identify any side effect in other files.

[2021-08-16 21:12] lfcnassif commented on #655
Great, thank you very much @tc-wleite! I know manual comparisons take a lot of time...

[2021-08-16 21:21] #655 closed

[2021-08-16 23:31] Winiciusf opened #702 "Infinite processing for some items"
Hello!

I'm analyzing a MacBook. First, I created one DMG, using the Apple Disk Utility. After, I added this image file in FTK and I created a AD1 image, with some folders. Then, I started processing this image with IPED. However, after some hours, I noticed that the processing had stopped on some files. The status bar is stopped, but the software seems to be working.

Please, any idea for solving

[2021-08-16 23:42] lfcnassif commented on #702
For this kind of issue we need a thread dump as described here: https://github.com/sepinf-inc/IPED/wiki/Troubleshooting#processing-frozen
Could you take it?

And I see some "access denied" errors in your logs, maybe this could be related to antivirus software blocking things, the thread dump maybe could help...

[2021-08-16 23:52] lfcnassif commented on #702
And I don't see "processing hours" in your logs, they show less than 2 minutes of processing time.

[2021-08-16 23:59] Winiciusf commented on #702
Really I used the option "--continue". This is the fist log file
[IPED-2021-08-15-13-03-42.log](https://github.com/sepinf-inc/IPED/files/6995973/IPED-2021-08-15-13-03-42.log)

[2021-08-17 00:08] Winiciusf commented on #702
Really I used the "--continue" option. This first log is this:
[IPED-2021-08-16-08-31-44.log](https://github.com/sepinf-inc/IPED/files/6995988/IPED-2021-08-16-08-31-44.log)

[2021-08-17 00:11] lfcnassif commented on #702
Still the wrong log. Anyway, we need the thread dump.

[2021-08-17 00:35] Winiciusf commented on #702
[java_.zip](https://github.com/sepinf-inc/IPED/files/6996083/java_.zip)

[2021-08-17 00:42] lfcnassif commented on #702
This isn't useful, please take the thread dump using:
jstack -l <pid>

[2021-08-17 01:10] Winiciusf commented on #702
Sorry!
[java.zip](https://github.com/sepinf-inc/IPED/files/6996260/java.zip)
Is it correct?

[2021-08-17 01:21] Winiciusf commented on #702
Other doubt: Is it possible to stop/finish the processing but without alerts when opening the search interface?

[2021-08-17 08:26] CupOfCoke commented on #695
Hi, first of all thank you for the quick response. Unfortunately I am not able to share the process log because of private data inside. However I was able to reproduce the error with a different image. Here are my options for indextemp and output:

`indexTemp = D:

indexTempOnSSD = true

outputOnSSD = false`

Looking at my temp partition/folder, I see lots of indexador-temp files, which should be

[2021-08-17 11:04] Winiciusf commented on #702
Other question: I tried to use the https://github.com/sepinf-inc/IPED/wiki/Troubleshooting#processing-frozen. I updated the file "\profiles\en\default\conf\TaskInstaller.xml" and I created the file "\profiles\en\default\conf\scripts\IgnoreFile.js". However, the task "IgnoreFile" was not loaded. Any suggestion, Nassif?

[conf.zip](https://github.com/sepinf-inc/IPED/files/6999401/conf.zip)

![image]

[2021-08-17 12:58] lfcnassif commented on #702
Yes, thanks. Analysing them, I don't see any aparent problem in these thread dumps, relevant threads seems to be running. Aren't the number of processed items being increased in the processing window and items aren't changing? If not, I think this could be related to many (Acesso negado) messages in your logs, maybe this is some kind of permission problem. Check if there is some process blocking t

[2021-08-17 13:17] lfcnassif commented on #695
I'm not sure if we will be able to help you with this without the log, you can send it privatelly to my email.

Could you confirm if this happens with 3.18.6 with the same configuration and environment?

Have you tried the suggested useNIOFSDirectory option?

Are you able to reproduce this pointing the output folder to a local disk instead of a samba share?

We don't set any kind of file or folder

[2021-08-17 14:42] lfcnassif commented on #702
To clarify, the progress bar is just updated when containers are fully processed. So if a zip or database is being expanded (extracting subitems and blobs), the total/processed item count is increased and current items being processed change, but the progress bar is just updated when the full zip/database finishes. I think this could be happing and maybe you just have to wait some more time, that

[2021-08-17 15:52] Winiciusf commented on #702
Nassif, thank you!

In other moment this processing had 91 hours. Then I think strange, because the "Current Items" was processing the same files for many hours. In this case, the status bar was stuck, but the "Exported Items" really was slowly increasing.
Anyway your orientation about the correct local of the script file .js was very important!
I will process again with patience. Finally, if nece

[2021-08-17 16:02] lfcnassif commented on #702
A thread dump at this moment could be helpful.

So, the processing wasn't stuck, just slow.

Ok

[2021-08-17 16:32] lfcnassif commented on #695
I did some tests with -o pointing to a CIFS share, using v3.18.7 on Windows 10 (host) and the same options you posted here, I was not able to reproduce.

When indexTempOnSSD == true and without using --append, the index is created locally and copied to output at the end using the same general function used for the other folders.

[2021-08-17 19:33] thalespr commented on #693
I'll try to take a look at it and dev some codes for this.

[2021-08-17 19:43] lfcnassif commented on #693
Thank you very much @thalespr, just be careful about regressions...

[2021-08-17 19:46] thalespr opened #704 "[Question] Is LED 1.29 incompatible to IPED?"
Not sure if it was dealed in another issue, but I want to know if the latest version of LED (1.29) is incompatible to IPED? Tried to run some processing using it, but got some errors. If it is, I would like to ask to gently leave an issue about that opened (if there isn't one already...) in order to keep track on this and other people be aware of that.

[2021-08-17 20:07] Winiciusf commented on #702
Nassif, I excluded about 10 files from processing using the IgnoreFile.js. Then, the processing was finished sucessful.
Thank you!!!

[2021-08-17 20:16] aberenguel opened #705 "MPlayer consuming enormous ammount of memory"
I'm processing an E01 file with IPED 3.18.7 in my machine with 90G of RAM. Suddenly it runs out the memory.

Inspecting the `top` command, it appeared that mplayer was consuming about 42GB of RAM

[code]

The mplayer command was
[code]

Executing this command (and aborting it some time later) it showed:
[code]

I think the command should be refined to limit the ammount of memory to be consumed.

[2021-08-17 20:17] lfcnassif commented on #702
Well, ideally we should still investigate the cause of this. If you can send me the files privately, I can take a look. Or if you can start the processing again from scratch without excluding them during the weekend and take a thread thump on next Monday, that maybe can help.

[2021-08-17 20:21] aberenguel commented on #705
The output of some details of the file

[code]

[2021-08-17 20:24] lfcnassif commented on #705
Does mplayer have a command line option for that?

Could you try to reproduce with a newer mplayer version to see if that fixes it?

[2021-08-17 20:26] tc-wleite commented on #704
In fact it is intentionally incompatible, so I guess it is not a issue.
It is explicitly stated on LED's "LEIAME.txt" notes of 1.29.00 release, LED internal WIKI (versions section) and I warned about that in the e-mail in which LED 1.29 release was announced, but I know people usually don't read any of these :-)

The new IPED version (4.x) won't be compatible as it was before (pointing to LED's fo

[2021-08-17 20:27] lfcnassif commented on #705
Or send the triggering file privately?

[2021-08-17 21:10] thalespr commented on #704
I honestly don't remember reading email about that (If I did, I couldn't recall that). So I spent some time to discover that it wasn't compatible to IPED on purpose (shame on me I didn't look up for LED Releases Notes, my bad for sure). At first sight, looking IPED output, I thought it could be a bug. Maybe other people can think the same, that's why I suggested to keep an issue opened.

You said

[2021-08-17 21:12] lfcnassif commented on #705
Sorry, seems you are using the latest. Could you test the previous MPlayer 1.2.1? And also try to reproduce with IPED-3.18.7 on Windows (it uses MPlayer Redxii-SVN-r38109-6.2.0) ?

[2021-08-17 21:48] tc-wleite commented on #704
The current compatibility is convenient in the sense that users of both tools can just point to LED's database when setting IPED.
But there are a  few drawbacks:
- I can't change LED's format, which I sometimes need/want to do, without changing IPED.
- There are information used by LED that are useless to IPED, so IPED needs to read a larger file.
- The opposite also happens (e.g. PhotoDNA of LED

[2021-08-17 21:49] tc-wleite commented on #705
I am going to check if this happens in Windows (with the version used by IPED).

[2021-08-17 22:02] lfcnassif commented on #705
Oh I didn't know @aberenguel was our colleague, good to know :-)

[2021-08-17 22:11] tc-wleite commented on #705
MPlayer for Windows (both using IPED's and the latest build) does NOT work neither.
It shows a similar message (below) and abort.
Running a test with IPED (putting this video inside a folder with others ~1000 videos), no thumb was generated for it (as expected), but it didn't affected IPED's processing (other videos were processes fine).
I suspect that in Windows it is not allocating that much mem

[2021-08-17 22:12] lfcnassif commented on #704
@thalespr see #118 for the new centralized hash database details. I agree and will move this to discussions. As IPED-3.18.8 is around, I will add a warning to state that LED >= 1.29 format is not compatible anymore.

[2021-08-17 22:14] #704 closed

[2021-08-17 22:15] lfcnassif opened #707 "Warning message about LED >= 1.29 incompatibility"
As discussed in #706.

[2021-08-17 22:18] tc-wleite commented on #705
One thing that I tried was to check if parameters used by IPED (when calling MPlayer) were somehow contributing to the issue, but it doesn't seem to be the case, as only `mplayer video.avi` causes the same error shown above.

The video is reproduced fine with VLC.
@lfcnassif, we can send you the video, but I am not sure what else we could try.
I will try to figure other options here...

[2021-08-17 22:39] lfcnassif commented on #705
I don't know what else could be done different than reporting to mplayer project, if the file could be shared...

[2021-08-17 22:43] lfcnassif commented on #705
Is the timeout control working on Linux? Or the OOM is triggered before that? Could you check with @aberenguel?

[2021-08-17 22:44] tc-wleite commented on #705
It can't be shared.
I am playing with other parameters (like fixing the demuxer used) to see if there is a way that wouldn't trigger the issue.

[2021-08-17 22:46] tc-wleite commented on #705
That is good point!
I will check with him tomorrow, but from the top command output he posted, it seems MPlayer was running for a long time (much more than the timeout).
If the timeout is not working, perhaps fixing it would avoid (or minimizes) the memory allocation issue...

[2021-08-17 23:21] lfcnassif commented on #707
simple check added in 30523bb8365f9edd210960a10354b02e00b3ea0e

[2021-08-17 23:21] #707 closed

[2021-08-17 23:59] Winiciusf commented on #702
Off course!
Nassif, I will send to you those files. Could I send it to your email @dpf or lfcnassif@gmail.com?

[2021-08-18 00:14] lfcnassif commented on #702
Great! Please send a link to them to @pf.gov.br

[2021-08-18 00:28] aberenguel commented on #705
I think the timeout control is working fine, because the memory is released after some time. However, some time ahead the all RAM is consumed again. Maybe because there is a lot of videos in the E01 that trigger this issue.

Looking at IPED logs I haven't seen any OOME. The behaviour I noticed is that the Ubuntu UI freezes (mouse / keyboard) when the all RAM is consumed, but some time later, when

[2021-08-18 00:34] aberenguel commented on #705
This `top` output was gotten when I executed the command manually. :)

[2021-08-18 00:37] aberenguel commented on #705
I executed again, but waiting a little longer.
[code]

I'm almost sure there is a leak in mplayer.

[2021-08-18 01:13] aberenguel commented on #705
Same behaviour with Mplayer 1.2.1

[code]

[2021-08-18 02:01] tc-wleite commented on #705
I also think that there should be many of such files in your case...

I found out that running with "-demux lavf" (or something like that, I am not in my computer right now) avoid the abortion error in Windows.
Please give a try in your environment.

Unfortunately this is not a solution (at least just adding this) because the video thumb task already uses in a second attempt (first without it and

[2021-08-18 02:39] aberenguel commented on #705
I added `-demuxer lavf` and the mplayer command worked as expected (failing!)
[code]

[2021-08-18 02:53] aberenguel commented on #705
As just a suggestion, I saw these commands that generate the video thumb at once:

[code]

[2021-08-18 12:30] lfcnassif commented on #705
So the application didn't crash? Please check IPED log searching for "Timeout creating video thumbs" or use the timeout filter on UI if it didn't crash to confirm if the timeout was triggered or not, maybe mplayer exited before, or maybe the Linux OOM killer did its job before IPED...

Not related to this but related to X11 freezing, I suggest doing the configuration at the end of https://github.c

[2021-08-18 12:33] lfcnassif commented on #705
Maybe you can also adjust the OOM killer to handle this mplayer issue in a better way: https://dev.to/rrampage/surviving-the-linux-oom-killer-2ki9

[2021-08-18 13:48] tc-wleite commented on #705
Just a "historical background"...
When I first implemented this for LED version 1.14, almost 9 years ago, FFMPEG was my first option, among many different solutions I tried. MPlayer ended up being the "best" (performance, formats support and thumbnails "quality" were the main focus then).
Later when it was added to IPED, stability became another key factor, especially when dealing with carved, inc

[2021-08-18 15:38] lfcnassif commented on #705
Not sure, but maybe externalizing the default and fallback extract video frames commands to a configuration file could allow the user to change the commands and use another tool by is own, maybe it could help similar cases to this...

[2021-08-18 17:18] lfcnassif commented on #700
I'll include the fix I did in 3.18.8, but I was not able to reproduce the original reported issue with 3.18.7.

If you could reproduce it with 3.18.7, please reopen and provide the log, configuration files used and the steps needed to reproduce it, thanks.

[2021-08-18 17:18] #700 closed

[2021-08-18 20:40] aberenguel commented on #705
Looking at IPED logs I didn't see any "Timeout creating video thumbs" term. Only for some thumb errors for jpg images (not related to this issue).
I think the process mplayer is being killed by Linux kernel or it kills itself due to malloc errors. Not sure exactly what is the cause. I just know that takes some time to be killed (about 1 or 2 minutes)

[2021-08-18 21:58] tc-wleite commented on #705
A quick update, I changed a bit the order VideoThumbTask tries different set of parameters.

I ran a test with ~3000 videos from a few cases (plus this problematic one) and compared the results (visually, for a good number of samples).

It seems that it helped for this particular video (as "-demuxer lavf" now is used before the attempts without this parameter).

It also improved the quality of thu

[2021-08-18 22:31] lfcnassif commented on #705
Great, @tc-wleite! If you have said, I would have delayed 3.18.8 until these tests are done.

[2021-08-18 22:51] aberenguel commented on #705
I got the messages from `dmesg` kernel log. It seems that kernel is killing the mplayer as you said.

[code]

[2021-08-18 22:51] aberenguel commented on #705
It is hard to handle `oom_score_adj` parameter while processing because it is done by process PID.

As a complement to fix this issue, I'm investigating some way to "cage" the process of mplayer and limit the amount of memory it can consume. In a quick look, I found the `timeout` command (https://github.com/pshved/timeout/blob/master/timeout).

[2021-08-18 22:57] tc-wleite commented on #705
I tried several things today and none of them helped, so I was not very confident that I would fine anything. Anyway,  I still need to run tests and I am not sure it will solve the issue. So it may take a while to come to a conclusion.

[2021-08-18 23:11] lfcnassif commented on #705
I removed the bug label, I'm not sure how to classify this, because I understood the embedded windows mplayer is not affected, just the Linux system wide installation, which is not included in IPED by default as a dependency, will defer to @tc-wleite to decide.

[2021-08-19 02:42] lfcnassif commented on #702
Just an update, @Winiciusf sent me the files. I was not able to reproduce, processing finished in ~2min with the suspect files. He will try to reproduce in another machine to check if it is an environment issue.

[2021-08-19 11:53] hugohmk opened #708 "Print Shareaza albums entries in a new column instead of new rows"
childPornHashHits counter is being incremented multiple times for a single file index/hash (once for the Library Folder and then once for each time it is listed in an Album Folder). Tested on v. 3.18.8.

[2021-08-19 11:55] tc-wleite commented on #705
Thanks @lfcnassif! Well, the MPlayer for Windows we use doesn't allocate that much memory, but also crashes. In this case, IPED processing should not be affected, but still it is a situation that should be avoided, if possible.
I am not sure either, from the labels we use, I guess it is more a bug than an enhancement.

[2021-08-19 12:08] tc-wleite commented on #705
The previous test used videos from LED database (including carved ones, but mostly well formed).
For the longer (and more realistic) test I used disk images from 3 different cases.
The performance gain I observed in the smaller test didn't happen (only 2% faster, which can be just a variation between executions).
But the better "quality" for many broken videos was confirmed. As observed in the pre

[2021-08-19 14:01] lfcnassif commented on #708
I tested with some samples here, childPornHashHits is in sync with the entries printed in table. Looking at the code, seems to me the file could be printed multiple times for each album reference. @fmpfeifer was that intentional?

[2021-08-19 14:10] fmpfeifer commented on #708
The same file can be in many different albums. Are they showing um multiple times in the same album folder?

Regarding the childpornhashhits, we are incrementing each time it shows in table (if the same file is in multiple albums, it is counting each reference). Should it count only once per hash?

[2021-08-19 14:12] lfcnassif commented on #708
IMHO, I think the report should reflect the number of sharings. If the file is in multiple albums, was it shared multiple times?

[2021-08-19 14:29] fmpfeifer commented on #708
Not really. It's just how the user organized his files.

I can change to count only once per file.

But... Shareaza maintains two copies of the data (Library1.dat and Library2.dat).The same file can be in both (and usually will). Those files are parsed independently, so it will be counted twice.
Is it ok?

[2021-08-19 14:35] lfcnassif commented on #708
I think it's fine, the examiner should know one is a backup of the other.

But about the report table, wouldn't it be better to create a new column "Album(s)" instead of listing the files again? And files in some album but not in the library could simply result in an empty "Path" cell, what do you think?

[2021-08-19 14:56] fmpfeifer commented on #708
I think it is a good idea, this way the file will only show once in the table, and all information will still be there.

May I implement this way?

[2021-08-19 15:02] lfcnassif commented on #708
Yes, please, thank you!

[2021-08-19 15:07] aberenguel opened #709 "ClassCastException while extracting subitems"
I was inspecting the IPED log file generated during the processment and saw a lot of messages like that:

[code]

I don't know if these files are being added to the case because there is a file with same name but the path is a little bit different. Example of items path found in the case:
[code]

So I don't know what is the true impact of that.

PS:
[code]

[2021-08-19 17:07] lfcnassif commented on #709
Possibly not.

Could you process the case again changing the log level to debug? Just go to conf/Log4j2ConfigurationFile.xml in your profile and change level="info" to level="debug".

[2021-08-19 18:06] lfcnassif commented on #708
I put the bug label because I think current approach is misleading to the user, possibly resulting in wrong conclusions about the number of downloaded/shared files. @fmpfeifer feel free to change it, I understood the current way was intentional.

[2021-08-19 19:35] lfcnassif commented on #709
I just run a small test with 7k zip files and wasn't able to reproduce, so I kindly ask you to process this case again in debug log level.

[2021-08-19 20:17] tc-wleite opened #710 "Improve bookmarks shortcuts responsiveness"
Once I started using keyboard shortcuts ,a few months ago, I found this feature very practical, especially in cases in which I need/want to separate items into several different bookmarks.

Using it in daily basis, I found two situations that could be improved:
- When using a key to add the item to the bookmark, then the arrow down key to advance to the next item, and so on, in a high speed, somet

[2021-08-19 20:28] lfcnassif commented on #710
No reason at all!

[2021-08-19 22:55] fmpfeifer commented on #708
I'm finishing the implementation here, but I'm not sure what is the best way to display multiple albums in the same column.

I tried to use a html unordered list:
[code]
this was the result:
![image](https://user-images.githubusercontent.com/3900238/130154502-76289441-348e-421f-b2b0-5556e17581b7.png)

any ideas?

[2021-08-19 23:02] fmpfeifer commented on #708
this way makes it impossible to sort the table if the data is copied and pasted in excel:
![image](https://user-images.githubusercontent.com/3900238/130154985-f055e5d9-dc26-46ad-acb8-d3534890c50f.png)

[2021-08-19 23:12] lfcnassif commented on #708
Does the sorting issue happen just when sorting by Albums? (maybe that is not a big problem)
\<p\> or \<div\> or simply \<br\> works?

[2021-08-19 23:19] fmpfeifer commented on #708
no, the sorting doesn't work, regardless of which column is used for sorting.

didn't try with `<p>`, `<div>` or `<br>`

The issue I see is that normally the album name is big, and the words may wrap to the next line, potentially leading to confusion if there is no visual hint (is it a different album or just a continuation of the previous one?)

Will try those and post here the results.

[2021-08-19 23:28] lfcnassif commented on #708
got it, no need to post.

[2021-08-19 23:30] lfcnassif commented on #708
maybe \<hr\> as separator?

[2021-08-20 01:37] fmpfeifer commented on #708
Tried a few options here..
`<div>`, `<br>` and `<p>` gave very similar results, like this:
![image](https://user-images.githubusercontent.com/3900238/130164774-84ffb3eb-08c9-42d8-972f-7736e8a0d205.png)

`<hr>` like this:
![image](https://user-images.githubusercontent.com/3900238/130164816-d483fa8e-603f-47c1-b877-3dc33fafedb9.png)

All the above didn't work well with excel sorting. The `<hr>` optio

[2021-08-20 03:48] lfcnassif commented on #708
The last one seems better to me, sorting is important.

[2021-08-20 14:03] tc-wleite opened #713 "Rename DIE properties"
Currently properties generated by fast nudity detection algorithm (DIE) are named "scoreNudez" and "classeNudez" (in Portuguese).
@lfcnassif, wouldn't it make more sense to use them in English (as done for other properties in version 4.x), and create aliases in Portuguese (as done for basic properties, like name and path)?
I am considering changing "scoreNudez" to "nudityScore" and "classeNudez" t

[2021-08-20 14:14] lfcnassif commented on #713
I've already noticed that, totally makes sense.

[2021-08-20 14:49] #713 closed

[2021-08-20 14:58] aberenguel commented on #709
I changed the log level do "debug" and run the case again. I tried with zip isolated and with the E01 again. Unfortunately the exception was not reproduced.

Looking at the log I recalled that previously the IPED was killed (the reason was not logged in the previous log file). So I run the same command with `--continue`. The exceptions occurred at the very beginning.

[code]

So I think it is rela

[2021-08-20 17:47] #710 closed

[2021-08-20 17:55] lfcnassif opened #716 "Protection for NoSuchMethodError: com.fasterxml.jackson.databind.ObjectMapper.readValue (master)"
While testing #687, it was throwing exception above. This is a version conflict with jackson library used by minio module. Although it is possible to change #687 implementation, I'll relocate all jackson lib in minio jar to avoid possible future conflicts with other modules.

[2021-08-20 17:58] lfcnassif commented on #716
Actually, I'll relocate all elasticsearch and minio jars shaded dependencies to avoid such version conflicts jar hell errors.

[2021-08-20 18:00] lfcnassif commented on #709
hum... good tip. I think I tried to fix something similar in the past in 10607605bbf0059c60457fa616d52f3c45b0d3ff

Will try to reproduce using --continue, thanks.

[2021-08-20 18:25] lfcnassif commented on #709
Better, now I **think** I understood the error, it may be related with resuming the processing of containers inside containers when reading numeric attributes from the index.

[2021-08-20 20:04] lfcnassif opened #717 "Rare aborting NullPointerExceptions when resuming processing"
If the processing to be resumed has no HASCHILD, ISDIR, ISROOT and some other fields in the index, the resuming aborts at the very beginning.

[2021-08-20 21:02] #709 closed

[2021-08-20 21:02] #717 closed

[2021-08-20 21:18] lfcnassif commented on #709
I was able to reproduce and verify the fix. This was possibly introduced by 3f5da8eacf02f93f793b214e51950dab6944f081.

Thanks @aberenguel for reporting and providing helpful info.

[2021-08-20 21:54] lfcnassif opened #718 "IllegalArgumentException in ExportCSVTask when finishing --continue/--restart with EN locale"
This is a regression in 3.18.8 caused by #639. I forgot to localize the separator in the finish() method :-(

[2021-08-20 21:56] #718 closed

[2021-08-20 22:00] lfcnassif opened #719 "NullPointerException caused by 2nd level containers if processed again with --continue"
Found this in logs while working on #709, need to investigate next week:

[code]

[2021-08-21 18:09] lfcnassif commented on #719
What is happening here: even fully expanded and commited containers may need to be processed again, their subitems still could be in processing queue or may not be commited when processing was interrupted . So, although already commited, containers may be expanded again when resuming. But as they are already commited, they are ignored later to be not indexed again, just expanded. If they are 2nd l

[2021-08-23 12:00] lfcnassif commented on #719
Actually, even unique (not duplicates) 2nd level containers that are processed again when resuming are deleted and they become inaccessible from the analysis UI.

[2021-08-23 12:37] lfcnassif opened #720 "Error exporting subitem java.io.FileNotFoundException: E:\teste\continue-7z-4\indexador\subitens\043 (Access is denied)"

[2021-08-23 12:41] lfcnassif opened #721 "Error exporting subitem: java.io.FileNotFoundException xxxxxx\indexador\subitens\043 (Access is denied) when resuming processing"
I first found this in logs attached to #702. Now I'm able to reproduce using --continue with a small test case. Stacktrace:
[code]

[2021-08-23 12:46] lfcnassif commented on #720
duplicate of #721

[2021-08-23 12:46] #720 closed

[2021-08-23 19:01] #721 closed

[2021-08-23 19:12] lfcnassif commented on #695
Closing as "can't reproduce". If you can provide all asked info and a detailed step-by-step to reproduce this, please reopen.

[2021-08-23 19:12] #695 closed

[2021-08-23 20:44] #708 closed

[2021-08-23 20:58] tc-wleite opened #722 "Avoid conflict between bookmark shortcuts and navigation/assigned keys"
A minor usability enhancement:
when the focus is in bookmark list (in the bookmark manager window), it is possible to assign keys that will conflict with the navigation in the list itself, items list or items gallery.
These keys include:
- HOME, END, PAGE UP, PAGE DOWN, ARROWS (4 directions).
- Already used combinations: CTRL+A (select all), CTRL+B (open bookmarks manager window) and CTRL+C (copy

[2021-08-23 21:22] lfcnassif commented on #722
Thanks @tc-wleite. What about also including SPACE?

[2021-08-23 21:37] tc-wleite commented on #722
Definitely! I will include it.
I noticed now that I also forgot about CTRL+R (recursive selection) and R (alone, as ALT+R is used for removing selection recursively).

[2021-08-23 22:08] lfcnassif commented on #721
Issue here was the read-only flag set on files left behind from previous processing

[2021-08-23 22:54] tc-wleite opened #724 "Save bookmarks shortcuts"
Another minor enhancement proposal.
Once I started working with shortcut keys for bookmarks I found it very useful.
In some cases, using keys for several bookmarks, I found a bit inconvenient that assigned keys are lost when the case is closed.
I usually try to keep the cases opened to avoid losing assigned keys, but I believe that it would be better if they were saved, so when the case is reopene

[2021-08-23 23:52] lfcnassif commented on #724
No concern! Just not implemented nor imagined.

[2021-08-24 13:19] #722 closed

[2021-08-24 14:05] lfcnassif opened #726 "Carver for TIFF images"
This is an old idea. Documentation below could be used to follow the Image File directory (IFD) linked list:
[TIFF6.pdf](https://github.com/sepinf-inc/IPED/files/7039699/TIFF6.pdf)

[2021-08-24 20:17] vtgdias commented on #700
Sorry for the delay, but i was waiting for small case that i could test with newer version of iped (3.18.7)

The first analysis was used with command line bellow (using iped version 3.18.7):

`PS C:\Users> java.exe -jar C:\IPED-3.18.7\iped-3.18.7\iped.jar -d "C:\Users\vinicius\Documents\My Reports\2021-08-24.15-47-17\SD CARD SD CARD\SDCard_blackberry.ufdr" -profile financeiro -o Z:\Casos_IPED\2779

[2021-08-24 20:58] lfcnassif commented on #700
@vtgdias this should have been fixed in 3.18.8, please test it and report back, thanks.

[2021-08-24 21:17] vtgdias commented on #700
yeap, all working now, tks

On Tue, Aug 24, 2021 at 5:59 PM Luis Nassif ***@***.***>
wrote:

--
Atenciosamente,
Vinicius T. G. Dias

"A password should be like a toothbrush. Use it every day; change it
regularly; and DON'T share it with friends" - USENET
''The quieter you become, the more you are able to hear
"When mountains speak, wise men listen" - John Muir

[2021-08-25 16:32] #724 closed

[2021-08-25 17:52] lfcnassif opened #731 "ArrayIndexOutOfBoundsException: -2147483629 when using log scale on Metadata panel if an infinite value is present in a numeric field"
See https://github.com/sepinf-inc/IPED/pull/730#issuecomment-905715327

[2021-08-27 15:09] hauck-jvsh opened #732 "Optimize MinIOTask"
MinIO task should group small files in a tar and send them in a single request.
References
https://blog.min.io/minio-optimizes-small-objects
https://docs.aws.amazon.com/snowball/latest/developer-guide/batching-small-files.html

[2021-08-30 12:06] lfcnassif opened #733 "Add a "-nocontent all" parameter value when exporting items to report"
This would be useful if user wants to put just item properties (and thumbs) in report for all bookmarks/categories in blind data extraction cases.

[2021-08-30 14:51] #370 closed

[2021-08-30 19:33] #649 closed

[2021-08-30 19:37] lfcnassif commented on #731
fixed by 93c052e & 0686c4a. Thanks @tc-wleite.

[2021-08-30 19:37] #731 closed

[2021-08-30 19:56] #733 closed

[2021-08-30 22:08] aberenguel opened #736 "Inconsistent description of enablePhotoDNA and optional_jars path (master)"
I'm working on master branch (commit 554c3f6e0).

The file `IPEDConfig.txt` describes the property `enablePhotoDNA` as:
[code]

However, the path that works is `plugins`.

This log message that is inconsistent (only disappeared when I put the jar in `plugins` folder) too
[code]

[2021-08-30 22:13] lfcnassif commented on #736
Thanks @aberenguel. The folder name was changed recently. I'll update the docs and logging messages properly.

[2021-08-30 23:59] #736 closed

[2021-08-31 16:30] aberenguel commented on #705
I built the branch `#705_FixMPlayer` and run the same E01 where I got this issue.
It seems that the branch fixed this issue. The process of the case ended successfully, without memory complications.

[2021-08-31 16:46] aberenguel opened #739 "Error loading resource bundle property at the initialization"
I'm using branch master (commit 554c3f6e0).

At the initialization I got this exception
[code]

I saw the property `PythonModule.JepNotFound` is there, but when it is loaded (statically), it seems that the resource bundle is not fully loaded or there is missing dependency load at the execution time of `dpf.inc.sepinf.python.PythonParser.<clinit>(PythonParser.java:44)`:
[code]

As a ugly fix, I mov

[2021-08-31 16:46] tc-wleite commented on #705
Great!
There can always be other problematic filea that causes memory issues, but I believe the changes made the process more robust for some video formats.

[2021-08-31 17:12] aberenguel commented on #739
As these messages are only used in log errors, I think the `Messages.getString()` should be invoked directly when the log message is being built.

[2021-08-31 17:16] aberenguel commented on #739
There are another places where the internationalized properties are loaded in static initialization. Some of those classes: `IndexerDefaultParser`, `AresParser`, `MapTypeMSG`, `FirefoxSavedSessionParser`. It seems that theses ones did not triggered the exception. But I think it is a matter of luck (the order of classes initializations).

[2021-08-31 17:59] lfcnassif commented on #739
Thanks @aberenguel, I will take a look. Maybe this is related to class loading order on Linux. Did you run "mvn clean" before building? I have already got this kind of issues after switching branches, which sometimes leaves garbage behind...

[2021-08-31 18:59] aberenguel commented on #739
I hadn't ran `mvn clean` before.
Running `mvn clean package` made this issue disappears.
Thank's @lfcnassif !

[2021-08-31 19:26] #739 closed

[2021-08-31 21:05] aberenguel opened #740 "Imagemagick 6.x version does not work with IPED on Linux"
IPED version: 4.0.0-snapshot (3231e9463)
OS: Ubuntu 22.04

I'm using the latest version of Ubuntu (21.04) and it comes with `ImageMagick 6.9.11-60 Q16 x86_64 2021-01-25`, which does not have the `magick` command.
The version 7.x of ImageMagick (compatible with IPED) uses `magick` as a wrapper of common ImageMagick sub-commands  like `convert`, `identify`, while the version 6.x uses these sub-comma

[2021-08-31 23:25] aberenguel commented on #740
Forgot to commit the property in txt file. Tomorrow I'll push it.

[2021-09-01 02:36] lfcnassif commented on #740
Are you sure this affects latest 3.18.8? Checking the 3.18.x branch, there is a function to adjust the command line automatically: https://github.com/sepinf-inc/IPED/blob/3.18.x/iped-viewers/iped-viewers-impl/src/main/java/dpf/sp/gpinf/indexer/util/GraphicsMagicConverter.java#L141

I think it was removed accidentally by 5d3bd01d007f1ad1e1bf0c19e80de411b75bfcee just on master branch in #593

[2021-09-01 02:38] lfcnassif commented on #740
I also propose an automatic cmd line detection like done before to fix this.

[2021-09-01 02:45] aberenguel commented on #740
Sorry. I'm sure it affects 3.18.7. I didn't test with 3.18.8

[2021-09-01 04:18] tc-wleite commented on #740
Sorry, I overlooked this when doing those changes.
I agree that putting back the detection to use "convert" directly if "magick" fails is better.
I can fix this, once @aberenguel has checked what is going on with 3.18.x. Maybe it is something else, or the code to switch to "convert" is not working properly.

[2021-09-01 11:56] lfcnassif commented on #740
And I also forgot this detail when merging, sorry.

I will test 3.18.8 on Windows and return back. And if you are busy I can  take care of this @tc-wleite

[2021-09-01 13:02] #705 closed

[2021-09-01 13:03] lfcnassif commented on #705
Thank you @tc-wleite and @aberenguel.

[2021-09-01 13:22] lfcnassif commented on #740
Just confirmed it doesn't work on Windows if the embedded imagemagick is replaced by the legacy 6.x version. This affects only Linux systems because IPED embed the appropriate version for Windows. Will fix shortly.

[2021-09-01 13:35] hauck-jvsh commented on #732
I found a bug that was resending items that were already in the bucket, after fixing it I ran some tests and the results were:
458s (65%) for the minIO task without tar packing and 377s (54%) for the minIO task with the tar pack. Do you think I should proceed or the gain is not worth the effort? @lfcnassif @tc-wleite

[2021-09-01 19:11] #740 closed

[2021-09-01 19:16] lfcnassif commented on #732
Maybe we can just fix the check for existing file hashes on minio server for now and leave the tar feature in another branch as a future improvement?

[2021-09-01 19:16] lfcnassif commented on #740
I think now both branches are ok, @aberenguel let me know if not.

[2021-09-02 01:54] aberenguel commented on #740
I do confirm the fixes worked in branch 3.18.x as well as in branch master!
In both branches the EXR, HEIC, RGB, SGI,WEBP, XBM formats are being thumbed now.
Thanks @lfcnassif !

[2021-09-02 03:22] lfcnassif commented on #740
Thanks for testing @aberenguel.

[2021-09-02 22:44] lfcnassif opened #744 "Populate Message-Recipient-Address property by all email parsers"
Currently this property is only populated by MSG parser. It should be also populated by EML, PST & OST parsers, so users would be able to search for a recipient address with a simple query like Message-Recipient-Address:"xxxxx@yyy.zzz", regardless of the recipient type (TO, CC or BCC).

[2021-09-03 16:45] lfcnassif opened #745 "New properties to count the number of email attachments and to flag them"
Currently we have numSubitems, but it does not apply to emails extracted from pst/ost files. And we also have pst_attachment, but it applies just to pst/ost files. It would be good to have general properties for any email type.

[2021-09-03 20:24] lfcnassif commented on #732
closed by #743

[2021-09-03 23:58] lfcnassif commented on #65
Closed by #456

[2021-09-03 23:58] #65 closed

[2021-09-06 12:44] rafael844 opened #749 "Transcription question"
If I transcript and audio in first processing of UFDR, then I generate the .iped I want, and then process it again, will it transcript the audios again? it would send the audios twice to microsoft or google? Or I have to turn it off one of the times??

[2021-09-06 14:17] lfcnassif commented on #749
It should reuse the previous transcription results when generating the portable report.

[2021-09-06 14:58] rafael844 commented on #749
Great. Thank you.

[2021-09-06 14:58] #749 closed

[2021-09-08 17:40] #744 closed

[2021-09-08 17:40] #745 closed

[2021-09-10 00:25] lfcnassif opened #750 "RegistryParser, OutlookPSTParser & LibPffPSTParser not flagging files with parsing errors"
Those parsers are catching generic exceptions instead of propagating them, so parserException flag is not populated for problematic files

[2021-09-10 15:38] rafael844 opened #751 "maxConcurrentRequests doubt"
errorCode=TooManyRequests details=The number of parallel requests exceeded the number of allowed concurrent transcriptions.

When I get the error above, the audio go back to the queue or it skips the trancription?

[2021-09-10 17:25] lfcnassif opened #752 "Validation for crypto wallets seed phrases"
The regexes added in #558 are resulting in many false positives with the same word repeated multiple times (like: false false false false...). Checking this in a validator would decrease the number of false positives.

[2021-09-10 17:37] lfcnassif commented on #751
Currently it is retried up to 3 times in Microsoft implementation because of spurious errors, Google impl just tries once. But the last time I tested Google service it was always throwing this error much much before the quota limit was reached:
https://github.com/googleapis/java-speech/issues/171

I still need to test their non beta library, but I think it is some issue with their Brazilian end po

[2021-09-10 18:12] rafael844 commented on #751
Im using Microsoft Azure, with maxConcurrentRequests  se to 4. I dont know our number of allowed concurrent transcriptions because its a test with Microsoft, If we are  exceeding it I'll let you know. Thank you.

[2021-09-10 18:38] lfcnassif commented on #751
If you aren't using a credit card, your limit is 1. If you are using, looks like MS increased it from 20 to 100:
https://azure.microsoft.com/en-us/pricing/details/cognitive-services/speech-services/

[2021-09-10 20:31] hauck-jvsh commented on #752
#753 fix this problem

[2021-09-12 15:26] lfcnassif opened #754 "Add VHD detection based on footer signature"
According to Microsoft specification https://www.microsoft.com/en-us/download/confirmation.aspx?id=23850 a VHD file could have the last 511 or 512 bytes starting with the "conectix" cookie string.

[2021-09-12 15:55] #754 closed

[2021-09-13 23:48] #750 closed

[2021-09-15 00:07] lfcnassif opened #758 "Support new Android WhatsApp msgstore.db schema"
This is related to #757 and maybe to the almost encrypted #735 & #748. Thanks @Klarissa-ksj for sharing the log and a triggering file. The "chat_list" table is not present anymore, possibly replaced by a "chat" table with some different columns. Now there are some views, including a "chat_view" one (also different from the old table). I saw some new tables related to the new "payments" feature. I

[2021-09-15 02:31] lfcnassif opened #759 "Report creation from UI with Google audio transcription enabled fails"
This is caused because the library jar is not included by default in lib dir, it must be put in the plugin dir, so it's not copied to the case folder, resulting in:
'''
dpf.sp.gpinf.indexer.util.IPEDException: Coud not found required class. Do you put google-cloud-speech.jar and its dependencies in plugin dir?
	at dpf.sp.gpinf.indexer.process.task.transcript.GoogleTranscriptTask.init(GoogleTranscr

[2021-09-15 02:41] lfcnassif opened #760 "Highlight regex results corresponding to substrings in TextViewer and HitsTab"
This is an old known issue. TextViewer and HitsTab use a Lucene highlighter implementation that doesn't highlight substrings if the query is an exact string search without the wildcard * modifier. Regex results are handled like exact string searches. If the regex pattern doesn't specify a prefix or suffix as separator, it could match substrings, but they won't be highlighted in TextViewer and Hits

[2021-09-15 16:50] tc-wleite opened #761 "Remove "bookmark" and "score" properties from metadata panel and autocomplete"
I believe "bookmark" property cannot be used in user typed filters, right @lfcnassif?
And it also does work properly when selected in the Metadata Panel.

Some users here are getting confuse with this, so I propose to simply remove it from the properties allowed to be selected in the Metadata Panel and also remove it from properties suggested pressing TAB in the filter field.

[2021-09-15 17:04] lfcnassif commented on #761
Correct, I've already thought about removing it from metadata panel, thanks @tc-wleite.

[2021-09-15 17:50] #759 closed

[2021-09-15 20:19] hauck-jvsh commented on #761
I think that now as you are already changing the search tree to do the translation, maybe a search in the bookmarks could be implemented. If the leaf is bookmark removes from the lucene query and apply it independently. Do you think it is possible?

[2021-09-16 02:18] rafael844 commented on #751
You were right. We were using the free version, now we are with a paid one and Its wirking properly.
Thank you.

[2021-09-16 02:18] #751 closed

[2021-09-16 11:48] CupOfCoke commented on #695
Sorry for the late response. I solved the problem by adding the Windows "Everyone" group permission with full rights to the Temp Folder/Partition. Thank you nevertheless for your efforts!

[2021-09-16 12:01] tc-wleite commented on #761
I think "score" could also be omitted, right?

[2021-09-16 13:46] lfcnassif commented on #761
I think it wouldn't be easy with complex queries to combine the results later. As result of #24 one possible approach is changing the bookmarks to be stored in the index, so searches would work, although will be slower than current in memory bitset control, I'm not sure about this. Also there is #452 to refactor the bookmarks, and I'm also not sure if it is possible to store all possible future bo

[2021-09-16 15:14] hauck-jvsh commented on #761
You are right I forgot that user may use the bookmark inside a complex query. I thought of simple queries, when they do a search and filter the results by the bookmarks. But there several possibilities when you allow the user to use bookmarks in lucene queries.

[2021-09-16 16:26] #761 closed

[2021-09-17 17:36] #760 closed

[2021-09-17 17:46] lfcnassif commented on #760
Pushed a non ideal workaround where the whole surrounding string (not just the substring regex hit) is highlighted, that should at least point to the regex hit location in TextViewer. A proper solution should replace the Lucene TextHighligther implementation by a custom one that highlights just the substring chunk.

[2021-09-20 14:57] tc-wleite opened #763 "Extract frames from Animated GIFs and APNGs"
Currently there is no special treatment for animated GIFs, they are just displayed as static images, showing their first frame.
Although this is not that common, important child sexual abuse material using this file format was identified here in an recent case.

I see a few options:

1. Treat such files as videos (so part of their frames will be extracted and displayed as their visualization).
2.

[2021-09-20 16:33] lfcnassif opened #764 "Use UTF-8 Control when reading localization bundle property files"
This will be needed for #675 . See https://stackoverflow.com/questions/4659929/how-to-use-utf-8-in-resource-properties-with-resourcebundle

[2021-09-20 17:00] #764 closed

[2021-09-20 18:32] lfcnassif commented on #763
No one, but a long time ago I noticed this, I didn't create a ticket and then I forgot...

If mplayer supports those file types, I think option 1 will be the simpler solution and would be enough. Option 2 would allow running OCR on each frame, but I think it wouldn't help CSAM cases. And I think option 3 **alone** isn't good, because the embedded frames won't be displayed in the gallery.

[2021-09-20 21:23] lfcnassif commented on #758
@fmpfeifer please let me know if you will (or won't) have time to take a look at this maybe this week, I'm planning to roll a 3.18.9 soon.

[2021-09-21 02:30] tc-wleite commented on #763
I made a quick test and MPlayer does to support such files.
APNG files (at least the few I got here so far) are also handled by MPlayer.

Unfortunately, it seems that there is no metadata already being extracted that indicates which images are animated, neither for GIFs nor for APNGs.
My idea is first to add such information (the number of frames, something like "AnimatedFrames", for images with m

[2021-09-21 21:18] tc-wleite commented on #763
A quick update:

**AnimatedImageParser**
I tried to add a parser to extract the number of frames (AnimatedFrames), and then use this information in VideoThumbTask, but later I realized that ParserTask runs after VideoThumbTask.
So I added the code to check this information (for GIFs) and set it as metadata (if there are multiple frames) in the VideoThumbTask.
It is not my initial idea, but as ther

[2021-09-21 23:11] tc-wleite commented on #763
I changed the name of the property from "AnimatedFrames" to "AnimationFrames", which is the name used by ExifTool.
APNG is working, so I updated the issue description.
I will collect more samples to test before submitting the changes.

[2021-09-22 03:12] lfcnassif commented on #763
That was changed because of #100. I just thought about other possible approach to #100, maybe the text + metadata concatenation could be done by an utility method (and not by IndexerDefaultParser) and this new method could be called instead of getParsedText() by RegexTask, IndexTask and others... But the metadata of embedded files will no longer be indexed or shown in Text tab (e.g. images inside

[2021-09-22 03:21] lfcnassif commented on #102
I started to work on this. At first I will add a basic solution without snapshot support. Maybe the disk without the snapshot could contain more relevant data, maybe not... And if there are many snapshots, decoding all of them could be very expensive and an overkill...

[2021-09-22 03:27] lfcnassif commented on #102
Embedded images could also be splited, at least for dd & e01, I don't know about vmdk and vhd, nof sure if I will target this for now.

[2021-09-22 14:02] patrickdalla opened #766 "Ignore search matches when the search expression is used to filter (exclude)"
When it is needed to write a search to find some word in files content combined with a filter to exclude some file name patterns, when I click a resultant item, the matches for the exclusion terms are included in the tab with the matches results.
These terms are used for exclusion of files on the result, and the corresponding matches overloads the matches result.
So, when a search term is used to

[2021-09-27 12:36] lfcnassif commented on #545
This possibly needs to be identified at the sleuthkit level, I don't know if it already does, and exposed by TSK java api. Without FS info, currently decoded by TSK, Iped can't distinguish reparse points from regular zeroed files.

[2021-09-27 13:07] lfcnassif commented on #545
Actually seems TSK already has a flag to identify those files: https://sleuthkit.org/sleuthkit/docs/jni-docs/4.6/enumorg_1_1sleuthkit_1_1datamodel_1_1_tsk_data_1_1_t_s_k___f_s___a_t_t_r___t_y_p_e___e_n_u_m.html#a5ce25ef595e4fa19825667332cd51052

[2021-09-27 18:53] lfcnassif opened #768 "Processing aborting due to StackOverflow (just master)"
Possibly this is being caused in SignatureTask after #178:
[code]

[2021-09-28 12:12] #768 closed

[2021-09-28 15:23] hauck-jvsh opened #769 "Fragment number is not being saved in elasticsearch"
When the text extracted is split into several fragments, the fragment number is not being saved. This makes remounting the text content difficult.

[2021-09-28 16:35] tc-wleite commented on #769
Sorry, I misclicked in the close button.

[2021-09-29 11:36] #769 closed

[2021-10-03 22:50] lfcnassif commented on #763
Thanks @tc-wleite

[2021-10-03 22:50] #763 closed

[2021-10-04 22:02] lfcnassif opened #772 "Enable robustImageReading by default for faster E01 or APFS processing"
I thought about this many times in the past, because it results in faster E01 processing, using some more memory for external image reading processes (memory usage seems to have decreased in tsk-4.11.0). And now there is an APFS bottleneck in sleuthkit-4.11.0 that would be solved by this, see https://github.com/sepinf-inc/IPED/pull/771#issuecomment-932654787

[2021-10-05 14:42] lfcnassif opened #773 "Allow specifying multiple passwords for different evidences in command line"
Current -password parameter just allow one password to be specified.

[2021-10-07 15:32] lfcnassif opened #777 "New property to flag artifacts/reports generated by the tool"
Quoting https://github.com/sepinf-inc/IPED/pull/776#issuecomment-937320227:

Suggestions about the property name? is(Generated|Decoded|Created)(Artifact|Data|Info|Report)?

+1 for isDecodedData

[2021-10-07 15:44] lfcnassif commented on #777
Examples of artifacts/reports generated by the tool (most html):
- emails extracted from PST/OST
- chats from IM apps
- tables extracted from databases
- registry reports
- browser history reports
- UsnJournal report CSV

Should this flag be also applied to records extracted from databases like individual chat messages or browser history entries?

[2021-10-07 16:01] tc-wleite commented on #777
It seems reasonable to set this flag for these items.

[2021-10-07 16:04] lfcnassif commented on #777
Actually, many things are "decodedData", like blobs extracted from databases or subitems from zips, but those are actual files and the goal is to flag data that is not an actual file, still not 100% sure about the new property name...

[2021-10-07 19:37] #777 closed, assigned to lfcnassif

[2021-10-08 14:40] joao-fernando opened #778 "Change the default hash included in "Lista de Arquivos.csv""
Hello @lfcnassif .
As you are aware we are working on a database of ignorable and known files here on SEPINF.
Today almost everything processed by IPED generates MD5 hashes for all files.
Our database will rely on SHA-1 hashes.
So I'd like to ask you to **force** the default hash to SHA-1 always, even if the user doesn't want to, but keeping MD5 generation as well.
So the new "Lista de Arquivos.cs

[2021-10-09 19:42] lfcnassif commented on #538
I "think" this was finished. We can reopen if needed.

[2021-10-13 16:13] joao-fernando opened #782 "Allow the user to choose which properties will be included on FileListing.csv"
Hello everybody.

Maybe it would be a good idea to allow the user to define which properties he wants to include on FileListing.csv.

Or maybe making it possible to export only some properties after the case is processed.

Thank you.

[2021-10-13 18:33] lfcnassif opened #783 "Processing aborting due to MaxBytesLengthExceededException: bytes can be at most 32766 in length"
Stacktrace of v3.18.8 sent by user:
[code]

[2021-10-13 18:52] #758 closed

[2021-10-15 16:34] #783 closed, assigned to lfcnassif

[2021-10-16 13:52] lfcnassif opened #784 "Improve and rename persistentID to globalID"
This is an ID that doesn't change between different runs used when resuming processing to skip already processed items. It is built hashing different concatenated IDs: path, idInDataSource (eg. sleuthID, ad1ID, ufdrID), subitemId, parentContainerPersistentID.

Current name isn't intuitive. Although it is not unique across different cases (it is not an UUID), changing it to globalID seems more user

[2021-10-19 15:39] kraftdenker opened #785 "Exporting items to 0-length files"
Release 3.18.9
I detected an unsuccessful export of items in a scenario where a case has been processed in a Linux OS, and when analyzing and exporting in Windows OS, the  selected or maked files to export become 0ed length exported files.

[2021-10-19 22:07] lfcnassif opened #788 "Subitems of 2nd level containers may point to no parent when resuming processing"
Subitems IDs are not being reassigned to the IDs used before when resuming processing. If those subitems are containers and if a subset of their children were committed, those children' parentId will point to an invalid ID because now the parent container will use a new ID (not reassigned).

[2021-10-20 14:10] lfcnassif opened #790 "Disable indexing in Triage profile and search for keywords using the regex module"
This will make the index much smaller and the processing faster, using less memory and disk space in environments with limited resources, like crime scenes. Downside is that searches will be limited to the keywords configured before hand by the user, arbitrary searches won't be possible, but I think this is enough for most users.

[2021-10-20 14:10] kraftdenker commented on #785
Hello,
I mean the UI export files feature. In previous versions, when opening
processed case in Linux into windows, IPED detects different path of
evidence and offer a File Dialog to choose the right path. In v.3.18.9,
there is no file dialog opening the case. I guess that the problem's origin
is different path separator on different systems.

Am Di., 19. Okt. 2021 um 12:58 Uhr schrieb Luis Nassif

[2021-10-20 16:14] lfcnassif commented on #719
This was wrongly fixed.

[2021-10-20 17:50] #719 closed

[2021-10-20 17:57] lfcnassif opened #791 "2nd level containers could be deleted from case folder when resuming with --continue"
This is similar to #719 but happens with 2nd level containers > 16MB (stored in subitens folder, not in the sqlite containers), that were committed but are processed again because some of their children weren't committed.

[2021-10-20 18:00] #791 closed

[2021-10-20 19:59] lfcnassif opened #792 "Carved/Subitems may be added again to case when resuming processing with --continue"
Discovered this while testing #789. Not sure when this regression was introduced.

[2021-10-21 18:53] lfcnassif opened #793 "IllegalArgumentException: Unknown query type "org.apache.lucene.search.WildcardQuery" found in phrase query string XXX"
Regression in 3.18.9 introduced by #760. This causes the "Name" column to show an "Error" string when selecting certain regex results in MetadataPanel.

Seems ComplexPhraseQueryParser doesn't like simple WildcardQueries...

[2021-10-21 19:53] lzomatos opened #794 "Aborting NullPointerException from NamedEntityTask not fixed"
We detected this exception when try to process an UFDR file generated by Physical Analyzer 7.49.0.28 of an iOS device extraction.
We try with IPED 3.18.7 and 3.18.9 versions. The logs are available at:
[](https://bit.ly/3B3hdOF)

[2021-10-21 20:24] lfcnassif commented on #794
Thank you very much for the complete logs.

This is not related to WhatsApp chats. Seems this is the same issue as #329 (not fixed properly). A null metadata key is being stored in the metadata map by NamedEntityTask. But inspecting its code (and also Tika NamedEntityParser) I couldn't find where this is happening. Maybe some background (parsing) thread is changing the metadata object...

[2021-10-21 20:30] lfcnassif commented on #794
#329 has driven me crazy that time. If another dev could take a look and confirm NamedEntityTask and Tika's NamedEntityParser aren't storing null metadata keys, I would appreciate a lot.

[2021-10-21 20:51] lfcnassif commented on #794
How many times did you try 3.18.7 and 3.18.9? They always aborted with error? If you could provide the UFDR file privately, that would help a lot.

You can also try to disable enableNamedEntityRecogniton on 3.18.7/3.18.9, I think the issue is related with that option.

[2021-10-21 21:57] lfcnassif commented on #794
@tc-wleite, when you have some time available, if you could help me with this, I would appreciate a lot, this is very weird to me. I just can think about some parsing thread left behind changing the metadata object in parallel, but this may just happen when a parsing timeout is triggered, that should not occur with simple whatsapp individual messages...

[2021-10-21 22:49] tc-wleite commented on #794
Sure! I will take a closer look tomorrow.

[2021-10-22 14:26] lfcnassif opened #795 "Missing DLL in OfficeViewer could cause LibreOffice window to be detached from main GUI"
An user reported the LibreOffice window was being shown on top of application GUI, not embedded. Also sent the stacktrace below:
[code]
Opening nativeview.dll with a dependency walker, it depends on msvcr100.dll, that is not being distributed together. This affects all released versions on machines without that dll installed.

[2021-10-25 13:23] rafael844 opened #796 "Set gmt with default value"
Is there a way to set gmt -3 as default?
We receive lot of files with gmt-0.

[2021-10-26 11:17] #796 closed, assigned to nobody

[2021-10-26 13:24] #794 closed, assigned to lfcnassif

[2021-10-26 13:41] lfcnassif opened #798 "Allow users to change the timezone of dates displayed on GUI"
Currently all dates shown on table tab, metadata tab & viewer use UTC. Searches on date fields should be also adjusted to the selected timezone.

I don't know how to handle dates in reports generated by parsers, as those usually are static html generated previously while processing...

[2021-10-26 13:53] lfcnassif opened #799 "Just show "initial graph includes the most linked entities" message when the graph tab is selected"
I think displaying that message on UI start up is annoying for users that won't even use the graph feature.

[2021-10-26 16:25] lfcnassif opened #800 "Add support for multiple transcription results"
Depending on the library used (e.g. Vosk or Google Cloud), it is possible to get multiple transcription results with different scores, that could be stored in different metadata.

[2021-10-27 15:04] lfcnassif opened #801 "Investigate some parsers returning different Dates depending on environment timezone"
See https://github.com/sepinf-inc/IPED/pull/781#issuecomment-953019636

[2021-10-27 19:27] hauck-jvsh opened #802 "Add support to download and decode WhatsApp attachments"
WhatsApp attachments that were not present in the extraction may be recovered. On the msgstore database there is a link to the encrypted file and the key used to decode the file. As long as the file stills presented on the WhatsApp servers it is possible to download and decode them.

[2021-10-28 20:22] lfcnassif opened #803 "Allow CategoriesToExport.txt config to use non leaf categories"
Currently just leaf categories can be used. Depends on #552 refactoring.

[2021-10-28 21:18] fmpfeifer opened #805 "Processing aborted on carved file"
While procesing a huge case, IPED aborted with the following error:

[code]

I managed to get it going with the following patch:

[code]

As can be seen in the patch, it just extends the logic of ignoring a field to this new situation.
I'm not sure if it is the correct aproach to deal with this error, but it was enough to make the processing finish.

[2021-10-29 01:54] lfcnassif opened #806 "Processing error if evidence has dollar sign in the name"
Stacktrace:
[code]

[2021-10-29 02:14] lfcnassif opened #807 "Analysis UI rarely freezing in ViewerController (just in master)"
An user testing master kindly sent this thread dump after I asked for:
[iped_40_congelado_thread_dump.txt](https://github.com/sepinf-inc/IPED/files/7438340/iped_40_congelado_thread_dump.txt)

@tc-wleite I think the issue is the new ViewerController.reload() method being called from EDT before `init` boolean is set to true in finally block in constructor. This causes the `checkInit()` in `loadFile(

[2021-10-29 02:17] #806 closed, assigned to lfcnassif

[2021-10-29 14:28] lfcnassif opened #808 "New config option to set heap size used when creating reports from UI"
Currently the report creation from UI uses java default min/max heap size. In some environments with few memory (e.g. 8GB) users are not able to create reports from large cases because of OutOfMemoryErros resulted from limited heap sizes chosen by the JVM (e.g. 2GB).

We can set the min heap size to 4GB when creating report from UI, and also externalize an option in config files to allow changing

[2021-10-29 16:31] hugohmk opened #809 "Parse eMule part.met files"
eMule part.met files may present some useful data about incomplete p2p downloads (located in eMule's Temp folder), such as the file ed2k hash, uploaded bytes (tag 0x50), number of received file requests (0x51) and number of accepted file requests (0x52).
This information can be helpful in some cases where the known.met file is missing or has incomplete sharing data.

[2021-10-29 18:02] lfcnassif commented on #805
Please don't forget to check this, thank you.

[2021-10-29 18:20] tc-wleite commented on #807
I checked the related code here, and agree with your explanation.
I tried to force the concurrence with extra locks, but couldn't reproduce the issue.

It seems that the first option is better, but I am not sure how simple it would be to implement it.
Wouldn't be enough (at least for now) to make the second change and keep an eye on it?

[2021-10-29 18:43] lfcnassif commented on #807
This just happens in a specific SETEC/PR server, maybe some environment thing is affecting thread scheduling. I checked their logs, but I think no related errors are logged.

I thought in something like:
[code]
But I saw there are some UI components being changed in loadFile() method, I _think_ they should be changed in EDT. But most calls of loadFile(...) come from a worker thread started in File

[2021-10-29 18:51] lfcnassif commented on #807
I'll just wait feedback from user to confirm pushed commit fixes the issue before merging.

[2021-10-29 18:52] tc-wleite commented on #807
In this particular case, the dead lock happened when the case was opened, right?
Probably not related, but I noticed that the Java version is very old (1.8.0_121 if I interpreted the log correctly).

[2021-10-29 18:56] fmpfeifer commented on #805
image:JPEG Comment = java.util.Date

[2021-10-29 18:58] lfcnassif commented on #807
yes!

hum... good catch! This and other info could be logged in the analysis GUI log...

[2021-10-29 19:03] lfcnassif commented on #805
hum... this is very relevant info, thanks! Will do some tests...

[2021-10-29 19:13] fmpfeifer commented on #805
I agree. The code above is not a proposed solution. Just a dirty hack to get things done until it is fixed.

[2021-10-29 19:15] fmpfeifer commented on #805
will try the --continue next time. Thanks

[2021-10-29 19:18] fmpfeifer commented on #805
just an additional piece of info: I'm not able to reproduce the error with just the offending file, or even with the block of unallocated data where the file was carved from. The error is triggered only when the whole case is processed.
Maybe the metadata type "image:JPEG Comment = java.util.Date" you mentioned is being set by a file earlier in the processing pipeline?

[2021-10-29 19:22] kraftdenker commented on #785
Ok. Sorry, i ve been very busy. I ll test it asap and return you about.

[2021-10-29 19:45] kraftdenker commented on #785
I've just tested, but it cant start processing. I've used the same LocalConfig.txt that I've used with v. 3.18.9.
Im getting the following exception:
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.NoClassDefFoundError: dpf/sp/gpinf/indexer/util/IPEDException
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Clas

[2021-10-29 20:05] lfcnassif commented on #805
Yes, I was able to artificially reproduce this, thinking about a possible better solution...

[2021-10-29 20:15] lfcnassif commented on #785
Sorry, there is some issue with the remote CI builds producing not usable builds. Could you try to build and test this branch https://github.com/sepinf-inc/IPED/tree/%23785_fix locally?

[2021-10-29 23:40] lfcnassif commented on #785
I've just built that branch to help you testing. Just replace the compressed attached jar in 3.18.9 lib folder and please check if it works. I _think_ it should work with an already processed case.
[iped-engine-3.18.9.jar.zip](https://github.com/sepinf-inc/IPED/files/7445389/iped-engine-3.18.9.jar.zip)

[2021-10-30 00:04] lfcnassif commented on #805
This is similar to https://github.com/sepinf-inc/IPED/issues/571
But unlike numeric fields, detected date values are overriding the default configuration in metadataTypes.txt, this shouldn't be done. Actually this was intentional because that whole config file should be updated with the known Date fields, but this was a bad decision. That config should be respected, just unknown fields types shoul

[2021-10-30 12:01] tc-wleite opened #811 "Improve decoding of E-Mule known.met entry file names with diacritics"
This has been happening since this parser was implemented, many years ago.
Strings in known.met file are encoded using UTF-8 or ISO8859_1, with a BOM marker to identify when UTF-8 is used.
Although it works in many cases, some file names are not decoded properly, as the binary content does not match UTF-8 standard encoding.

An example: `Versão Acústica.mp3` is incorrectly decoded as `VersÃ£o AcÃº

[2021-10-30 12:23] hauck-jvsh commented on #248
Link present in the Vosk page to a project to train portuguese modelos.
https://github.com/falabrasil/kaldi-br

[2021-10-31 11:40] kraftdenker commented on #785
I've tested with SUCCESS today.
The jarlib was replaced with that one you provided.
The exports process worked after selecting the right windows-like path to
the data source after selecting the item.
Thanx 4 all effort. 👍

Am Fr., 29. Okt. 2021 um 20:40 Uhr schrieb Luis Nassif <
***@***.***>:

--
A.M

[2021-10-31 13:04] lfcnassif commented on #785
Thanks @kraftdenker for testing!

[2021-10-31 13:08] #785 closed

[2021-10-31 15:15] lfcnassif commented on #805
@fmpfeifer I pushed a better approach to handle corrupted metadata values to #805_fix_corrupted_metadata_values branch. Please test it with your large case when possible.

If it works, I'll think if it can be cherry picked to 3.18.x, because I had to update the metadataTypes.txt with Date properties and now that file is always respected for known types. Date types were not defined, so detected Dat

[2021-10-31 15:30] fmpfeifer commented on #805
Nice, will start the test this afternoon.

[2021-11-01 13:28] fmpfeifer commented on #805
Hi @lfcnassif, the processing finished here. It seems that everything went well.
The offending file was correctly indexed. No abort this time.
In conf/metadataTypes.txt, we have `image:JPEG Comment = java.lang.String`.

Thanks

[2021-11-01 14:56] #568 closed

[2021-11-01 14:57] lfcnassif commented on #805
Thanks @fmpfeifer, will leave this open until fixed in 3.18.x.

[2021-11-02 16:06] lfcnassif commented on #805
Cherry picked last fix to 3.18.x branch.

[2021-11-02 16:06] #805 closed

[2021-11-03 15:59] lfcnassif commented on #811
@tc-wleite I changed this to enhancement, since the used encoding seems to be not using any standard charset.

[2021-11-03 16:22] lfcnassif commented on #102
Just to document here, splitted/segmented images aren't supported for now and this was left as a future improvement.

[2021-11-03 16:26] #807 closed

[2021-11-03 16:57] lfcnassif commented on #811
closed by #818

[2021-11-03 16:57] #811 closed

[2021-11-03 16:58] lfcnassif commented on #807
User confirmed the proposed fix solved this, so I merged the it.

[2021-11-03 17:40] tc-wleite commented on #48
@lfcnassif, I started to work on this a few days ago and managed to validate the idea mentioned in https://github.com/sepinf-inc/IPED/issues/679#issuecomment-892283800.

The basic concept is that it will change LAF (Look and Feel) font size and scale all other controls accordingly, during the application startup.
There are still many details to be adjusted (e.g. panels with absolute layout, icons)

[2021-11-03 18:44] ronaldorcosta commented on #622
It would be useful to have a mechanism to allow the application to be started preferably with the built-in java. Something like:
IPED-Search.app.exe -java built-in

This would allow a case delivered on a fast media to be self-contained.

[2021-11-03 22:05] lfcnassif commented on #772
This is causing some SleuthkitServer exceptions in log on master, will investigate tomorrow.

[2021-11-03 22:14] #803 closed

[2021-11-03 22:25] lfcnassif commented on #809
closed by #814

[2021-11-03 22:25] #809 closed

[2021-11-03 22:33] lfcnassif commented on #48
Sorry about that.

I'm fine with this.

I'm fine with this too, since it would be uncommon as you pointed out, and I think this issue shouldn't spend too many efforts.

[2021-11-03 22:52] tc-wleite commented on #48
Not a problem! I also used that in some places...

Thanks for the reply!
To summarize my previous (too long) explanation, the feature will be "static" but the visual result should be better (and hopefully more useful) than what we have today.

[2021-11-03 23:11] lfcnassif commented on #807
Just un update, user updated java version on server and previous code worked fine. But I think the code is safer now.

[2021-11-04 16:40] lfcnassif opened #819 "SleuthkitServer starting eventually fails due to same temp dir being used by multiple processes"
Relevant log excerpt:
[code]

This was uncovered by #772, but also happens with 3.18.x versions. A long ago I detected the same Sleuthkit dynamic DLL can't be used by multiple processes at the same time (strangely). So each SleuthkitServer tries to use its own dll in its own temp dir, but sometimes they are using the same temp dir. This isn't a real problem because SleuthkitServer starting is retr

[2021-11-04 16:42] lfcnassif commented on #772
Opened #819 to fix the uncovered issue.

[2021-11-04 16:42] #772 closed

[2021-11-04 16:45] #819 closed

[2021-11-05 03:30] lfcnassif commented on #48
@tc-wleite just to don't forget, do you know anything about this?

[2021-11-05 04:27] tc-wleite commented on #48
Yes, JEP 263 introduced in Java 9.
I tried other Swing applications in the past in my high resolution monitor.
But that is a good observation!
I will give a try with IPED tomorrow.
Depending on the results, maybe a simpler solution is possible (still allowing to increase/decrease fonts), or even just close this and wait for Java 9 support.

[2021-11-05 14:04] tc-wleite commented on #48
I ran several tests with JREs >= 9.
The results are very good (especially texts), much better than the simple upscaling solution available for Java 8.
In my 4K large monitor, fonts are a bit larger than I would like.

Running the new version (in which font size can be set), the results were similar, slightly better on icons and in some controls texts.
Looking very closely, the auto scaled version

[2021-11-05 15:40] tc-wleite opened #821 "Exception when opening an item processed as a single file (master only)"
After processing a single file, not a folder, using `-d /path/to/file.ext`, when I open the analysis application and try to view its contents, I am getting the following exception:

[code]

I tested with 3.18.9, and it worked fine, so I believe this seems to be a regression.

Adding `if (pathSuffix.getNameCount() > 1)` before `pathSuffix = pathSuffix.subpath(1, pathSuffix.getNameCount());` in `Ind

[2021-11-05 17:16] lfcnassif commented on #821
Thanks @tc-wleite this seems to be a recent regression caused by #785. That check was there before but I couldn't remember why, seems you've found it :-)

[2021-11-05 19:53] rafael844 opened #822 "error on --continue task"
Hi,
We are trying to continue the process of a report that got error, but we cant. Is it possible to continue processing a report (after the .iped) or only the E01 file?
[parte_primeiro_log.txt](https://github.com/sepinf-inc/IPED/files/7488638/parte_primeiro_log.txt)
[IPED-2021-11-05-17-03-20.log](https://github.com/sepinf-inc/IPED/files/7488672/IPED-2021-11-05-17-03-20.log)

[2021-11-05 21:06] lfcnassif commented on #822
This was possibly fixed on 3.18.9:
https://github.com/sepinf-inc/IPED/blob/master/ReleaseNotes.txt#L86

Please try to update your version.

[2021-11-07 11:59] lfcnassif commented on #822
PS: you can use 3.18.9 to create a report from 3.18.7 case.

[2021-11-07 22:31] tc-wleite commented on #48
Worked a bit more on this, and I would like to update the pros and cons I posted before.

I realized another important disadvantage of the dpi-aware approach:

- Visual controls that are "inside" libraries used by IPED may be hard to be scaled. Some of them do not provide a method to access such things. It is possible to use reflection to overcome that in most of the cases I have seen so far, but

[2021-11-08 12:05] #821 closed

[2021-11-08 12:24] lfcnassif commented on #48
Thank you very much @tc-wleite for all your work on this! I completely agree with your last proposals, all of them. Updating to java 11 seems a good idea since it's LTS (I think java 17 will be much harder since they removed some components, deprecated APIs and Unsafe access). Some weeks ago I took a quick look at #205, uncommented some printstacktrace() in LibreOfficeViewer code but no error is p

[2021-11-08 12:53] lfcnassif commented on #102
I'm reopening this to implement splited image support, shouldn't be hard. The only disadvantage is that all embedded disks should be sent to second processing queue to allow finding image parts.

[2021-11-08 13:25] tc-wleite commented on #48
Thanks for the reply @lfcnassif!
I will start working on moving the minor UI improvements to a specific branch.

[2021-11-08 14:23] tc-wleite opened #823 "Minor GUI improvements"
As discussed in https://github.com/sepinf-inc/IPED/issues/48#issuecomment-962692743, while working on #48 I made a few minor improvements related to user interface code.
As #48 will be closed without being implemented, I am moving here these minor changes.
Some of the changes are just "internal" (code).

[2021-11-08 23:13] lfcnassif opened #825 "Upgrade LIBVMDK to support splitted and differential images"
Latest libvmdk-alpha-20210807 version allows to process splitted VMDK images.

[2021-11-09 00:14] tc-wleite commented on #823
1. ThemeManager: Remove duplicated code (was saving theme twice).
2. HexViewer: Remove the (now unused) old HexViewer code to avoid confusion.
3. HexViewerPlus: Set the owner of dialogs.
4. HexViewerPlus: Make dialogs not resizable, as they use absolute layout.
5. MetadataPanel: Avoid using absolute layout for labels.
6. BookmarksManager (GerenciadorMarcadores): Fix "update comment" button width.

[2021-11-09 01:31] tc-wleite commented on #679
As discussed in #48, this feature will be removed.
Instead, Java uiScale wil be used, when full support to Java newer versions (>= 9) is added.

[2021-11-09 01:31] #679 closed

[2021-11-09 01:33] tc-wleite commented on #48
As discussed here, this feature will not be implemented.
Instead, Java automatic scaling will be used, when full support to Java newer versions (>= 9) is added.

[2021-11-09 01:33] #48 closed

[2021-11-09 01:38] lfcnassif opened #827 "Upgrade to java 11 LTS"
As discussed in #48. Known issues to be addressed so far:
- #478
- #205

[2021-11-09 02:14] tc-wleite commented on #827
Another issue is that JavaFX was removed from the Java JDK, right?
Fortunately, moving to https://openjfx.io/ seems to be straightforward.

[2021-11-09 02:46] lfcnassif commented on #827
I've also used https://bell-sw.com/pages/downloads/ (Full JRE, not Standard) with success.

[2021-11-09 17:59] lfcnassif commented on #823
Closed by #826, thanks @tc-wleite.

[2021-11-09 17:59] #823 closed

[2021-11-09 18:01] lfcnassif commented on #697
@patrickdalla did you have a chance to look at this?

[2021-11-09 20:32] tc-wleite commented on #205
This was tricky, but I think I found what is going on (and a possible solution).

I tried to add several tracing messages, made many attempts to invalidate, repaint, layout etc., but what finally helped was to create a standalone application to use the LibreOfficeViewer. Surprisingly, it worked fine with Java 11...
My next step was to create a new JFrame inside IPED application, and add the "noaPa

[2021-11-09 22:15] lfcnassif commented on #205
Great! Thank you @tc-wleite! Upgrading docking-frames to 1.1.2 worked fine here with Liberica OpenJDK 11.0.13, Liberica 1.8.0_302 and the old embedded Oracle 1.8.0_152.

Will upload docking-frames 1.1.2 to iped repo and test the changes on Linux before merging.

[2021-11-10 02:13] thmme opened #830 "insufficient memory"
Dear all,

I have a issue to processing a .E01 file using the version iped-3.18.9.

the processing not started and show a message error "insufficient memory available: below 200MB.... increase heap memory with -Xmx java option or decrease 'numthreads' in advanced configuration.

I tried several ways to set the file AdvancedConfig.txt, but did not work well.

PC settings: 8 Gbytes RAM.

Regards,

T

[2021-11-10 02:19] tc-wleite commented on #830
How many cores are being used?
Check if you are using a 64-bit JRE.
I think the number of processing threads used can be changed in LocalConfig.txt.

[2021-11-10 02:25] tc-wleite commented on #830
There are other tips that should help in Discussions:
https://github.com/sepinf-inc/IPED/wiki/Performance-Tips

[2021-11-10 03:04] lfcnassif commented on #830
This message should be updated as Wladimir pointed out.

Maybe using
java -Xms4G -Xmx4G -jar iped.jar...
together could help.

[2021-11-10 16:13] lfcnassif commented on #830
I'm moving this to discussions

[2021-11-10 16:13] #830 closed

[2021-11-10 16:14] lfcnassif commented on #822
Please reopen if the error happens in 3.18.9

[2021-11-10 16:14] #822 closed

[2021-11-10 17:17] lfcnassif commented on #205
closed by #829

[2021-11-10 17:17] #205 closed

[2021-11-10 17:18] lfcnassif commented on #205
Thank you @tc-wleite for debugging this, should have taken from you some time.

[2021-11-11 13:34] fabriciossouza13 commented on #12
Boa tarde.

Estou tentando realizar o import do NSRL para o IPED 4.0.0 e, ao que parece, não há o parâmetro -importkff nesta versão. Executei o comando iped.exe --help e não vi o parâmetro disponível.

Como poderia realizar este import?

[2021-11-11 13:43] fabriciossouza13 opened #832 "Importkff IPED 4.0.0"
Boa tarde.

Estou tentando realizar a importação do NSRL para o IPED 4.0.0 e, ao que parece, não há o parâmetro -importkff nesta versão. Executei o comando iped.exe --ajuda e não vi o parâmetro disponível.

Como poderia realizar esta importação?

[2021-11-11 13:47] tc-wleite commented on #832
In 4.0.0 hashes are handled in a different way.
There is a short document describing but it is not available on the project's Wiki yet.

Try running `java -jar lib/hashdb.jar`.

[2021-11-11 13:50] tc-wleite commented on #832
@lfcnassif, can I try creating a Wiki page explaining how to deal with hashes in 4.x? (Highlighting that is for the new version only).
Or is it better to wait until the new version is released?

[2021-11-11 13:53] fabriciossouza13 commented on #832
Vou tentar este comando. Contudo, no wiki recomenda a utilização do importkff.

[2021-11-11 14:05] tc-wleite commented on #832
Yes, the new way is not in the Wiki.

[2021-11-11 14:08] fabriciossouza13 commented on #832
O comando na versão 4.0.0 é: java -jar lib/iped-hashdb.jar -d "caminho do NSRLFile.txt" -o "caminho para gerar o db"

[2021-11-11 14:15] #832 closed

[2021-11-11 17:34] fabriciossouza13 opened #834 "Multicases IPED 4.0.0"
Boa tarde.

Estou utilizando o IPED 4.0.0 e processei cerca de 39 pendrives. Para analisar de forma mais prática tentei utilizar a função multicases com a seguinte linha de comando: "java -jar lib/iped-search-app.jar -multicases local_dos_pendrives_processados". Contudo, estou recebendo um erro que não estou conseguindo identificar qual o real problema.

2021-11-11 14:23:11	[INFO]	[indexer.desktop

[2021-11-11 17:57] lfcnassif commented on #834
I just tested from last commit on master and report creation from a multicase worked fine. From what commit did you compile from? Since 4.0.0 was not released yet, this info is needed, otherwise posting your stacktrace would be useless, I don't know what point in time version you are using. But, I "guess" the folder [case]/indexador/tools/tsk/x64 doesn't exist in your main case (used to open the m

[2021-11-11 19:42] lfcnassif opened #835 "Race condition in CategoryConfig could result in items without category (just in master)"
Just detected 1 item in a recent test left with no category, this shouldn't happen. Will fix shortly.

[2021-11-11 19:45] #835 closed

[2021-11-11 20:03] lfcnassif commented on #478
Surprisingly, the graph module is working on java 11 with master and 3.18.9, at processing and analysis time, I don't know when this was fixed (maybe before the graph module release). So I'm closing this.

[2021-11-11 20:03] #478 closed

[2021-11-12 19:57] lfcnassif commented on #827
I just processed a medium 2 million size case with both java8 and java11. There are about 26% more parsing exceptions with java11 and the number of generated image thumbs were a bit lower, will take a closer look next week.

[2021-11-16 20:06] lfcnassif commented on #834
Please reopen if you are able to reproduce after compiling from last commit on master using `mvn clean install`. Also please provide a step by step to reproduce this.

[2021-11-16 20:06] #834 closed

[2021-11-16 23:01] lfcnassif commented on #827
Update: all new parsing exceptions came from partial PNG files, previously parsed fine by JDK8 PNGImageReader. I still was not able to isolate the specific PNGImageReader change that caused this in java 11, but using JDK8 PNGImageReader as a SPI plugin fixed the regression for all inspected files. Just started the full test again.

About thumbs not generated, most of them are PNGs, possibly affect