[2022-10-07 17:44] lfcnassif commented on #281
Unfortunately this is not possible today, an API for this is planned to be created and implemented on https://github.com/sepinf-inc/IPED/issues/1185.
Using the deprecated method, the returned item was already sent to processing queue and could have been indexed depending on thread scheduling, so changing its properties could have no effect at all...

[2022-10-09 19:58] lfcnassif opened #1358 "OutOfMemoryError caused by processing queue growing too much"
Before Python modules were introduced, container expansion used to decide if subitems would be processed immediately in parsing thread or sent to processing queue based on queue size. When python modules were introduced, because of issues with JEP being called from different threads, the logic was changed to always enqueue subitems. The queue was left unbounded, because limiting its size could cau

[2022-10-09 23:19] tc-wleite opened #1359 "Add icons for mime types and option to change size"
This is a minor enhancement, adding two other features discussed in #1291:

- Support setting icons for mime types, in addition to the already implemented association between extensions and icons.
- Allow the user to change the size of icons used for categories.

[2022-10-10 12:25] patrickdalla commented on #281
Does any IPED module already use any Expression Language parser? I ask this so I could use the same and not include a new one.
For the "ExtraProperties.LINKED_ITEMS", as its value is a lucene query, I need to make a transformation of a bean property (or more than one) to the query value. I tried with Spring Expressoin Language (SpEL) and it worked.

I have created a method for transformation regis

[2022-10-10 13:52] lfcnassif commented on #1358
Just saw a comment in ParsingTask code remembering that if items are processed immediately and if externalParsing = true, that could cause a deadlock: we start a fixed number of external parsing processes and if all of them are expanding ZIPs, there will be no external process available to parse the zip subitems immediately, then zip expansion will block... So if externalParsing is enabled, items

[2022-10-10 13:59] patrickdalla commented on #281
@tc-wleite
I pushed the recent Spring EL support. It populated the properties values on the linked items accordingly. But I could not check on the test case you gave me if the links were really effective because I don't have the corresponding files.

Don't you, or anyone else (@lfcnassif , @fmpfeifer ), have test cases with the shared files also to share with me. Ideally no CSAM cases.

I tryed to

[2022-10-10 14:12] tc-wleite commented on #281
I can try finding some corresponding files here.
I need to finish another task today, probably will be able to look into this tomorrow.

[2022-10-10 14:50] lfcnassif commented on #281
AFAIK no.

That's the size of this new dependency?

Sure! I can send you tomorrow afternoon when I'm back to work.

[2022-10-10 17:27] patrickdalla commented on #281
According to the repository https://mvnrepository.com/artifact/org.springframework/spring-expression/5.3.23 it has 282k.

[2022-10-10 17:48] tc-wleite commented on #281
I just uploaded to our server a sample with ~1400 files (~13 GB) that should match records in the P2P samples I sent you last week. Unfortunately, most are CSAM. Password to open the 7z was sent privately.

[2022-10-11 07:08] patrickdalla commented on #1355
If C is met example:

In sequence:
1 - "A" will be postponed to the last queue, as C is not met.
2 - "B" will be postponed as "A" didn't finished.
3 - Next try to process "A" will be postponed again, now to the last
position of the last queue. This will be the last postpone.
5 - Process "D" makes the changes to attend C condition.
4 - Next try to process "B" will be postponed again, now to the las

[2022-10-11 07:43] patrickdalla commented on #1222
no problem in let this feature to next release.

Well, the string manipulation that is made is parsing these string formated
dates. Maybe it is not so relevant in performance. But is a work that could
be done at index time.

Em ter., 12 de jul. de 2022 21:41, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-10-11 12:06] lfcnassif commented on #1222
I still plan to profile this.

[2022-10-11 13:01] lfcnassif commented on #1355
I still think this may not work if B is seen before A and because items in the same queue could be processed concurrently.

[2022-10-11 13:04] lfcnassif commented on #1355
I suggest leaving this as a future improvement for when it is really needed and when current approach is not enough to implement something.

[2022-10-11 13:07] lfcnassif commented on #1358
Temp dir usage could also grow a lot (bad for triage Linux distribution). If someone has a better idea, please let me know.

[2022-10-11 13:07] patrickdalla commented on #1355
Right. I agree.

Il giorno mar 11 ott 2022 alle ore 09:04 Luis Filipe Nassif <
***@***.***> ha scritto:

[2022-10-11 21:04] lfcnassif commented on #1358
Actually, this temp dir usage growth won't be an issue with the default Triage profile, since containers expansion and enableExternalParsing are both disabled, so the processing queue will obey its soft max limit of 100K items. So will try the on disk processing queue approach, possibly I'll have to change Item class a bit to make it serializable.

[2022-10-11 22:09] lfcnassif opened #1364 "OutOfMemoryError caused by excessive memory consumption by FQLite library"
Analyzing another heap dump sent by an user, FQLite library is using ~21GB of memory to undelete data from 7 msgstore.db files, here is an excerpt:
![image](https://user-images.githubusercontent.com/7276994/195206878-cde97200-0388-45c6-99b3-4296bf9556e8.png)

I'm asking for the triggering files to the user. @fmpfeifer, if I succeed to get the samples, since you know a lot about FQLite code, could

[2022-10-12 10:34] patrickdalla commented on #1358
I suggest implementing subitens prioritization. So when expansion starts
subitems would be selected first to be processed, avoid also other
containers processing starting.

that maybe is not enough to avoid some concurrent situations, like when
many container processing starts simultaneously. But at least it avoids it
and the queue growth.

To avoid the simultaneous multiple container expansion st

[2022-10-12 13:13] lfcnassif commented on #1358
Thanks @patrickdalla for your thoughts. I had a similar idea yesterday. Subitems are already prioritized and put into queue head. Maybe the number of simultaneous container expansion could be limited to half the number of parsing threads/processes, re-enqueing other containers like you suggested (maybe on queue tail to try to avoid some re-enqueueing loop). I think sequential container expansion i

[2022-10-12 16:33] patrickdalla commented on #1358
Maybe keeping subcontainers processing in the same container parent worker
thread can be a solution to the cases of container inside other containers.

Em qua., 12 de out. de 2022 09:13, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-10-12 21:28] tc-wleite opened #1365 "Minor UI glitch in similar image search panel"
I noticed a while ago two really minor glitches in the analysis tool user interface.
They depend on the screen resolution and most users won't even notice them.
Anyway, I would like to fix them.

[2022-10-12 21:31] tc-wleite commented on #1365
When a search for similar images is made, the UI presents a small panel with the reference image thumbnail.
The red borders look odd and there is a small part of the image drawn outside the borders.

![similarity-odd-borders](https://user-images.githubusercontent.com/7217001/195451307-c9ada4a9-ef0c-4273-8ae9-b9f3a6ca283a.png)

[2022-10-12 21:36] tc-wleite commented on #1365
In hexadecimal viewer, depending on the screen resolution and the font size used, the vertical line (between the raw hexadecimal values and the corresponding characters) is drawn in the wrong place.

![hvp](https://user-images.githubusercontent.com/7217001/195452137-4e6cf2b2-05e9-4255-806f-8c102c244092.png)

And for some font sizes, characters are drawn out of place, sometimes overlapping other ch

[2022-10-13 00:26] tc-wleite commented on #1365
Unfortunately, the glitches in the hexadecimal viewer are inside library code.
We are using version 0.1.3 of the library, and it seems that the latest stable version is 0.2.1 (or 0.2.0 or 0.2.2).
However, it is not simple to update, as there were major refactors, and many classes and methods were renamed, chagend or even removed.

Testing with two other configurations (different resolution, JRE an

[2022-10-13 09:58] patrickdalla commented on #1358
Some thoughts:

- Maybe limiting 1 container parsing at a time does not create such a
considerable bottleneck, as the subitems are processed in other worker
threads. When the container processing ends, it releases the "semaphore" so
other containers can enter in the processing pool even if subitems
processing hasn't finished.
- In fact, you could see such containers as datasources to extract items

[2022-10-13 11:37] patrickdalla commented on #281
Some doubts about timezone identification of LocalTime values:

- In multiple evidence processing, each evidence can have a corresponding different timezone configured.
- Timezone configured cannot be the one configured when the fact represented by the date value occurred.

The first one problem can be solved by identifying path similarities. But the last one?

Does anyone foresee some inconsisten

[2022-10-13 11:53] patrickdalla commented on #281
How could we "alert" the user that the information is inferred and may be not so reliable.
How could we give the user the opportunity to correct this information for a specific item once he identifies some inconsistency and the correct timezone?

[2022-10-13 12:01] patrickdalla commented on #1358
Well, thinking better, this semaphore could be a greater permit number than 1. What we would need not to block all the workers, in the case of QUEUE mas length limiting, is at least 1 worker thread processing noncontainers subitems.

[2022-10-13 12:12] tc-wleite opened #1368 "User interface scaling is not working (in some environments)"
I guess as a side effect of other change, user interface scaling (#900) stopped to work.
The scale factor is simply ignored in the analysis app.
It is still working in the processing UI.

I made a few code changes trying to fix this, but no success so far.

[2022-10-13 12:24] adulau opened #1369 "Supporting the hashlookup.io hashset"
It could be nice to support the [hashlookup.io](https://hashlookup.io) which includes a public API and also a Bloomfilter. It contains NSRL and much more sources too.

[2022-10-13 12:35] lfcnassif commented on #1369
Hi @adulau, thanks for pointing it to us. Could you specify which sources are available today? I couldn't find them easily.

[2022-10-13 12:39] tc-wleite opened #1370 "Create categories for other types extracted from UFDRs"
When processing UFDRs, there are a few categories that stay with their "raw name".
This is an expected behavior, as there are too many possible categories and new ones may be created in new releases of Cellebrite tools.
Nevertheless, we can handle the most common categories already known, giving a proper name and translation, adding an icon, and in some cases grouping them:

- activitysensordata
-

[2022-10-13 14:49] tc-wleite commented on #1368
That is what I guessed too. Maybe it is related, but looking at the code it seems fine.
I tried to move the code that sets the scale to other places, but no luck.
Maybe it something else, as processing UI also used 2 phase bootstrap, right?!
Anyway, this is just a minor feature.

[2022-10-13 15:41] lfcnassif commented on #1368
yes

[2022-10-13 15:51] mobab-th opened #1371 "Search for Vendors and Products Identifiers for Hardware Wallets"
Search for Vendors and Products Identifiers for Hardware Wallets used on a system.
Could Regular Expression search task used for?
See https://github.com/INTERPOL-Innovation-Centre/HardwareWallets_DF_List

[2022-10-13 15:53] lfcnassif commented on #1369
Are these https://www.circl.lu/services/hashlookup/ ?

[2022-10-13 17:13] lfcnassif commented on #1365
Hi @tc-wleite, I didn't manage to reproduce this. Are you using a 4K resolution monitor? Or changed some configuration?

[2022-10-13 17:14] lfcnassif commented on #1365
Just read this, I'll try with some resolutions.

[2022-10-13 17:32] tc-wleite commented on #1365
Yes, it depends on the used resolution (screen dimensions and pixel density).
In my laptop I can't notice the same effect.
I didn't change anything recently, but I guess the behavior is present (in my PC) since we starting using Java 11. There is "some" level of scaling (fonts and other things are a bit larger than in Java 8) in my resolution.

I would like to point out that the new border paintin

[2022-10-13 17:32] lfcnassif commented on #1371
I think so, but looking at the patterns, I think they could bring tons of false positives, since the Regex Task today runs on every case item, like unknown files, unallocated and slacks. Maybe a specific task to lookup specific places, like registry files and EVT logs, would be better.

[2022-10-13 18:04] patrickdalla commented on #281
Well, I've made the following implementations:
- RegistryParser by default does not extract subitems. This can be achieved configuring parser parameter.
- RegistryParser loads the registry files in a caseData SystemRegistry class object, so other parsers can consult this registries.
- The methods for getting the registry files search for the corresponding registry file with same path start, as mul

[2022-10-13 18:24] lfcnassif commented on #281
The whole decoded registries hive trees are being stored? Just to confirm, this doesn't use too much memory, right?

[2022-10-13 18:31] lfcnassif commented on #1365
Fixed by #1366

[2022-10-13 18:31] #1365 closed

[2022-10-13 19:07] tc-wleite commented on #1368
That is great! It is probably something in my local environment. I will try to figure what is going on...

I thought about this, but I reseted the configuration file, hard coded the setting (in different places), used different JVMs, and none of these attempts helped.

[2022-10-13 21:33] adulau commented on #1369
Yes it is

[2022-10-13 21:49] patrickdalla commented on #281
Yes it use. we can keep it out as the main info for now was timezone and it
is stored individually after consulting the registry. Tomorrow i will try
to parameterize this. Maybe to load only preconfigured keys.

Em qui., 13 de out. de 2022 14:24, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-10-13 21:59] patrickdalla commented on #281
There is already a config file for the original parsing method that would
filter only selected keys. this can be used also for what would be kept in
memory for other parsers to consult.
But for now you could simply leave it out.

Em qui., 13 de out. de 2022 17:49, Patrick Bernardina <
***@***.***> escreveu:

[2022-10-13 22:13] lfcnassif commented on #281
Another approach would be to save parsing results as metadata, then later parsers could search for the first parsed item and its metadata results to use when parsing other file, like some parsers do. But since timezone info is very important and could be reused by a number of parsers, I think it makes sense to save it globally and share it by default using ParseContext, as I originally suggested.

[2022-10-13 22:40] lfcnassif commented on #1359
Closed by #1360

[2022-10-13 22:40] #1359 closed

[2022-10-13 22:49] rafael844 commented on #1183
IPED could have a flag/bookmark so you could generate your bookmarks.iped and set flags in files you want to transcript, then run it to generate your report.
Or just flag files you want to transcript and reprocess only those files (and update chats). I dont know if IPED could do it incremental.

[2022-10-13 23:19] lfcnassif commented on #1183
You might enable transcription before generating the report, so it will run just on bookmarked audios sent to report. Chats won't be updated, since this use case was not the original goal of the feature. There are some challenges I already described in #696. If you could help, contributions are very welcome.

This depends on the non trivial #24.

[2022-10-14 00:21] lfcnassif opened #1374 "Vulnerability in Apache Commons Text 1.8 dependency"
I'm not sure if it affects us, but since CVE-2022-42889 is a about a possible RCE, it's safer to upgrade the library.

[2022-10-14 00:28] #1374 closed

[2022-10-14 01:25] lfcnassif commented on #281
It depends on spring-core-5.3.23 that is 1.4MB, but I think it is ok.

[2022-10-14 02:12] lfcnassif opened #1377 "Try to load scripts first from profiles/X/scripts/tasks then from root scripts/tasks folder"
Asked by an user, so he could put his scripts into his profiles, easing migration to newer versions.

[2022-10-14 02:14] #1377 closed

[2022-10-14 12:19] tc-wleite opened #1378 "Faster WEBP images rendering using a Java ImageIO plugin"
Similar to #562, but for WEBP images.
I tested this about 1.5 year ago, when Twelve Monkeys library started supporting WEBP format, but the results weren't good, comparing to the external conversion we currently use (ImageMagick).

In the latest releases of the library, it seems that WEBP support has improved a lot.

We already use this library for PSDs, so it will only require one extra jar (spec

[2022-10-14 12:33] lfcnassif commented on #1378
Thank you @tc-wleite! I agree to add the plugin.

Out of curiosity, have you compared some of the thumbnails generated by both approaches to see if they agree? (I know this is a difficult manual task...)

[2022-10-14 12:41] tc-wleite commented on #1378
Yes, I opened both processed cases in the gallery, and made a quick visual comparison. Results seem identical.
But as you said, this is manual and I covered just a small part of the samples I have.

I will try to run an automatic comparison. This could be useful in other situations.

[2022-10-14 12:43] lfcnassif commented on #1378
Great! Don't worry, it was just a curiosity, please go ahead with this.

[2022-10-14 14:32] thiagofuer opened #1379 "DBX parser not working"
I'm not getting to decode DBX files on IPED4.0.1
Analyzing IPED-SearchApp.log file i found a error line about DBX parser:
"2022-10-14 09:52:47	[WARN]	[parsers.mail.OutlookDBXParser]			DBX parser not found, DBX mailboxes will NOT be expanded."
so my dbx files can`t be decode.
On IPED3 everything works fine.

Local config file:
![image](https://user-images.githubusercontent.com/1029909/195871649-3bb

[2022-10-14 15:01] lfcnassif commented on #1379
Did you keep the plugin folder side by side with iped 4.0 folder? This warning is expected, including in version 3.x, since the plugin is not copied to case folder, because it would be useless, DBX are expanded while processing. I would need your processing log, not the analysis one, to see possible issues with DBX parsing.

[2022-10-14 15:11] tc-wleite commented on #1378
I ran the automatic comparison here.
It compares all thumbs from two cases and outputs the "top" N hashes, with the largest pixel-to-pixel differences.
I paste this list of hashes in both cases, and then it is much easier to visually compare the smaller subset.

Anyway, results are very similar.
The visible differences affect less than 0.1% of the WEBPs and have two main causes:

- In some cases t

[2022-10-14 16:02] lfcnassif commented on #1379
I can't reproduce, parsing my local DBX samples works with latest 4.0.5.

[2022-10-14 16:18] thiagofuer commented on #1379
Yes, the plugin folder is side by side with iped folder. i will try to reproduce on iped 4.0.5

[2022-10-14 17:05] lfcnassif commented on #1379
4.0.1 also works fine here. I think there is something wrong with your "installation". If not, I need a triggering DBX sample to reproduce locally.

[2022-10-14 18:12] thiagofuer commented on #1379
Same result on iped 4.0.5
![image](https://user-images.githubusercontent.com/1029909/195912730-36bfb871-f495-4ad3-a672-2f1e257b31ec.png)
i will sent proccess log by email

[2022-10-14 18:13] thiagofuer commented on #1379
Same result on iped 4.0.5
![image](https://user-images.githubusercontent.com/1029909/195913590-e976234a-6934-4083-ad0d-6856fbc7db86.png)
i will sent proccess log by email

[2022-10-14 19:07] tc-wleite commented on #1378
Well, I am glad I tested with PSD files...

Updating **PSD** plugin from 3.7.0 to **3.8.3** made thumbnail generation process ~2.5x slower and the number of fails (files not handled by the "internal read") increased by about 5%.

Testing with **3.8.2**, **PSD** results are fine (similar speed and slightly better results comparing to 3.7.0), but WEBP started to have a dangerous kind of fail (about

[2022-10-14 19:47] lfcnassif commented on #1378
Thank you very much @tc-wleite for all your tests!

Updating dependencies, even with binary compatibilities, is not an easy task as many could think... Particularly, updating Tika is always a nightmare, as it brings hundreds of dependencies together...

[2022-10-14 20:24] lfcnassif commented on #1379
Thank you @thiagofuer for the logs sent privately. In one of them, there is:
`2022-10-14 14:05:23 [WARN] [parsers.standard.StandardParser] ParsingThread-0 Parsing exception: Caixa de entrada.dbx (6613716 bytes) java.nio.file.NoSuchFileException: E:\teste.txt`

I checked the plugin code, and there is no such reference, in any commit from history. Then I found this file in my E: drive. Deleting it,

[2022-10-14 20:39] thiagofuer commented on #1379
kkk that's happens with all programers...
Thanks for your help!!

[2022-10-14 21:32] tc-wleite commented on #1368
I tested last night in my home PC (a fresh IPED 4.0.5 install), and the UI scaling didn't work, neither in the analysis UI nor in the processing UI.

I just asked two colleagues here to test in their machines, and scaling worked in the processing UI, but failed (setting was ignored) in the analysis UI.

That is pretty odd! I couldn't come up with any conclusion so far. I will try to investigate a

[2022-10-14 21:33] lfcnassif commented on #1379
Different from commercial and some other open source tools, this project tries to be 100% transparent to the user and report everything in the release notes, so I put here a detailed explanation about my fault. I think this is important for transparency, reproducibility and auditability of results.

[2022-10-14 21:35] lfcnassif commented on #1368
For sure!

[2022-10-14 21:48] #1379 closed

[2022-10-14 21:51] lfcnassif commented on #1379
If you could test, you can find a fixed plugin version here:
https://gitlab.com/iped-project/iped-maven/-/blob/master/net/sf/java-dbx/1.1-p6/java-dbx-1.1-p6.jar

Remove the previous 1.1-p5 version from your plugin folder when putting the new one.

[2022-10-14 22:05] thiagofuer commented on #1379
It works very well
Thanks for your support
![image](https://user-images.githubusercontent.com/1029909/195950522-ba8edb9a-89b5-4a8c-968c-a57f9c825993.png)

[2022-10-15 02:54] tc-wleite commented on #1378
That is true! Even this PR, which is trivial, had some pitfalls, and it was related to a library with a very specific usage in IPED project, without dependencies to other libraries.

[2022-10-15 12:01] lfcnassif commented on #1378
Closed by #1380.

[2022-10-15 12:01] #1378 closed

[2022-10-15 18:21] tc-wleite opened #1381 "Sometimes autocomplete (TAB) does not find certain properties"
I was testing a case in English, and basic properties like "name" and "size" were not found when I pressed TAB in the search field.
It seems that the behavior depends on which properties are loaded in the case.

Analysing the issue, it looks like multiple (at least two) `AutoCompleteColumns` instances are created, and they are conflicting.

[2022-10-15 19:16] tc-wleite opened #1383 "Render ICO files"
Currently ICO files (image/vnd.microsoft.icon) are not rendered, neither by the "internal read" (no ImageIO plugin support) nor by the "external read" (ImageMagick does support icons, but the way we call it does work for such files).

Icon files are not usually forensically important, but rendering them if possible would be nice.

Fixing the "external read" would be a possible solution, but it is

[2022-10-15 19:44] lfcnassif commented on #1383
Agreed!

[2022-10-15 20:38] lfcnassif commented on #1368
Just reproduced in my notebook. UI scaling still works in my work computer when accessing it remotely using RDP.

[2022-10-15 21:26] #1383 closed

[2022-10-16 12:42] gilmaralves commented on #1379
I'm who, firstly, asked @thiagofuer for help about this issue.
Today, I've processed again the image using the fixed plugin and all is working fine.

before:
![IPED - bug não corrigido](https://user-images.githubusercontent.com/3689932/196035744-f3181a28-a66a-48c9-9681-47570b3625c3.png)

after fixing the bug:
![IPED - bug corrigido](https://user-images.githubusercontent.com/3689932/196035769-58500

[2022-10-17 11:47] lfcnassif commented on #1281
Reopening, this was thrown again while testing a fix for #1358.

[2022-10-17 17:11] tc-wleite commented on #1368
I guess I found the issue.
Well, at least it seems to be fixed in a couple of machines I tested.

It was something trivial, related to the default Locale.
In my PC, `new DecimalFormat("0.000").format(2)` returns `"2,000"`, and `System.setProperty("sun.java2d.uiScale", "2,000")` does not work (should be `"2.000"`).
It should work if the default Locale is US (or another Locale that uses a period as

[2022-10-17 17:16] lfcnassif commented on #1368
That's the case of my work computer!

[2022-10-17 17:40] patrickdalla opened #1387 "Unneeded network dependency slowing down application start up"
Some tika parsers try to access info from network. When there is no network the Index still works, but only after a long wait for communication timeout.

This was the case at least for SentimentAnalysisParser, but it can be occurring with other code. Maybe there sould be some parameter to disable long timeout wait for any code that depends on information from the web.

[2022-10-17 17:48] lfcnassif commented on #1387
We enable/disable Tika parsers explicitly on conf/ParserConfig.xml and SentimentAnalysisParser is not enabled there. Are you sure it is running? A thread dump would help.

[2022-10-17 17:50] tc-wleite commented on #1368
I am not sure, but maybe it was working before because of `Locale.setDefault(Locale.forLanguageTag("en"))` was called before setting `sun.java2d.uiScale`. Now the default locale is set in the static initialization of `LocaleConfig` class, which runs after setting the uiScale.

[2022-10-17 18:33] patrickdalla commented on #1387
It doesn't seem to pause on item parsing, but on the startup/configuration
of tika. It registers in iped log a message that the model used by
SentimentAnalysisParser is at a github URL, and after timeout, that it
failed to load the model.

Em seg., 17 de out. de 2022 13:48, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-10-17 18:37] patrickdalla commented on #1387
When I configured a working proxy, iped still logs the
SetimentAnalysisParser model loading error, but without long timeout pause.

Em seg., 17 de out. de 2022 14:32, Patrick Bernardina <
***@***.***> escreveu:

[2022-10-17 18:37] lfcnassif commented on #1387
This seems a Tika issue to me. If the parser is disabled, it shouldn't try to download models, or anything else...

[2022-10-17 18:46] lfcnassif commented on #1387
If we find out how to fix this into Tika, we can send a PR to them.

[2022-10-17 19:18] tc-wleite commented on #1387
I observed the same behavior described by @patrickdalla.

@lfcnassif, not sure if makes sense, but I **think** that when `SignatureTask` is initialized, the parsers config used by IPED (ParserConfig.xml) was not informed to TIKA, so a default configuration is used (which includes `SentimentAnalysisParser`).
I made a quick test, changing `Worker` class to initialize `ParsingTask` before other tasks

[2022-10-17 19:29] lfcnassif commented on #1387
Makes sense! I will try another approach to initialize SignatureTask internal detector in a lazy way (like done in other places), so when loaded, ParsingTask should have already set Tika parser config.

[2022-10-17 20:55] #1368 closed

[2022-10-18 02:25] tc-wleite commented on #471
@lfcnassif, not sure if you or another developer have seen this happening again.
Recently, I started to get it occasionally, after rebuilding the project.
Anyway, locally I applied the same fix (I guess it was removed at some point).

In **iped-app/resources/config/conf/Log4j2ConfigurationFile.xml**
<Configuration status="INFO" **packages="iped.engine.log"**>

[2022-10-18 03:52] lfcnassif commented on #471
I haven't seen. Let's reaply your fix and see it works. @fmpfeifer, as you are the original developer of `PackageRegexpFilter`, do you have any suggestion?

[2022-10-18 04:58] #1387 closed

[2022-10-18 05:01] lfcnassif commented on #1387
@patrickdalla please check if fix above also fixes your slow initialization issue, thanks.

[2022-10-18 17:32] #1381 closed

[2022-10-18 17:42] #471 closed

[2022-10-18 20:16] #1358 closed

[2022-10-18 21:16] #1370 closed

[2022-10-19 00:17] fmpfeifer commented on #1364
Sure, please send me the files

[2022-10-19 12:01] patrickdalla opened #1390 "Text viewer changes text format for big texts"
When a text is too big, it stops formatting line breaks and tabs a some point. The following image pictures the issue:

![image](https://user-images.githubusercontent.com/28692427/196684855-6f5a79b3-c5bc-4fe3-87f2-b71f99dac19c.png)

[2022-10-19 12:07] lfcnassif commented on #1390
That was intentional a long ago to not hold too much line break information on memory. Maybe an on disk line break index would allow to improve this.

[2022-10-19 17:14] lfcnassif commented on #1374
I just received a private POC about this by Xavier from Fastly, forwarded by CERT.br, where arbitrary local commands could be executed by WA parser. Original POC sent didn't work, because we perform a basic clean up of all message strings, but it was easy to fix the POC and execute "calc.exe" in examiners machine while processing the case.

So I'll roll a 4.0.6 fixing release.

[2022-10-19 17:49] lfcnassif commented on #1374
Affects 3.18.1 <= version <= 4.0.5

[2022-10-19 18:26] lfcnassif opened #1391 "Disable or decrease number of false positives of DERCarver"
After #1319, DER/Certificate carver was enabled by default. But this is leading to 400k more carved files in a 2.2M case, slowing processing down a bit. Maybe the validation is not enabled or not working properly.

[2022-10-20 00:38] lfcnassif commented on #1391
Just forced DERCarver validation, number of CER carved files decreased from 400k to 360k. Not sure if all are invalid ones. @patrickdalla any idea about how to improve this? If not, possibly I'll disable this carver by default, as before.

[2022-10-20 00:42] patrickdalla commented on #1391
i will take a look

Em qua., 19 de out. de 2022 20:39, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-10-20 14:53] lfcnassif opened #1392 "Error applying user defined filters with colon in key name after reopening the case"
After creating a new filter in analysis UI using some property name with colon, if user closes and reopens the same (or another) case, trying to apply the new filter results in error below:
![image](https://user-images.githubusercontent.com/7276994/196982443-d310c225-b56d-40d9-9f45-f362e88aa7d3.png)

That's because the escape char is being lost.

[2022-10-20 18:05] #1392 closed

[2022-10-20 20:27] lfcnassif opened #1394 "Error opening subitems on Linux inside a case processed on Windows"
I think this is a rare scenario, but this should work. A Linux user sent stack trace below:
[code]
The issue is that when URIs are converted to Paths, slashes are being converted to backslashes on Windows. When converted to URI again, that works just on Windows.

[2022-10-20 20:44] #1394 closed

[2022-10-21 13:29] patrickdalla commented on #1391
As I have said privatelly, this kind of evidence items are very common. The validation itself uses Java JRE classes, so once validated it is possible to use the certficate on JRE security operations.
360K seems realy a lot for 2.2M items, but in cases I needed to use it, it had brought me lots o real certificates. Including dozens of duplicates of same certificates.
There is a certificate for any

[2022-10-21 13:42] lfcnassif commented on #1391
I'll enable the certificate parser to check if all are well formed. If yes, I agree disabling the carver by default is the best option.

[2022-10-21 14:29] #897 closed

[2022-10-21 15:26] patrickdalla commented on #1391
One option could be to add parameters to limit carving based on data.
For example: carve only certificates bellow registereds root AC. So, for
brazilian cases, the user could config the brazilian root AC
certificates, and only those certificates emitted by ACs bellow this root
AC would be carved.

Il giorno ven 21 ott 2022 alle ore 09:43 Luis Filipe Nassif <
***@***.***> ha scritto:

[2022-10-21 15:32] patrickdalla commented on #1391
But, as these cases can be not too common, the best option should be
disabling it. For more detailed certificate searches, the analyst would
enabled this carver and the certificateparser, so he can make the suggested
filter based on the extracted metadata during analysis.

Il giorno ven 21 ott 2022 alle ore 11:26 Patrick Bernardina <
***@***.***> ha scritto:

[2022-10-21 16:46] patrickdalla commented on #1322
1) The parsing is grouped by provider, so each provider is displayed as a folder where respective event records are placed as subitems.
2) The event records are grouped by eventID, in subitems with at most 100 event records (this can be defined as a parameter).
3) EventID corresponding resource strings are too much long and descriptive to use as short names on metadata.
4) Creating a separate base

[2022-10-21 16:49] patrickdalla commented on #1322
Also, the provider name was used to identify the timeEvent. This information is essencial as same eventID can be found from different Providers identifying totally different event types.

[2022-10-22 20:55] #1334 closed

[2022-10-22 21:12] lfcnassif opened #1400 "Convert audios to wav on clients again before remote transcription"
Initial remote transcription implementation used to convert audios to wav on client side. We changed it to convert on server side to use less network resources, since wav files are very large.

But after #1334, now we have some useful stats (2 workers with 3 RTX 3090 for now):
![image](https://user-images.githubusercontent.com/7276994/197362087-7cdfa3f0-3062-462e-81e4-29c9e9c3edd4.png)

Wav conver

[2022-10-22 21:32] lfcnassif opened #1401 "Dynamic retry time to send audios to transcription cluster"
Stats below:
![image](https://user-images.githubusercontent.com/7276994/197362891-3d31a49c-2f97-4b5f-aa69-b8a26869a8a6.png)

Refer to a 2 nodes (3 RTX 3090) cluster and just 1 IPED client. See the number of received and accepted requests. Initially we plan to use 15 RTX 3090 in our internal transcription cluster, this would increase the number of accepted requests by ~5x. But the number of clients

[2022-10-22 22:18] lfcnassif commented on #1400
As expected, transcription speed increased by ~2x when converting to WAV on client side, at least with the client in the same LAN as the transcription cluster. Maybe clients far away or with slow networks could be affected, but since our cluster resources will be very limited and will be shared among many clients, we should decrease the workload on the cluster, so I'll commit this change.

[2022-10-22 22:20] #1400 closed

[2022-10-22 23:11] lfcnassif opened #1402 "Evaluate splitting audios in 30s before remote transcription to allow more simultaneous jobs"
Because of https://github.com/jonatasgrosman/huggingsound/issues/13 we split audios in 1min chunks to avoid OOM.

We run 2 transcription processes per GPU. Looking at memory usage, it reaches 10GB per process. Our GPUs have 24GB. Maybe splitting audios in 30s chunks would use less memory and allow to run a third transcription process, giving us a 50% speed up.

[2022-10-24 12:02] lfcnassif commented on #1402
Tested splitting audios in 30s and 15s, memory usage per process didn't decrease, so I'm closing this.

[2022-10-24 12:02] #1402 closed

[2022-10-25 01:55] lfcnassif opened #1403 "OutOfMemoryError caused by com.dd.plist library"
I noticed this a while back:
![image](https://user-images.githubusercontent.com/7276994/197663593-fca61a75-1b00-4249-99b9-5666a975739f.png)

This seems a lot to parse PLIST files, one of them caused a 4 GB int[] array allocation:

![image](https://user-images.githubusercontent.com/7276994/197663987-7b7226cf-01fd-46b4-96d4-3c4f4815ae79.png)

[2022-10-25 02:21] lfcnassif commented on #1222
After some optimizations I pushed to #1193, parsing String values to Date is faster:
![image](https://user-images.githubusercontent.com/7276994/197666774-9bd443ca-a80a-4c27-aeff-1d7d431058fe.png)

In a 2.2M items case, it is taking just 4.597s from a total of 80s to generate all Date interval caches. So I'll close this for now, we can reopen in the future when we decide to implement breaking chang

[2022-10-25 02:21] #1222 closed

[2022-10-25 16:57] lfcnassif commented on #1403
This is definitely a bug, the triggering files have just a few kilobytes of size. And the OOME is not thrown when parsing them, but when detecting file signatures:
![image](https://user-images.githubusercontent.com/7276994/197836091-ece95b03-4447-4b3c-9f0c-d8c3eeb4dd42.png)

[2022-10-25 19:50] tc-wleite commented on #1336
@lfcnassif, this is somewhat important here, as users got used in the last years to open cases directly through a network share (without a letter assigned to it). I will try to check if there is simple solution.

[2022-10-25 20:11] tc-wleite commented on #1142
@lfcnassif, I believe we talked about this in the past, and recently I observed again an issue caused by the `indexTemp` location of a case processed in one machine and acessed by another user/machine.

If the configured `indexTemp` path can't be acessed, IPED will use the default configuration, right?
In the particular case, "G:\TempIPED" was used during processing. When opening the case "G:\" wa

[2022-10-25 20:42] lfcnassif commented on #1336
Sorry, I was working on other stuff... thanks for taking a look into this.

PS: I would also test graph tab behavior, since neo4j doesn't work if the database is read only (we copy it to a local temp) and doesn't like non absolute paths, maybe it could have issues with unmapped shares too...

[2022-10-25 20:56] lfcnassif commented on #1142
Right, that is the current intended behavior.

Yes, "no space left on device" when opening the case was reported recently to me because of this.

Seems reasonable, I like the reset if report approach. Maybe that won't cover all situations... About the --portable option, I was planning to remove it, since I think it is useless today, the application always try to derivate relative paths to source e

[2022-10-25 21:46] lfcnassif commented on #1142
Since it is a `local machine configuration`, saving it in the local machine and trying to reuse it if saved/configured seems good to me. We could even just use the user.home/.iped/ipedRoot.txt file to find the LocalConfig.txt of current IPED "installation" and use it for all opened cases.

[2022-10-25 21:48] tc-wleite commented on #1142
That seems to be a good option.

[2022-10-26 06:06] igiuseppem opened #1404 "Fatal error parsing forensic copy - EXCEPTION_IN_PAGE_ERROR (0xc0000006)"
Good morning.
After several hours (more than 24) processing a forensic copy, the process interrupted with the following error:
'#
'# A fatal error has been detected by the Java Runtime Environment:
'#
'#  EXCEPTION_IN_PAGE_ERROR (0xc0000006) at pc=0x0000027322c7f530, pid=18932, tid=19480
'#
'# JRE version: OpenJDK Runtime Environment (11.0.13+8) (build 11.0.13+8-LTS)
'# Java VM: OpenJDK 64-Bit Ser

[2022-10-26 13:38] igiuseppem commented on #1404
Please find attached the full log.

[hs_err_pid18932.log](https://github.com/sepinf-inc/IPED/files/9870003/hs_err_pid18932.log)

[2022-10-26 14:00] lfcnassif commented on #1404
Thank you. I would also need your LocalConfig.txt file and command line to check where your directories are. If your output or indexTemp are on a network share (this last one should be totally avoided), that could cause this too.

[2022-10-26 14:06] lfcnassif commented on #1404
Just found the cmd line in above log, so I just need the LocalConfig.txt

PS: If you want to use the forensic profile, you should use `-profile` option, `-p` is to provide APFS passwords.

[2022-10-26 14:33] lfcnassif commented on #1404
Maybe, one possible workaround would be to enable the slower `useNIOFSDirectory` option inside `conf/IndexTaskConfig.txt`. But if no network shares are involved, I think it could be a hardware issue with your indexTemp or F: disk (I would need the LocalConfig.txt to point which of them).

[2022-10-26 19:30] igiuseppem commented on #1404
F: disk is an external hard drive.
The index temp is on the fixed drive (it's an SSD) of the computer.
Please find attached the requested config file.
[LocalConfig.txt](https://github.com/sepinf-inc/IPED/files/9873171/LocalConfig.txt)

[2022-10-26 19:31] igiuseppem commented on #1404
Ok, Thank you

[2022-10-26 20:37] tc-wleite commented on #1142
Thinking a bit more about this, using the `LocalConfig.txt` from the current "IPED installation" is a simple/practical solution, but may have some disadvantages.
Would `LocalConfig.txt` still be copied to the processed case folder? I guess having the file there, but using the configuration from another location may be confusing. So, it would be probably better to not copy this file. But that may b

[2022-10-26 22:18] lfcnassif commented on #1404
Thanks. So perhaps the issue is related with your SSD disk. Could you search for Windows Event Logs for possible hardware issues? Or could run some SSD integrity test to see if the disk is OK?

[2022-10-27 17:46] aberenguel commented on #1142
Even in the first case processed it would be useful to restore such properties in `LocalConfig.txt`. A scenario is where we process the UFDR with `--portable` flag and deliver the case with UFDR in a media. Another scenario is where the case is delivered in a server.

[2022-10-27 20:47] hauck-jvsh opened #1408 "Export the extracted faces to opensearch"
As faces are already being extracted they should be exported to opensearch. This will allow face searches to be executed in opensearch.

[2022-10-27 21:00] lfcnassif commented on #1142
Yes, that's why I said the reset if report approach would not cover all cases.

This has no effect, --portable just applies with evidences processed by TSK, replacing absolute paths in TSK database by relative ones. Even if not used, and if the evidence is not found, IPED already tries to find the evidence (the heuristic in detailed in the Wiki/Manual). For other evidence types, a relative path is

[2022-10-27 21:27] lfcnassif commented on #1336
Closed by #1407

[2022-10-27 21:27] #1336 closed

[2022-10-27 22:55] tc-wleite opened #1409 "Items with "thumbsOnly" option, doesn't display properly in the generated report."
### Description

When the option "thumbsOnly" is used for one or more bookmarks in the report generation, the items won't display properly when the report is open - Metadata and Text views are empty.
This is a somewhat critical issue, as if you use "thumbsOnly", it is important to have access to item properties, through metadata viewer.

### Versions

I got this issue working in a real case, using

[2022-10-27 22:59] tc-wleite commented on #1409
@lfcnassif, I found out that removing the last line I mentioned (`evidence.setMediaType(null);`) fix the issue, but I am not sure what side effects that may cause, so I would like that you check this problem in more detail, when you got some time.

[2022-10-27 23:16] lfcnassif commented on #1409
Hi @tc-wleite. If I remember, mediaType is reset to force mediaType detection of viewFiles to redirect them to the right viewer, maybe that is not needed anymore after your Viewers refactoring. The MetadadaViewer should work for thumbsOnly files. Not sure about the TextViewer, since they won't have any content, perhaps just displaying metadata is an option, but may confuse users...

[2022-10-27 23:19] lfcnassif commented on #1409
I also didn't remember the full purpose of the last part of the if clause just above the resetting line...

[2022-10-28 00:59] lfcnassif commented on #622
While testing #1336 I noticed opening a case from a network share became slower, as expected, since now the embedded JRE is always used.

But now with the two phase bootstrap (#1119) it would be easy to implement the original idea: check if user JRE is supported and if it has JFx. If not, warn user the slower embedded JRE will be used, suggesting to install and pointing to a JRE 11 with JFx alread

[2022-10-28 01:03] tc-wleite commented on #622
Using a local JRE if available/compatible would be good in this scenario. It is a bit slower using a JRE from a network (or a slow HDD) location.

[2022-10-28 01:06] tc-wleite commented on #622
Just a side note, here JRE 11 is not available in the machines, but we can try to request its installation, if IPED uses it when opening cases.

[2022-10-28 02:44] lfcnassif opened #1410 "Copy embedded JRE to user home and reuse it"
As discussed recently on #622

[2022-10-28 02:47] lfcnassif opened #1411 "Review comments in config files"
Some comments were translated by different colleagues and could be improved or makes no sense anymore. Some of them should be updated.

[2022-10-28 13:05] tc-wleite opened #1413 ""Wait..." dialog hidden behind main window"
Just a minor detail, when opening a large case (or from a slow location), I noticed that the "Wait..." undecorated dialog sometimes is not visible because it is shown as another window. In Windows it is possible to switch between the dialog and the main analysis window using ALT+TAB.

I think it would be better to make the "wait dialog":

1. Child of the main window.
2. Always application modal.

[2022-10-28 17:00] lfcnassif commented on #1413
I noticed this some days ago. I agree on both points, thank you!

[2022-10-28 17:01] #1409 closed

[2022-10-28 17:24] lfcnassif commented on #1413
Closed by #1414

[2022-10-28 23:07] aberenguel opened #1415 "QRCodeTask hangs for hours"
Using iped 4.0.5

My case processing is hang on `QRCodeTask` for many hours. I stopped the processing and restarted with `--continue`, but it hangs on `QRCodeTask` again

![image](https://user-images.githubusercontent.com/2973359/198748631-ea36ecfb-3ab8-4450-a331-6071bc380216.png)

I run `jstack` many times to see if the code is running (changing the stack snapshot). But it always shows this.
[cod

[2022-10-28 23:58] lfcnassif commented on #1415
Seems a zxing library issue. Could you share the triggering file? After that, @hauck-jvsh could you take a look at this?

[2022-10-29 00:14] aberenguel commented on #1415
The E01 or the jpg file? I tried to open the unfinished case but I haven't found the file. I think I need to let the case finish. So I set `enableQRCode = false` and started it again.

[2022-10-29 02:09] lfcnassif commented on #1415
The JPG

[2022-10-29 06:34] aberenguel commented on #1415
@lfcnassif , I've just sent the file to you in the Teams.

[2022-10-29 14:02] hauck-jvsh commented on #1415
Sure, I can take a look on monday.

[2022-10-29 14:47] lfcnassif commented on #1415
Thank you both! #27 would have helped here.

[2022-10-29 15:00] lfcnassif commented on #1403
Seems this was fixed on upstream project. On Monday I'll test the fix with the other triggering file.

[2022-10-29 15:36] lfcnassif commented on #1413
I just remembered about a very rare issue (maybe fixed today) with the Metadata filtering panel where it sometimes throws an exception and skips the progress dialog.setVisible(false). Hitting the panel refresh button used to close the dialog, but with a modal Dialog that could freeze the UI. Maybe we should review the Dialog usage through the code to protect against this, e.g. putting the close in

[2022-10-29 15:37] tc-wleite opened #1416 "Splash Screen"
Another minor suggestion...
When an IPED case is opened from a slow location (network, pen drive, slow HDD), it may take some time until the main window becomes visible.
This can be misleading, as the user is unsure if the case is opening or not.
Since we start using IPED 4 here, this became a bit more noticeble. I guess that there are more things to be loaded and, as discussed in #1410, using a J

[2022-10-29 15:44] lfcnassif commented on #1416
This would be very good! Maybe a project logo (nonexistent today) would be nice...

One option is configuring the splash screen into Lauch4j options (it is already possible), already used to create the IPED-SearchApp.exe, that would make the splash to be shown before any JRE loading, that could take some time. But would work just if the exe is used.

[2022-10-29 16:04] tc-wleite commented on #1413
Makes sense! I will take a look on that.

[2022-10-29 16:30] tc-wleite commented on #1416
I tested 3 options here:

1. Launch4j
2. Java code, displaying a dialog as soon as possible (in the main method)
3. Java splash (option introduced in Java 6, to show an BMP, GIF or PNG)

The problem with Launch4j is that it has to be a static image and there is not much control when to close it.
In Java code, we have full control, may display some information (like the version, or some case-specif

[2022-10-29 16:42] lfcnassif commented on #1416
I didn't know about third option, great!

[2022-10-30 08:54] igiuseppem commented on #1404
You're welcome.
I have run the SSD integrity test and the hard drive is ok. In the meanwhile, I have used IPED on another forensic copy and it worked without errors.

[2022-10-30 14:11] lfcnassif commented on #1404
Thanks for the feedback. So I will close this as can't reproduce. If the crash happens again, please let us know and reopen this.

[2022-10-30 14:11] #1404 closed

[2022-10-30 23:15] tc-wleite commented on #1413
Although making the wait dialog model seems the correct approach, the PR #1414 had some flaws regarding the Metadata panel.
I fixed the issues here, and it seems fine now.
I am testing a bit more here and will submit a new PR when I am done.
Sorry about that, @lfcnassif!

[2022-10-30 23:55] lfcnassif commented on #1413
Don't worry and thank you! I should have tested better before merging.

[2022-10-31 12:07] patrickdalla commented on #1302
This seems very simple as the cache has only the tiles images to be extracted. I implemented a parser that works for BIN file in RDPTilesCache branch.

[2022-10-31 12:56] lfcnassif commented on #1302
Thank you @patrickdalla! But I would like you to help me finish works already started. Could you help the progress on #1341?

PS: Today I'm giving lectures all day.

[2022-10-31 16:34] hauck-jvsh commented on #1415
@lfcnassif could you share the triggering image?

[2022-10-31 19:18] tc-wleite commented on #1410
Another option, not sure whether it is feasible, would be copying the provided JRE to users home (something like C:\Users\<user>\.iped\jre), in Windows machines.
So after the first execution, it will use this JRE instead.

Using the installed JRE is good, but nowadays there are many versions around, so finding a compatible JRE (11 with JavaFX) won't be very likely, except in controlled machines.

[2022-10-31 21:53] lfcnassif commented on #1410
Good idea. That could be used for the second process in the bootstrap, but I think for the first one, the embedded JRE would still have to be used.

[2022-10-31 21:55] lfcnassif commented on #1415
Sure, just sent to you privatelly.

[2022-11-01 09:40] igiuseppem commented on #1404
I confirm that I parsed again the same forensic copy and it was completed without the fatal error. The only things I did were the cleaning of the temp directories, the integrity scan and changing to "false" the "parseUnknownFiles" and "parseCorruptedFiles" options in the "ParsingTaskConfig.txt" file. Don't know exactly if some of these tasks I performed helped.

[2022-11-01 19:01] lfcnassif commented on #1410
yes

Sure!

They are attached below, there is one for processing and other for analysis.
[Launch4jConfigs.zip](https://github.com/sepinf-inc/IPED/files/9913241/Launch4jConfigs.zip)

The related config is this:
![image](https://user-images.githubusercontent.com/7276994/199316276-ea151b89-952c-4b2f-a8b1-9b18e1d52ea5.png)

Maybe newer Launch4j versions could have more useful options.

I totally agree

[2022-11-01 19:03] lfcnassif commented on #1410
PS: AFAIK one Launch4j limitation is that it can't check for JavaFX.

[2022-11-01 20:16] #1403 closed

[2022-11-01 20:17] lfcnassif commented on #1403
Worked fine.

[2022-11-01 20:28] lfcnassif commented on #1415
This was fixed in upstream library: https://github.com/zxing/zxing/issues/1567

If version 3.5.1 isn't released soon, maybe we can create a patched version ourselves.

[2022-11-01 20:30] lfcnassif commented on #1415
Or implement timeout control inside QRCodeTask, like others.

[2022-11-02 00:00] lfcnassif commented on #1404
Thank you for testing again.

I think they are not related to this. If your hardware is OK, maybe it was some intermitent Operating System issue, since it is related to a native error while reading a memory mapped file in your host, like pagefile.sys.

[2022-11-02 12:44] tc-wleite commented on #1410
Launch4j supports multiple bundled JRE paths, which is great!
That allows looking first at user home directory (`%USERPROFILE%\.iped\jre`) then in the IPED bundled jre (`iped\jre`).

After a few hours struggling here, I found out it is not working properly due to a bug in Launch4j, which was not so great :-)
I opened a ticket, but the project does not seem very active nowadays.
https://sourceforge

[2022-11-02 13:00] lfcnassif commented on #1410
I saw that but didn't check if env vars would work, great!

Thank you for your valuable time @tc-wleite.

[2022-11-02 13:01] lfcnassif commented on #1410
Sorry, I hit the wrong button.

[2022-11-02 13:13] tc-wleite commented on #1410
Environment variables are supported and working fine.
%USERPROFILE% was correctly replaced by its actual (full) path.
Unfortunately a bug is preventing the solution I had in mind to work, because the second path would be relative (iped/jre).
Supporting multiple paths separated by a semicolon was implemented in Launch4j about 3 years ago, so it is quite strange to have a trivial (to reproduce and f

[2022-11-02 13:23] lfcnassif commented on #1410
Something like %WORKINGDIR% works?

[2022-11-02 13:31] tc-wleite commented on #1410
%EXEDIR% worked!
As it is replaced by an absolute path, the multiple paths feature worked fine.
So I won't need to compile Launch4j :-)

[2022-11-02 14:48] lfcnassif commented on #1410
Great!

[2022-11-03 13:30] #1415 closed

[2022-11-03 17:31] lfcnassif opened #1421 "Aborting StackOverflow exception thrown by QRCodeTask"
An user sent stacktrace below:
[code]
He also sent a triggering file, it is a text file incorrectly detected as PGM because it has a `P2` string header. Investigating a bit, the exception is thrown by QRCodeTask.

The PGM detection could be improved in Tika project, but for now I'll just catch and log the exception.

[2022-11-03 17:47] tc-wleite commented on #1413
Processing forensic images from a case I am working on with the master branch, I detected yet another undesired side effect of making the "wait dialog" (dialogBar in the code) application modal.
When the analysis UI is opened from the processing UI, to preview the case, while "wait..." is visible, the processing UI is blocked, which is inconvenient.
So I will submit a (hopefully final) PR, making

[2022-11-03 17:55] #1421 closed

[2022-11-03 18:46] aberenguel commented on #1336
It would be interesting if this solution could be backported to 4.0.x branch.

[2022-11-03 18:49] lfcnassif commented on #1336
If a 4.0.7 version is released (not planned originally by me), it could be.

[2022-11-03 19:18] #1410 closed

[2022-11-03 19:19] lfcnassif commented on #1413
Closed by #1422

[2022-11-03 19:19] #1413 closed

[2022-11-03 19:39] lfcnassif commented on #1410
Just a thought, another related idea is to also copy iped/lib folder to user home. To not bloat user home with lots of IPED versions, a compatibility schema could be used, obviously this would put more maintenance effort on our side... Probably this is not needed at all after #1420 is integrated.

Actually, one of my ideas to #1341 is to allow opening cases from the Case creation/config UI and may

[2022-11-08 13:32] arisjr opened #1424 "Linux, IPED Container and FaceRecognition: processing get stuck on some images"
I'm making IPED 4.0.6 container. I'm trying to include all the IPED features on this release.

I'm running some final tests on IPED 4.0.6 container (https://github.com/iped-docker/iped) on our test DD images, all the things are running fine so far until I enable FaceRecognition. FaceRecognition prints some process creation errors at the very beginning, but then seems to start running normally ...

[2022-11-08 15:51] lfcnassif commented on #1424
This week I'm out of work, I can take a look in the next one, if no other dev looks before me. We need a triggering image to try to reproduce, thanks.

[2022-11-09 19:22] arisjr commented on #1424
@lfcnassif

I found the source of the error. I have set the /usr/bin/python to be python3.9, but /usr/bin/python3 was linked to python3.10 binary (the default ubuntu python version).
Looking at the code, FaceRecognition uses python on windows, but python3 on linux.

Setting python3 to be python3.9 instead of python3.10 did solve the problem.

Thanks and regards!

[2022-11-09 19:22] #1424 closed

[2022-11-10 03:42] lfcnassif commented on #1424
Thanks for investigating.

[2022-11-10 20:51] tc-wleite opened #1426 "Improve PDF rendering quality"
Using IPED 4.0.x to view PDFs, I noticed a pretty low rendering quality, compared to 3.18.x and to external viewers.
It seems related to GUI auto scaling, introduced by the upgrade to Java 11.
If I set UI scaling to 1 (instead of "auto"), the rendering result is better.

Font support is also limited (as mentioned in #379).

An example PDF (screenshot of the viewer):
![image](https://user-images.gi

[2022-11-10 20:58] tc-wleite commented on #1426
While #379 is pending, I propose two minor changes:

- Upgrade IcePDF (font support is much better, and a lot of fixes have been applied).
- Use rendering hints to improve the rendering quality.

Below is the same PDF, with the same zoom level, after the proposed changes.
The barcode (in the top) is rendered correctly and the fonts seem more readable.

![image](https://user-images.githubuserconten

[2022-11-11 14:56] patrickdalla opened #1427 "Maps with lot of items not being plotted"
Maps with lot of items is not being plotted. A case with 31K items to be plotted not working was reported by Wilson Serpa. When he filter the items to be plotted, the maps works.

Maybe some alert should be sent to the user asking to filter better the items to be plotted.

[2022-11-11 22:53] lfcnassif commented on #1426
Great, thank you @tc-wleite. I didn't know about IcePdf 7.0.0 release. Seems embedded font rendering is now supported in the community version, I will test with some PDFs on Monday which chars used to be rendered as squares. If it works #379 can be closed.

[2022-11-11 22:56] tc-wleite commented on #1426
Hi @lfcnassif! I ran quite a few tests myself and results seem good.
I have some concerns about the library dependencies.
I will post more details next week.

[2022-11-11 22:56] lfcnassif commented on #1427
Is there an intentional limit or is this a bug? Can it be increased maybe optimizing code?

[2022-11-12 00:30] lfcnassif commented on #1426
If your concerns are related to pdfbox dep intersections (fontbox?) I already have a large PDF corpus to use for parsing regression tests.

[2022-11-12 18:27] reacan opened #1428 "v.4.0.6. fails to decrypt APFS partition on Linux that v.3.17.1 could decrypt. Possible issue with sleuthkit 4.11.1."
Hello!

I tried to process an image of an encrypted macbook using both v.4.0.3 and v.4.0.6 and both failed to decrypt an APFS partition encrypted with File Vault 2.

It appears to be a Sleuthkit related problem because the old version (4.6.5) can decrypt the partition. I tried reinstalling 4.11.1 by cloning the repo as per the instruction (git clone -b release-4.11.1_iped_patch https://github.com/

[2022-11-13 13:27] lfcnassif commented on #1428
Probably. Could you run above failing command using verbose (-v) output? And could you also try the official sleuthkit-4.11.1 version instead of our fork to be sure the issue is not related to our patches?

I would also kindly ask you to try previous sleuthkit versions (4.10, 4.9 and 4.8) to try to find when the issue was introduced. Maybe official sleuthkit never worked with your image... Officia

[2022-11-13 13:29] lfcnassif commented on #1428
Anyway, although caused by a dependency, this is a regression in our project.

[2022-11-14 13:02] tc-wleite commented on #1426
As you noticed, IcePDF project migrate to GitHub, which I believe is good, as there were no new releases during a long time before this migration.

When I changed IPED's pom.xml files to use the new version (7.0.0), I noticed that new jars come together, some of them already used in our project.
IcePDF dependencies are listed in:
https://github.com/pcorless/icepdf/wiki/Library-Dependencies

- **im

[2022-11-14 13:31] lfcnassif commented on #1426
Not sure why IcePDF included this, since java 11 already comes with TIFF support and their build source and target are java 11.

Yes!

Yes, the license is (or at least was) incompatible. PDFBox also doesn't distribute it because of license issues. I think IcePDF should have used the `provided` tag in their pom.xml file (if it is used as a service provider and not directly). It's easy to exclude it

[2022-11-14 13:33] lfcnassif commented on #1426
Great, thank you!

[2022-11-14 14:14] reacan commented on #1428
I will try to test different versions of TSK starting from 4.8 and I'll report back.

[2022-11-14 14:39] lfcnassif commented on #1428
Thank you. Could you also try to process the image with 4.0.6 on Windows?

[2022-11-14 17:47] reacan commented on #1428
4.0.6 on Windows10 was able to successfully decrypt the image, tested by launching from the .exe and from the .jar.
So this is an issue with Sleuthkit's Linux version. I will try different TSK versions and post the output, for now I can add the verbose output of 4.6.5-iped-patch04 and 4.11.1-iped patch. I tried both the EWF and RAW versions of the same image and the error message was the same.

**

[2022-11-14 17:57] lfcnassif commented on #1428
Thank you for the tests.

Have you installed openssl (libssl-dev)?

[2022-11-14 17:59] reacan commented on #1428
apt policy libssl-dev
libssl-dev:
  Installed: 1.1.1n-0+deb11u1
  Candidate: 1.1.1n-0+deb11u3

[2022-11-14 18:55] lfcnassif commented on #1428
Thanks. Could you post all output messages printed while building TSK?

PS: We are on a holiday, after I return on Wednesday, I'll try to process an APFS image on Linux.

[2022-11-14 21:35] reacan commented on #1428
Happy holiday! I suppose it is hard to stay away from work when you are developing state of the art digital forensics software :P

I tested TSK 4.11.1 Windows and Linux versions and the result was the same, they failed to open the image, output also was the same. For the Linux version I used a clean VM. On that Linux VM I also installed TSK 4.11.1-iped_patch and the result was the same. Most likel

[2022-11-14 22:51] lfcnassif commented on #1428
Thanks for the logs. I searched for "ssl" but couldn't find any occurrence. I think the issue could be related to a linking problem to openssl or maybe some #ifdef missing in TSK code.

Sorry, I forgot to say one feature of our TSK fork is that it supports decrypting APFS volumes with non empty passwords. Official TSK just support the empty string password.

[2022-11-16 16:23] lfcnassif commented on #1426
All PDFs I tested with embedded fonts and wrong inter char spaces now are rendered fine, thank you @tc-wleite!

[2022-11-16 16:23] lfcnassif commented on #1426
Closed by #1429

[2022-11-16 16:23] #1426 closed

[2022-11-16 16:28] lfcnassif commented on #379
Although using the same library (PDFBox) for parsing and rendering would be a good idea to have less differences in results, the main purpose of this was to render embedded fonts properly. As that was resolved on #1426, I'll close this. I'll keep the PDFBoxViewer implementation for a possible future usage.

[2022-11-16 16:28] #379 closed

[2022-11-17 00:31] lfcnassif commented on #1428
Hi @reacan, @arisjr is kindly investigating this. He proposed a fix here: https://github.com/sepinf-inc/sleuthkit/pull/1

Could you test if it fixes the issue with your image?

[2022-11-17 10:32] reacan commented on #1428
Hello! I can confirm that @arisjr proposed solution works with my image. Thank you! Also I noticed that when launching processing, the "-p" argument has to be called last. At first I had it in between "-d" and "-o" and it did not decrypt the partition.

[2022-11-17 13:47] patrickdalla commented on #1427
Is a bug. If I not mistaken, there once was a message popup that warned about too many results, asking for the user to fiter the resultset. Reenabling, or creating, it could be a quick first option.
From a forensic analysis perspective, I see no sense in plotting such a large number of items.
I think some optimizations can be done, but maybe it can be limitations from leaflet or jfx webview.

[2022-11-17 14:59] lfcnassif commented on #1427
We can add a pop up warning user about current limitation. But I'm wondering if there is something quadratic to the number of items in our java or javascript code...

[2022-11-17 19:29] #1416 closed

[2022-11-17 19:49] lfcnassif commented on #1428
Just tested, worked for me with both positions. One detail, not sure if it was your case, if you pass multiple evidences (multiple -d), you have to put the `-p password` after the APFS image and before the other image, the -o position shouldn't have effect on this.

So, as the fix for the original issue reported was merged in our TSK fork, I'm closing this. Thanks @reacan for reporting and thanks

[2022-11-17 19:49] #1428 closed

[2022-11-17 20:42] patrickdalla commented on #1356
@tc-wleite, my main development workstation is running on Linux, and I thought this feature wasn't yet integrated in master. When I opened the IPED to test the timeline on linux, I was surprised with the ICONS.
That is: the Icons aren't being rendered on my Linux CentOS SO.

[2022-11-17 20:50] patrickdalla commented on #1356
@tc-wleite, @lfcnassif I don't know if it should be reopened or a new issue created. So I will let you to decide.

[2022-11-17 20:50] lfcnassif commented on #1356
Was some stack trace error printed in UI log?

[2022-11-17 20:53] lfcnassif commented on #1356
As this wasn't released yet, let's reopen.

[2022-11-17 21:20] lfcnassif commented on #1356
Did you get some stacktrace?

[2022-11-17 21:56] patrickdalla commented on #1356
no

Em qui., 17 de nov. de 2022 17:20, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-11-17 22:54] patrickdalla commented on #1356
yes, it was the same processed case.

Em qui., 17 de nov. de 2022 18:26, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-11-17 23:34] lfcnassif commented on #1356
This is strange... Unfortunatelly right now I don't have a Linux OS with screen device to test this (all my VMs are corrupted/not starting...) just a headless one I used to test #1420. I would appreciate if you could investigate this.

[2022-11-17 23:58] patrickdalla commented on #1356
i will test better tomorrow. i started from inside eclipse. maybe it is
using some old compiled resources

Em qui., 17 de nov. de 2022 19:34, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-11-18 12:58] patrickdalla commented on #1356
Hi. Sorry. I detected that it is an issue when running from eclipse debug environment.

the line of code:

CodeSource src = IconManager.class.getProtectionDomain().getCodeSource();

from IconManager returns the class path of the compiled classes currently being debugged instead of the "jar" file. So, the following lines of code does not read any Icon, as it expects a zip(jar) file.

[2022-11-18 12:58] #1356 closed

[2022-11-18 23:48] dressito opened #1432 "Support comments in Multicase TXT files"
Unlike IPED 3.XX, the multicases option in IPED 4.0.6 using a .txt file is returning an error if a line is commented with '#'.
IPED is trying to read the line as a case path and giving an 'Invalid Case Path' error.
I was using the .txt file so the user could choose which cases he would like to analyse at once, by commenting any case path he wanted to disable/ignore.
I was also using comments to 'o

[2022-11-19 00:06] lfcnassif commented on #1432
Actually comments were never supported in that file. IPED simply used to ignore invalid case paths silently, what is bad if user configures invalid ones, he would never know. So the behavior was change to abort if an invalid path is found.

But we may support comments and skip lines starting with #.

[2022-11-19 00:25] lfcnassif commented on #281
Closed by #1373

[2022-11-19 00:25] #281 closed

[2022-11-19 00:56] #1432 closed

[2022-11-21 14:20] lfcnassif opened #1433 "Common properties of items coming from UFED decoding not exported to reports"
Reported on #1430. The issue is caused because some common properties now are prefixed with `common:` not `ufed:` or other prefix anymore.

[2022-11-21 14:41] lfcnassif commented on #1364
Hi @fmpfeifer, did have a chance to take a look at this?

[2022-11-21 14:46] #1433 closed

[2022-11-21 17:43] #1408 closed

[2022-11-21 17:54] #1391 closed

[2022-11-21 22:00] fmpfeifer commented on #1364
Hi @lfcnassif, not yet. I'm on vacation now. Will try to look at this when I return next week.

[2022-11-21 22:02] lfcnassif commented on #1427
I was able to reproduce this. I spent some time investigating, but I have no conclusions... There is something very strange here, since the map is plotted after very few seconds, but without any locations, instead of hanging indefinitely (it's the behavior I was expecting), so I don't think it is just a performance issue.

I guess the issue is in javascript code. @patrickdalla since you know this

[2022-11-21 22:06] lfcnassif commented on #1364
Thank you for replying, don't worry, have a good vacation!

[2022-11-21 22:44] patrickdalla commented on #1427
ok.

Em seg., 21 de nov. de 2022 18:02, Luis Filipe Nassif <
***@***.***> escreveu:

[2022-11-22 20:05] lfcnassif opened #1434 "Update localization files to Italian, German & Spanish"
This must be done before the near 4.1 release. I'll get in touch with the original translators asking for help.

[2022-11-24 17:34] hauck-jvsh opened #1439 "The IdInDataSource is being changed to the preview"
In the MinIO the IdInDataSource is being updated and pointing to the preview.

[2022-11-24 19:15] reacan opened #1441 "DocThumbTask not working on 4.0.x if enableExternalParsing is enabled"
I am experiencing a problem stated in the subject line. Processed a test sample with documents, paid extra attention to config files and everything seemed to be correct.  I tried using both libreoffice 6 and 7 and the result was the same. Could I be missing something?  Please let me know if you need some additional information.

Log from 4.0.0:
2022-11-24 20:53:56     [INFO]  [indexer.process.Stat

[2022-11-24 22:16] tc-wleite commented on #1441
Hi @reacan!
I tried to process a few DOCX files with IPED 4.0.6 and thumbs were generated as expected.

Looking at your execution logs, I couldn't figure out much...
As it shows all task totals ("Total LibreOffice processed", "Total LibreOffice not procesed" and "Total LibreOffice timeout") as zeroes, maybe something is preventing the files to be sent to the task.

Opening your processed case, wha

[2022-11-25 09:37] reacan commented on #1441
hi @tc-wleite!

Thumbs are generated for pdf documents. The problem is with libreoffice and ms office documents.

The content types are - "contentType	application/msword", "contentType	application/vnd.oasis.opendocument.presentation", "contentType	application/vnd.ms-powerpoint", "contentType	application/msword", "contentType	application/vnd.openxmlformats-officedocument.presentationml.presentation

[2022-11-25 10:27] tc-wleite commented on #1441
Thanks for the inrfomation.

I use Windows (and embedded LibreOffice 6.1.5.2 and OpenJDK 11.0.13).
My test was just to discard some basic regression.

Looking at the task code, LibreOffice documents conversion run 3 main steps:

- Create a temp dir (a subdir in IPED's temp).

- Once, on initialization:
`/usr/lib/libreoffice/program/soffice.bin --headless --quickstart --norestore --nolockcheck -env

[2022-11-25 10:47] reacan commented on #1441
I just processed the same test sample using 4.0.6 on Windows 10 and thumbs were also not generated for libreofice and msoffice but they were generated for pdfs. I used the .exe file to start the processing.

full log: https://pastebin.com/Q4Ry1KJt

I ran the commands:

./soffice.bin --convert-to png ~/Forensics/docthumbtest/anketabiblio.docx --headless --quickstart --norestore --nolockcheck -env:U

[2022-11-25 11:12] tc-wleite commented on #1441
Thanks for the quick reply!
It is odd that is also not working on Windows.
As far as I remember there were no changes directly related to DocThumbTask since 4.0.0 (I will review this point).
And as I said before, the log shows no "not processed" items by this task.

I will take a closer look and try to figure out what is happening, or at least come up with other ideas of tests to identify the issu

[2022-11-25 11:37] reacan commented on #1441
This is how my test sample looks like in 4.0.6:

![Screenshot-20221125132958-2558x1438](https://user-images.githubusercontent.com/61985693/203977006-39ec37e1-8282-4220-8bb6-6fbbd313ad32.png)

Maybe it is related to encoding? About two years ago when still working with 3.17.1 I noticed that not all IPED source files used UTF-8. Just a wild guess.

[2022-11-25 13:12] lfcnassif commented on #1441
I just found a bug with this module, it is not working when `enableExternalParsing` is enabled (my fault). @reacan can you check if that is your case?

[2022-11-25 13:23] lfcnassif commented on #1441
The bug I found was introduced by commit 6baaffb51bb6b506ec360f65b53a7f2e7e386006, but the affected if (that decides if the file should be processed or not) was not correct before...

[2022-11-25 13:29] tc-wleite commented on #1441
@lfcnassif, I believe you found the issue. From the log files @reacan sent, `enableExternalParsing` was enabled in 4.0.6 and but wasn't in 4.0.0.

[2022-11-25 13:30] lfcnassif commented on #1441
Great! I forgot to check this on his logs :-)

[2022-11-25 13:49] #1441 closed

[2022-11-25 14:00] #1439 closed

[2022-11-25 14:37] thiagofuer commented on #23
hi folks, how's going?
I'm spending some time studying how properly save configuration files changes.
The first thing i have saw is about the correctly class to read and manage this config files. The LocalConfigFile.txt is loaded by "Configuration" class as "UTF8Propertie" and also on "ConfigurationManager" class as a "Configurable".
So i have some concerns about it, the first is to manage the fil

[2022-11-26 12:37] lfcnassif commented on #23
Sorry, I replied on #1341, I'm copying my answers here:

So i have some concerns about it, the first is to manage the file propertie change in all his instances

Maybe some Configurables, like the one used to load LocalConfig.txt, could be singleton instances, not sure...

I think we can reuse the existing `iped.utils.UTF8Properties` class and override its `store()` method. Another thing to keep i

[2022-11-29 21:11] thalespr commented on #693
Some notes:

Included a new class to store quoted messages;
This feature is, initially, being implemented **without** considering deleted messages that might be recovered by IPED;
I guess we need to think better (and maybe refactor it) how to deal with the SELECT Messages for sqlite query in ExtractorAndroid... It's very critical in my opinion, but no ideas for now...

[2022-11-29 21:17] lfcnassif commented on #693
This may be OK for a first implementation...

What is your current concern?

[2022-11-29 21:31] thalespr commented on #693
My concern is about "versioning" the messages table. It may be difficult to keep control on it as different versions of this table are released... If I want to get a New field from this table, I need to create a new message query to grab it...
Maybe can we change to select all the fields from this tablet and then make the sanity checks on the code? Don't know If It would be a performance issue...

[2022-11-30 12:24] rafael844 commented on #1335
Hi, is there a way we can test whisper with IPED? Is there a snapshot with it so we could use?

[2022-11-30 18:47] patrickdalla opened #1443 "Apply dark theme to maps."
Apply dark theme to maps.

[2022-11-30 18:48] patrickdalla commented on #1443
The implemented code was pushed to MapDarkTheme branch.

[2022-11-30 18:52] patrickdalla commented on #1443
It applies 3 filters to openstreet maps tile images: hue-rotate(180deg) brightness(80%) invert(1);
The initial hue-rotation keeps blue color (sea and rivers) still blue, and green color (some represented forests and parks) still green after the color inversion.

[2022-11-30 18:57] patrickdalla commented on #1443
For example:
The following original plotted map:
![image](https://user-images.githubusercontent.com/28692427/204884542-33a68714-65fb-47ab-a728-15045ef01c0c.png)
after the filters becomes:
![image](https://user-images.githubusercontent.com/28692427/204884666-8730112b-5e6a-4573-9088-462695d8e091.png)

[2022-11-30 19:09] lfcnassif commented on #1443
Great! Thank you @patrickdalla

[2022-11-30 23:28] lfcnassif commented on #1335
I think I didn't push the POC implementation, the 250x time cost comparing to wav2vec2 made me very acceptic to use whisper in production. I didn't test their smaller model yet, but maybe the accuracy will drop a lot.

If you really would like to try, it is easy to change script below with whisper example code in their github main page:
https://github.com/sepinf-inc/IPED/blob/master/iped-app/resou

[2022-11-30 23:31] lfcnassif commented on #1335
Their smaller model should still be 7x slower than wav2vec2 according to my tests and their published relative model costs.