[2021-11-16 23:33] lfcnassif commented on #827
Triggering file:
![image1](https://user-images.githubusercontent.com/7276994/142082828-2d2cc4de-e068-4563-98f6-a29af87b0150.png)

[2021-11-17 16:42] lfcnassif commented on #827
The problematic block is around this: https://github.com/openjdk/jdk11u/blob/jdk-11%2B28/src/java.desktop/share/classes/com/sun/imageio/plugins/png/PNGImageReader.java#L794
Seems they changed the decoding to be more specification compliant...

With partial images, the IEND_TYPE chunk is not found and the loop continues. JDK8 PNGImageReader stops the loop in the IDAT_TYPE case clause. I tried to re

[2021-11-17 20:22] lfcnassif opened #836 "Upgrade Neo4J to 3.5.30"
Upgrade neo4j to try to avoid illegal reflective access after #827:
[code]

[2021-11-17 21:44] lfcnassif commented on #827
Pushed a patched PNGImageReader to this repo: https://github.com/sepinf-inc/png-reader

Relevant commit is this: https://github.com/sepinf-inc/png-reader/commit/58e904b28336b85194e2cff378aaf73969885163

[2021-11-17 21:48] lfcnassif commented on #827
@tc-wleite could you advice if this change is ok?
https://github.com/sepinf-inc/png-reader/commit/468e46d037dfad75c48bc18c01e75078c2e49fea#diff-b8738129f135540ae726ade402b0aeef0c8eb2ba4954e26e5f94be17eecfbe97L52-R51

I tried to protect against some internal java classes not visible anymore in recent java versions.

[2021-11-17 21:53] tc-wleite commented on #827
Sure! I'll take a look later.

[2021-11-17 22:04] lfcnassif commented on #827
Don't worry, take your time, thank you!

[2021-11-18 12:08] lfcnassif opened #837 "Change geo properties to use specific Lucene geo points"
This is a breaking change and should be done for 4.0.0. We also have non unique geo fields for images, videos, etc, maybe they could be normalized (related to #570)

[2021-11-18 12:24] lfcnassif commented on #827
Maybe this would be desired by users as those images are partially corrupted.

I also detected some few less search hits for common keywords with java 11, will take a closer look.

[2021-11-18 18:25] tc-wleite commented on #827
I took a look at the code and I ran a few tests here, using a standalone program and different JREs, everything seemed fine.

I would go with the third option.

[2021-11-18 18:29] lfcnassif commented on #827
Great, thank you very much @tc-wleite for your help!

[2021-11-18 21:11] lfcnassif commented on #836
Unfortunately neo4j-4.x is compiled with java 11 and I think keeping compatibility to java 8 is important until it is dead. Latest 3.x (3.5.30) didn't solve warnings above... Anyway, they are just warnings and I will upgrade neo4j to 3.5.30 to fix a theoretical vulnerability issue.

[2021-11-18 23:24] #836 closed

[2021-11-19 13:11] lfcnassif commented on #827
I think I found it:
http://hg.openjdk.java.net/jdk10/jdk10/jdk/rev/6581f08c67b6

These are related:
https://bugs.openjdk.java.net/browse/JDK-8211422
https://bugs.openjdk.java.net/browse/JDK-8164971

[2021-11-19 14:02] lfcnassif commented on #384
@streeg I ask you to start working on this as your first parser. Read the basic instructions on https://github.com/sepinf-inc/IPED/wiki/Contributing. You will need to do some research to find out how call log data is stored in different versions of Android OS.

[2021-11-19 20:20] lfcnassif commented on #827
I spent some hours here and I still don't have a final diagnosis. This was caused by some application/xml files (~2k from ~93k) now being detected mostly as text/plain (and some as text/html or message/rfc822). Most (if not all) of them seems corrupted XML: starts with UTF-16 xml and ends abruptly or have some zeroed bytes, garbage or text at the end (or a mix of them) after the starting xml.

I t

[2021-11-19 21:05] lfcnassif commented on #827
update: all ~2k xml files, but 1, have an odd file size. Adding a 0x00 at the end of some samples makes them to be detected as XML again using iped + java 11, this seems related to the UTF-16LE encoding. Standalone Tika always detects them as XML with both JVMs, so this seems related to some dependency in classpath, I think...

[2021-11-19 22:40] lfcnassif commented on #827
com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl is used by Iped on both JVMs, but possibly the internal implementation was updated...

Actually some are detected as text, others as xml. Different behavior between standalone Tika and Iped is because Tika-App embeds xerces2 for xml sax parsing, switching the impl to org.apache.xerces.jaxp.SAXParserFactoryImpl, and I explicitly excluded

[2021-11-19 22:45] lfcnassif commented on #827
Some related conversations:
https://issues.apache.org/jira/browse/TIKA-2802
https://sourceforge.net/p/jackcess/discussion/456473/thread/de8776c701/
https://issues.apache.org/jira/browse/XERCESJ-1654

[2021-11-20 19:52] lfcnassif commented on #827
After some thoughts, I think this xml detection problem is a Tika issue. I just opened https://issues.apache.org/jira/browse/TIKA-3596. If another Tika committer agrees with me, I'll change its behavior and we can update later.

Until then, we are having different results depending on JDK, because of possible differences in internal JDK implementation for  `com.sun.org.apache.xerces.internal.jaxp.

[2021-11-20 20:51] tc-wleite commented on #827
Well, if you "full test" goes fine, I think including Xerces2 seems a good option.
By the way, I have been following this thread, this issue you identified is **really** tricky! I am glad you spotted it!
You probably had a lot of trouble isolating it (and finding possible solutions).
I am not very familiar with the libraries/details involved, but let me know if I can help somehow.

[2021-11-21 09:50] MariasStory commented on #289
Just to mention:
AnalyzeMFT is no longer maintained and has known shortcomings dkovar/analyzeMFT#56
Maybe an alternative like:
https://github.com/EricZimmerman/MFTECmd

[2021-11-21 14:30] lfcnassif commented on #289
Thanks @MariasStory for pointing out AnalyzeMFT limitation and MFTECmd. But I still think the best approach would be to TSK expose FN info to the java API, as that info is already decoded by TSK istat tool, so the integration would be fairly easy.

[2021-11-22 14:42] lfcnassif opened #839 "ConcurrentModificationException while creating bookmarks fast can stop bookmark saving"
An user reported that bookmark saving was working just for a few bookmarks when creating many bookmarks programmatically from scripts. He sent the following trace:
[code]
The issue is bookmarks being changed while being serialized, this causes the background bookmark saving thread to stop because of the unchecked ConcurrentModificationException

[2021-11-22 15:53] #839 closed

[2021-11-22 16:29] lfcnassif opened #840 "Invalid file Date causes export to ZIP feature to abort"
When exporting files with invalid Dates to ZIP, the exporting aborts early because of an unchecked exception:
[code]

[2021-11-22 16:44] #840 closed

[2021-11-22 19:10] rogerioubiratan opened #841 "Problemas com JEP - Java Embebeded Python"
Boa tarde, estou com esse problema, ja fiz de tudo e não consegui resolver, estou usando o Ubuntu 20.10, java 8, versão build 1.8.0_202-b08, versão IPED 4.0.0, e da a mensagem:  2021-11-22 16:49:43	[ERROR]	[sepinf.python.PythonParser]			JEP não encontrado, todos os módulos python foram desligados. Veja https://github.com/sepinf-inc/IPED/wiki/User-Manual#python-modules
Gostaria de saber também qual

[2021-11-22 21:39] lfcnassif commented on #841
What step didn't work for you? JEP installation on Linux should be pretty straightforward, it is more problematic on Windows.

Current features using Python/JEP are listed in the section of the manual you've liked above.

[2021-11-22 21:44] hauck-jvsh commented on #802
How can I allow the user to enable/disable this function? Do you think that a command line parameter is better or maybe a profile configuration?

[2021-11-22 23:29] lfcnassif commented on #802
I think this is better to be more explicit, as discussed in #687. And the command line could set a system property since parsers are located in another module and can't read cmd line params directly.

[2021-11-23 01:52] lfcnassif commented on #841
Moving to discussions.

[2021-11-23 01:52] #841 closed

[2021-11-23 18:07] lfcnassif commented on #827
I had issues when including xerces in classpath, it brings in xml-apis and it has classes already included in the JDK (like org.w3c.dom.*), loaded by different class loaders (default and ours), causing crazy thinks like LinkageErrors or ClassCastException. Tried removing xml-apis from classpath, but causes a NoSuchMethodError.

As my proposal at TIKA-3596 was accepted, I fixed it in there. So I th

[2021-11-23 18:31] lfcnassif opened #843 "Truncated/corrupted XML files being detected as text/plain using java 11"
Minor regression of #827 (described there), related to https://issues.apache.org/jira/browse/TIKA-3596

Will be fixed with a future Tika upgrade.

[2021-11-23 21:15] lfcnassif commented on #827
All of them seems corrupted GIFs. Although they don't throw Tika parsing errors on both JDKs, on JDK8 they are rendered as 1 color or blank images. Imagemagick is not able to render any of them and returns error. Windows is able to render some of them, but they have no visual information as I said. I found similar images affected in another case, with no visual information again, so I think this i

[2021-11-23 21:25] lfcnassif opened #845 "Fix some error messages being redirected to Console instead of log (just in master)"
This needs investigation, I think it is related to JEP.

[2021-11-23 22:27] lfcnassif commented on #622
We use Launch4j to build the IPEDSearch.exe (basically calls iped-search-app.jar with a few options). It has a "fallback" option, where the embedded JRE can be used if the detected/installed JRE on the system does not respect a min/max version range. Currently just min version is specified and we can specify the max version. I don't know if Lauch4j allows to change this behavior at runtime with a

[2021-11-23 22:31] lfcnassif commented on #622
PS: For others, the idea of using the installed system JRE if available and supported is because application starting is very slow if executed from some devices, such as DVD optical medias, where report cases are often delivered in. This was tested a long ago with old versions, and could be re-tested.

[2021-11-23 22:43] lfcnassif opened #846 "Some export files/properties dialogs take a long time to open"
This is happening for a long time. I didn't find the cause in the past, but didn't investigate deeply. Maybe this could be related to file system transversal, not sure...

@tc-wleite do you have any idea about this (don't waste your time debugging please)?

[2021-11-23 23:01] lfcnassif commented on #827
Just tested above with ~200k GIFs from 324 different cases, just 9 complete black or white GIFs were rendered by JDK8 and not by JDK11, so this is fine, I will merge #827

[2021-11-23 23:03] #827 closed

[2021-11-23 23:09] lfcnassif commented on #622
Thinking better about this, if you could use a command line param, you can simply run `indexador\jre\bin\java.exe -jar indexador\lib\iped-search-app.jar` using a bat file, right?

[2021-11-23 23:23] ronaldorcosta commented on #622
That's a good idea.

In this case, how would the reporting functionality inside the IPED behave,
when IPED invokes IPED itself to process the bookmarks?
IPED would invoke the built-in java or invoke the java installed on the
machine?

If IPED always invokes the same java that was used to launch it, it would
work perfectly.

On Tue, Nov 23, 2021 at 8:09 PM Luis Nassif ***@***.***>
wrote:

[2021-11-24 00:03] tc-wleite commented on #846
To be honest, I don't remember observing this behavior here, at least in IPED.
However,  I believe I saw that in other Java applications, long time ago, and as far as I remember it was related to network mapped volumes in Windows, so probably not related to what you are talking about.

[2021-11-24 00:55] lfcnassif commented on #622
Currently it calls installed java, but this could be changed to always use embedded or even behave differently depending on detected java version, because we have full control on this part of the code.

[2021-11-24 17:49] lfcnassif commented on #766
I think you mean filtering/excluding terms shouldn't be highlighted in TextViewer or HitsTab, right?

[2021-11-24 17:50] lfcnassif commented on #766
I didn't detect any kind of overloading, all used search terms are highlighted.

[2021-11-24 18:20] lfcnassif commented on #766
I was not able to reproduce this, _image_ string is not highlighted in file content:
![image](https://user-images.githubusercontent.com/7276994/143293431-68859ee0-da08-4372-8338-ff117f48decc.png)

Could you provide an example query and file name and content to reproduce this?

[2021-11-24 18:30] patrickdalla commented on #766
I will try to repeat. I remember that I was looking for terms in the Unallocated Space, and .

Yes.

Excuse-me, it should be written: "So, when a search term is used to exclude results, they SHOULD NOT be shown in the matches result."

I will try to recover the search I used and reproduce the problem.

[2021-11-24 18:43] lfcnassif commented on #766
Ok this was a bit ambiguous. I was looking for the issue in the HitsTab, that shows the matches results. TextViewer also seems to work fine. But I was able to reproduce in Preview tab using Phrase queries:
![image](https://user-images.githubusercontent.com/7276994/143296258-a6cd9a94-7803-4521-a319-5e2f07971840.png)

Will fix. Please let me know if you are able to reproduce this in the HitsTab/Text

[2021-11-24 18:47] lfcnassif commented on #766
Unallocated is always rendered in TextViewer, but this viewer seems ok to me. Let me know if not.

[2021-11-24 19:25] hauck-jvsh opened #847 "Identify QRcodes"
It would be great if IPED identify and decode QRcodes present in the case images.

[2021-11-24 19:27] hauck-jvsh commented on #847
Reference lib
https://docs.opencv.org/4.x/javadoc/org/opencv/objdetect/QRCodeDetector.html

[2021-11-24 19:30] lfcnassif commented on #766
Looking at the code, terms are being collected from BooleanQueries of any type, including exclusion clauses, I will fix this.

And terms from PhraseQueries (between double quotes) are being collected for highlighting regardless of the field being searched, so a search for author:"John Stewart" would highlight "John Stewart" in file content. I think this could be useful and probably will keep this

[2021-11-24 19:33] lfcnassif commented on #766
This is why `are -name:"license terms"` reproduce this but `are -name:license` doesn't.

[2021-11-24 19:40] tc-wleite opened #848 "NumberFormatException in Report Generation (3.18.9)"
A few days ago, using version **3.18.9**, when I tried to generate a report (both from user interface and command line), I got the following exception (which aborted the report creation):

[code]

I didn't pay much attention and found a workaround excluding a few irrelevant items from the report.
Nevertheless, today another user had the same issue, so I took a closer look and found out that it is

[2021-11-24 19:53] lfcnassif commented on #848
Thanks @tc-wleite. I think this was possibly caused by 8cb158c42674ff04ea57dc7bfa899843da8361ee

[2021-11-24 19:54] patrickdalla commented on #766
I could repeat. In fact I have written the query with backslashes before the quotes. Maybe I've written it wrong.
For example, try in your search:
are -name:\"license terms\"

[2021-11-24 19:55] patrickdalla commented on #766
this site removed the backslashes in the previous message. Correcting, try:
are -name:\\"license terms\\"

[2021-11-24 20:05] lfcnassif commented on #766
Well this works as expected to me, it's the same as a search for `(are OR terms) -name:license` and `license` is not highlighted anywhere.

[2021-11-24 20:11] #766 closed

[2021-11-24 20:13] lfcnassif commented on #766
I fixed this for Preview Tab, please reopen if it is happening in other places.

We can open another ticket if someone thinks this should be changed.

[2021-11-24 20:22] lfcnassif commented on #848
closed by #849, thanks @tc-wleite

[2021-11-24 20:22] #848 closed

[2021-11-24 20:32] lfcnassif commented on #847
As we discussed internally, this could be useful to find crypto wallets related info and bank accounts IDs (like PIX)

[2021-11-24 20:33] lfcnassif commented on #847
This lib seems a good option.

[2021-11-24 20:42] lfcnassif commented on #846
Interesting, here the first time an export file/props dialog is opened, it takes some time. Find similar images/faces dialogs open fast. I will take a look again.

[2021-11-24 21:48] lfcnassif commented on #846
Indeed, this is totally related. The cause is this line introduced when @fsicoli made changes to the iped-triage Linux distribution:
https://github.com/sepinf-inc/IPED/blob/a689b043ac5dfd9a047dc8cb1726d873973bd9ba/iped-app/resources/localization/iped-desktop-messages.properties#L176

The double slashes are being converted to double backslashes by java, causing a network scan on windows, taking som

[2021-11-24 21:53] lfcnassif commented on #846
This affects a lot of dialogs that share the same JFileChooser.

[2021-11-24 21:57] #846 closed

[2021-11-25 18:04] lfcnassif opened #850 "Change "indexador" folder to "iped" in whole codebase"
4.0.0 is a good version to change this.

[2021-11-25 19:41] lfcnassif commented on #622
As Java 11 has removed JavaFX and it is not too easy to be installed by users, I'll change the default behavior to always use the embedded JRE on Windows from IPED-SearchApp.exe

[2021-11-25 20:40] #622 closed

[2021-11-25 20:40] #850 closed

[2021-11-26 14:42] lfcnassif commented on #845
Actually this was introduced by 1e486b0 when @patrickdalla implemented #238 and I missed that undesired change.

[2021-11-26 14:42] #845 closed

[2021-11-26 15:28] hauck-jvsh opened #852 "Some animated webp images are not being rendered"
I found that some animated webp images are not being rendered and thumbs are not generated for them. There are 10 examples attached. @tc-wleite, @lfcnassif  as you were working with gifs before do you have any clues?
[webps.zip](https://github.com/sepinf-inc/IPED/files/7609583/webps.zip)

[2021-11-26 15:41] tc-wleite commented on #852
WEBP are currently handled by the external conversion tool (ImageMagick).
I can try to take a look here what is going.

[2021-11-29 15:02] lfcnassif commented on #852
Thanks for the samples @hauck-jvsh. I just did a small test and imagemagick version embedded into IPED is not able to decode them. Latest imagemagick 7.1.0 is able to extract all frames from those webp images.

I also tested mplayer currently distributed with IPED and latest build by https://oss.netfarm.it/mplayer/, and none of them are able to decode those webp images. This would make things more

[2021-11-29 15:07] hauck-jvsh commented on #852
For me, updating the imagemagick to decode the first frame will be a great advance, because with the current behavior the user may think that the image is corrupted. Extracting more frames like is done for gifs could be done later as you suggest.

[2021-11-29 16:17] lfcnassif commented on #852
ok, I'll update imagemagick and create another ticket to support multiple frames webps and possibly other multiple frames formats not supported or handled in a different way (heif, tif, etc)

[2021-11-29 17:18] lfcnassif opened #854 "Extract frames from animated HEIC/HEIF sequence images"
This is a spinoff of #763 and #852. Currently we support just GIFs and APNGs. Support could be extended for more formats, like HEIF and WEBP. And behavior for TIFs is different from GIFs/APNGs: TIFs have the first frame rendered in gallery and a specific viewer to navigate through the frames, while GIFs/APNGs have more than 1 frame displayed in a gallery cell and a frame mosaic is rendered in imag

[2021-11-30 19:11] gisms commented on #369
Stopping by to reinforce this need.
Analysts need to export this html view of the chat and without the attachments it becomes less attractive.
Sometimes, during the analysis, they also open the chat html file outside the tool (two clicks on the file) and the references are lost.

[2021-11-30 19:23] lfcnassif commented on #369
For now they can create a html report with the chats, so attachments will be exported together and linked to.

For the next weeks I have other priorities needed for 4.0.0 (see https://github.com/sepinf-inc/IPED/projects/1). Contributions are welcome.

[2021-11-30 23:25] brunontr opened #856 "Destination folder name with spaces"
Hello!
I've had this bug trying to process an E01 image file. After reading the error I figured out that it was an issue with my path, that had spaces on some directories. Solved removing them but I thought that maybe you'd like to know.

For some reason, it adds a **"** just after the destination folder, right before \indexador\data\processing_finished

PS C:\IPED> java.exe -jar .\iped-3.18.9\ipe

[2021-12-01 00:08] lfcnassif commented on #179
I'm resuming this work. It's harder than expected, because DocValues, used in lots of places, are not random accessible anymore since Lucene 7.0:
https://issues.apache.org/jira/browse/LUCENE-7407

[2021-12-01 00:46] lfcnassif commented on #856
I'm not able to reproduce this with a test command line in power shell like:
`java -jar .\iped-3.18.9\iped.jar -d 'F:\test-p2p1.001' -o 'e:\teste\3.18.9 space'`

Could you provide a complete (without hiding chars) example cmd line to reproduce this? You can replace your secret strings by similar ones, but I need a full example cmd line that shows how to reproduce. Maybe it's a problem with your co

[2021-12-01 00:49] tc-wleite commented on #856
I made a quick test here, using several spaces and PowerShell (which I guess you are using, right?), and it worked fine.
I used the exact same output path and it worked too.

Maybe there is an invalid character (not printable?) somewhere, that came from pasting.
So type the output path to be sure...

[2021-12-01 02:27] tc-wleite commented on #854
@lfcnassif, I took a closer look about animated WEBP (mentioned in #852) and HEIC/HEIF sequences.
I would keep TIFF as it is today.
I think HEIC/HEIF sequences could already be handled by the current solution (MPlayer) and maybe WEBP decoding support in MPlayer will be available soon (https://trac.ffmpeg.org/ticket/4907).

Meanwhile, I would like to add HEIC/HEIF support, as sequences using these

[2021-12-01 12:47] lfcnassif commented on #854
Actually I'm not sure what is the best approach for TIFs. Usually they are documents and displaying 1 page at a time in the viewer should be better for reading text, like is done for document types (PDFs, DOCs...). But maybe it's worth to display 2/3 pages for TIFs in the gallery like GIFs/APNGs, we can't read anything in the gallery today, although just first page of PDFs/DOCs is shown. Of course

[2021-12-01 13:21] tc-wleite commented on #854
Cool! I will try to do that.

Don't :-)
I was just talking about this part:
[code]

Got it! Thanks!
I will take a look on this, as identifying which HEIC/HEIF are sequences is a prerequisite to handle them in a specific way.

[2021-12-01 13:30] lfcnassif commented on #854
Actually, if I remember, I didn't care about the difference for *sequence mimes, as those would be handled equally until now, and put all signatures together.

[2021-12-01 14:48] tc-wleite commented on #854
Some sample of HEIC/HEIF sequences:
[HEIC-HEIF-Sequences.zip](https://github.com/sepinf-inc/IPED/files/7634834/HEIC-HEIF-Sequences.zip)

[2021-12-01 15:43] tc-wleite commented on #854
@lfcnassif, a couple of quick questions:

1. Should I use this issue or create a new one (something like "Extract frames from HEIC/HEIF sequences").
2. What do you think of creating a subcategory ("Animated Images"), under "Images"?

[2021-12-01 15:57] lfcnassif commented on #854
This issue could be used for HEIC/HEIF and I'll open another for WebP since it needs a future mplayer release or non trivial changes to ImageThumbTask.

I think you already thought about that in #763, right? Since one item could belong to more than one category, I see no problem about overlapping with "Images in System Folders" or "Temporary Internet Images" categories. But non leaf categories ite

[2021-12-01 16:02] lfcnassif opened #857 "Extract frames from animated WebP images"
This is related to #852 and #854 and discussed there.

[2021-12-01 16:03] tc-wleite commented on #854
Great, thanks!

Correct! And I gave up because of this intersection...
Not sure if it is worth the effort.

[2021-12-01 18:04] lfcnassif opened #859 "IllegalArgumentException: cannot change DocValues type from SORTED to SORTED_SET for field "kffgroup" (in 3.18.10 snapshot)"
This happened to an user after commit a383a1005ce209f09d96dc9d2ebecf46d4927e1d that removed a non ideal catch/workaround for this kind of errors.

[2021-12-01 18:49] lfcnassif commented on #859
Fixed in 3.18.x branch.

[2021-12-01 18:49] #859 closed

[2021-12-01 20:19] gisms commented on #369
Thank u Nassif, its ok.
We are planning to bring a java developer to the team next year to start contributing, hopefully it works out.

[2021-12-01 20:38] lfcnassif commented on #369
Thanks @gisms. Unfortunately we don't have enough human resources, the issue list keeps increasing, so we have to prioritize them...

The idea of open source is collaboration. If your team could collaborate somehow in the future (with this ticket for example) that would be great!

[2021-12-01 21:59] lfcnassif opened #860 "New methods to allow saving bookmarks synchronously"
This was an old idea and was implemented while working on #839. By default, bookmarks are saved in a background thread and could take some hundreds of milliseconds to be saved.

[2021-12-01 22:00] lfcnassif commented on #860
closed by 06b1f4f322b43e8bc923250ce4cbdaba52620dd2

[2021-12-01 22:00] #860 closed

[2021-12-02 13:16] lfcnassif commented on #856
Closing. Please reopen if you can reproduce typing the command like @tc-wleite said and if you can provide a full example command line to reproduce this.

[2021-12-02 13:16] #856 closed

[2021-12-02 13:54] lfcnassif commented on #784
Just saw we are not using the datasource UUID in the computation. If we include it, this ID would really work like an UUID and will be unique across cases, that would be great. Renaming to globalID then will totally make sense.

[2021-12-02 14:23] lfcnassif commented on #784
Just an explanation why this is used. We can have 2 different files with this same path:
/root/a/b.zip/c/d.txt

The 2 d.txt files have no idInDatasource (they are subitems from zip, they aren't allocated) and their subitemId could be equal if they were extracted from 2 different b.zip files (one allocated and other deleted). So b.zip globalID (that uses b.zip IdInDatasource) must be used in the co

[2021-12-02 14:28] #852 closed

[2021-12-02 21:27] lfcnassif opened #862 "Upgrade to PDFBox 2.0.23"
This is needed so #119 would be more stable and could be included in 3.18.10 release. I'm processing 250K PDFs and will compare the differences of common strings searches between PDFBox-2.0.17 and 2.0.23.

[2021-12-02 21:51] lfcnassif commented on #862
Test looks good. Same number of exceptions and most common words searched for returned a bit more search results.

[2021-12-02 21:56] lfcnassif commented on #862
closed by e1fef97

[2021-12-02 21:56] #862 closed

[2021-12-03 17:39] lfcnassif opened #863 "Option to don't copy libraries and tools to case folder"
This could decrease RAM usage by IPED-Triage Linux distribution used in triage scenarios where the case is created in a ram drive in some configurations.

Maybe this could also be the new default mode in 4.0.0, and user could use the --portable option to copy libs and tools to case folder. I plan to create a simple "create case gui" in #23 from where cases could be opened without having the libs/t

[2021-12-03 18:53] lfcnassif opened #864 "CriptoSeedPhraseValidator not working on 3.18.x"
This is because the validator is located inside `iped-root/conf/regex_validators` but the ScriptValidatorService loads validators from the profiles folder.

[2021-12-03 18:58] lfcnassif commented on #864
Fixed by 529e55d

[2021-12-03 18:58] #864 closed

[2021-12-10 16:17] lfcnassif commented on #179
Lucene 9.0.0 was recently released: https://lucene.apache.org/core/corenews.html#apache-lucenetm-900-available
I highlight `Support for indexing high-dimensionality numeric vectors to perform nearest-neighbor search, using the Hierarchical Navigable Small World graph algorithm`
It is a state-of-the-art algorithm that could be used in photoDNA, similar images, similar faces and future vector based

[2021-12-10 20:56] fmpfeifer commented on #179
I think that JDK 11 as minimum requirement is almost mandatory now.
Supporting JDK 8 is already holding us back.
my 2p.

[2021-12-10 21:03] lfcnassif opened #871 "Upgrade log4j to 2.15.0"
This was already done on master to fix CVE-2021-44228. I'll apply to 3.18.x and roll a new 3.18.11 release.

[2021-12-10 21:21] lfcnassif commented on #871
fixed by 08e167f

[2021-12-10 21:21] #871 closed

[2021-12-11 00:51] lfcnassif commented on #179
What JDK 11 feature/library would you like to use?

[2021-12-12 19:23] fmpfeifer opened #872 "NPE in DocThumbTask"
Processing aborted with NPE while processing doc file. This is the log section (actual file name redacted):

[code]
IPED version: 3.18.11

after disabling DocThumbs and restarting with "--continue" I was able to get the processing going.
I can provide the offending file for testing in PV.

Thanks

[2021-12-12 21:36] tc-wleite commented on #872
Hi @fmpfeifer!
Can you please send me the triggering file?

[2021-12-12 21:42] fmpfeifer commented on #872
Sure. I'm sending via Teams.
Thanks

[2021-12-12 21:45] tc-wleite commented on #872
Thanks!
I am out for a few days, but will look into this as soon as I return.

[2021-12-13 12:12] lfcnassif commented on #872
Thanks @fmpfeifer and @tc-wleite. I think this is related to #514, I possibly forgot to cherry pick its solution to 3.18.x when cherry picking the whole feature from master. @fmpfeifer if you can test a possible fix, I can push to some branch.

[2021-12-13 13:18] fmpfeifer commented on #872
Hi @lfcnassif, sure, I can test it. Thanks

[2021-12-13 14:18] lfcnassif commented on #872
just pushed to #872_fix branch.

[2021-12-13 15:08] lfcnassif commented on #872
Sure.

[2021-12-13 19:10] fmpfeifer commented on #872
Sent via Teams. Thanks.

[2021-12-13 19:30] lfcnassif commented on #872
fixed by 96e6156

[2021-12-13 19:30] #872 closed

[2021-12-20 17:07] lfcnassif opened #880 "Exporting files to report fails depending on evidence type if it was moved"
This was reported at #868 and affects UFDR, AD1 & Folder evidences. Although IPED asks for the new evidence location when opening the case, this info is not used by the report generation module.

[2021-12-20 19:02] lfcnassif opened #881 "Subitems > 16MB or exported to HTML reports not opened by analysis app (3.18.10 regression)"
This is an important regression in 3.18.10/3.18.11 caused by #785, stack trace below. Possibly I'll roll a new release this week because of this.
[code]

[2021-12-20 19:29] vtgdias opened #882 "WhatsApp with -nocontent (Thumbsonly)"
I was not able to generate a report that has whatsapp chat (iped html generated files) with "only thumbs" (videos and photos thumbs). Is it possible to deliver just whatsapp content changing original medias (videos and photos) for thumbs?

[2021-12-20 19:35] #880 closed

[2021-12-20 19:35] #881 closed

[2021-12-20 19:39] lfcnassif commented on #882
Well, currently you would need to check the "don't export chat attachments automatically" in report generation dialog and put the chat attachments in a separate bookmark, so you can check the "Thumbsonly" option for that bookmark. This option could be improved to work for referenced files exported automatically in the future...

[2021-12-20 19:40] vtgdias commented on #882
Or maybe an option to parse whatsapp db based on a time frame (e.g. 2021-06-22 to 2021-10-22).

[2021-12-20 19:49] vtgdias commented on #882
I used like this:
java.exe -jar iped.jar -d Z:\marcadores.iped -nocontent Videos_Thumbs -nocontent Imagens_Thumbs --nolinkeditems -profile default -o Z:\Casos_IPED\31802

Where Videos_Thumbs and Imagens_Thumbs are bookmarks that contain all video and image files of the evidence (including wapp). But that generates me wapp chat without html files inside iped. (html shows only in html report). I was

[2021-12-21 12:15] Prosecut opened #883 "Error: Unable to initialize main class dpf.sp.gpinf.indexer.IndexFiles"
Hello.

I just installed Iped. All was fine, however trying to start program, I got error:
Error: Unable to initialize main class dpf.sp.gpinf.indexer.IndexFiles
Caused by: java.lang.NoClassDefFoundError: dpf/sp/gpinf/indexer/util/IPEDException

![Capture](https://user-images.githubusercontent.com/96477788/146928331-2fd3b1f5-8e23-4cbb-8746-c977407c4e7b.PNG)

Cant figure it out how to fix it. I tri

[2021-12-21 12:35] lfcnassif commented on #882
Ok, please post the results, thanks.

[2021-12-21 12:37] lfcnassif commented on #883
What iped version are you using? What was the command line used?

[2021-12-21 13:17] Prosecut commented on #883
I am using iped-4.0.0-snapshot. Command line command:
![Capture2](https://user-images.githubusercontent.com/96477788/146936382-1812672f-248e-40e5-9379-897a7c3fc927.PNG)

[2021-12-21 16:30] lfcnassif commented on #883
Did you build from source? What command did you use to build and what was the output?
Or downloaded a snapshot from https://github.com/sepinf-inc/IPED/actions?

Some weeks ago snapshots were returning this error because of an invalid/empty META-INF/MANIFEST.MF file in iped.jar. But last snapshots are working fine, seems it was some temporary github CI issue.

[2021-12-21 18:51] lfcnassif opened #885 "Make Java 11 minimum supported java version"
This will allow us to upgrade to Lucene 9.0 and Neo4j-4.x, as discussed at #179

[2021-12-21 20:34] lfcnassif commented on #885
Actually, after this, if user tries to run using an older java version (e.g. 1.8), the JVM returns error below:
[code]

I don't know if it is possible to give a more intuitive error message, but I think it is not a blocker anyway.

[2021-12-21 22:19] #885 closed

[2021-12-22 08:59] Prosecut commented on #883
Hello.

I ones more deleted all, install Liberica OpenJDK 11 Full JDK.
Used step by step:
git clone https://github.com/sepinf-inc/IPED.git
cd IPED
mvn clean install

Installation was smooth, however whant I try to use iped-4.0.0-snapshot\iped.exe it get same error:
Error: Unable to initialize main class dpf.sp.gpinf.indexer.IndexFiles
Caused by: java.lang.NoClassDefFoundError: dpf/sp/gpinf/indexer

[2021-12-22 09:01] Prosecut commented on #883
When I use iped-4.0.0-snapshot\iped.jar, nothing happens

[2021-12-22 12:14] lfcnassif commented on #883
What version of maven are you using?

Could you unpack iped.jar (it's a zip file) and share the META-INF/MANIFEST.MF file?

[2021-12-22 12:21] Prosecut commented on #883
Sure.

File content is such:

Manifest-Version: 1.0
Archiver-Version: Plexus Archiver
Created-By: Apache Maven 3.8.3
Built-By: Ekspertizes
Build-Jdk: 11.0.13
Main-Class: dpf.sp.gpinf.indexer.IndexFiles

Maven:
Apache Maven 3.8.3 (ff8e977a158738155dc465c6a97ffaf31982d739)
Maven home: C:\apache-maven-3.8.3
Java version: 11.0.13, vendor: BellSoft, runtime: C:\Program Files\BellSoft\LibericaJDK-11-Ful

[2021-12-22 17:22] lfcnassif commented on #883
Thanks! I was able to reproduce your issue with maven-3.8.3, seems a regression with that version, the maven-jar-plugin is not populating the Class-Path correctly in the MANIFEST.MF file. Try to upgrade to maven-3.8.4, that solve the issue here. Possibly this same issue was affecting the github CI builds weeks ago.

[2021-12-22 17:33] lfcnassif opened #887 "Upgrade to Log4j-2.17.0 in 3.x branch"
This fixes some other less critical security vulnerabilities that might affect us.

[2021-12-22 17:42] lfcnassif commented on #887
closed by 1c72d35

[2021-12-22 17:42] #887 closed

[2021-12-23 08:05] Prosecut commented on #883
Thank you.
Yes, the newest version of Maven solved it.

[2021-12-23 08:05] #883 closed

[2021-12-23 15:11] lfcnassif opened #889 "Upgrade to neo4j-4.4.4"
There were some API changes and maybe the graph CSV data importing would need to be adjusted (or refactored...). Compatibility with Lucene-9.0 should be checked too.

[2021-12-23 16:42] lfcnassif opened #890 "Index similar faces features using new Lucene-9 vector indexing support"
Depends on #888. This would allow faster look up and nearest neighbors search. @tc-wleite I saw ImageSimilarity uses 1044 features but I think the max vector dimension supported by Lucene-9 is 1024. Do you think that could be a problem? Could the number of dimensions of ImageSimilarity be decreased to 1024 with small impact on results? And after this feature is implemented, I think the faster filt

[2021-12-23 16:48] lfcnassif commented on #890
These new methods must be implemented properly as part of this issue: https://github.com/sepinf-inc/IPED/pull/888/commits/49d56135ef4180627afb936b02fe0844d02821dc

[2021-12-23 16:51] tc-wleite commented on #890
The number of features can definitely be reduced to 1024.
There are several ways of doing that, so I will need to take a closer look, but it should be simple.

Sure, makes sense.

[2021-12-23 18:43] lfcnassif commented on #854
Closed by #858.

[2021-12-23 18:43] #854 closed

[2021-12-24 14:20] arisjr opened #891 "IPED 3.18.12 transforms absolute path in relative, causing error"
Dear developers,

I've set ledDie=/mnt/led/die/rfdie.dat, an absolute path, and IPED interpret as relative path, turning ledDie path into /root/IPED/iped/mnt/led/die/rfdie.dat.

I'm using IPED 3.18.12 on linux Ubuntu 20.04.
Follows the run log with the error.

Changing the flag to the default value, using relative path to the embedded ledDie, works.

Regards,
Aristeu

[code]

[2021-12-24 14:51] tc-wleite commented on #891
I ran a quick test here using an absolute path and it worked fine.
Looking at the code (belq), I saw that it checks if the model file exists in the given path.
If it is not there, only then it tries to add the "base" path as a suffix.

[code]

Can you double check if the absolute path you used is correct (and accessible to IPED's process)?

[2021-12-24 14:59] tc-wleite commented on #891
By the way, I used 3.18.12 here too, but on Windows 10, although it doesn't seem to be an OS specific issue.

[2021-12-27 13:36] baptistapedro opened #892 "Possible arbitrary JS code execution when viewing Telegram HTML reports"
## Summary
If the media comment/description extracted from Telegram has html/javascript, an attacker can inject arbitrary JS code when the forensic analyst generates a HTML report.

## Impact
1 - The attacker can insert html code on media comments that will in fact load browser exploits and try to accomplish RCE on the analyst's machine.
2 - Just the js injection by itself, the attacker can alter

[2021-12-27 15:11] lfcnassif commented on #892
Thanks @baptistapedro for reporting this and for the detailed analisys. @hauck-jvsh are you at office this week and maybe could you take a look? I'm out until next week...

[2021-12-27 15:52] hauck-jvsh commented on #892
Sure, I can take a look on this.

[2021-12-27 20:26] hauck-jvsh commented on #892
This should be checked in other parsers, as it is common to create HTML from database contents.

[2021-12-27 22:46] lfcnassif commented on #892
Yes, I'll open other issue to review other parsers, thanks.

[2021-12-27 22:51] lfcnassif opened #894 "Fix parsers outputing HTML reports and rendered with javascript on for untrusted string printing"
Relates to #892 other parsers should be reviewed.

[2021-12-28 10:28] baptistapedro commented on #892
@hauck-jvsh, note that regex would not be appropriate for this case because there are different HTML tags/attrs that can load external files.
Proper sanitizing/escaping is preferred, I think `StringEscapeUtils.escapeHtml` seems adequate for this though.
Another thing to take into consideration is the usage of possible data URIs, `data:text/html`, `data:text/javascript` might be used to bypass some

[2021-12-28 12:20] lfcnassif commented on #892
Interesting article: https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html

[2021-12-28 12:31] hauck-jvsh commented on #892
I also notice that, and use exactly the `StringEscapeUtils.escapeHtml`. Thank tou for your help.

[2021-12-28 14:47] hauck-jvsh commented on #894
WhatsApp parser has this vulnerability, as in the reportgenerator it print the message text directly.
with this line
`out.print(message.getData() + "<br/>");`

[2021-12-29 12:16] lfcnassif commented on #892
I just would like to point that the HtmlViewer, used by Iped to view Telegram and other html reports, blocks the download of any Internet resources. But, the user is still able to double click on the files and open them using the default browser, or to export them to html reports, that could trigger this.

[2021-12-29 13:03] lfcnassif commented on #892
like any other malicious (html) file already existent in the evidence.

[2021-12-29 16:39] baptistapedro commented on #892
I did not run the tool but I would assume that malicious JS may be executed either way, because the payload will be embedded on a WebView (HtmlViewer) with javascript enabled *webEngine.setJavaScriptEnabled(true)*.
I think a relevant difference is that in this case the attacker can reach the JavaFX (webview) API from js calls.

*webEngine.setJavaScriptEnabled* is only set to *false* if an extracte

[2021-12-29 16:51] hauck-jvsh commented on #892
Unfortunately, I think  it is necessary to enable the view to open other files in the case. For example to open a video file that was shared in telegram.

[2021-12-30 12:05] baptistapedro commented on #892
Oh ok @lfcnassif  is right here.
The js is only enabled in HtmlViewer if the html > MAX_SIZE but then the content loaded on the webview is `LARGE_FILE_MSG` instead of the file content.

[2021-12-30 13:12] lfcnassif commented on #892
Actually the enableJavascript attribute is set from outside the class just for reports produced by the tool that reference other files (attachments) like Telegram and WhatsApp chat reports. It is needed to select and open attachments. Although the viewer doesn't download external resources, it is still possible to execute malicious payload as you pointed, but not remote and not completely arbitrar

[2021-12-30 14:37] baptistapedro opened #895 "HtmlViewer vulnerabilities in Windows and Linux"
### HtmlViewer opening files
[code]
*Important:* I assume unsupported file extensions might make this fail reasonably or the attacker may make it fail purposely.
Completely lacking the inspection and sanitizing of the file extracted either name or the actual content and opening/executing afterwards, may lead to bad things.

### Windows
If the analyst is using a Windows machine and extracted a file

[2021-12-30 19:07] lfcnassif commented on #892
It is.

[2021-12-30 19:27] lfcnassif commented on #895
Thanks @baptistapedro for reporting this. I think a similar approach to #271 and #283 could be used here, checking file content for the right extension.

[2022-01-01 23:33] lfcnassif opened #897 "Log all Configurables settings"
After #555, some options stopped to be logged, they should be logged again. All configurables options could be logged.

[2022-01-02 18:41] tc-wleite opened #898 "Raster images with no image:Width and image:Height properties"
I noticed that some raster images do not have `image:Width` and `image:Height` properties, which are important (e.g. to filter small images), but they have properties named `image:Image Width` and `image:Image Height`.
My proposal is to rename these latter properties to the former (which are simpler and should be the standard form), in the normalization process.
This is somewhat related to #522.

[2022-01-02 22:37] tc-wleite opened #900 "Allow user-global setting for the User Interface Scale (UiScale)"
As discussed in #48, after making IPED compatible with Java 11 (#827), the user interface will be automatically adjusted to the screen resolution.
It is now also possible to adjust the user interface scale explicitly, using the command line parameter `sun.java2d.uiScale`:
`java -Dsun.java2d.uiScale=1.5 -jar iped\lib\iped-search-app.jar`

However, setting this value and using the command line every

[2022-01-04 19:59] lfcnassif commented on #895
Returning back from vacation... Some comments:
- HtmlLinkViewer checks for the detected file extension (based on file content) and returns if it is not allowed, so it does not seems vulnerable;
- EmailViewer and MsgViewer check for the original file extension. I'll change to check for the detected extension;
- Original filename could be used just when processing mounted folders, any other kind of

[2022-01-04 21:56] lfcnassif commented on #895
@baptistapedro please see if #904 fix all issues you've found, thank you.

[2022-01-04 22:42] lfcnassif opened #905 "EMLViewer opens the wrong attachments when images are inlined"
This issue was introduced by ed68393868e03af447e067cdec52af60b79291c2. When image attachments are inlined, clicking on some attachment name could open a different attachment, or simply open nothing.

[2022-01-04 22:52] #905 closed

[2022-01-04 23:04] #898 closed

[2022-01-04 23:11] lfcnassif commented on #900
Thank you, @tc-wleite.

I'll add this option since the new config file won't be noticed by most users. Simply giving a message to manually restart the application after changing the setting is enough?

[2022-01-04 23:27] tc-wleite commented on #900
Yes, it is hidden this way. I thought about adding to the documentation, but probably wouldn't help much.

That would be a good solution.
It is not something to be changed often anyway, so a manual restart seems acceptable.

[2022-01-05 00:49] lfcnassif commented on #895
Just another comment:

If this is true, the issue possibly wouldn't be triggered on Windows, since HtmlViewer is just used for files detected as html or with .html and similar extensions if signature detection is off. The other referenced viewers ask for user permission before opening files with dll extension.

If not true, I think the proposed fix should fix the issue.

[2022-01-05 15:39] lfcnassif commented on #900
@tc-wleite, I just pushed the changes, if you agree with them, I'll merge.

[2022-01-05 15:47] tc-wleite commented on #900
Great! I will take a look and reply here.

[2022-01-05 17:32] #891 closed

[2022-01-05 18:34] tc-wleite commented on #900
I just tested here and reviewed the code, everything looks fine.
Adding the configuration dialog was a simple but good idea, I should have done that :-)

Just one somewhat related comment:
This one and all other new menu options are great, but the menu has been growing a bit.
What do think about this?
There are other (more complex) solutions, but I was considering just grouping a few related items

[2022-01-05 19:14] lfcnassif commented on #900
well, that was your idea :-) but I know you are a busy guy

I thought about adding a JMenuBar in the future, but that would need more work...

I'm ok with that and would also add "Change vertical/horizontal layout".

I'll merge #901 and we could do this separately. Thank you @tc-wleite!

[2022-01-05 19:19] #900 closed

[2022-01-05 19:23] lfcnassif commented on #895
@baptistapedro just let me know if you will or won't have time in the future to check the proposed fix, thank you!

[2022-01-05 19:36] tc-wleite commented on #900
Cool! It is a pretty simple, I can do this menu change here.
And I forgot to add the "Vertical/Horizontal" item when wrote my previous comment, but it should definitely be moved with the other four.

[2022-01-05 20:12] tc-wleite opened #906 "Group all layout and appearance related menu items"
As discussed in #900, this is a minor change to reduce the number of items in the main menu.
Options related to layout and appearance will be grouped and moved to a second level menu, inside "Layout/Appearance".
This includes the following menu items:

- Reset to default layout
- Change vertical/horizontal layout
- Change Gallery Column Count
- Color Theme
- Change User Interface Zoom

[2022-01-05 23:02] #895 closed

[2022-01-05 23:02] #906 closed

[2022-01-05 23:47] lfcnassif commented on #892
Actually this is wrong. HtmlLinkViewer is used to render Telegram, WhatsApp and other reports that have links to other case items (attachments). And because those reports could have GPS coordinates that are rendered in the Map tab, the download of external resources was enabled in HtmlLinkViewer (making RCE possible) so the Map can download map tiles while some WhatsApp/Telegram report is being re

[2022-01-05 23:53] lfcnassif opened #908 "Use a custom Policy again instead of custom proxy to block Internet access"
A long ago, a custom SecurityManager was used to block Internet access. But it used to log tons of exceptions when blocking connections and was replaced by (edit) a custom Policy, then by a custom proxy. But proxy settings are application wide and we need a different configuration per component (Map needs Internet access, Viewers should block them see https://github.com/sepinf-inc/IPED/issues/892#

[2022-01-06 03:14] lfcnassif opened #909 "Add spotbugs/forbidden apis maven plugins"
This should help find issues in the codebase.

[2022-01-06 14:57] lfcnassif opened #910 "Open attachments from EML/MSGViewer externally using detected extension"
Currently those viewers use original extension when exporting attachments to open them externally using OS associated program. Sometimes attachments without extension cause a "Open with" dialog to pop up, when they could be opened directly with the correct program. Or a wrong extension may cause the file to be sent to the wrong app and seem corrupted to user.

[2022-01-06 16:17] arisjr commented on #891
Sorry, guys, I was out on vacation... Just saw now, the path was wrong indeed. The correct path was /mnt/led/pedo/die/rfdie.dat.

Thanks and regards,
Aristeu

[2022-01-06 16:36] hauck-jvsh opened #911 "Support new Telegram version 8.4"
Database schema has changed, but the lib used by us as GPL plugin was updated recently: https://github.com/DrKLO/Telegram.

[2022-01-06 16:37] hauck-jvsh commented on #911
I notice that the user id changed from int to long, so a change in the API will also be necessary, as the signatures are using int.

[2022-01-06 20:15] lfcnassif opened #912 "WhatsAppParser links to local image files stopped to work again (master)"
This was possibly caused by the refactoring done on #521 when the dpf.sp.gpinf.indexer.parsers.util.Util.getReportHref() method was removed. That method is useful to load image elements from 2 alternative hrefs (original local path e future report path)

[2022-01-06 20:51] lfcnassif commented on #912
@fmpfeifer did you see the purpose of that method?

[2022-01-06 20:51] #892 closed

[2022-01-06 20:51] #894 closed

[2022-01-06 20:51] #912 closed

[2022-01-06 23:24] lfcnassif commented on #798
Maybe change all html reports to use a javascript function to convert dates, based on some timezone property set in webengine context, this could make rendering slower...

[2022-01-07 13:57] #179 closed

[2022-01-07 15:54] #910 closed

[2022-01-10 20:20] lfcnassif commented on #908
After having some issues, I was able to implement this using a custom Policy instead of a custom SecurityManager. The last didn't work when the resource is requested from a different context (like a background working thread running code from a different package). And the first is better because no exceptions are logged when resources are blocked. As a bonus, the Windows Firewall dialog asking for

[2022-01-11 00:00] lfcnassif commented on #892
This was disabled on #908

[2022-01-11 21:02] #847 closed

[2022-01-12 17:35] hauck-jvsh opened #915 "The size of the preview is not saved in the metadata"
The size of the preview file is not available in the elasticsearch metadata, This should available as it can be used to decide when the preview should be exhibited.

[2022-01-12 18:23] #911 closed

[2022-01-12 18:32] lfcnassif opened #917 "Some Telegram system messages were shown as different messages"
This was fixed by commit fc884cc

[2022-01-12 18:32] #917 closed

[2022-01-12 18:55] patrickdalla opened #918 "Import already bookmarked items in old processing to a new IPED version processing of the same evidence."
It is common the release of a new IPED version when a case has already started and many items have been bookmarked. In the new version, a relevant feature could be included, and it should be possible to preserve the already bookmarked items on the old processing.

[2022-01-12 18:56] lfcnassif commented on #509
I'm going to remove this feature for 4.0. Please scream if someone out there disagree.

[2022-01-12 19:00] lfcnassif commented on #509
And can help providing support for new FTK versions.

[2022-01-12 21:05] lfcnassif commented on #452
I'm not going to implement those new types of bookmarks for the future 4.0 release, but I wouldn't like to break compatibility with old 4.x cases bookmarks when this is implemented. I was thinking about inserting some generic Map<String, Serializable> structure into Marcadores(Bookmarks) class to try to make a future implementation backwards compatible. What other devs think?

[2022-01-12 23:36] lfcnassif commented on #918
Some comments:
- some items in new versions could not be found depending on the changes (e.g. corrupted data recovered before and ignored in new versions), or could have changed somehow (content, name...);
- this was already proposed by using hashes to export and import bookmarks, but not all items have hashes computed, records extracted from databases don't have hashes, they aren't actual files (

[2022-01-12 23:41] lfcnassif commented on #918
I updated the title because this could be useful even using the same IPED version (e.g. user forgot to enable some important module)

[2022-01-13 21:27] #509 closed

[2022-01-14 14:03] lfcnassif opened #921 "Missing some metadata values when removing composite/duplicate keys"
There is a logic in MetadataUtil.removeDuplicateKeys(Metadata) to remove secondary properties from composite ones that duplicate the same values in more than one primary key with different namespaces. But, depending on parser implementation, it could store different values in the primary and secondary keys if the composite property is not used for that. So, the values of the secondary properties t

[2022-01-14 18:38] #921 closed

[2022-01-14 19:46] lfcnassif commented on #643
Reopening, this is not working because of serialization issues.

[2022-01-14 22:22] lfcnassif commented on #643
This is false, a slow deserialization is happening after java 11 upgrade on #827 (just JRE, not minimum build target)

[2022-01-14 23:09] lfcnassif commented on #908
Seems this has broken at least the video thumbs generation :-(

[2022-01-14 23:16] lfcnassif commented on #908
Just reverted commits above on master, will investigate next week.

[2022-01-15 13:49] hauck-jvsh opened #922 "Improves the mergeDBs function for WhatsApp"
Currently the mergeDB function for whatsApp databases has some drawbacks that prevents them to be used as default, this aims to overcome these drawbacks

[2022-01-17 17:09] lfcnassif commented on #908
I still didn't understand what is going on. When enabling VideoThumbTask verbose mode on, I got the following log output with SecurityManager off (normal previous behavior):

[code]

But when enabling the SecurityManager in IndexFiles class and also changing the new DefaultPolicy class to always return true (to not block anything):
[code]

Although the command line syntax is the same, except for t

[2022-01-17 17:33] tc-wleite commented on #908
That is pretty strange.
I have no idea, but I will take a closer look here...

[2022-01-17 17:48] lfcnassif commented on #908
Thanks, I'm lost... I also check the bytes returned by subTmp.getAbsolutePath().getBytes(), looks fine...

[2022-01-17 17:58] tc-wleite commented on #908
@lfcnassif, I would like to try to reproduce the issue here.
Are the changes still in master or is there an specific branch?

[2022-01-17 18:01] lfcnassif commented on #908
just check out commit f309f20 from master (before the last 4 reverts)

[2022-01-17 18:33] lfcnassif commented on #908
@tc-wleite I was able to get it to work changing the current directory of mplayer to outdir before running it and removing that param from command line, but I have no idea what this issue started to happen with the SecurityManager enabled...

[2022-01-17 18:38] tc-wleite commented on #908
Well, that is good news!
Are you going to make this change?
I also can't see how these things are related, but I am observing the issue here too.

[2022-01-17 18:46] lfcnassif commented on #908
Yes, please just take a look if this change is fine: https://github.com/sepinf-inc/IPED/commit/a0c1ec25acf3c64a866606879256281157264e2f

[2022-01-17 18:48] lfcnassif commented on #908
I will also do more tests to see if something else was broken by the SecurityManager/DefaultPolicy before merging...

[2022-01-17 19:01] tc-wleite commented on #908
The code change looks fine! I will run a test later.
By the way, I *think* I found an explanation, but still need to check it...

[2022-01-17 19:10] lfcnassif commented on #908
Please, let me know!

[2022-01-17 19:47] tc-wleite commented on #908
First of all, changing the following line from
`        escape = "\\\"";`
to
`        escape = "\""; `
seems to solve the issue (i.e. just use a double quote, instead of backslash and double quote).
BUT, if the SecurityManager is removed, it doesn't work only with quote, it needs the backslash :-)

The problem is that MPlayer is very picky about this parameter (jpeg:outdir).
I had some trouble fin

[2022-01-17 19:59] lfcnassif commented on #908
I thought I tried this :-(

Yes!

I'll apply it after regression tests pass. Thank you for your help and time @tc-wleite!

[2022-01-17 20:04] tc-wleite commented on #908
I ran a test with your changes, and it worked fine.

[2022-01-17 22:24] lfcnassif opened #925 "Some features that iterate over docValues could not work together with index searches after Lucene-7 upgrade (master)"
Possibly this was caused by lucene upgrade, will investigate tomorrow.

[2022-01-17 22:32] lfcnassif opened #926 "Invalid BR_XXX regex results not excluded by validators (master)"
This is happening because of 16d2ef567e73f7a3b29171858649d336dfb3fad7 committed to enhance QRCode feature. Maybe that could be reverted and QRCodes should be stored in metadata, not extra attributes, or possibly we could restrict BR_CPF and other regexes returning many false positives.

[2022-01-17 22:35] #908 closed

[2022-01-18 13:19] lfcnassif commented on #925
Specifically, by last lucene-9.0.0 upgrade.

[2022-01-18 15:42] lfcnassif commented on #926
Apart from making some Regexes more restrict, should we revert that commit or should regexes be searched for in extra attributes created by other modules?

[2022-01-18 19:12] lfcnassif commented on #925
Actually I think this is happening since lucene-7x upgrade and affects other features that must iterate over docValues (bookmark duplicates, similar images/faces search, etc). This was a bit hard to debug and is related with large items that were splitted while indexing.

After searching the index, result references are converted from indexID to itemID. Later, when those features must iterate over

[2022-01-18 20:01] lfcnassif commented on #926
Well, today we don't have this kind of semantics defined, but I have already thought about restricting metadata just for information that is intrinsic/internal of some file format, and to use extra attributes for results produced by modules that "compute or produce" results, but even this definition could have some fuzzy borderline...

We already have for them, but even being validated, BR_CPF giv

[2022-01-18 20:30] lfcnassif commented on #925
Just to complement the explanation, the case have a itemID -> indexID array for all items, and that maps to the smaller indexID used by splitted items. I thought about using the larger indexID value, but that leads to issues with different searches. For example, let's say we have 2 items A & B, and B was broken into B1 & B2 in index. After indexing, we can get indexID(B1) < indexID(A) < indexID(B2

[2022-01-18 21:06] lfcnassif commented on #926
@hauck-jvsh found out that BR_CPF validator actually is not working/running.

[2022-01-18 22:37] #570 closed

[2022-01-18 22:37] #926 closed

[2022-01-19 00:01] lfcnassif commented on #692
I'm closing this, because it is being implemented in an internal closed source project, to not duplicate efforts. I don't know if it will be open sourced some day. If someone from the community would like to contribute with this, please reopen.

[2022-01-19 00:01] #692 closed

[2022-01-19 00:05] lfcnassif commented on #922
I'm closing this as duplicate, because #150 was left open to address the current limitations.

[2022-01-19 00:05] #922 closed

[2022-01-19 00:10] lfcnassif commented on #890
Related to #308

[2022-01-19 00:17] lfcnassif commented on #445
Closed by #481. We can open other tickets to enhance current tests or to implement others. Thanks @streeg for your work.

[2022-01-19 00:17] #445 closed

[2022-01-19 00:24] lfcnassif commented on #150
@LeonardoDiasRR see the work being done on #923, if you could help with testing, that would be great.

[2022-01-19 12:24] lfcnassif opened #928 "TelegramParser can deserialize untrusted code"
Maybe this could be fixed updating our new DefaultPolicy to deny some set of permissions when executing code that comes from telegram-decoder-impl-xxx.jar codesource.

[2022-01-19 18:28] lfcnassif opened #929 "Change checked items localization to portuguese"
Currently those strings are translated as:
- highlighted items -> itens destacados
- checked items -> itens selecionados

The proposal is changing to:
- highlighted items -> itens selecionados
- checked items -> itens marcados

Original translation was chosen because I thought "marcados" could be confused with items in bookmarks ("marcadores"). But this choice confused even me a lot of times...

O

[2022-01-19 18:55] tc-wleite commented on #929
This is my favorite option.
I guess there are no "perfect" translations for these terms, and the original ones in English seem more intuitive, but I believe the proposed terms are used by other softwares in Portuguese.

This is a good alternative, and would be less confusing for old users as you said, so that would be my second option.

[2022-01-19 19:31] lfcnassif commented on #929
I also thought about changing the english expression "highlighted items" to "selected items". But I think the current english string is already intuitive, so changing it could just confuse old users instead of making things better.

[2022-01-19 21:00] #506 closed

[2022-01-20 13:43] lfcnassif opened #932 "Optimize memory usage of analysis interface"
I just realized commit ca59ed4cc5548abe5ce41e041bc8138300a35f6e increased the memory usage temporarily. There is a long time since I did memory profiling while using the UI. There are other areas for improvement for sure.

[2022-01-20 15:15] hgguido opened #933 "Save custom panels Layout"
Is there any way to configure the layout so that it stays persistent?
I mean the distribution of the panels and also the visible columns.
This is very customizable and this is great, but I have to tweak everything again every time.

[2022-01-20 16:05] lfcnassif commented on #933
Currently not, although this was already proposed informally.

Doesn't this option work for you?

![image](https://user-images.githubusercontent.com/7276994/150375976-8b0e2d21-16af-4c60-929e-07ff6e95b9f1.png)

[2022-01-20 16:17] lfcnassif commented on #932
e.g. `class ItemId { int sourceId, id; }` uses about 24 bytes for each item (4 + 4 + 12 bytes header), maybe we can change MultiSearchResult class to store a Map<Integer, int[]> to map a sourceId to an array of ids instead of storing a ItemId[] array.

Methods that take a MultiSearchResult and return a filtered one could also be optimized to use less temporary heap.

[2022-01-20 16:33] hgguido commented on #933
Yes, i am currently using this option. But it is necessary to uncheck the option "manage columns automatically (slower)" every open otherwise the default that was saved is lost.

[2022-01-20 16:46] lfcnassif commented on #784
Thinking better about this, do we need an "UUID" for items in iped? Would it be useful in multicases? This change would make #918 very difficult, I doubt users will know/remember they need to specify the evidence UUID when reprocessing cases to import old bookmarks later. Maybe this change to include the evidence UUID in globalID computation can be made just into ElasticSearchTask, what do you thi

[2022-01-20 16:49] hgguido commented on #933
That´s great. I will try this option next time.

Thank you very much!

[2022-01-20 16:52] hauck-jvsh commented on #784
I think it could be used only in the elastic ID, I think you could also maintain the persistentID in elastic just not as _id field which must be unique.

[2022-01-20 18:43] hauck-jvsh commented on #150
Now it allows more than one mainDB in each evidence and it also identifies backups in other evidences. This may occur when the memory is extracted in another evidence and the backups were in it.
@lfcnassif  Just one thing,
[code]
if this code is executed the preview for the item is not being rendered, do you know why?

[2022-01-20 18:56] lfcnassif commented on #784
This was done to make the --continue option work when resuming a processing to ElasticSearch instead of having to delete a remote index and start the processing from beginning again. Including the evidence UUID into persistentID/globalID computation should be enough to avoid _id conflicts between elastic cases.

[2022-01-20 19:10] lfcnassif commented on #784
@hauck-jvsh what field are you using to store bookmarks info in elastic, _id?

[2022-01-20 19:25] hauck-jvsh commented on #784
Currently I'm using the _id just to fundo the item and then set a new metadata with the bookmark in the item.

[2022-01-20 20:13] lfcnassif commented on #929
After talking with some colleagues here, let's go with the second proposal

[2022-01-20 20:45] #929 closed

[2022-01-20 21:20] lfcnassif commented on #150
No, it shouldn't have anything related to rendering previews...

Let me know when the PR is ready for review, and I will take a look.

@LeonardoDiasRR, as you are interested in this feature, let me know you can help with testing, or not.

[2022-01-20 21:25] lfcnassif commented on #784
@hauck-jvsh, I changed the attribute names persistentId->globalId, parentPersistentId->parentGlobalId, parentContainerPersistentId->containerGlobalId, and also ElasticSearchTask contentPersistentId -> contentGlobalId to follow the new naming convention.

[2022-01-20 21:34] #574 closed

[2022-01-20 21:40] lfcnassif commented on #574
As discussed here and on #931, this feature is inherently dangerous and with very hard issues to workaround. Instead of removing the feature, a big WARNING in config file was added. For now, no efforts will be done to try to improve it, at least from my side, I think there is no easy reasonable solution.

[2022-01-21 12:59] lfcnassif commented on #517
After talking to @mpolastro just backups detection will be implemented for now.

[2022-01-21 13:35] hauck-jvsh commented on #784
After that commit an error is occurring when processing cases, see the log file attached.
[IPED-2022-01-21-10-25-00.log](https://github.com/sepinf-inc/IPED/files/7913987/IPED-2022-01-21-10-25-00.log)

[2022-01-21 14:12] lfcnassif commented on #784
Thanks @hauck-jvsh, I'll take a look.

Actually I'm still not convinced about the new globalID attribute name, since it could repeat across cases without including the evidenceUUID in the computation. As you said, we can create a real UUID for items for possible future use in a new attribute (maybe using the globalID name), I like this idea.

But about persistentID renaming, I thought about more o

[2022-01-21 14:14] lfcnassif commented on #837
@hauck-jvsh found out commit ff847f2 is not working...

[2022-01-21 14:58] lfcnassif commented on #517
https://www.richinfante.com/2017/3/16/reverse-engineering-the-ios-backup

[2022-01-21 16:21] tc-wleite commented on #933
@lfcnassif, are you (or someone else) working on this?
If it is not the case, I would like to implement this, as some users here requested this feature.
Took a quick look, it should be straightforward...

[2022-01-21 16:32] tc-wleite commented on #784
Processing an E01 image worked, but when I tried to process a folder, got a similar exception here.

[2022-01-21 16:34] tc-wleite commented on #784
I was following the discussions around this issue, but I am not sure what would be the best option.

[2022-01-21 16:38] lfcnassif commented on #784
ok I'll revert that commit until I remember the full details when that is needed or not to compute persistentID

[2022-01-21 16:43] lfcnassif commented on #933
I'm not, thank you @tc-wleite!

[2022-01-21 17:20] lfcnassif commented on #784
Apart from naming, do you think this property should be unique across cases (not needed by iped today) or should repeat when processing the same evidence (so #918 would be easy to implement)?

[2022-01-21 17:33] tc-wleite commented on #784
Well, #918 would be an useful feature. So both properties (unique across cases and repeatable) seem interesting, but is it simple to be implemented?! If it is not that complex, and doesn't add too much overhead (memory/ processing), it seems a good idea, even if these properties are not necessary right now.

[2022-01-21 18:20] tc-wleite commented on #784
Wouldn't it be unique across cases now? (so globalId would make sense)

[2022-01-21 18:37] lfcnassif commented on #784
No, I didn't change the computation logic, that's why I'm thinking to revert globalID name or to rename to something else...

[2022-01-21 18:37] lfcnassif commented on #784
For now, I'm inclined to constantID

[2022-01-21 20:07] hauck-jvsh commented on #150
I think it is ready for review.

[2022-01-21 20:22] #837 closed

[2022-01-21 20:57] lfcnassif commented on #784
Another option: longID

[2022-01-21 22:54] lfcnassif commented on #784
Ruback's suggestion: trackID or trackingID, I liked it.

[2022-01-22 00:08] tc-wleite commented on #933
DockingFrames already has utility methods to save and restore the layout of panels, so it was straightforward to implement, as expected. These functions in the library has minor flaws (e.g. an externalized and maximized panel is restored just as an externalized panel, losing its maximized state/position), but so far I didn't find anything critical.

There are also a few "extra" configurations ("ou

[2022-01-22 15:15] lfcnassif commented on #933
I was aware docking frames has such support, but didn't know it was so straightforward. Thank you @tc-wleite for taking care about all the other details!

[2022-01-23 19:25] thalespr commented on #693
After a while, returning to work on this feature. Sorry for being away from this project. I'll be careful about regressions.

[2022-01-25 17:04] hauck-jvsh commented on #784
So If I understand correctly, there will be two properties, globalId and trackingId?

[2022-01-25 17:42] lfcnassif commented on #784
The scenario above could also happen with default file system items, files inside a directory could be committed and their parent folder not, depending on thread schedule.

So, all items must have a trackID and parentTrackID to allow checking the parent-child relationships, **maybe** parentId (int) could be completely replaced by parentTrackId in all places in the future, maybe this would make ID

[2022-01-25 17:53] hauck-jvsh commented on #784
I like this approach, it will simply the process a lot. The only draw back is the length of the trackID.

[2022-01-25 18:16] lfcnassif commented on #784
There is also the multivalued parentIds property (different from parentId) with all item parents, used to allow fast filtering on file tree. I don't like it very much, because it is redundant and duplicates information. I didn't tested yet the file tree performance with a recursive solution using just the parentId field, maybe keeping it on memory would not have a large performance impact...

[2022-01-25 18:32] hauck-jvsh commented on #784
I also use it to allow filtering by file tree in the web interface.

[2022-01-25 18:43] lfcnassif commented on #784
Have you tested an implementation with just parentId, right? Did it have a noticeable performance impact?

[2022-01-25 18:51] hauck-jvsh commented on #784
I couldn't make the searches, because I have to filter items that has in their parentdIds the ids of the selected items.

[2022-01-25 19:00] lfcnassif commented on #784
I see, this would need some recursive search, possible Elastic doesn't have a support for that, but we could try to implement this inside iped...

[2022-01-25 20:00] tc-wleite opened #939 "Exception when selecting an item without hash"
The following exception is thrown whenever an item without a hash value is selected.

[code]

It seems to be harmless, as it only prints this stack trace in IPED-SearchApp.log.
I detected it while using the latest code (master), but after testing in 3.18.12, it seems that it also happens in 3.18.x versions.

[2022-01-25 21:17] #939 closed

[2022-01-25 21:20] lfcnassif commented on #150
Thanks @hauck-jvsh, I'll test this after giving @LeonardoDiasRR some time to help us with testing.

[2022-01-25 22:26] lfcnassif opened #941 "Subitems or items from UFDR may point to inexistent parent when resuming processing"
This was explained by this comment: https://github.com/sepinf-inc/IPED/issues/784#issuecomment-1021439444

[2022-01-26 20:17] lfcnassif opened #942 "Rare ConcurrentModificationException when making partial index commits"
This was triggered after decreasing commit interval to 30s to test other things, making this error more often. Stacktrace from master:
[code]
I believe this can also happen in last 3.18.x versions.

[2022-01-26 20:22] lfcnassif commented on #792
Given the fixes, I think this is happening since this feature was first released.

[2022-01-28 18:26] lfcnassif opened #947 "Embedded VHD disks not expanded (master)"
Regression of 27de09a9f056f4b6843ded4018e6a2c4712da1b7

[2022-01-28 18:37] #942 closed

[2022-01-28 18:37] #947 closed

[2022-01-28 21:12] lfcnassif opened #948 "Aborting errors when resuming processing of multiple embedded virtual disks (master)"
When #102  was implemented, resuming that kind of processing was not tested properly, and of course, is not working:
[code]

[2022-01-28 21:21] lfcnassif commented on #948
And also this NPE:
[code]

[2022-01-28 23:54] #784 closed

[2022-01-28 23:54] #792 closed

[2022-01-28 23:54] #941 closed

[2022-01-28 23:54] #948 closed

[2022-02-02 20:50] tc-wleite opened #949 "Minor Fixes to local (Vosk) audio transcription (master)"
- While working in a case with relevant audio files, I tried using the local (Vosk) audio transcription feature. Initially it was not working. After investigating the issue, I found that the conversion to WAV (before call Vosk library) was not working anymore. It seems to a similar issue that affected video thumb generation explained here https://github.com/sepinf-inc/IPED/issues/908#issuecomment-

[2022-02-03 02:45] tc-wleite commented on #949
Forgot to write in my previous post...
It was the first time I tried the local audio transcription, and found it a very promising feature.
Although the transcription results could be a bit better, in general they were good, and contained several important words from the audios I had. Considering it is a free option (comparing with cloud services already available) and trivial to use (no extra setu

[2022-02-03 11:32] lfcnassif opened #951 "Allow running Vosk local audio transcription on the GPU"
Currently we use the default maven libraries, compiled to run on the CPU. We can try to build the library linking to CUDA to try to run on GPU, this could give us some processing speed up.

[2022-02-03 16:15] lfcnassif commented on #949
Thank you @tc-wleite for trying this new feature and for the fixes! For sure the pr-BR model can be enhanced, I added a configuration to filter out words with low confidence scores. The english model and possibly others have higher accuracy, so I think this will be even more useful for foreign users.

[2022-02-03 16:35] lfcnassif commented on #951
Lots of references here https://github.com/alphacep/vosk-api/issues/74

[2022-02-07 16:28] lfcnassif opened #954 "EML/MSG emails with forbidden NTFS chars in attachment extension not rendered"
This is related to #953

[2022-02-07 23:56] lfcnassif commented on #43
and for Android: https://github.com/abrignoni/ALEAPP

[2022-02-08 15:55] #949 closed

[2022-02-08 22:12] #933 closed

[2022-02-08 23:11] #954 closed

[2022-02-08 23:29] lfcnassif commented on #799
Closes by 07c563f3e765e4948ec95777fa2bfe3557703284 simply displaying the message on graph tab status bar.

[2022-02-08 23:29] #799 closed

[2022-02-09 05:08] aberenguel commented on #493
This feature in PA very useful! It can detect weapons, money, nudity, child sexual exploitation (CSE) with reasonable accuracy.
This information could be appended in metadata for awhile.

[2022-02-10 13:52] tc-wleite commented on #890
@lfcnassif, I tested here (in a standalone program) a way of reducing image similarity features to 1024. It seems to provide very similar results.
Checking the changes that would be necessary in IPED, I realized that I don't know how to implement the Lucene related part.
Not sure how you plan to deal with this issue, but if you implement the changes for Similar Faces, I can later use them as an ex

[2022-02-10 19:40] lfcnassif commented on #493
Currently I have other issues in my roadmap for 4.0. If you could help implementing this, that would be great.

[2022-02-10 20:07] lfcnassif commented on #493
Thank you @aberenguel! So I'll assign to you to avoid duplicated efforts.

[2022-02-11 11:28] lfcnassif opened #960 "Refactor item content source references"
Currently 3 different types of attributes are used to track item content source:
- export path/File: if item points to regular local file system files
- sleuthId/sleuthFile: if item points to data decoded by sleuthkit
- idInDataSource/inputStreamFactory: if item points to data from AD1, UFDR and other evidence types

The first 2 could be refactored to also use idInDataSource/inputStreamFactory. Or

[2022-02-11 11:44] lfcnassif opened #961 "Data carving when processing local files stopped to work (master)"
Seems this is a regression of commit a6cee81

[2022-02-11 17:40] lfcnassif opened #962 "Exception in image similarity search when some kind of evidences are moved"
Testing a fix to #961, I found this stacktrace in the analysis log:
[code]
I think this could also happen when moving UFDR or AD1 evidences. Seems easy to fix.

[2022-02-11 18:49] lfcnassif opened #963 "Clicking on carved item from moved local folder datasource doesn't ask for new folder location"
Asking for new folder datasource location works just when clicking on allocated/actual files.

[2022-02-11 20:43] #961 closed

[2022-02-11 20:43] #962 closed

[2022-02-11 20:43] #963 closed

[2022-02-11 21:31] lfcnassif opened #964 "Automatic bookmarks for items shared by p2p applications may not be created"
This could happen with small cases which processing finishes fast. As bookmarks are saved by a background **daemon** thread by default, sometimes iped process ends before saving the automatic bookmarks.

[2022-02-11 22:07] #964 closed

[2022-02-12 13:33] lfcnassif opened #965 "Some carved files from ignored subitems could not be processed/exported when using blind or similar profiles"
One intended difference is the ignoreCorruped flag in carving configuration, enabled in blind profile and disabled in forensic. Another is ignoring irrelevant files based on hash databases in blind profile.

But even making those configs equal, blind profile is extracting a few less items in some categories configured for extraction. I guess that is related to irrelevant subitems being deleted bef

[2022-02-12 14:28] lfcnassif commented on #965
Other expected diff is processing file slacks, enabled in forensic, some carved files could come from them.

Just confirmed this. We already have some logic to handle this, if a carved file comes from a subitem to be ignored (and deleted from local FS), the carved item is processed in the same worker/thread, so the subitem will be deleted after all carved items from it are processed. But the issue

[2022-02-12 14:36] lfcnassif commented on #965
One more observation, when disabling _enableHtmlReport_ in blind profile, the results difference is smaller, since small subitems contents stored in sqlite containers are not deleted in 3.x (related to #341)

PS: This is an old bug standing since processing queues with different priorities were introduced and mainly when sqlite files started to be sent to the second queue to allow processing them

[2022-02-14 21:11] lfcnassif commented on #341
Just pushed a safer implementation to 3.18.x branch and will include this in 3.18.13.

I'll revert the previous implementation in master and cherry pick the new approach.

[2022-02-14 23:08] #341 closed

[2022-02-14 23:08] #965 closed

[2022-02-14 23:10] lfcnassif commented on #293
Now this should be easy to implement after recent changes to #341.

[2022-02-15 02:13] lfcnassif opened #967 "Rare aborting ConcurrentModificationException when resuming processing"
Stacktrace from current 3.18.13 tag:
[code]
Should affect 3.18.12 and master.

[2022-02-15 03:03] #967 closed

[2022-02-15 18:40] lfcnassif opened #968 "Parser for thumbcache files"
Currently we have a generic OLEParser that handles Thumbs.db files. But we don't have any parser for thumbcache files, they are just sent to carving module to carve images, usually that returns partial images, since they are possibly fragmented into the thumbcache file.

Related project and documentation:
https://github.com/libyal/libwtcdb
https://github.com/libyal/libwtcdb/blob/main/documentation

[2022-02-16 14:23] lfcnassif commented on #293
Issues reported by an user using this not finished feature:
- "processing finished with errors" message shown after removing an evidence: just a flag missed in code...
- "new evidence path" dialog shown: must remove the evidence from sleuth.db too;

[2022-02-16 17:37] #493 closed

[2022-02-16 22:04] vitorlco commented on #348
I'm with the same problem, but I didn't find error in any archive.

C:\IPED\IPED-3.18.13\iped-3.18.13>iped.exe -profile pedo -d "H:\DIVERSOS\DOCUMENTOS\EnCase" -o L:\PROCESSAMENTO
2022-02-16 20:02:23     [ERROR] [gpinf.indexer.IndexFiles]                      Processing Error:
java.lang.ArrayIndexOutOfBoundsException: 8
        at dpf.sp.gpinf.indexer.process.task.LedKFFTask.init(LedKFFTask.java:1

[2022-02-16 23:07] tc-wleite commented on #348
From your LocalConfig.txt, it looks like you are using LED's version 1.21.01, right?
That version is too old (released ~6 years ago) and columns included in hash file changed in version 1.24.00.
IPED 3.18.x should work with LED versions between 1.24 and 1.28.
The new IPED version (4.0.0) will not read these LED files anymore, to avoid this kind of dependency. It will be able to use LED hashes, but

[2022-02-16 23:27] flbjuniorx commented on #348
Wladmir, is there any tool or script that validates the entries in the hash file? In my case, when I updated the file with some new hashes, the error raised.

[2022-02-16 23:55] tc-wleite commented on #348
First check the version you are using (and which tool to generate the hashes).
If you update the hashes and it doesn't work, probably the generated format is different from the ones contained in the wkff (or hashes) folder. So I guess it wouldn't work in LED too.

Basically, to use LED hashes in IPED you must use LED versions between 1.24 and 1.28 as I mentioned, and for calculate new hashes in th

[2022-02-17 02:40] lfcnassif opened #970 "Graphs with zero or few connections could render disconnected nodes initially"
This happens when generating reports **without** communications items (emails, messages...), because, currently, all nodes are imported to report graph database, but just relationships related to items included in the report are imported to graph. We should restrict the initial rendered nodes to have at least one relationship.

This also happened while testing #969.

[2022-02-17 02:51] #970 closed

[2022-02-17 16:27] lfcnassif opened #971 "Decode WhatsApp payments information"
On #758 we implemented just the decoding of already supported information for the new WA version. This was left as a future improvement.

[2022-02-18 22:57] lfcnassif opened #972 "Optimize WhatsAppParser memory usage"
While reviewing #923 I remembered all chat/message data is kept on memory, including thumbnails.

Now that decoded data from identified backups are kept in a static cache (temporarily until all DBs are processed) to allow merging them with the main database, maybe it would be a good idea to try to optimize the memory footprint.

Early today I did some heap dumps and profiling and found out that sp

[2022-02-18 23:13] aberenguel commented on #972
Is it possible to use some cache that evict data when it reach some size?
In the past I used the guava library cache. It has a lot of features for cache policy.
https://github.com/google/guava/wiki/CachesExplained

[2022-02-18 23:16] lfcnassif commented on #972
Before merging #923, although the decoded data was not kept in a static cache, the main WA DB and its backups used to be processed at the same time when running in a CPU with many cores, so about the same amount of memory was used before. This usually is not a problem because high end CPUs often comes with dozens of GBs of memory. But now, even CPUs with a few cores (that usually has less memory a

[2022-02-18 23:20] aberenguel commented on #798
This feature would be great! In many cases it is asked for us to analyse the timeline of events that happen in a very specific interval of time.
If the change for html reports became difficult, I think this feature could be implemented for table tab at first.

[2022-02-18 23:21] lfcnassif commented on #972
Actually I'm misusing the "cache" word. If we throw away decoded data larger than some limit/after some time, the mergeDBs feature won't work. But we could use some Map out of heap implementation, maybe using native memory or paged to disk.

[2022-02-20 03:59] lfcnassif commented on #972
I did a few more tests and seems simply spooling thumbs to disk can save up to 40% of memory used by WhatsAppParser depending on dataset. Instead of spooling, another solution would be to read thumbs from WA databases on demand, but this would require much more code changes (opening and reusing connections, new SQLs for different WA versions, updating the old ones...). Using one single thumbs file

[2022-02-20 14:14] lfcnassif commented on #972
Reopening. I didn't test databases together with attached medias, but seems the changes made on #486 are keeping all references (and thumbnails) to attached items found in case on memory, this could be improved too.

[2022-02-21 14:05] hauck-jvsh opened #973 "Group participants aren't being extracted"
Group participants are not being extracted, and the field Message-To in each group individual message are also not being populated;

[2022-02-21 14:18] lfcnassif commented on #973
My fault, sorry. This is a regression introduced in 3.18.9 in this commit: d043e8692bd7ccf96fde2f30484710ab196f5b27

[2022-02-21 14:59] hauck-jvsh commented on #973
Just one more thing, I notice that the group id is not being exported to any metadata. What do you think about export it?

[2022-02-21 16:53] hauck-jvsh commented on #973
The group ID is a string formatted as {creator's phone number}-{creation time}@g.us;

[2022-02-21 17:47] lfcnassif opened #976 "NPE when parsing corrupted WhatsApp android account xml"
Trace from master:
[code]

This is a minor bug since the file looks corrupted.

[2022-02-21 17:57] #976 closed

[2022-02-21 20:25] lfcnassif opened #977 "Parsing for iPhone iTunes Backups"
This is to track the continuation of the initial work on #517, since that was scheduled for 4.0, but this is not.

[2022-02-21 20:29] lfcnassif commented on #517
@mpolastro do you have any reference newer than this? PR #975 implemented the detection based on that post, but it is more than 2 years old...

[2022-02-21 22:58] lfcnassif commented on #552
Reopening, some categories from RefineCategory.js are not being shown in file tree.

[2022-02-21 23:04] lfcnassif commented on #973
closed by #974

[2022-02-21 23:04] #973 closed

[2022-02-22 02:26] lfcnassif commented on #150
Are there ChatStorage.sqlite backups in iOS devices? If they could be identified by a simple name pattern, this feature could be applied to them too.

[2022-02-22 14:05] lfcnassif opened #979 "Enable new Vorbis audio parsers included after Tika upgrade"
Those are used to extract metadata from some audios fomats. Already enabled:
- org.gagravarr.tika.FlacParser
- org.gagravarr.tika.OggParser
- org.gagravarr.tika.VorbisParser

New parsers:
- org.gagravarr.tika.OpusParser
- org.gagravarr.tika.SpeexParser
- org.gagravarr.tika.TheoraParser

[2022-02-22 14:10] lfcnassif commented on #457
@mbichara I'll apply the solution to this separately from #458 since that is still draft and needs to be carefully tested with some hundreds of thousands/millions of files of different file formats to catch regressions, thanks.

[2022-02-22 14:22] #457 closed

[2022-02-22 14:22] #979 closed

[2022-02-22 17:19] lfcnassif commented on #890
@tc-wleite I started working on this. Unfortunately, seems the new Lucene KnnVectorField (https://lucene.apache.org/core/9_0_0/core/org/apache/lucene/document/KnnVectorField.html) is single valued :-(. For image similarity feature I think it's ok. But for faces, there can be more than one per image... One solution would be to store additional faces in different vector fields (face1, face2...) and

[2022-02-23 03:49] tc-wleite commented on #890
Sure! Should I use the branch you created ([#890_index_vectors](https://github.com/sepinf-inc/IPED/tree/%23890_index_vectors)) or a new one?

[2022-02-23 18:18] tc-wleite commented on #890
Just pushed the changes to reduce the number of features used by image similarity to 1024.
I also made a temporary change to not use SimilarImagesSearch (that was filtering by features that were removed).
Let me know if you find any issue while implementing the Lucene related part.
Other than that, let me know when it is working, so I can run some tests here.

[2022-02-23 18:32] lfcnassif commented on #890
Thank you @tc-wleite! I'll start working on this now.

[2022-02-23 18:51] lfcnassif commented on #890
@tc-wleite just an observation, we can index a float[1024] array, image features now uses a byte[1024], maybe that could be useful to store more information.

[2022-02-25 11:53] lfcnassif opened #981 "Minor improvements related to similar images and faces search"
I'll cherry pick some commits from #980 since that PR will be discarded for now.

[2022-02-25 14:39] #981 closed

[2022-02-25 14:44] lfcnassif commented on #890
Closed by #981. As discussed on #980, we are just indexing face encodings for a possible usage in a future lucene upgrade, since they are float[128], no changes were done in the face search code nor in the image similary feature.

[2022-02-25 14:44] #890 closed

[2022-02-25 16:35] lfcnassif opened #983 "Change a few more property names in index"
This needs to be done before 4.0.0. Some properties that come to my mind:
- similarityFeatures -> imageFeatures
- Message-From -> From or Party-From (also used by Calls)
- Message-To -> To or Party-To (also used by Calls)
- Message-Date -> Date, Communication-Date or maybe we could have separate Message-Date and Call-Date. Just the two above (From/To) must be the same for both Messages and Calls c

[2022-02-25 18:01] aberenguel opened #984 "Rendering error when scroll HtmlViewer on Linux"
IPED versions: 3.18.12 ~and 4.0.0-snapshot~
SO: Ubuntu 21.10

Since I started to use IPED I noticed that html became buggy when I scrolled the html preview frame. See below (red blocks were added to hide the messages)

![image](https://user-images.githubusercontent.com/2973359/155763874-6eb63163-3bf8-4951-a3b6-9db8cfe804c7.png)

~Today I tried to fix it. I added one line in the HtmlViewer.java to

[2022-02-25 19:05] tc-wleite opened #985 "Support ProjectVIC Data Model 2.0"
As discussed in https://github.com/sepinf-inc/IPED/discussions/944#discussioncomment-2062294.

[2022-02-25 19:06] lfcnassif commented on #984
Hi @aberenguel. What do you mean by buggy? Is it freezing? Rendering wrong elements? Another thing? What java version are you using to open the case?

[2022-02-25 19:10] lfcnassif commented on #985
@tc-wleite if you don't have yet, I can download a sample json using the new 2.0 model for dev/testing.

[2022-02-25 19:13] tc-wleite commented on #985
I am using the one you uploaded to out internal server a few days ago (that you later replaced by the 1.3).
By the way, I requested the access to ProjectVIC hashes, already sent a few additional emails, but still waiting...

[2022-02-25 19:19] lfcnassif commented on #985
I think I'll get in touch to them and ask about the 1.4M photoDNA hashes missing in last version...

[2022-02-25 19:35] lfcnassif opened #986 "Graphs in multicases not generated in writeable cases"
The graph building in multicases is not working at least since 3.18.8, not sure when this regression was introduced, starting to investigate...

[2022-02-25 20:31] lfcnassif commented on #986
Regression since 3.18.5 :-( introduced by commit 09f675fc82a2a9e8958c5e8e24484fa509c55eb6

[2022-02-25 20:34] #986 closed

[2022-02-25 20:42] aberenguel commented on #984
I mean the rendering of message ballons.
![image](https://user-images.githubusercontent.com/2973359/155799658-b7d38414-6291-4371-a3bf-6938e74ab9df.png)

After a lot of debug, I noticed that if I open a chat before loading the `Help.htm`, the rendering issue does not happen.
I also commented those lines to check and the rendering became ok:
[code]

[2022-02-25 20:44] aberenguel commented on #984
Java version: 1.8.0_311, vendor: Oracle Corporation

[2022-02-25 21:07] lfcnassif commented on #984
This seems really weird, but maybe there is a better fix, I'll take a look next week, thanks for reporting this!

[2022-02-25 21:41] lfcnassif commented on #984
Do you know if it used to work in any previous iped or java version on Linux?

[2022-03-02 19:17] #554 closed

[2022-03-02 19:22] lfcnassif commented on #554
Now the following escapes or char classes are supported: \b (just at the regex start or regex end) \s \S \d \D \w \W \n \r \t \f

I didn't add support for line anchors for now, I think they wouldn't be very useful for current configured regexes.

[2022-03-02 20:15] #985 closed

[2022-03-03 00:51] lfcnassif opened #989 "Random ClassCastException when opening GUI (master)"
I don't know when this started to happen exactly (after java11 upgrade, Dark Theme or other change, was some months ago...), but sometimes GUI starting fails with this or a similar stacktrace:
[code]

@tc-wleite do you have any tip?

[2022-03-03 01:19] tc-wleite commented on #989
That is odd... I don't remember seeing this kind of error. I don't have any ideas right now, but I will think a bit more and update here.

[2022-03-03 11:46] lfcnassif commented on #989
PS: I think sometimes the issue arises from a different component than MetadataPanel, if I remember, so seems to be something more global... if I got a different trace, I'll post here.

[2022-03-03 12:29] lfcnassif commented on #984
@aberenguel could you try using the Liberica OpenJDK 8 FULL (not standard) package?

[2022-03-03 18:10] lfcnassif opened #990 "Reading subitem content in multicases can fail (master)"
Regression introduced by 841b95b03aa40d6c6527697cf3ca8bcfa1d171cd and a2934faf4cadee1026dbd1ec90c10187e7bd4f6d

[2022-03-03 19:18] aberenguel commented on #984
Just tried some scenarios:
* IPED 3.8.12 + Liberica JDK 8 Full  → same behaviour as Oracle JDK 8
* IPED 3.8.12 + Liberica JDK 11 Full → it worked properly!!
* IPED 4.0.0 + Oracle JDK 11 + OpenJFX 11.0.2 (added in pom.xml) → the rendering ballons are ok, but the chat wallpaper is not shown.
* IPED 4.0.0 + Liberica JDK 11 Full → it worked properly!!

In the header message I mistakenly mentioned IPED

[2022-03-03 19:20] lfcnassif opened #991 "Graph creation in reports generated from multicases can fail"
I think this issue is present since the graph feature was first released. The problem is that nodes from just the first case are exported, when all nodes from all cases should be, and this results in an error when importing relationships referencing inexistent nodes.

[2022-03-03 19:31] aberenguel commented on #984
A think I noticed when using IPED 3.8.12 + JDK 8:

* when the Help.htm is show in the first, the chat ballons rendering is buggy and the scrollbar is ok
![image](https://user-images.githubusercontent.com/2973359/156638107-c3336f82-8ed3-4916-aff7-3b1dd216ee71.png)

* when the Help.htm is NOT shown in the first, the chat ballons rendering is ok but the scrollbar is not shown
![image](https://user-im

[2022-03-03 20:17] lfcnassif commented on #989
Got a different stack now:
[code]

[2022-03-03 20:32] lfcnassif commented on #984
Thanks @aberenguel for all your tests! Looks like a JDK 8 bug to me. Since this is fixed in 4.0.0 (planned to be released soon), I think we can close this like a few other issues fixed just in 4.0.0 (e.g. #420)

PS: If you find a reasonable fix to 3.18.x without upgrading the JDK (this could result in other unexpected issues...), I'll be happy to apply.

[2022-03-03 20:46] lfcnassif commented on #293
Reopening to fix a NPE

[2022-03-03 20:47] #293 closed

[2022-03-04 13:23] lfcnassif commented on #989
I took a quick look at code called before MetadataPanel instantiation and did some (not useful) thread dumps. Just found UI configuration code being called outside EDT in IcePDFViewer.init(), pushed changes to #989_fix branch. But that code was there since a long time ago, not sure if it is related to this...

[2022-03-04 17:23] lfcnassif commented on #991
Actually this feature was left as a future implementation according to code comments.

[2022-03-04 20:36] tc-wleite opened #993 "Excessive memory consumption processing large E01 images"
This started with @hugohmk trying to process two large disks (10 TB and 8 TB), with a lot of videos. He faced **out of memory issues**, but eventually managed to process them using the "--continue” option. Both disk images are in **E01** format and **very large** (~8.5 TB and ~7.1 TB). The number of items (discovered by tsk_loaddb) in these disks is not that large (< 1M).

I ran several tests to i

[2022-03-04 21:00] lfcnassif commented on #993
We already have a comment in our wiki related to this (https://github.com/sepinf-inc/IPED/wiki/Troubleshooting) in second paragraph from bottom to top, OOME section. But I thought these kind of issues were related to TSK memory leaks, not LIBEWF! Thank you very much guys for all your tests!

Sleuthkit project has several issues to upgrade to latest LIBEWF, but @joachimmetz said it is still experim

[2022-03-04 21:23] lfcnassif commented on #993
I reported the issue to original project.

Could you confirm the exact original version used?

[2022-03-04 21:42] tc-wleite commented on #993
Disabling robustImageReading does help (it is the same effect of using numImageReaders=1). It seems that LIBEWF (the olde version) stores some data related to E01 structure. When there are more readers, they randomly request parts of the E01, so the memory consumed by each process is lower than using a single process, but the total amount of memory (sum of all processes) is larger, as there is som

[2022-03-04 21:46] tc-wleite commented on #993
I used the one that came with IPED 3.5.1 (internally it is marked as version 20130416, but I am not sure this information is reliable). It is modification date is 2014/02/03.

[2022-03-04 22:22] lfcnassif commented on #991
For now I added a simple fix to don't replace node info in the generated report with original node info (usually better) from source cases from multicases.

A better solution would be to merge nodes from all cases (putting all properties together), but this is not trivial and will be targeted on #171

[2022-03-04 22:22] #991 closed

[2022-03-05 00:18] lfcnassif commented on #993
I'm trying to reproduce here with patched libewf-legacy and 20140812. Just one quick question, those E01 images were segmented?

[2022-03-05 00:24] tc-wleite commented on #993
No, just a single E01 file.

[2022-03-05 02:14] lfcnassif commented on #552
Reopening, some subcategories are being shown twice, also under root, possibly caused by last commit.

[2022-03-05 02:15] lfcnassif opened #994 "Negative estimated time to finish processing"
Detected this while testing #993 with fastmode + signature detection on using master.

[2022-03-05 02:41] tc-wleite commented on #993
Yes, I tested with a DD created from the E01 and a couple of other 2TB DDs I had here.
I also tested with other E01 images from other cases (unrelated to these two large images), and observed the same behavior (in a smaller scale, because the images were smaller).

He was already using the newest LIBEWF. He tried to build the old one, but there were several issues, and we had to give it up (at lea

[2022-03-05 03:22] lfcnassif commented on #993
Well, given this and that latest libewf fixed the issue using the same TSK version (on another OS right?), seems an issue with libewf-legacy. While I try to reproduce the issue here, I can try to compile latest libewf for Windows x64 and send the dll to you, if you have the time to verify if it fixes the issue on your Windows system, that I believe was used for most tests...

[2022-03-05 03:34] tc-wleite commented on #993
All tests that I mentioned used Windows. @aberenguel built a Windows x64 version for me of the latest LIBEWF (which I used in the last test that apparently solved the memory issue).
I believe he used MinGW to build. If you build in a different way (like Visual Studio), just send me the DLL and I can test it here.

[2022-03-05 03:39] lfcnassif commented on #993
Great! I understood the fix was verified by him on his Linux system. But I've just found another single 2TB E01 image and managed to reproduce, several external processes using 2GB of memory now! I'll try to compile a x64 win libewf 2020 version and test it.

[2022-03-05 03:44] tc-wleite commented on #993
Great! If you managed to reproduce it I am relieved!

[2022-03-05 04:18] aberenguel commented on #993
I've just compiled the libewf-legacy tag 20140812 and could reproduce the scenario @tc-wleite mentioned (with the same E01).
The picture shows the java subprocesses that consumed 2GB very fastly.
![image](https://user-images.githubusercontent.com/2973359/156867334-4100a784-67a3-4a25-829c-e1e272bb537c.png)

[2022-03-05 04:40] aberenguel commented on #993
BTW, I had to make some modifications in libewf-legacy 20140812 in order to make it read the big E01 file.
* libcdata_definitions.h: LIBCDATA_ARRAY_ENTRIES_MEMORY_LIMIT increased to 1GB (not tested with lower values)
* libmfdata_definitions.h: LIBMFDATA_ARRAY_ENTRIES_MEMORY_LIMIT ncreased to 2GB

And I experienced some segmentation faults using `tsk_loaddb` (libewf-legacy 20140812) with this E01.

[2022-03-05 05:11] lfcnassif commented on #993
Updates:
- after monitoring that whole processing, external image reading processes used up to 3.5GB of memory using our patched libewf-legacy with the 2 TB image I got (on Windows);
- same results/memory leak when using libewf-legacy 20140812 (on Windows)
- after compiling libewf-20201230 using MS VC 2015 (and dealing with a bzip2 linking issue...), external image reading processes used up to 400

[2022-03-05 05:31] aberenguel commented on #993
As additional information, I compiled a merged version of `sleuthkit-APFS` + **`sleuthkit-4.6.7`** with libewf-legacy 20140812.
I did not fixed. Same behaviour.

[2022-03-05 05:37] lfcnassif commented on #993
PS: @tc-wleite here are the libewf-20201230 x64 DLL (patched to use the old method name) and dependencies compiled using MS VS 2015 if you want to double check, but don't worry, now I'm pretty sure we can conclude it fixes the issue.
[Release.zip](https://github.com/sepinf-inc/IPED/files/8190053/Release.zip)

[2022-03-05 12:10] joachimmetz commented on #993
please do no use such old version of the Sleuhtkit many issues have been addressed since

so what is the issue high memory consumption with large E01 files with the legacy version?

[2022-03-05 14:09] tc-wleite commented on #993
Just ran a complete test with the large (~7.1 TB) E01 and another E01 (~1.5 TB), and everything worked fine with the DLL you shared.

[2022-03-05 14:46] lfcnassif commented on #993
Hi @joachimmetz, first thank you for your time. I'm aware about the many many issues you and others fixed in TSK (thanks!), but when trying to upgrade on #771, I found important APFS decoding regressions when comparing with our fork from BlackBag's original implementation. Hopefully, I'll have time to investigate it in one or 2 weeks...

Yes, @tc-wleite reported a single process using libewf-legac

[2022-03-05 16:49] joachimmetz commented on #993
If you rely on TSK APFS support I would address those issues in the SleuthKit including other APFS issues like https://github.com/sleuthkit/sleuthkit/issues/2641, BlackBag is **not** maintaining the implementation

The legacy version can be memory hungry on how the chunk table is kept in memory, especially with >1T images. Where the experimental version only keeps part of it in memory. Can you ple

[2022-03-05 21:25] lfcnassif commented on #993
Sorry @joachimmetz, I misused the 'leak' word. It could be just an inefficient use of memory resources. I'm not an experienced C programmer and never used valgrind, but I'll try to use it to be sure if it is a leak or not when I have some time available. Thanks again for your time.

[2022-03-05 21:52] lfcnassif opened #995 "Upgrade to LIBEWF-20201230"
That should fix #993 and also give us partial support for Ex01 and Lx01 formats.

It would be good if we could test @fmpfeifer cache patch to see if it still helps do speed up HFS decoding in E01 images.

[2022-03-06 00:02] fmpfeifer commented on #993
Hi @lfcnassif, sorry for the delay. Is there a github repo with the libewf20201230 that I can apply my patches onto?
I have the patches in this repo (last 4 commits): https://github.com/fmpfeifer/libewf_64bit

but this is libewf 20130416

[2022-03-06 00:48] lfcnassif commented on #993
Hi @fmpfeifer, good to hear from you. Don't worry, we are on weekend! AFAIK we still don't have a fork, just the official libewf repo. Maybe submiting your patch as a PR to official libewf would be an option?

Since lastest TSK still uses the old libewf API, what path would be better? Patching TSK or LIBEWF method names? Possibly we will have to patch TSK to make it able to accept APFS passwords a

[2022-03-06 01:58] lfcnassif commented on #993
Just a last update on tests, I converted this single ~1.9TB E01 image to about ~950 2GB EWF segments and run tests again:
- single image reading process with libewf-legacy used ~2.3GB of memory
- single image reading process with libewf-20201230 used ~900MB of memory

This is interesting because breaking the single 2TB E01 image in 2GB segments decreased the libewf-legacy version memory usage, but

[2022-03-06 18:07] #552 closed

[2022-03-06 18:28] lfcnassif commented on #984
Closing, already fixed in master. Thanks @aberenguel for your tests!

If anyone finds an easy solution to apply in 3.x version, please let me know.

[2022-03-06 18:28] #984 closed

[2022-03-07 13:56] lfcnassif opened #996 "Bookmarks not saved in local temp if case is readonly using ACLs"
When case is readonly, iped tries to save bookmarks in user default temp folder. But java File.canWrite() method seems to check only the readonly file flag and does not check for ACLs etc... So it returns true and iped tries to write in default case bookmark file and it fails:
[code]

[2022-03-07 14:54] #996 closed

[2022-03-07 20:09] lfcnassif opened #997 "Messages from chats decoded from UFDRs being duplicated and shown as attachments in preview"
This probably started to happen when UFDR xml model introduced new "ForwardedMessageData" and "ReplyMessageData" children fields to store information about forwarded and reply messages. As those fields are not supported yet, they are being handled as message attachments by a generic children handling code and also causing duplicated messages to be shown in preview tab, even when those new fields a

[2022-03-07 20:10] lfcnassif commented on #997
As we don't test the UFDR decoding module for every released PA version, this kind of things can happen...

[2022-03-07 20:17] lfcnassif opened #998 "Render and jump to quoted messages of reply messages in chats decoded from UFDRs"
This is related to #693 and #997

[2022-03-07 20:56] lfcnassif commented on #997
This behavior was introduced when fixing https://github.com/sepinf-inc/IPED/issues/155, when using a generic children field handling code for future unknown fields, that was a bad idea...

[2022-03-07 21:31] #997 closed

[2022-03-07 21:36] lfcnassif commented on #990
Reopening, this fix is causing chat parsing exception when exporting items to MinIO (reported by @hauck-jvsh)

[2022-03-07 21:53] lfcnassif commented on #997
Last commit also merged those new fields in the parent message, so now we can get up to 3x reduction in the number of instant messages related items in case.

[2022-03-08 11:43] lfcnassif commented on #989
I wrote a script to open and close the UI several times during the night. Got more (only) 3 stacktraces on master:
InteropFactory: cannot load com.sun.javafx.embed.swing.newimpl.InteropFactoryN
[code]
[code]
[code]
So seems the IcePDFViewer.init() is related, but while initializing the SwingController. I'll also put that in EDT and do more tests.

[2022-03-08 14:30] #990 closed

[2022-03-08 14:30] #989 closed

[2022-03-08 14:50] lfcnassif commented on #989
Given the analysis results, I think this could also happen to 3.x, since the fix is simple, I'll cherry pick.

[2022-03-08 17:43] hauck-jvsh commented on #732
In the last version of the MinIO they add support to download individual files inside zip files, this can used to minimize the number of small files save in the bucket.

[2022-03-08 18:40] lfcnassif commented on #732
Thank you @hauck-jvsh!

[2022-03-08 19:40] lfcnassif commented on #928
After analysis and testing, actually this is invalid. TelegramParser just deserializes data, not code. I also checked security Permissions used by TelegramParser, and actually none of them are being used, so the plugin is not calling sensitive code (eventually malicious crafted data could make a sensitive code to execute a malicious activity).

I'll just improve the implementation done on #908.

P

[2022-03-08 19:40] #928 closed

[2022-03-09 11:48] lfcnassif commented on #538
Reopening, TempFileTask is running on fastmode profile, causing slowness.

[2022-03-09 11:59] lfcnassif commented on #538
Wrong issue, closing.

[2022-03-09 13:48] lfcnassif commented on #889
Reopening just to filter out some reflective access warnings from console when iped.exe is used

[2022-03-09 13:51] #889 closed

[2022-03-09 18:21] joachimmetz commented on #993
@lfcnassif can you create PR, I can take a look at merging the changes when time permits

[2022-03-09 19:25] hauck-jvsh commented on #998
I think that render will easy, as the message could be in another file.

[2022-03-09 20:30] lfcnassif commented on #993
Hi @joachimmetz, of course. @fmpfeifer was the original patch author. Currently he is traveling, but when he returns I'll check this with him it. Basically his patch creates a limited cache for uncompressed data, so applications that read the same data chunk several times could get a great benefit. Do you think this cache would be a good addition to libewf?

[2022-03-09 20:33] lfcnassif commented on #998
good point!

[2022-03-10 05:39] joachimmetz commented on #993
MRU chunks are already cached https://github.com/libyal/libewf/blob/3a0968ae9d1cb3ebab4eb1931a93c7f50387bbaf/libewf/libewf_chunk_table.c#L129

This is currently 8 chunks in size
https://github.com/libyal/libewf/blob/3a0968ae9d1cb3ebab4eb1931a93c7f50387bbaf/libewf/libewf_definitions.h.in#L430

[2022-03-10 16:44] lfcnassif commented on #993
Thanks @joachimmetz! Just to confirm, libewf-legacy also has such kind of cache for uncompressed data? I couldn't find those limits (like LIBEWF_MAXIMUM_CACHE_ENTRIES_CHUNKS) in the legacy version.

[2022-03-10 18:42] joachimmetz commented on #993
I think it is this one https://github.com/libyal/libewf-legacy/blob/d35048cd97d2e192708988fc1424cd2ca2a00e76/libewf/libewf_handle.c#L2106

though this cache might behave a little bit different than MRU

[2022-03-10 18:43] joachimmetz commented on #993
Caching is a tricky topic, can widely differ based on the source data and the use case

[2022-03-10 18:58] lfcnassif commented on #993
This can be wrong, maybe @fmpfeifer's cache is at a higher level, so maybe it can cache small pieces of data from different chunks much before reaching its limits, maybe he could clarify...

[2022-03-10 21:15] lfcnassif opened #1001 "TextViewer not displaying final text fragments of files [3.18.8 regression]"
Reported by @gabrieldmf, possibly related to #682

[2022-03-10 22:25] #1001 closed

[2022-03-11 04:39] joachimmetz commented on #993
Ok but that means the cache might better live in the TSK then, since the cache would/could also benefit other storage image formats.

[2022-03-11 11:35] lfcnassif commented on #993
Yes, possibly, that's why I asked if it would be a good addition to libewf. Thanks @joachimmetz

[2022-03-11 12:37] joachimmetz commented on #993
so that is debatable, if this is a cache that specifically benefits use of libewf with libtsk, then no, if this a cache that benefits more generic usage of libewf, then maybe, but then the question becomes why is it current cache not sufficient? So some data on cache hits and misses could be useful.

[2022-03-11 13:05] lfcnassif commented on #993
@fmpfeifer do you still have the test image you used in benchmarks?

[2022-03-11 13:06] fmpfeifer commented on #993
No, I don't. It was a long time ago..

[2022-03-13 20:07] hauck-jvsh opened #1003 "Error when merging whatsapp backups when there are corrupted databases (master)"
When doing some test I found an error when processing the msgstore file inside a big UFDR. The strange thing is that the error does not occur when processing the msgstore.db files alone.
The following exception occurs

	at dpf.mg.udi.gpinf.whatsappextractor.WhatsAppParser.parseDB(WhatsAppParser.java:340)
	at dpf.mg.udi.gpinf.whatsappextractor.WhatsAppParser.parseAndCheckIfIsMainDb(WhatsAppParser.j

[2022-03-13 20:16] lfcnassif commented on #1003
Thanks @hauck-jvsh. Could you check the "Parsing exception" line in log corresponding to above stacktrace? It contains file path and size, maybe it could be a zeroed file or folder with msgstore.db name...

[2022-03-13 20:21] hauck-jvsh commented on #1003
For sure, this the line.

[2022-03-13 20:22] hauck-jvsh commented on #1003
There is also an error in the msgstore file that I processed alone and it worked.

	at dpf.mg.udi.gpinf.whatsappextractor.WhatsAppParser.parseDB(WhatsAppParser.java:340)
	at dpf.mg.udi.gpinf.whatsappextractor.WhatsAppParser.parseAndCheckIfIsMainDb(WhatsAppParser.java:351)
	at dpf.mg.udi.gpinf.whatsappextractor.WhatsAppParser.parse(WhatsAppParser.java:196)
	at org.apache.tika.parser.CompositeParser

[2022-03-13 21:39] lfcnassif commented on #995
All, I'm going to roll a 3.18.14 version probably tomorrow because of some regressions from different 3.18.x versions. May this be included? Anyone out there using this libewf version without problems?

[2022-03-13 22:18] thalespr commented on #693
Started developing this feature for Android... Some notes to keep track on:
1) Added quoted_row_id attr to Message class (maybe the attr name can change in the future to make sense for iOS too);
2) I think it will be necessary to create a new class to store quoted messages;
3) I think the Select message query in ExtractorAndroid (at extractMessages method) should be reevaluated since the messages

[2022-03-14 00:18] lfcnassif commented on #693
Not sure about the needed effort, but if it is possible, I think displaying image/video thumbs or the audio generic icon would be better.

[2022-03-14 00:22] lfcnassif commented on #1003
Is this happening just on master or also with 3.18.x?

[2022-03-14 03:16] hauck-jvsh commented on #1003
I didn't test on 3.18.x, I can test this tomorrow.

[2022-03-14 13:43] hauck-jvsh commented on #1003
I found that the msgstore.db actually has  2.176.393.216, but in the log it appears with 2.147.483.647 bytes.

[2022-03-14 13:58] lfcnassif commented on #1003
I'll check if this is a zip4j issue or iped one.

[2022-03-14 14:02] lfcnassif opened #1004 "Similar image search filter panel not rendering selected external image"
This is happening on master and 3.18.13, it works when selecting a case image. Screenshot:
![image](https://user-images.githubusercontent.com/7276994/158187909-8d4500e4-fb02-4b66-a40d-4cd5953887ed.png)

[2022-03-14 14:06] #1004 closed

[2022-03-14 14:07] lfcnassif commented on #1004
@tc-wleite I just pushed a fix, but I didn't check if it can affect other modules...

[2022-03-14 15:22] lfcnassif opened #1005 "Query parsing fails if there is an odd number of “ (0x93) chars in the query string"
Found by @hauck-jvsh while testing #1003. Does not happen in 3.18.13. Possibly caused by whatsapp refactoring code on #486

[2022-03-14 15:52] lfcnassif commented on #995
@tc-wleite and @aberenguel are you using this version without issues?

[2022-03-14 16:22] tc-wleite commented on #995
I just ran the processing tests, but I start using it in the cases I am working on.

[2022-03-14 17:24] lfcnassif opened #1007 "IllegalArgumentException: cannot change field "Communication:From" from index options=NONE to inconsistent index options=DOCS_AND_FREQS_AND_POSITIONS"
Sometimes processing an ufdr with master aborts with error below from lucene-9.0.0:
[code]

I'll try to fix "ufed:Data" field data type to see if it helps.

[2022-03-14 17:41] lfcnassif commented on #1005
Actually, it's not a regression. The attachment name has one “ (0x93) char, different than " (0x22) char. Lucene QueryParserUtil.escape() isn't escaping that, just " (0x22) char. But later, when the query string is parsed by lucene, strangely it is converted to the default " (0x22) char, and query parsing fails because it's not escaped and there is no enclosing " (0x22) char pair. Maybe this is a

[2022-03-14 17:55] #1005 closed, assigned to lfcnassif

[2022-03-14 18:12] #1003 closed

[2022-03-14 18:22] fmpfeifer opened #1008 "Aborting ClassCastException in GraphTask"
While processing an UFDR file from a Android device, the processing aborted with an Exception in the GraphTask:

[code]

I can provide the UFDR file for testing, if needed (it is about 3 GB in size).
Disabling the graph generation was enought to get it done for me.

[2022-03-14 18:51] fmpfeifer commented on #1008
Yes, done. Thanks

[2022-03-14 19:18] lfcnassif opened #1009 "Minor optimization when indexTempOnSSD = false: put back HashTask before SignatureTask"
It used to be this way a long ago, but was changed to group similar tasks together. When indexTempOnSSD = false (TempFileTask disabled), processing spends some time in SignatureTask, making random disk IO just to read a few starting bytes from files. If we put HashTask before that, all bytes are read at first, and when signature detection is done, usually item first bytes are still cached in syste

[2022-03-14 20:24] #1008 closed

[2022-03-14 20:32] lfcnassif commented on #995
Thanks @tc-wleite and @aberenguel. So, since it was released more than one year ago (after a previous version released 2 weeks earlier), and since I see no open or closed issues tagged as bugs after 20201230 release, I'll include this in 3.18.14.

Fingers crossed...

[2022-03-14 21:30] lfcnassif commented on #995
I'll upgrade without this, could be left as a future improvement.

[2022-03-14 22:57] lfcnassif commented on #995
This may make processing of HFS E01 images with **fastmode** profile slower, but other profiles **should** only take longer to give an estimation of processing finish time.

[2022-03-14 23:02] lfcnassif commented on #995
I've just done a small test with an ex01 image and it worked. Still need to test segmented ewf2 images and embedded ones.

[2022-03-15 10:30] fmpfeifer commented on #995
I think it would be better to integrate without the cache. It will be better to maintain, and HFS is not so common anymore

[2022-03-15 11:53] lfcnassif opened #1015 "WhatsApp group members tracking should consider when contact entered and left group"
On #974, all contacts that sent a message to a group are put as group members of the chat. This allow to know that one contact was a group member in the past. But, group members are used to populate the recipient list (Message-To) of the message, and this results in displaying that one contact received the message, after he/she has left the group...

Actually, previous behavior was already wrong,

[2022-03-15 12:24] #993 closed

[2022-03-15 12:26] lfcnassif commented on #995
I'm trying to get a problematic HFS image for tests, to check if your patch is still worth to apply, no success until now...

[2022-03-15 12:59] lfcnassif commented on #1007
Happened again:
[code]
Reopening util this is properly fixed.

[2022-03-15 21:48] lfcnassif opened #1017 "Different detection results on corrupted carved files if indexTempOnSSD is on/off"
Depending on configuration, some corrupted carved files (without known extension at first) could be detected as docx or zip, depending if detection was done over an InputStream or temp File, respectively. This changes the total number of case items, because zips are expanded. Seems an issue after we upgraded to Tika-1.26 on master. This is related, check @tballison's first comment:

https://issues

[2022-03-15 21:51] lfcnassif commented on #1017
On latest 3.18.14 release, detection always returns the same results (zip). Results should be the same, regardless of user configuration...

[2022-03-16 00:31] lfcnassif commented on #1017
Fixed on upstream project, for Tika-2.3.1, another sensitive upgrade...
https://issues.apache.org/jira/browse/TIKA-3701

[2022-03-16 00:34] lfcnassif commented on #1017
When this upgrade is done, the number of items will decrease, since corrupted files previously detected as zip, will be detected as docx, xlsx, pptx, odt... and they aren't expanded by default.

[2022-03-16 11:55] lfcnassif commented on #1017
One option, with the new MultipleParser, is to configure a second parser (e.g. ZipParser) if the default parser fails (OOXmlParser), so corrupted ooxml files (docx etc) would continue to be expanded like zips, this would allow to index some contents the RawStringParser won't be able to (compressed data)...

[2022-03-16 11:56] #960 closed

[2022-03-16 14:22] lfcnassif opened #1018 "Exception in TelegramParserTest (master)"
An exception is being printed, but test pass, we should remove all generic catches put around tests by our previous trainee...

[2022-03-16 18:03] #1018 closed

[2022-03-16 18:21] hauck-jvsh opened #1020 "Better way to handling the minIO credentials"
When a case is processed using minIO as the storage service the credential used is not saved. So when the user opens the case he must pass the credentials as an environment variable. This behavior may not work when opening a multi case with data storage in more than one minIO server. I think that a better option is to ask for the password as soon as it is needed, for example when the user tries to

[2022-03-16 19:42] lfcnassif opened #1021 "Clean up parsers tests"
All catches from tests should be removed, to not hide failures or errors. We also can reuse code of some default interfaces implementations.

[2022-03-16 20:02] #1021 closed

[2022-03-16 21:45] lfcnassif opened #1022 "Search remote ElasticSearch indexes"
Since we already index data to remote ES servers, it makes sense to allow the UI to search on them. This needs a relevant refactoring because searching local or remote indexes should be transparent, using interfaces. This is low priority since another internal closed source project is already making those searches from a web UI.

[2022-03-17 02:31] lfcnassif opened #1023 "Review dependencies licenses"
All BSD 2/3 clauses and MIT licenses should be explicitly put into licenses folder. We should also double check licenses of recently added dependencies to be sure they are compatible to this project's license.

[2022-03-17 02:48] lfcnassif commented on #1009
Closing this, since I didn't get meaningful results differences when putting HashTask before SignatureTask with indexTempOnSSD = false. Tested with a small 20GB image in E01 and DD formats. Of course, this can change with input data, but at least this didn't seem to be a general rule...

[2022-03-18 00:52] lfcnassif opened #1024 "Selected medias in case are not always shown selected in chat preview (master)"
Seems to be some kind of event issue. Happens just when switching between different chats, if you click on another non chat item then select the chat, the attachment is shown selected. When leaving the chat, it is also possible to see the item being selected for a short period of time.

[2022-03-18 11:53] lfcnassif commented on #972
Reopening, this is causing an error when there are Android and iOS whatsapp databases mixed in the same case.

[2022-03-18 12:01] #972 closed

[2022-03-18 18:42] #802 closed

[2022-03-18 20:09] hauck-jvsh opened #1025 "Implement the download WhatsApp attachments feature for IOS"
#802 adds support for downloading attachments for android WhatsApp, so the support for the IOS app should be implemented.
Reference:
https://blog.erratasec.com/2020/01/how-to-decrypt-whatsapp-end-to-end.html#.YjTmWjVv8UF

[2022-03-21 17:10] lfcnassif opened #1027 "Optimize graph building, querying and size by merging relationships"
Today every single communication (like one single instant message) is imported as a different edge in graph database. A possible optimization would be to merge thousands of edges between 2 nodes into a few edges with a bigger weight property, still differencing direction (incoming/outgoing), edge type (call, sms, email, im...), but keeping original item IDs and timestamps as composite/multivalued

[2022-03-21 19:52] aberenguel opened #1028 "AIOOBE generating report from another report caused by chat attachments parents not exported"
IPED version: 3.18.14
OS: Ubuntu 21.10

I was generating a report from report previously generated.
This exception occured
[code]

[2022-03-21 19:53] aberenguel commented on #1028
I saved the file `/tmp/report13429178478623615301.iped` if it would be needed.

[2022-03-21 20:25] lfcnassif commented on #1028
Thanks @aberenguel for reporting. Could you do some tests to help me understand what is happening? Just increasing the array size should not fix the root cause of the issue. I pushed a code for debugging to #1028_debug branch (snapshot soon here: https://github.com/sepinf-inc/IPED/actions/runs/2018553400). Just replace the indexador/lib/iped-search-app.jar and do these 3 searches:
[code]

What are

[2022-03-21 20:30] lfcnassif commented on #1028
PS: commit above just makes tree nodes (shown in Evidences tab) not exported to report to be listed in table tab. Actually they are indexed without contents with a special flag treeNode:true to be rendered in file tree, but not in table tab results.

[2022-03-21 21:04] lfcnassif commented on #1024
just confirmed this only affects master, possibly related to java 11 upgrade...

[2022-03-21 21:43] lfcnassif commented on #1024
Actually this is a simple to fix regression caused by dark theme changes.

[2022-03-21 21:44] #1024 closed

[2022-03-21 22:31] aberenguel commented on #1028
The two first search returned empty. The last one returned 1 item:
![image](https://user-images.githubusercontent.com/2973359/159373860-0fb9e84a-00ca-4d18-a90b-1f5e8d60edde.png)

[2022-03-21 22:32] aberenguel commented on #1028
Got those lines in log:
[code]

[2022-03-21 22:38] aberenguel commented on #1028
I've just replaced the iped-search-app.jar and tried to generate the report again.
Same error:
[code]

[2022-03-21 23:04] lfcnassif commented on #1028
After replacing the jar, right?

Are you able to find that file's parent in file tree?

I still didn't tried to fix it, just changed the code to help testing.

[2022-03-21 23:16] lfcnassif commented on #1028
Was the original case (before creating the first report) processed using blind or a similar profile (with automatic file extraction on)?

[2022-03-21 23:45] lfcnassif commented on #1028
ok I _think_ I know what could have happened. Is that file a media attachment referenced by some chat exported to report (and the media itself not explicitly included in, but included automatically because it is referenced by the chat)? Just click on it and the the `References` tab to see if some chat reference is listed.

If the answer is yes to above and no to below question

I know how to fix i

[2022-03-22 01:09] lfcnassif commented on #1028
Just pushed a possible fix.

[2022-03-22 13:21] lfcnassif opened #1029 "Upgrade to Tika-2.4.0 when released"
This should fix #843 and #1017 and #1071

[2022-03-22 15:42] aberenguel commented on #1028
Yes. Before replace the too.

The item has these metadata: `id: 376747` and `parentId: 376748`. But the parent was not there. I searched for `id:376748`, but no results.

[2022-03-22 15:55] aberenguel commented on #1028
I think that's exactly the case. The item was exported because it was attached to a chat. It didn't have any bookmark after reporting generation.
Looking at `References` tab, the corresponding chat is there.

[2022-03-22 15:58] aberenguel commented on #1028
In the original case

![image](https://user-images.githubusercontent.com/2973359/159523356-f4539a9a-8bf7-4b4b-8d6f-a156931c9e88.png)

The generated report

![image](https://user-images.githubusercontent.com/2973359/159523416-e1b8a2ae-5310-4f70-9d66-4449ff8998f6.png)

[2022-03-22 16:34] lfcnassif commented on #1028
Ok thanks @aberenguel for checking my guesses. I think the pushed changes will fix this. Unfortunately you'll have to generate the first report again, because parents weren't exported. I tried to reproduce the issue locally, but couldn't, since this depends on ids assigning order.

About your last trace, that doesn't make sense with 3.18.4 or with last commit I pushed here. What's the exact versio

[2022-03-22 17:01] aberenguel commented on #1028
Great. Just to checked in my case:
[code]

[2022-03-22 17:54] lfcnassif commented on #180
Returning to this work...

Any opinion about this @tc-wleite, @hauck-jvsh or other dev?

[2022-03-22 18:01] hauck-jvsh commented on #180
I'm using bookmark in the SARD project, but I don't known if its the best translation.

[2022-03-22 18:03] aberenguel commented on #180
I prefer the "bookmark" term.

[2022-03-22 18:07] lfcnassif commented on #180
This is a good point.

[2022-03-22 19:11] lfcnassif commented on #1029
Somes related changes:
https://poi.apache.org/components/configuration.html

[2022-03-22 19:17] lfcnassif commented on #180
Since most devs voted for bookmark, let's use it in sources. UI translation can be changed in localization files. If anyone is -1, let me know.

[2022-03-22 20:10] aberenguel commented on #1028
I've just generated the report using `iped-engine-3.18.14.jar` from  [iped-snapshot-64360ac2f382d500ae447b4aafa70fb9d448fcc2.zip](https://github.com/sepinf-inc/IPED/actions/runs/2022424801).
The ids assigning order has changed (as expected).

Then I proceeded the generation of another reported from that fresh report.
Got this exception:
[code]

[2022-03-23 02:45] lfcnassif commented on #1028
Not sure what is happening again, seems there is an item (or parent ref) in second report with an ID greater than the max ID of first report... Maybe there is still some parent missing with a large ID being referenced, or maybe items are being expanded in report generation, they shouldn't... Your report seems large, maybe items tagged to be included in report are getting a large (unexpected) ID be

[2022-03-23 04:20] aberenguel commented on #1028
Just tested with 115e3d5 commit.
[code]

[2022-03-23 04:25] aberenguel commented on #1028
The parentId of `id:677440` is 677441.
![image](https://user-images.githubusercontent.com/2973359/159623463-2ed78ea3-e3e9-4569-88ee-e679137a669b.png)

It seems the parent is not present in the case.

![image](https://user-images.githubusercontent.com/2973359/159623525-0f360cd5-150c-4058-91e5-db89f417175e.png)

[2022-03-23 04:33] aberenguel commented on #1028
That's OK. The parent was a folder that was not marked to be added in the generated report.

[2022-03-23 11:38] lfcnassif commented on #1028
Thanks @aberenguel. But is the parent present in file tree?

Are you appending (--append) this second report to another existing report?

[2022-03-23 12:06] lfcnassif commented on #1028
I think I found the problem, commit 381494f has an issue where the item counter thread is consuming items IDs, it shouldn't. Please give the last snapshot a try and see if it fix the the second report creation.

[2022-03-23 13:12] lfcnassif opened #1031 "Upgrade Microsoft client-sdk to 1.19.0 to fix audio transcription failing on Linux"
A colleague is having some issues and sent the following log msg:
[code]
I'll create a debug branch to help him investigate this.

[2022-03-23 13:48] lfcnassif opened #1032 "OutOfMemoryError while generating PDFs thumbnails using internal conversion"
An user is having OOME issues and sent this trace:
2022-03-22 17:06:44	[ERROR]	[gpinf.indexer.IndexFiles]			Processing Error:
[code]
He has 24GB of heap and enableExternalParsing = true. Looking at the full log, I saw he enabled the DocThumbs module and I saw other OOMEs while parsing some PDFs. But we don't log if pdfThumbs = internal/external, this could be the cause.
I asked him to change that

[2022-03-23 13:54] lfcnassif commented on #1032
I've just put a paragraph about DocThumbs option in our wiki:
https://github.com/sepinf-inc/IPED/wiki/Troubleshooting#outofmemoryerror

[2022-03-23 17:58] aberenguel commented on #1028
Thanks @lfcnassif ! It seems the AIOOBE is fixed.
I've just genereated a second report without any issues using this build https://github.com/sepinf-inc/IPED/actions/runs/2028250135

A point I'd like to mention is that the second report came with 2 items in addition:
![image](https://user-images.githubusercontent.com/2973359/159765079-2836fc79-b9c7-43fa-a016-fa51eb0cf8fd.png)

[2022-03-23 18:04] aberenguel commented on #1028
I will open another issue about it

[2022-03-23 18:14] aberenguel opened #1033 "Duplicated empty "WhatsApp Account" item in each report generation"
This issue was noticed when solving #1028.

Initially a case was processed from tree UFDR files. Filtering by `nome:"WhatsApp Account"` showed this.
![image](https://user-images.githubusercontent.com/2973359/159767260-f6336b5a-9c90-4f8e-adf4-00d7072bdd58.png)

After generating a report from the case, the filtering resulted in:
![image](https://user-images.githubusercontent.com/2973359/159767384-b3

[2022-03-23 19:49] lfcnassif commented on #1032
Looking at the heap dump, I've just confirmed several GBs are used by PDFBox cache/objects created by DocThumbsTask. I'll make  a small change and ask the user to run processing again with internal docThumbs enabled.

[2022-03-23 19:57] lfcnassif commented on #1032
One strange thing is that ~6GB of heap was being used by PDFBox ScratchFile objects, other GBs seems to be used by the documents resources cache.

[2022-03-23 20:04] tc-wleite commented on #1032
You meant external, right?

[2022-03-23 21:15] lfcnassif commented on #1032
"internal". I've already suggested him to use "external" to workaround the issue before analyzing the dump. Now I asked him to run again with "internal" to test the disabled resource cache I've pushed for testing, when the "external" processing ends.

If disabling resource cache helps avoid OOME, ideally we should run some tests to evaluate the performance impact...

[2022-03-23 21:18] lfcnassif commented on #1028
Thank you @aberenguel for testing!

[2022-03-23 21:20] lfcnassif commented on #1033
Thanks. I'll investigate this tomorrow. Was this happening with other cases before #1028 changes?

[2022-03-23 21:22] lfcnassif commented on #1031
Just upgrading MS client-sdk from 1.11 to 1.19 seems to have fixed this.

[2022-03-23 21:23] lfcnassif commented on #1031
Processing still running on user environment, but I'll merge the upgrade and close. We can reopen later if needed.

[2022-03-23 21:35] #1031 closed

[2022-03-23 21:44] lfcnassif commented on #1028
Closed on master by commit [30832ae](https://github.com/sepinf-inc/IPED/commit/30832ae0dccc7e65fb1a67fc6bb78a981ce67e7f)

[2022-03-23 21:44] #1028 closed

[2022-03-24 13:09] lfcnassif commented on #1032
Actually the internal/external PDF conversion config is already logged, I looked for the wrong log message. Updating this issue title to a better description...

[2022-03-24 13:48] lfcnassif commented on #1032
Tooking a closer look at the dump, this is caused because there are 608 ScratchFile objects (and other 605 PDDocument & 605 DefaulktResourceCache objects), consuming up to 16MB each. This is caused because we are using `Executors.newCachedThreadPool()` and when timeouts happen (there are many of them in the log) the background thread is interrupted, but this could not end the running pdfbox code i

[2022-03-24 14:20] lfcnassif opened #1034 "Optimize external PDF thumb creation running it in the external parsing processes"
The "external" pdf thumbs config is safer than "internal" (#1032), but slower, we can improve its performance reusing processes.

[2022-03-24 23:49] lfcnassif commented on #1034
I think we have already proposed this, but other option is generating thumbs in the external parsing processes, like one or two parsers do (e.g. VCFParser). Duplicated thumbs wouldn't be skipped/reused, but we would reuse external processes instead of creating new ones, wasting less memory resources... This implementation should be much simpler.

[2022-03-24 23:59] lfcnassif commented on #1034
Maybe it's possible to reuse thumbs too, but this would need two tasks, one before ParsingTask to read thumbs from DB and other after ParsingTask to write them to DB, not sure if this is worthy to implement.

What do you think about the general idea of reusing parsing processes @tc-wleite?

[2022-03-25 00:08] lfcnassif commented on #1034
Others create for contacts: (Telegram|Skype|WhatsApp)Parser

[2022-03-25 03:16] lfcnassif commented on #1034
Some stats with a ~40k pdfs dataset:
14 GB/h with external thumbs on, external parsing off
135 GB/h with external thumbs on INSIDE external parsing on (not reusing thumbs yet)
160 GB/h with internal thumbs on, external parsing on
165 GB/h with no thumbs, external parsing on
170 GB/h with internal thumbs on, external parsing off

[2022-03-25 03:24] lfcnassif commented on #1034
I minor drawback with creating thumbs inside PDFParser is that a thumb timeout would cause a parsing timeout, but running the thumb creation at the end and catching exceptions, pdf text will still be indexed fine (plus raw strings) before the timeout, the file will be just tagged with a parsing timeout.

[2022-03-25 12:01] lfcnassif opened #1035 "Decode base64 values from UFDR xml"
Some passwords values are being read using the raw value in the report.xml, but they could be in base64 (or other format?) encoding:
![image](https://user-images.githubusercontent.com/7276994/160117107-30ca0b09-35bc-4d1e-bb96-01ed6ede588f.png)

[2022-03-25 12:41] tc-wleite commented on #1035
@lfcnassif, that would be great.
In many cases I worked recently, there were several valid/useful passwords in "Passwords" category stored in base64.
At least in the cases I checked, all extracted passwords were in base64.
Sometimes the decoded value is not an actual password, something like an URL or "INVALID TOKEN".
Still in these cases, decoding the value is necessary, to see the actual extract

[2022-03-25 12:57] tc-wleite commented on #1034
I think it would be the better option, performance-wise.
I didn't implement it initially because I was not sure how to change the parsing task, and I tried to minimize the impact on existing functions.

About the reported issue and the tests you ran, what IPED version were used?
I am asking because, as far as I remember, there was a critical "system-level" contention, when creating PDF thumbs (dur

[2022-03-25 13:08] lfcnassif commented on #1034
Great tip! I'm trying to reproduce using 4.0-alpha, will try with 3.18.14

[2022-03-25 15:16] lfcnassif commented on #1032
PS: using external PDF conversion, there is no rendering contention, leading to a few normal timeouts.

[2022-03-25 18:03] lfcnassif commented on #1032
Fixed by 73115a4

[2022-03-25 18:03] #1032 closed

[2022-03-25 18:54] lfcnassif commented on #1034
About timeouts, I decided to put the thumb creation after parsing code since I think text extraction/indexing is more relevant than pdf thumb view. About exceptions, I'm catching them and rethrowing at the end, so a parsing exception (in a non first page) wouldn't affect thumb creation.

[2022-03-25 19:31] lfcnassif commented on #1034
A final update on tests, reusing thumbs increased the thumb creation in external parsing processes to ~145 GB/h

[2022-03-25 20:12] wiam-prog commented on #586
ewa quoi ya pas red sehma a bande chien

[2022-03-26 04:39] lfcnassif commented on #1009
Reopening, I got a 12% speed up simply putting HashTask before SignatureTask while testing #1034 with a 250k (450GB) pdf dataset stored in a mounted folder. This seems to make more difference with medium-large sized files. Since we can get at least 0%-12% speed up depending on dataset, datasource format and hardware, I'll apply the change.

[2022-03-26 04:41] #1009 closed

[2022-03-26 12:56] lfcnassif commented on #1034
@tc-wleite, reading your original post on #119, seems OpenJDK 8 also solved the issue, right? Maybe we can replace our very old JRE embedded in 3.18.x

[2022-03-26 13:16] THausherr commented on #1032
It would be interesting to get the file that has the stack trace containing "PixelToParallelogramConverter". This looks familiar in the context of extremely long rendering times.

[2022-03-26 13:35] lfcnassif commented on #1032
Thanks @THausherr! I'll try to find it next week and check with the user who sent it if we could share.

[2022-03-26 21:01] lfcnassif commented on #1032
User just confirmed that running pdf to thumb conversion using external processes also fixed the issue.

[2022-03-28 19:14] lfcnassif commented on #1032
Hi @THausherr. I've just found and checked the triggering file. It seems to contain some vector graphics related to an engineering project. Chrome and PDFBox take about 5 seconds to render the file (Adobe Reader takes about half the time), that seems reasonable to me. I think the issue here is related to some kind of low level synchronization in (Oracle?) Java 8 when rendering dozens of files in p

[2022-03-28 19:21] lfcnassif commented on #1032
So, this doesn't seem related to a specific file, but when many of them are rendered at the same time in (Oracle) java 8.

[2022-03-28 21:46] lfcnassif opened #1037 "Upgrade to PDFBox-JBIG2-3.0.4"
Official release with a fix to #389 was published. It also fixes some System.out.print() I left behind in our fork (that inspired the official fix).

[2022-03-28 21:56] #1037 closed

[2022-03-29 18:35] #1035 closed

[2022-03-29 18:54] lfcnassif opened #1039 "Create a report output in PDF format"
It was asked by some users in a recent training. It could be similar to the current html report.

[2022-03-29 19:06] lfcnassif opened #1040 "Add a basic/small dictionary attack to supported encrypted files"
Tika has support to decrypt some supported file formats (pdf, office and a few others) if the password is provided. Currently, we don't try any password and just propagates the EncryptedDocumentException and flag the files. We could retry some times using a small (100-1000?) password dictionary list (maybe biographic based) to try to decrypt some files.

The password list should be very small, sin

[2022-03-29 19:11] lfcnassif commented on #1040
Of course, we could try to integrate a real password cracking tool (john the ripper, hashcat - not sure about their licenses compatibility), but the idea was to implement a simple strategy without external dependencies, not sure if this very limited proposal is worthy...

[2022-03-29 21:50] lfcnassif opened #1041 "Use G1GC garbage collector in 3.x release branch"
**IF** a new 3.x version are going to be released, maybe it would be a good idea to configure all EXEs to use the G1GC

[2022-03-29 21:52] lfcnassif opened #1042 "Upgrade to latest OpenJDK 8 + JFX in 3.x branch"
**IF** a new 3.x version are going to be released, it would be a good idea to replace our old Oracle 1.8.0_152 embedded JRE.

[2022-03-29 21:59] lfcnassif opened #1043 "Upgrade to Lucene 9.1.0"
Released 1 week ago.

[2022-03-30 02:03] hauck-jvsh commented on #1039
Maybe the HTML could be converted to PDF, using this approach has the advantage of having only one code for the report easing the maintenance. To this work a good library to convert HTML to PDF is needed.

[2022-03-30 02:08] lfcnassif commented on #1039
Do you know and recommend some specific lib?

[2022-03-30 13:47] hauck-jvsh commented on #1039
Unfortunately I don't know any library for this, but I can make a research if you think it is a good approach.

[2022-03-30 15:40] lfcnassif commented on #1039
Thanks @hauck-jvsh. This is not a priority, I just created this to don't forget in the future.

[2022-03-30 16:51] #1034 closed

[2022-03-30 21:01] lfcnassif commented on #643
Reopening, when application is built again, serialized object hash could change and the cache is being built again...

[2022-03-30 21:40] lfcnassif opened #1045 "New default report logo and allow changing it from report creation dialog"
We should replace the current default logo for something that doesn't need official approval to be used. We should also allow the user to change the logo when using the default report template.

[2022-04-01 16:05] lfcnassif opened #1046 "Run PackageParser as fallback for corrupted ooxml and other zip based formats"
When docx, xlsx, pptx, odt, ods, odp... fail to be parsed, RawStringsParser is used as fallback today, but it doesn't decoded compressed data. Generally the original parser is able to extract partial doc text until some point before throwing a parse exception in the middle of parsing. Maybe using PackageParser as fallback, with the new CompositeParser, we could decode some information located in f

[2022-04-05 02:46] aberenguel opened #1048 "ParsingTask causing problems in NSFWNudityDetectTask.py loading on Linux (master)"
Version: IPED-4.0.0-snapshot
OS: Kubuntu 22.04
Python: 3.10 (JEP 3.9.1)
Java: Liberica JDK Full version "11.0.14.1" 2022-02-08 LTS

I was trying to enable the `NSFWNudityDetectTask.py` task, but it was throwing this exception: `jep.JepException: <class 'SyntaxError'>: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers`. This happens when the python scr

[2022-04-05 02:53] aberenguel opened #1049 "Support more date formats when processing UFDR files from PA 7.54"
Got this exception when processing an UFDR generated by PA 7.54
It happens in both 3.18.17 and 4.0.0-snapshot versions.

[code]

[2022-04-05 02:55] aberenguel opened #1050 "NPE processing UFDR file (master)"
It was caught using 4.0.0-snapshot version.

[code]

[2022-04-05 03:01] aberenguel commented on #1033
Sorry for the delay in responding. I will check it tomorrow.

[2022-04-05 03:06] aberenguel commented on #1048
This test code also triggers the exception:

[code]

[2022-04-05 11:34] lfcnassif commented on #1050
Thanks @aberenguel for all your reports. From what commit snapshot above was compiled from?

[2022-04-05 12:27] lfcnassif commented on #1049
Do you mean 3.18.14, right?

Just to confirm, processing didn't abort and you saw above in processing log?

I've just pushed a possible solution to 3.18.x branch. Please test this snapshot with your ufdr file:
https://github.com/sepinf-inc/IPED/actions/runs/2096108158

[2022-04-05 12:29] lfcnassif commented on #1049
One last thing, could you confirm if that date format is dd/MM/yyyy or MM/dd/yyyy?

[2022-04-05 12:32] lfcnassif commented on #1048
Thanks @aberenguel for reporting. This looks weird, I'll try to do some tests...

[2022-04-05 13:19] lfcnassif commented on #1050
Seems to be from last commit, I was able to reproduce. This is a minor bug introduced by #1034 since it doesn't break processing and does not have impact on results, I'll fix shortly...

[2022-04-05 13:25] #1050 closed

[2022-04-05 14:57] lfcnassif commented on #1048
I'm not able to reproduce this on Windows 10, python 3.8.6 and Openjdk version "11.0.13" 2021-10-19 LTS x64

I don't think this is related to java dependencies used by ParsingTask, maybe python ones or maybe this is some encoding issue...

Could you try to remove conf/parsers/PythonParserJabber.py script from its folder or to rename its parent folder?
Or could you try to disable all python parsers

[2022-04-05 18:00] lfcnassif opened #1051 "Extract thumbs embedded in MS Office ooxml files"
Some office files have embedded thumbnails, those could be used to speed up DocThumbTask for some formats.

[2022-04-05 18:18] lfcnassif commented on #1051
@tc-wleite I'm not sure why you didn't integrate the idea/implementation of generating several thumbnails at the same time for many documents on #419 (code complexity? maybe because one timeout would affect several docs instead of one?), but I think we can try to do something like this:
https://github.com/btimby/thumbnailer

To open a few LibreOffice connections and iterate with them using the jav

[2022-04-05 18:25] lfcnassif commented on #1051
Related: https://github.com/sbraconnier/jodconverter

[2022-04-05 18:35] tc-wleite commented on #1051
This seems a good idea! I didn't implement it initially because of the additional complexity. Making the current solution work already had a few challenges, as the interaction with LibreOffice is not well documented, and sometimes doesn't work as expected.
I also tried to avoid long living processes (like something that would run during the whole IPED processing), but this may not be an issue, or

[2022-04-05 18:50] lfcnassif commented on #1051
In the external parsing module, we restart each external parsing process after X documents are parsed, to clean possible resource leaks. Maybe we can also have an option to specify the number of LibreOffice processes in the conversion pool.

[2022-04-05 19:34] aberenguel commented on #1048
I tried these actions but it did not work.

I'm using tensorflow 2.8.0. I was not possible to download 2.4.1 via pip (only versions >= 2.5.0 were available)

[2022-04-05 19:35] aberenguel commented on #1048
I've just tried some things. I think the SevenZipParser is causing the issue. I removed it from ParsingTask and the issue did not occur.

[2022-04-05 19:44] aberenguel commented on #1048
Some news: the root cause is the line `SevenZip.initSevenZipFromPlatformJAR(tmpDir)` being executed statically in `SevenZipParser`.

[2022-04-05 19:48] aberenguel commented on #1048
Another variant to reproduce the bug:

[code]

[2022-04-05 19:53] lfcnassif commented on #1048
Great! Thank you for debugging on your system!

[2022-04-05 20:01] aberenguel commented on #1048
Debugging one layer deeper, I got the library `lib7-Zip-JBinding.so` that is loaded in `SevenZip.initSevenZipFromPlatformJAR(tmpDir)`.

[code]

It seems that some thing happens in native layer.

[2022-04-05 20:02] lfcnassif commented on #1048
Native libraries are a headache...

[2022-04-05 20:04] aberenguel commented on #1048
I think it is something related to linux only.

A possible solution could be to do a lazy load of `SevenZipParser.SUPPORTED_TYPES` and load the `from keras.models import load_model` in very start of `NSFWNudityDetectTask.py`.

[2022-04-05 20:09] lfcnassif commented on #1048
Try to put NSFWNudityTask.py before ParsingTask in TaskInstaller.xml, but the first needs to be placed after ImageThumbTask (needs to be places before) and after VideoThumbTask, because NSFWTask needs image and videos thumbs to work.

[2022-04-05 20:37] aberenguel commented on #1048
I did not solved.

[code]

I also tried to use `from keras.models import load_model` in the start of `NSFWNudityTask` but it did not worked too.
A thing that worked was remove the load of from static code in ParsingTask

[code]
But I think it is safer to make the `SevenZipParser.getTypes()` lazy too.

[2022-04-05 23:30] lfcnassif commented on #1048
Thanks @aberenguel. I just pushed a similar lazy load solution in commit b50db54. Please check if it fixes the issue on your environment and let me know, so I'll merge in master.

[2022-04-05 23:41] lfcnassif commented on #1051
Seems JODConverter is a very good option, simple and has a number of nice configuration parameters:
https://github.com/sbraconnier/jodconverter/wiki/Java-Library
https://github.com/sbraconnier/jodconverter/wiki/Configuration

[2022-04-06 00:04] lfcnassif commented on #1048
@aberenguel just an unrelated question, have you had any issues when installing JEP on Linux? I'm asking because of this user issue #842

[2022-04-06 18:11] aberenguel commented on #1048
Just tested the commit b50db549d. It fixed this issue.

[2022-04-06 18:22] lfcnassif commented on #1048
Thanks @aberenguel for reporting, debugging and testing!

[2022-04-06 18:46] patrickdalla opened #1053 "Implement "shortcut" for filter creation from results table."
I think would be a good utility to create filters from property values from selected item on results table. A behaviour similar to filter creation on ProcessMonitor of SysInternals, when you right click an item/property value, a popup menu opens with options to create filter to exclude or to only include items with equals value on the same selected property.

[2022-04-06 19:48] lfcnassif opened #1054 "Add new Sleuthkit OsAccount objects to the case"
While working on #232, I got some aborting exceptions caused by objects without parents. Debugging, they are new OsAccount objects populated into TSK DB. For #232 I'll just ignore those new objects, but we should handle them properly adding that useful info to the case as new items, with their specific properties (user name, SSID, account type, etc...)

[2022-04-06 19:54] lfcnassif commented on #1053
Couldn't the metadata tab be used to a similar goal? I have already thought to improve it to let the user create many filters instead of just one.

[2022-04-06 20:06] lfcnassif opened #1055 "Evidence's 'isRoot' property being displayed as 'false' in metadata panel"
It is not being populated into the item read from index

[2022-04-06 20:07] #1048 closed

[2022-04-06 20:07] #1055 closed

[2022-04-06 20:36] aberenguel commented on #1049
I think it is dd/MM/yyyy

From this related report
[code]

From another report
[code]

[2022-04-06 20:42] patrickdalla commented on #1053
Yes. But it would be a shortcut, not a real urgent necessity. for example:
I, as the analyst, see a particular occurrence of a property value, it
would be quickier if I select this value and create a filter based on this
value. My idea is to concatenate the corresponding filter string on the
current top filter input.

As an example: i find a particular tor URL, 56 scrambled characters. I want
to f

[2022-04-06 20:48] patrickdalla commented on #1053
Many different filter on the metadata filter tab can be useful also. Maybe
a different ResultSetViewer to show the results in a pivot table like
viewer. But is different and more complex issue.

Em qua., 6 de abr. de 2022 16:42, Patrick Bernardina <
***@***.***> escreveu:

[2022-04-06 21:00] lfcnassif commented on #1049
Great! Let me know if the pushed commit [56ceba6](https://github.com/sepinf-inc/IPED/commit/56ceba663d785c780e1d86cedfc11fb542a3b602) fixes the exception.

[2022-04-06 21:55] aberenguel commented on #1049
It fixed. Tested on snapshot of 56ceba6 and this commit cherry-picked into master.

[2022-04-06 22:22] lfcnassif commented on #1049
Thank you!

[2022-04-06 22:23] #1049 closed

[2022-04-07 10:44] patrickdalla commented on #1053
The popup menu has many options already. Maybe another popup triggered with CTRL or SHIFT.

[2022-04-07 11:29] patrickdalla commented on #1053
![image](https://user-images.githubusercontent.com/28692427/162188706-6db96df6-07e5-43ae-8a1b-11cc21fbf1ae.png)
See the highlighted popup menu option. For dates is interesting also the options exclude before/after, and for numbers, exclude smaller/larger than.

[2022-04-07 12:01] lfcnassif commented on #1053
Nice, this could make user life easier...

[2022-04-07 18:00] lfcnassif opened #1056 "TelegramParser plugin not working with iped.exe/java 8 (3.18.13 regression)"
We accidentally compiled it using java 11 build target, so it is not working with the embedded java 8 version...

[2022-04-07 18:46] aberenguel opened #1057 "Exception in IPEDReader.copyBookmarksToReport"
I processed a case with one UFDR. In order to listen the audios of WhatsApp chats in the browser, I tried to generate a report with a bookmark containing all items. In the end of report generation, this exception was thrown and the generation failed.

It happened with iped-3.18.14
[code]

So, I replaced the iped-engine.jar with the file provided in 56ceba66 commit build. The exception was:
[code]

[2022-04-07 19:48] lfcnassif commented on #1056
I've just converted @hauck-jvsh's telegram-decoder project to maven structure and pushed to https://github.com/sepinf-inc/telegram-decoder

[2022-04-07 20:04] lfcnassif commented on #1057
Could you check in your original case what is the last/biggest item ID in case? Maybe this is related to #1033...

[2022-04-07 20:27] lfcnassif commented on #1057
@aberenguel please test commit above, I wrote it in a hurry, not sure if it is fine. If report generation works, please also test the top-right check/uncheck all items checkbox in analysis UI.

[2022-04-07 20:36] aberenguel opened #1058 "JSON ParserException in VoskTranscriptTask on Linux (master)"
Using the master branch:

[code]

I debbuged the input string and caught:
[code]

I think the error is in comma being used as decimal point

[2022-04-07 20:42] aberenguel commented on #1058
I think it is related to locale in Linux

[code]

[2022-04-07 21:28] aberenguel commented on #1058
Setting the env var `LC_NUMERIC=en_US.utf8` solved.

It is a bug in Vosk Library. It is not possible to set this var in Java in a straight way. For now, I think that setting this var should be mentioned as suggestion in IPED.

[2022-04-07 21:39] aberenguel commented on #1058
This has already been mentioned in https://github.com/alphacep/vosk-api/issues/808

[2022-04-07 22:41] aberenguel commented on #1057
It is also occuring in IPED-4.0.0
[code]

[2022-04-07 22:48] lfcnassif commented on #1058
Thanks @aberenguel! Maybe we can make an ugly workaround before the official fix in upstream issue, since this json structure is pretty simple...

[2022-04-07 22:49] lfcnassif commented on #1058
@tc-wleite have you had this issue on your Windows OS? What is your locale?

[2022-04-07 23:11] aberenguel commented on #1057
I applied the 26561b0decba17c48b6804ed3d929ce9b0102856 change in master branch and it solved.

The top-right check/uncheck all items checkbox is working correctly in IPED-4.

PS: A thing I noticed is that issue #1033 also occured in IPED-4

[2022-04-08 09:50] tc-wleite commented on #1058
No, I haven't.
My locale is pt_BR.

[2022-04-08 13:38] lfcnassif commented on #1057
Thanks @aberenguel for testing, I'll apply the fix.

[2022-04-08 13:43] #1057 closed

[2022-04-08 13:50] lfcnassif commented on #1058
Just to confirm, Windows locale, right?

[2022-04-08 14:42] tc-wleite commented on #1058
Yes. I checked using this command:

[code]

[2022-04-08 15:15] #1056 closed

[2022-04-08 16:51] aberenguel commented on #1033
The parent is the item `/Root/data/com.whatsapp/shared_prefs/com.whatsapp_preferences.xml`

[2022-04-08 17:07] aberenguel commented on #1058
Just tested! It worked perfectly. Thanks, @lfcnassif !

[2022-04-08 17:16] aberenguel opened #1059 "Error importing graph database"
The version 4.0.0-snapshot is showing this error in the end of processing (it was used a simple ZIP file, but it happened with other input data files).

[code]

[2022-04-08 19:49] lfcnassif commented on #1058
Thanks for testing!

[2022-04-08 19:50] #1058 closed

[2022-04-08 20:14] lfcnassif commented on #1033
Hum... I'll try to reproduce...

[2022-04-08 20:20] hauck-jvsh commented on #180
Commit 1202d4c2c0122d3bd2152485fab6abc70bd15282 fix a problem introduced with the last merge of this branch, please take a look and cherry pick it if you think it is good.

[2022-04-08 20:33] lfcnassif commented on #180
Thanks @hauck-jvsh for catching the problem and the fix. Actually, some commit related to #362 (not this issue) caused the regression you've found.

[2022-04-08 20:33] lfcnassif commented on #362
Reopening to fix a bad regression found by @hauck-jvsh.

[2022-04-08 21:08] #362 closed

[2022-04-08 21:41] lfcnassif commented on #1033
For some reason I don't remember exactly (maybe I was lazy to include "User Accounts" in all CategoriesToExpand.txt files in all profiles, or maybe this user account expansion is relevant to the graph module) some user accounts mimes were hard coded explicitly to be always expanded....I'll add a check to ignore this behavior if a report is being created.

[2022-04-08 21:46] #1033 closed

[2022-04-08 22:48] lfcnassif commented on #1059
I'm not able to reproduce this on Windows. Seems to be some class incompatibility issue. Have you done a mvn **clean** install after switching between 3.18.x and master branches?

[2022-04-08 22:54] aberenguel commented on #1059
Sorry. My mistake. The lib folder was not clean. The maven added new jars and I did not clean the folder before.
[code]

[2022-04-08 22:58] lfcnassif commented on #1059
Different jars in lib folder may not be the cause, because just the right jar version is used, others are ignored. But that is a clue that a clean install was not done, so while compiling, old class versions should have been used in the building process.

[2022-04-08 23:02] lfcnassif commented on #1059
So I'm closing this, please reopen if the issue persists after a clean install.

[2022-04-08 23:02] #1059 closed

[2022-04-09 14:57] paulobreim commented on #405
I cloned a notebook with a 250GB ssd nvme with dd_rescue
When I went to index I got this error.

2022-04-08 22:44:41     [ERROR] [indexer.datasource.SleuthkitReader$2]                  Sleuthkit error processing d:\evidence\evidence.dd: Error: Cannot determine file system type (Sector offset: 571392, Partition Type: Basic data partition)

I tested with IPED
3.18.12, 3.18.14 and 3.15.6 and got the

[2022-04-09 23:17] lfcnassif commented on #405
Hi @paulobreim. If FTKImager didn't recognize the FS, but, after mounting it, Windows did, maybe the disk is encrypted with BitLocker, but the encryption key was opened. This often happens when user disables BitLocker, instead of decrypting the whole disk, Windows simply makes the encryption key open. Check the FS data into FTKImager, if it looks random, maybe this is the case. I would make anothe

[2022-04-10 01:02] paulobreim commented on #405
See what a curious situation
1 - I mounted the SSD image (4 partitions) with FTKImager.
2 - He assigned the letter L: to the partition that has windows.
3 - I ran iped to index the L drive:
4 - I unmounted and closed FTK.
5 - I ran the IPED-SearchApp.exe
6 - As expected, when I go to open a file, it complains that it didn't find the L: drive and when it asks for the path, I provided the original d

[2022-04-10 02:28] lfcnassif commented on #405
I think Sleuthkit is not able to read a Bitlocker encrypted FS, then IPED is not able too. Even pointing to an incorrect volume, IPED is able to open container subitems, because they are stored in case folder. Try to apply "Actual Files" filter, it will list only files directly allocated in FS and I think they won't be accessible if the original volume isn't mounted or if you point to an incorrect

[2022-04-11 00:21] paulobreim commented on #405
I tested it with iped.exe, but as expected it doesn't work around the bitlocker issue either.
I was curious because if windows allows turning off bitlocker, but the hd remains encrypted, somewhere the bitlocker key has to be stored for FTK to be able to mount and access it. It makes no sense to turn off bitlocker.

Regarding the filter, "Actual Files" what is the equivalent in Portuguese?

![Scree

[2022-04-11 16:22] paulobreim commented on #405
understood.
you are right in what you put.
I think the best option for this case is to generate a dd image from the hd mounted by ftk

tks

[2022-04-12 20:22] lfcnassif commented on #1058
Just a tip about this, when #771 is merged, this new method will be avaiilable: https://github.com/sepinf-inc/IPED/pull/771/commits/e6800748d599cf7a0d0c57ae96d6e9595a91eae0

[2022-04-13 19:35] #232 closed

[2022-04-13 19:35] #598 closed

[2022-04-13 19:35] #825 closed

[2022-04-13 20:12] lfcnassif opened #1062 "Change index schema to use parent-children docs to index item metadata-content"
As a first step for #24, we need to change the index structure to index file content separately from file metadata. On #24 we will need to update some item flags and properties with module results, but, currently, when Lucene updates some doc, under the hood the doc is deleted and indexed again from scratch. That would be very costly today within IPED because the whole file content would be indexe

[2022-04-14 13:45] hauck-jvsh opened #1063 "Processing abort with a java swing exception"
I was processing an evidence when the processing aborts with the following error:

	at java.desktop/java.awt.font.TextLayout.checkTextHit(TextLayout.java:776)
	at java.desktop/java.awt.font.TextLayout.getCaretInfo(TextLayout.java:1216)
	at java.desktop/java.awt.font.TextLayout.getCaretInfo(TextLayout.java:1318)
	at java.desktop/javax.swing.text.GlyphPainter2.getSpan(GlyphPainter2.java:82)
	at java

[2022-04-14 14:07] lfcnassif commented on #1063
Thanks for reporting @hauck-jvsh.

[2022-04-14 14:11] #1063 closed

[2022-04-14 14:23] lfcnassif commented on #643
This is still not working properly. Can a class object with the same serialVersionUID and attribute values (including ArrayList<?>) change its serialized raw byte sequence hash after being recompiled? @tc-wleite as you usually write custom (de)serialization code, any thoughts?

[2022-04-14 14:25] hauck-jvsh opened #1064 "Support new Telegram versions 8.5-8.7"
Telegram has just updated the media table "media_v3" to "media_v4", I will take a look and see if this is the only change.

[2022-04-14 14:26] lfcnassif commented on #643
I'm talking specifically about the classes changed in commit 988203145543a5b03359aab3d45a30cb20ed8c38

[2022-04-14 14:28] lfcnassif commented on #1064
Last week an user sent a processing log to me with this exception:
xxxxxx\cache4.db (4308992 bytes)		org.sqlite.SQLiteException: [SQLITE_ERROR] SQL error or missing database (no such table: messages)

[2022-04-14 14:33] hauck-jvsh commented on #1064
It is the same thing the message table also changes to messages_v2 in my file

[2022-04-14 17:43] lfcnassif commented on #983
I'm not sure about this. I like the current position of those fields in Metadata filter panel, at the beggining of the "Message" property group:
![image](https://user-images.githubusercontent.com/7276994/163443658-265ada84-38b2-4f51-80fc-d9a2fb995ce0.png)

Renaming `Message-To` to `To` would move it to the end of above list, because properties are alphabetically sorted.
One option would be to dupl

[2022-04-15 05:53] aberenguel commented on #1032
I'm suffering with OOME when parsing PDF files, using the latest master commit.
I caught the hprof file and analyzed in JProfiler.  Almost all memory (24G) is consumed by int[] arrays from PDFBox cache.Each array has about 20MB.

A picture of JProfiler
![image](https://user-images.githubusercontent.com/2973359/163527343-ef622e9a-06a6-4440-bd0c-aae5c4cc4ab9.png)

[2022-04-15 07:56] THausherr commented on #1032
It would be interesting to have the file.

[2022-04-15 13:08] lfcnassif commented on #1032
Hi @aberenguel, could you continue to expand that tree to check if the triggering module is ParsingTask or DocThumbTask? Enabling `externalParsing` config in ParsingTaskConfig should workaround the issue, like described in our troubleshooting guide.

[2022-04-15 23:59] aberenguel commented on #1032
Unfortunately I will be able to check it on Monday (I've lost the access to my remote machine).
As a first try I set `pdfThumbs = external`, but I haven't seen the result yet.

[2022-04-16 02:22] lfcnassif commented on #1032
Thanks for testing.  But if the issue is parsing, that config won't help. With latest master, setting `externalParsing = true` is enough to workaround both scenarios, since pdf thumbs is also sent to external parsing processes after #1034 was merged. It is also a lot faster than `pdfThumbs = external` as detailed on #1034.

[2022-04-18 12:44] lfcnassif opened #1067 "Embed a portable python distribution and JEP"
Since JEP building on Windows could be very problematic for users (depends on specific Windows 10 SDK), if we try to embed a portable python version, with at least JEP and numpy already compiled (no tensorflow and other heavy or hardware specific libs), that could easy a lot the usage of python modules by users.

[2022-04-18 18:18] aberenguel commented on #1032
I went deeper in the references of int[] arrays and got these thread stack traces:

![image](https://user-images.githubusercontent.com/2973359/163854730-d9431c44-c0d8-4be9-aea5-b807c155e6b8.png)

[code]

[code]

[code]

[2022-04-18 18:20] aberenguel commented on #1032
It seems to be related to pdfbox cache in `PDFOCRTextParser`.

[2022-04-18 19:20] lfcnassif commented on #1032
It seems strange to me different stacktraces been shown by JProfiler coming from the same thread in the hprof file... I usually use eclipse to analyze heap dumps.

Anyway, if the issue comes from parsing module, turning `enableExternalParsing` on should workaround the issue.

And if you can find the/one triggering file like @THausherr said and if it could be shared, that would help to fix the issu

[2022-04-18 21:03] aberenguel commented on #1032
I've seen that the error is triggered when it starts to process a folder with a lot of PDFs. I will try to isolated the problematic PDF file.

[2022-04-18 21:21] lfcnassif opened #1068 "Change ZIPInputStreamFactory implementation to use Apache CommonsCompress instead of Zip4J"
We use Zip4J to be able to read splitted UFDR files. That has lower processing throughput and I needed to do some patches to speed up opening large UFDR files. But Commons Compress added splitted zip support in 1.20 version.

Furthermore github @dependabot is complaining about some zip4j 1.x vulnerabilities, that don't affect us since we use it just for trusted zip/ufdr files, and I don't want to

[2022-04-19 03:50] lfcnassif commented on #1068
Related: https://issues.apache.org/jira/browse/COMPRESS-618

[2022-04-19 13:32] lfcnassif commented on #1068
Commit [3552115](https://github.com/sepinf-inc/IPED/commit/3552115ee2dde55b347f3d355fab764d601c91bc) fixes a thread safety issue when reading splitted archives. With them, Compress synchronize on the passed SeekableByteChannel on reads, but the absolute channel position is also changed on https://github.com/apache/commons-compress/blob/60e3d9f6bef1e431f8738e881c051d706f81e6cf/src/main/java/org/apa

[2022-04-19 13:34] lfcnassif commented on #1068
PS: I have chosen workaround above to not synchronize on all reads when dealing with non splitted UFDR files.

[2022-04-19 14:04] lfcnassif commented on #1068
And we can also uncompress splitted UFDR file entries concurrently, just the raw bytes reading is being synchonized.

After this change, some tests show from 1.5x to 2.5x speed up in TempFileTask time when processing UFDR files.

[2022-04-19 14:07] #1068 closed

[2022-04-19 16:09] lfcnassif opened #1070 "Select all checkboxes of Chat attachments feature"
Currently users must select each referenced media, one by one, if he/she wants to bookmark or export them later. They can do an advanced search like:
`linkedItems:(hash:xxxxxxx hash:yyyyyyyy hash:zzzzzzzz)`
picking the hash algorithm and values from the third metadata viewer subtab, but I guess almost no one knows that...

A "select all" option could make their life easier.

[2022-04-19 17:58] lfcnassif opened #1071 "MemoryAllocationException thrown by MP4Parser"
An user sent a log from 4.0.0-snapshot with lots of exceptions like this:
`
2022-04-19 11:50:45	[WARN]	[indexer.parsers.IndexerDefaultParser]			ParsingThread-89 Parsing exception: report.ufdr/Media/xxxxxxxxxxxxxxxxxxx/WhatsApp/Media/WhatsApp Video/Sent/xxxxxxxxxxxxxx.mp4 (377953 bytes)		org.mp4parser.MemoryAllocationException: Tried to allocate 3308416195 bytes, but the limit for this record type

[2022-04-19 19:21] lfcnassif opened #1072 "Flag encrypted images or partitions as such"
After #232, now TSK is detecting encrypted disks/partitions using entropy computation and we are catching and logging exception below when image decoding ends:
`2022-04-19 16:17:50     [ERROR] [indexer.datasource.SleuthkitReader]                    1. Possible encryption detected (High entropy (8.00)) (Sector offset: 2099200, Partition Type: Win95 FAT32 (0x0c)) Image: F:\xxxxxxxx.E01`

We can try

[2022-04-22 18:54] lfcnassif commented on #1067
JEP 4.0 should be easier to install on Windows: https://github.com/ninia/jep/wiki/Windows
Anyway Visual Studio/Windows SDK is still required...

[2022-04-22 18:59] lfcnassif opened #1073 "Upgrade to JEP-4.0"
This should make JEP installation easier if #1067 is not accomplished.

[2022-04-25 21:52] aberenguel opened #1074 "Optimize bookmarking when "Add duplicates (hash)" is selected"
IPED: 4.0.0-snapshot (05de89cf4)

I have a big case (total size of 5TB). When highlight one item and add it to a bookmark (with "Add duplicates (hash)" selected) it takes about 2 minutes with dialog "Searching Duplicates...".

I think it can be optimized, because when I select the item, the IPED already knows which are the duplicated items (as seen in "Duplicated" tab)

![image](https://user-image

[2022-04-25 22:38] lfcnassif commented on #1074
This should be a performance regression of #179. I'll take a look tomorrow.

[2022-04-26 12:31] lfcnassif commented on #1074
Just tested this with 3.18.14 and 4.0.0-snapshot on a medium size case (~2M items), it's not a regression, first bookmark creation time is similar on both versions. Second, third... bookmark creation is much faster, have you noticed that? How many items do you have in your case and how much time does it take to create a second bookmark with duplicates for a single item? This first bookmark creatio

[2022-04-26 13:35] lfcnassif commented on #242
I just closed PR #1066 until we decide to upgrade from JDK 11 to JDK 17 (this will probably bring issues with some dependencies not ready for JDK 17 yet), since this adds about 40MB of graal js dependencies. I think we can live without ECMA script 6 for some more time.

[2022-04-26 13:40] #1073 closed

[2022-04-26 17:35] aberenguel commented on #1074
There are ~44.7M items in the case.

I created a new fresh bookmark with a single item (that it not duplicated) with "Add duplicates (hash)" selected. It still takes a huge time.
The case is RAID HDD (3 disks). The E01 and dd files are on the same partition.

Does the number of bookmarks affect the performance? In this case there are 12 bookmarks with ~400k items already added on them.

[2022-04-26 17:48] lfcnassif commented on #1074
No, but the number of selected items to bookmark and number of case items yes, since current implementation loops over those lists find duplicates: https://github.com/sepinf-inc/IPED/blob/615eeabf8c515d47a7990dc92e9ab0fcd7868f22/iped-app/src/main/java/dpf/sp/gpinf/indexer/desktop/BookmarksManager.java#L307

[2022-04-26 20:18] lfcnassif opened #1076 "New 2 class neural net nudity detection model to replace old Yahoo NSFWNudityDetectTask"
Yahoo NSFW algorithm is slow and old (from 2013). Neural nets have improved a lot since then, newer models should be faster and less memory hungry. I have an old idea to implement a 2 class classifier based on ProjectVIC intersection with our internal LED dataset, returning ProjectVIC category 1 and 2 classes probabilities.

Maybe running the newer model just on files with the fast random forests

[2022-04-26 20:19] aberenguel commented on #1074
I measured the second loop. It took 113335 ms.

https://github.com/sepinf-inc/IPED/blob/615eeabf8c515d47a7990dc92e9ab0fcd7868f22/iped-app/src/main/java/dpf/sp/gpinf/indexer/desktop/BookmarksManager.java#L341

[2022-04-26 20:25] lfcnassif opened #1077 "Index XX is out of bounds for axis 0 from NSFWNudityDetectTask.py"
I catch this on 4.0-alpha while testing other things:
[code]

[2022-04-26 20:40] aberenguel commented on #1074
I measured the time between the line 343 and the end of the loop https://github.com/sepinf-inc/IPED/blob/615eeabf8c515d47a7990dc92e9ab0fcd7868f22/iped-app/src/main/java/dpf/sp/gpinf/indexer/desktop/BookmarksManager.java#L343

It took an average of 3577 ns

So I commented the `progress.setProgress(++i)`. The average dropped to 27 ns.

I think a solution it to update the progress only when some perc

[2022-04-26 20:42] lfcnassif commented on #1074
If you delete the bookmark and create it again, it takes another ~113s?

My test was with 3.18.14/4.0.0-alpha 2M items cases on a SSD disk, first bookmark creation takes about 8-9s to be created, second takes hundreds of milliseconds (I didn't measure precisely), maybe current implementation is badly affected if the case is on HDDs...

[2022-04-26 20:44] lfcnassif commented on #1074
W00t great! Updating UI 44M times for sure should be avoided!

[2022-04-26 20:47] lfcnassif commented on #1074
Do you have an initial implementation or should I implement it?

[2022-04-26 21:03] lfcnassif commented on #1074
Just pushed a possible implementation, please check if it works with your huge case.

[2022-04-26 22:23] lfcnassif commented on #1077
This is looking strange, maybe is related with multithreading issues...

[2022-04-26 23:26] hauck-jvsh commented on #1076
If I understand correctly you are going to train a new model? Or there is a model ready for this?

[2022-04-26 23:33] aberenguel commented on #1074
Just tested! Now it is taking about 3 seconds.

[2022-04-26 23:35] aberenguel commented on #1074
Thanks. I wonder if searching by hash would be faster if there are few uniqueSelectedIds.

[2022-04-27 00:22] lfcnassif commented on #1074
Thanks for debugging the issue and testing!

Possibly yes, just testing to be sure. We can leave this open until this approach is implemented.

[2022-04-27 00:40] lfcnassif commented on #1076
Yes, I plan to train a new model after the 4.0.0 release.

[2022-04-27 01:47] aberenguel commented on #1074
In a few experiments in this case (44M items) I noticed that the time does not depend on how many items was selected. I always take about 2600 ms.

I implemented the hash approach. The difficulty is to decide when use it.
[code]

Using the hash approach, the time depends on several factors, like the quantity of items was selected, if it has duplicated items, the ammount of metadata, etc. In some e

[2022-04-27 02:19] lfcnassif commented on #1074
Interesting numbers! Maybe we don't need to always pick the best approach, but switch to the search one if it is the best for sure., using some very low threshold.

And your proposal may be optimized making batch searches for X hashes:
`hash:(hash1 hash2 hash3...)`

[2022-04-27 03:19] lfcnassif commented on #1074
Have you selected the same order of magnitude of the number of case items? Maybe 10/20M items to bookmark could affect the results...

[2022-04-27 03:38] aberenguel commented on #1074
I just tried that. Added all items to bookmark. It took the same time (~2600ms).

I'm implementing this feature that uses the hash for few selected items. Soon I push a PR.

[2022-04-27 03:49] lfcnassif commented on #1074
Cool, thank you!

[2022-04-27 04:13] lfcnassif opened #1079 "Optimize sorting memory usage and time for large cases when sorting small result sets"
After #179, we are loading sorting data structures for all case items, even if the item set to be sorted (results shown on table tab) is small. This possibly could be optimized.

[2022-04-27 04:15] lfcnassif commented on #1079
@aberenguel I wonder if you are also being affected by this with your huge 44M items case.

[2022-04-27 04:51] aberenguel commented on #1074
Changed to use `hash:(hash1 hash2 hash3...)`. New results

1 item (no dups) - ~30ms
10 items (no dups) - ~80ms
100 items (no dups) - ~280ms
200 items (no dups) - ~500ms
400 items (no dups) - ~900ms

[2022-04-27 12:49] arisjr opened #1081 "Extract video frames as subitems to run all image processing modules on them"
Dear developers,

I would like to request to the IPED project to use the same parsers and processing of the **image files** (like OCR, image similarity, and others)  on the **videos snapshots** (that are generated by IPED on videos). It will bring the ability to find more evidences on the video files.

Best Regards,
Aristeu

[2022-04-27 13:23] lfcnassif commented on #1081
Hi @arisjr,

I agree image similarity could be run on the extracted video frames. But I'm not sure about OCR with our current approach, since the number of extracted frames and resolution are fixed and very low by default. Increasing them or making them dynamic could make the processing to take much longer, although increasing the frame count could benefit some cases, but increasing resolution wou

[2022-04-27 19:00] aberenguel commented on #1079
Sorting all items (44M) by name, with no filters applied, took ~38s.

So I closed and reopened the case (so that cache and others things do not interfere).
Then sorting the items of a category with 19 items by name took ~7s.

Repeating the process above in a category with 1.1M items. It took the same ~7s.

The advantage is that when I select another category it is already sorted.

[2022-04-27 19:18] lfcnassif commented on #1079
This used to run almost instantly before the Lucene upgrade refactoring, I think it could be improved.

[2022-04-27 20:19] #1074 closed

[2022-04-27 21:07] lfcnassif commented on #1079
This is just for the first time sorting on that column right? Second sorting right after first sorting is faster right?

Currently we keep in cache the sorting data for the last 3 columns. Since we use just 2 keys for sorting (primary and secondary columns), maybe we can decrease the cache to a max of 2 cols to decrease memory usage a bit.

[2022-04-27 21:39] aberenguel commented on #1079
Yes, only when first time of sorting the column. I noticed that it is fast when changing sorting the last 3 columns. If I choose a 4th column, sorting the elder column takes a delay to sorting again.

[2022-04-27 21:56] lfcnassif commented on #1079
Ok, so we should decide if current behavior is better (keeping sort data cached for all items even if sorting a few items) or load just the sort data for items currently being sorted, this would need to load sort data again if result item set to be sorted changes (e.g. changing category). Not sure about how much time it takes to load just a subset of the sorting data for a subset of items, I'll tr

[2022-04-28 00:00] lfcnassif commented on #795
Just found this was not fixed properly while testing #1078 in a fresh Windows VM, putting msvcr100.dll in the same folder of nativeview.dll is not enough, it should be loaded before...

[2022-04-28 02:23] #1067 closed

[2022-04-28 12:58] arisjr commented on #1081
Maybe a flag like enableVideoFrameOCR, and maybe enableVideoFrameHighDefinition (it could be a command line option too - It would help on automated tasks), or something like that, that enables OCR on video files and increases the video frames definition?

Great news you're bringing! The enableVideoFrameHighDefinition flag would help in this case also. It could check the video definition and make t

[2022-04-28 13:51] lfcnassif commented on #1081
All of those ideas are possible, but we have very few human resources available... My current roadmap is this: https://github.com/sepinf-inc/IPED/projects/1

If you could help and draft some code and send a PR, I can review and test.

[2022-04-28 19:40] lfcnassif opened #1082 "Merge WhatsApp backups feature missing chats from backups when main DB is corrupted"
@hauck-jvsh detected this and fixed on #1000. Since it is unrelated to that PR, I reverted and will apply the fix to master shortly.

[2022-04-28 19:42] #1082 closed

[2022-04-28 21:48] lfcnassif opened #1083 "Split application startup into two processes and get rid of custom class loader"
Using a custom class loader can result in crazy errors like ClassCastExceptions, NoClassDefFoundError (recently triggered when upgrading minio on #1000), NoSuchMethodErrors... and was the cause of some headaches in the past.

Reusing the same entry point with different class loaders is also confusing and makes debugging hard.

So, as suggested by @atilaromero (https://github.com/sepinf-inc/IPED/is

[2022-04-29 04:40] lfcnassif commented on #1029
Tika-2.4.0 release voting process started. I'll try to check if issues above were fixed and vote.

[2022-04-29 13:09] lfcnassif commented on #732
Closed by #1000

[2022-04-29 13:09] #732 closed

[2022-04-29 20:26] lfcnassif commented on #1079
I wasn't ok with sorting on large cases since a long ago and after the Lucene upgrade it became a bit slower because of some refactorings that I didn't tried to optimize.

After talking to @hauck-jvsh, he said the ElasticSearch service was taking ~2s to sort 44M items by name. Thinking a bit about it, I think Elastic isn't sorting data actually, but using pre-sorted structures...

Each iped column

[2022-04-29 21:18] lfcnassif commented on #1079
This is original case array with 2M entries (in your case should have taken <= 7s), so this can be the new bottleneck with huge cases and may be cached...

[2022-04-29 21:38] paulobreim commented on #977
This feature is very important.

[2022-04-29 22:34] lfcnassif commented on #977
I agree, like many others in the long queue... If you could help implementing this, your contribution would be welcomed.

[2022-04-30 00:52] lfcnassif opened #1085 "Change gallery multiple selection behavior to display last clicked file in the viewer"
See #1084.

[2022-05-03 02:22] aberenguel commented on #1032
@THausherr, I've got the file that triggers this memory issue. How can I send it to you?

[2022-05-03 03:44] THausherr commented on #1032
@aberenguel ideally just drop it here; if you don't want that, send it to  tilman AT snafu DOT de, and mention what level of confidentiality you need . If it is too big, upload it to a sharehoster and send me the address.

[2022-05-03 16:41] lfcnassif commented on #1079
@aberenguel I just pushed an initial implementation to sort most columns by the new approach. Now it is taking more time to copy/convert result sets than sorting, at least with my synthetic case. I wonder how it would behave with your huge real case, could you test?

TODO: Second sorting criteria/column when first column values are equal still needs to be implemented. I didn't try to optimize sort

[2022-05-03 19:13] lfcnassif commented on #1029
Tika-2.4.0 was released yesterday, I'll work on this soon.

[2022-05-03 23:17] lfcnassif commented on #795
Last commit is causing an `UnsatisfiedLinkError: Can't load library: E:\git\iped\target\release\iped-4.0.0-snapshot\..\lib\nativeview\64bit\msvcr100.dll` if UI is opened while processing

[2022-05-04 03:19] aberenguel commented on #1079
I've just repeated the tests with 568906b build.

Sorting all items (44M) by name, with no filters applied, took ~23s (before was ~38s).

So I closed and reopened the case (so that cache and others things do not interfere).
Then sorting the items of a category with 19 items by name took ~20s (before was ~7s).

Repeating the process above in a category with 1.1M items took ~19s (before was ~7s)

[2022-05-04 04:26] lfcnassif commented on #1079
Thank you for testing! Could you send me the IPED-SearchApp.log of this case? I put a bunch of logging info.

[2022-05-04 13:18] lfcnassif commented on #1077
Ok this seems to be happening since python scripts were converted to classes in master, 1 year ago... I had a hard time debugging this (checked out a number of versions to track when the issue started), but hopefully I found 2 different issues, one related to multithreading. This module also became much more slower than it was before. I'm still evaluating the best solution...

[2022-05-04 13:35] lfcnassif commented on #1079
And how much time does it take to sort all 44M items in a second try without closing the application **before** and with **last commit**? Just to measure real time sorting (ignoring new cached structures building). You can also sort by another col (e.g. hash) before the second try to ramdomize the data before sorting again.

[2022-05-04 13:44] lfcnassif commented on #1077
I'm updating the issue title to a better one.

[2022-05-04 14:32] lfcnassif commented on #1077
For those starting with python (like me), I recommend reading this about variables scopes and classes: https://docs.python.org/3/tutorial/classes.html

[2022-05-04 20:18] lfcnassif commented on #242
Let's leave this open, I just said I wouldn't integrate it now, but it could be, and probably will, in the future.

[2022-05-04 21:09] lfcnassif opened #1090 "Few FaceRecognition runtime exceptions in interprocess communication"
While processing a medium size case, this was printed a few times in log:
[code]

[2022-05-04 21:11] lfcnassif commented on #1090
related to this line: https://github.com/sepinf-inc/IPED/blob/34c5826481a0f3e031be240397b2d8cf079e4513/iped-app/resources/config/conf/scripts/FaceRecognitionTask.py#L254

[2022-05-05 14:40] flates opened #1091 "Italian translation"
Dear developers,

I would like to ask to contribute to the Italian translation of the next release of IPED.
I have already completed the translation taking as base the English localized files.
However, I noticed that in the Portuguese localized files there are a few more lines:
- "iped-desktop-messages_**.properties" -> "FileChooser.*" lines 179 to 217
- "iped-categories_**.properties" -> from lin

[2022-05-05 17:42] lfcnassif commented on #1091
Thank you very much @flatesfor contributing with this!

We will be able to include this in the future 4.0.0 release (within 1 month with luck), because the localization implementation was totally refactored. Possibly we will release a last 3.18.15 bug fix before that.

I think those were included by @tc-wleite, but not sure why since java _should_ have translation for those properties. Or it doesn

[2022-05-05 17:53] lfcnassif opened #1092 "Spanish Translation"
Similar to the new German and Italian localizations, I think this is a widely used language and we could also have a translation for Spanish. For those from the community that would like to help us and contribute with this, you just need to translate these files: https://github.com/sepinf-inc/IPED/tree/master/iped-app/resources/localization

We would also need your help to maintain the translation

[2022-05-05 18:28] lfcnassif opened #1093 "Create unit tests for more parsers"
Dear colleagues, let's welcome our new intern @FelipeFcosta. Welcome, Felipe! I hope you will like to work and learn together with us, I'm always learning, technologies always evolve very fast.

After reading the API documentation I provided to you and configuring your IDE, let's start trying to create new unit tests for parsers that still don't have one. You can use the existing unit tests as a g

[2022-05-05 19:47] lfcnassif opened #1094 "Fix possible starvation in WhatsAppParser when mergeDBs backups is enabled"
As reported here:
https://github.com/sepinf-inc/IPED/pull/1065#issuecomment-1117660227
https://github.com/sepinf-inc/IPED/pull/1065#issuecomment-1118552007

[2022-05-05 20:04] FelipeFcosta commented on #1093
Thanks for the opportunity, I'm already liking it here!

[2022-05-05 23:22] flates commented on #1091
Probably the email ended up in spam. Anyway, I'll submit a PR.

Absolutely, I'd be happy to!

P.S. I also translated the help and html report files :)

[2022-05-06 00:08] lfcnassif commented on #1091
Just found it. Seems spam emails are not indexed...

Great!

[2022-05-06 00:16] tc-wleite commented on #1091
Yes, I included this because although my Locale (system and IPED) is pt_BR, JFileChooser dialogs are shown in English.
Taking a closer look now, I noticed that the behavior changes depending on the JRE used.
I think these properties (and the code that handles them) can be removed, but there is still a minor issue: a simple test program works fine (shows everything in Portuguese) using OpenJDK 11.0

[2022-05-06 00:25] lfcnassif commented on #1092
Forgot help and htmlreport folders:
https://github.com/sepinf-inc/IPED/tree/master/iped-app/resources/root

[2022-05-06 09:38] lfcnassif commented on #1091
Maybe it could be related with our custom class loader or docking frames...

[2022-05-09 14:54] lfcnassif opened #1096 "Fix category localization in HTML reports"
File listing in reports by categories are using default english values instead of the translated ones.

[2022-05-09 15:33] #1096 closed

[2022-05-09 19:01] lfcnassif commented on #1091
@tc-wleite I saw some FileChooser localized keys being duplicated (like this https://github.com/sepinf-inc/IPED/blob/8ac0ee4be7023dc6cf3db64732bc7b718d312d88/iped-app/resources/localization/iped-desktop-messages_pt_BR.properties#L194-L195). Was that pushed by accident or do they have some purpose?

[2022-05-09 19:11] tc-wleite commented on #1091
It was a mistake, there shouldn't be duplicated keys.

[2022-05-09 19:20] lfcnassif commented on #1091
Ok I'll remove them. I'm replicating those FileChooser localization keys to all languages for now, until we come up with a solution to remove them.

[2022-05-09 19:20] tc-wleite commented on #1091
I am looking into a better solution...

[2022-05-09 19:42] tc-wleite commented on #1091
I think I found a possible solution.
It should work if the used JRE has support for the language defined in IPED's locale, which I think it is the most common scenario.

It is a trivial change, can you give a try?

Change from:
[code]
To:
[code]

If that works for you too, FileChooser.* could be removed from properties (and the implementation of `localizeFileChooser()` of course).

[2022-05-09 20:15] lfcnassif commented on #1091
Great, that worked! I'm going to remove them and update the code. Thank you @tc-wleite!

[2022-05-09 22:40] lfcnassif commented on #1091
Closed by #1095, thank you @flates for this contribution!

[2022-05-09 22:40] #1091 closed

[2022-05-10 03:42] #1090 closed

[2022-05-10 03:54] lfcnassif commented on #1090
I added a simple workaround, seems face recognition library is rarely exiting/crashing the external process in this line:
https://github.com/sepinf-inc/IPED/blob/293a3c21cc5b85163a07ca7a8010aebb4a0e85e8/iped-app/resources/config/conf/scripts/FaceRecognitionProcess.py#L105
Adding a try catch around that and making `face_locations = []` in the catch has no effect...

[2022-05-10 13:41] lfcnassif opened #1099 "TskCoreException when reading files after TSK-4.11.1 upgrade"
After #232, sometimes, when processing is finishing, this exception is being thrown:
[code]
That also happened to @hauck-jvsh when changing the processing queue.

And yesterday, while testing the analysis UI, file opening stopped to work. Looking at the log, this is the first exception thrown:
[code]
And later opening other files:
[code]

[2022-05-10 18:00] rafael844 opened #1100 "Load multiple bookmarks"
Is there a way to load multiple bookmarks?
If I load 001.iped and then try to load 002.iped the 001.iped is removed.

[2022-05-10 18:09] lfcnassif commented on #1100
Currently not, the second one overwrites the first.

[2022-05-10 19:57] filipesimoes opened #1103 "Mail Threading"
I propose the consideration of using an algorithm for threading e-mail messages and the implementation of an UI to display such information.

As reference there is this old document: [algorithm for threading messages](https://www.jwz.org/doc/threading.html).
As proposed in this document the result of the algorithm is a tree structure of responses and forwarded messages.

I implemented something si

[2022-05-10 20:32] lfcnassif commented on #1103
This is a (old) good idea, it should help a lot mail analysis, thanks @filipesimoes for opening this. We are extracting Internet mail headers since #65 was implemented, so Thread-Index and similar header fields may help with this.

My current roadmap is this: https://github.com/sepinf-inc/IPED/projects so I shouldn't have time to work on this in the near future... But if someone from the community

[2022-05-10 21:19] lfcnassif commented on #1103
Maybe the References Tab (used to list chats or p2p histories referencing the selected file on table) could be converted to Tree structure or a new Tab could be used to display the threading results:
![image](https://user-images.githubusercontent.com/7276994/167723372-df8e17d1-ad77-4cb7-8296-45a835539992.png)

[2022-05-11 14:07] hauck-jvsh commented on #1064
I just implemented the support for telegram 8.7.

[2022-05-11 17:50] lfcnassif opened #1105 "Support for WhatsApp version up to 2.22.9"
WhatsApp-2.22-beta was promoted to final. The database schema was completely changed, breaking our parser and others from other projects. @hauck-jvsh pushed an initial experimental support for Android databases to this branch: https://github.com/sepinf-inc/IPED/tree/new_msgstore

We still need more samples to test Android support and to implement that for iOS (no samples until now).

For those in